.email_setting{
  .mail{
    span{
      @include border-radius(4px);
      font-size:24px;
      padding:6px;
      font-weight:bold;
      background:#388FFF;
      color:white;
      text-shadow:-1px -1px rgba(0,0,0,0.4);
    }
  }
  .email_activated{
    @include border-radius(4px);
    width:150px;
    font-size:14px;
    margin:0 0 10px 0;
  }
}

.message-setting{
  span.dc{font-size:14px;}
}

/*新浪微博账号信息*/
/*用于使用新浪微博账号登录页*/
/*用于绑定信息设置页*/
.page-binded-account-info{
  @include border-radius(3px);
  background-color:#FAFAFA;
  border:solid 1px #eee;
  margin:0 0 20px 0;
  position:relative;
  
  /*绑定成功的标识，绿色圆形图标*/
  .bind-icon{
    position:absolute;
    width:64px;height:64px;
    background:url(/images/icons_account/account_all.png) no-repeat 0px -25px;
    top:-20px;
    right:-20px;
  }
  
  .title{padding:9px;font-size:14px;}
  .meta{
    background-color:#fff;
    padding:9px;
    overflow:hidden;
    .avatar{float:left;margin:0 10px 0 0;img{width:50px;height:50px;}}
    .name{font-size:14px;font-weight:bold;a{color:#444 !important;}}
  }
  .misc{
    padding:5px;
    overflow:hidden;
    .time{padding:0 6px;float:left;margin-right:20px;line-height:24px;}
    .updating{padding:0 6px 0 20px;float:left;margin-right:20px;display:none;height:24px;line-height:24px;}
    .update a{float:right;}
    &.up{
      .time,.update{display:none;}
      .updating{display:block;}
    }
  }
  
  &.tsina{
    width:310px;
    .counts{
      overflow:hidden;
      .friends,.followers,.statuses{
        height:40px;
        margin-top:10px;
        margin-right:10px;
        float:left;
        .count{font-size:18px;font-weight:bold;line-height:20px;}
        .n{}
      }
    }
  }
  
}

.bind-failure-desc{
  @include border-radius(2px);
  @include gray-box;
  background-color:#fafafa;
  margin-bottom:10px;
  position:relative;
  .p{
    padding:6px 8px;
    .acc{
      font-size:16px;
      margin:4px 0 4px 24px;
    }
  }
  .error-icon{
    position:absolute;
    width:48px;height:48px;
    background:url(/images/icons_account/account_all.png) no-repeat -65px -25px;
    right:9px;
    top:10px;
  }
}

/*用户设置页，关联新浪微博*/
.page-account-bind-tsina{
  padding:0 20px;
  overflow:visible;
  
  .img-intro{
    width:316px;height:293px;
    background:url(/images/share/connect_tsina.png) no-repeat;
    margin-bottom:20px;
  }
  .desc{
    font-size:14px;margin-bottom:20px;
  }
  
  a.bind-btn{
    display:block;
    font-size:14px;font-weight:bold;
    color:white;
    @include border-radius(3px);
    background-color:#ED3800;
    border:solid 1px #D31900;
    width:160px;
    height:40px;line-height:40px;
    text-align:center;
    text-shadow:0px 0px 2px rgba(0, 0, 0, 0.9);
    margin-bottom:10px;
    &:hover{
      text-decoration:none;
      background-color:#EF3A02;
      color:white;
      border:solid 1px #C30900;
      box-shadow:0 1px 2px #ccc;
    }
  }
  
}

/*使用其他网站账号登录，账号选择（新账号，老账号）*/
.page-login-from-other-connect-operation{
  h3{margin-bottom:10px;font-size:12px;font-weight:normal;}
  .back{}
  .f{
    margin-bottom:10px;    
    .connect-confirm-btns{
      overflow:hidden;
      .connect-create-new-user,.connect-has-reged{
        float:left;margin:0 30px 20px 0;
      }
      .connect-create-new-user a,.connect-has-reged a{
        display:block;
        font-size:14px;font-weight:bold;
        color:white;
        @include border-radius(3px);
        width:130px;
        height:40px;line-height:40px;
        text-align:center;
        text-shadow:0px 0px 2px rgba(0, 0, 0, 0.9);
      }
      
      .connect-create-new-user a{
        background-color:#A4E563;
        border:solid 1px #75C631;
        &:hover{text-decoration:none;background-color:#94D553;}
      }
  
      .connect-has-reged a{
        background-color:#E57463;
        border:solid 1px #C64C31;
        &:hover{text-decoration:none;background-color:#D56453;}
      }
    }
  
    .connect-link-form{
      .select-mode{
        overflow:hidden;
        .sel{
          width:355px;float:left;
          .desc{
            padding:14px;
            font-size:12px;@include tfont;
            color:#888;
            b{color:#444;font-size:14px;}
          }
          
          &.selected{
            width:353px;
            background-color:#fafafa;
            border:solid 1px #eee;
            border-bottom:solid 1px #fafafa;
          }
          
          &.unselect{
            cursor:pointer;
            
            border-bottom:solid 1px #eee;
            .desc{background-color:#eee;}
            
            &.mode1{
              .desc{margin:0 4px 4px 0;padding:14px 14px 11px 14px;}
            }
            &.mode2{
              .desc{margin:0 0 4px 4px;padding:14px 14px 11px 14px;}
            }
          }
        }
      }
      .connect-link-form-form{
        height:200px;
        background-color:#fafafa;
        border:solid 1px #eee;
        border-top:none;
        padding:14px 14px 14px 50px;
        .field{
          margin-bottom:9px;
          label{
            padding:0;
            width:50px;margin-right:10px;text-align:right;
            float:left;height:32px;line-height:32px;
          }
        }
        .field.subm{
          margin:0;overflow:hidden;
          .create-submit{@include form-a-link-submit;padding:0 14px;width:auto;float:left;margin-left:60px;}
        }
      }
    }
  }
}

/*补全登录信息的表单*/
.page-complete-account-info-form{
  .field{margin-bottom:9px;}
  .field.subm{
    margin:0;overflow:hidden;
    .create-submit{@include form-a-link-submit;padding:0 14px;width:auto;float:left;}
  }
}

.page-usage-select{
  overflow:hidden;
  margin:0 0 40px 0;
  padding:30px 0;
  border-top:dotted 1px #DFDFDF;
  border-bottom:dotted 1px #DFDFDF;
  .feeds{
    margin-right:80px;
    .icon{
      width:180px;
      height:140px;
      background:url(/images/icons/usage-feed.png);
      border:solid 2px #DFDFDF;
      margin:0 0 10px 0;
      cursor:pointer;
    }
  }
  .mindmaps{
    .icon{
      width:180px;
      height:140px;
      background:url(/images/icons/usage-mindmap.png);
      border:solid 2px #DFDFDF;
      margin:0 0 10px 0;
      cursor:pointer;
    }
  }
  .feeds, .mindmaps{
    padding:5px;
    float:left;
    position:relative;
    &.checked{
      background:#FFF3B2;
      @include border-radius(5px);
      .check{
        width:32px;height:32px;
        @include allicon(-196px,-66px);
        position:absolute;
        top:10px;left:170px;
      }
      .choose{display:none;}
      .ok{float:left;margin-right:10px;display:block !important;}
    }
    .desc{
      margin:0 0 10px 0;
    }
    .choose{float:left;margin-right:10px;}
  }
}

.page-account-base-form{
  .field{
    overflow:hidden;
    a.account-submit{
      @include form-a-link-submit;
      float:left;
      margin-right:10px;
    }
    a.account-cancel{
      @include form-a-link-cancel;
      float:left;
    }
  }
}

.page-copper-avatar{
  .old-img,.cutted-img{
    background-color:#Fafafa;
    padding:5px;
    border:solid 1px #eee;
    @include border-radius(3px);
    margin-bottom:10px;
  }
  .cutted-img{
    width:100px;
    margin:0;
  }
}