@mixin daotu-logo_large{
  width:420px; height:75px;
  background:url(/images/mindpin-sites/tu-logo.png) no-repeat;
  margin-bottom:40px;
}
@mixin mindpin_logo_large{
  width:420px;height:75px;
  background:url(/images/mindpin-sites/logo.png) no-repeat;
  margin-bottom:40px;
  &.daotu{
    @include daotu-logo_large;
  }
}
@mixin anonymous-box-base{
  width:600px;margin-left:175px;margin-top:30px;
}
@mixin anonymous-bold-text-input{
  input.text{
    border:solid 1px #ccc;
    box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2) inset;
    font-weight:bold;
    @include tfont;
    width:228px;height:24px;line-height:24px;
    @include border-radius(4px);
  }
}
@mixin anonymous-login-form{
  form{
    overflow:hidden;margin-bottom:30px;
    .field{label{display:block;}}
    .flash-error{
      width:210px;
      /*background:#777;
      border:solid 1px #666;*/
      @include border-radius(3px);
      span{height:30px;line-height:30px;}
    }
    
    .p1{
      overflow:hidden;margin-bottom:5px;
      .field{
        margin-right:9px;margin-bottom:0;
        @include anonymous-bold-text-input;
      }
    }
    
    .p2{
      width:240px;
      overflow:hidden;margin-bottom:9px;
      .remember-me{float:left;font-size:12px;height:32px;line-height:32px;}
      .forget-password{font-size:12px;height:32px;line-height:32px;float:right;
        a{color:#666;&:hover{color:#666;}}
      }
    }
    
    .p3{
      padding-bottom:5px;
    }
  }
}
@mixin anonymous-connects{
  /*连接各种网站*/
  .connects{
    margin-bottom:30px;
    overflow:hidden;
    .inset{
      float:left;
      padding:5px;
      box-shadow:0 1px 2px rgba(50, 50, 50, 0.2) inset;
      @include border-radius(7px);
      .connect{
        float:left;
        @include button-red;
        @include border-radius(3px);
        .icon{width:24px;height:24px;float:left;position:relative;top:3px;margin-left:3px;}
        .name{float:left;font-size:14px;height:30px;line-height:30px;padding: 0 9px;}
        &.tsina-weibo{.icon{background:url(/images/share/share_24.png) no-repeat -4px -4px;}}
      } 
    }
  }
}

.page-anonymous-wrapper{
  .root-box{
    @include anonymous-box-base;
    .logo{@include mindpin_logo_large;}
    .root-content{
      margin-left:75px;
      .if-u-want-to-use-mindmap{
        font-size:14px;font-weight:bold;margin-bottom:20px;
        .url{
          a{font-size:18px;color:#3079ED;span{color:#7AADED}}
        }
      }
      .if-u-has-alpha-account, .if-u-want-to-apply{
        margin-bottom:20px;
        .desc{margin-bottom:5px;}
      }
      
      .welcome,.to-activation,.to-tu-mindpin{
        margin-bottom:20px;
        .desc{margin-bottom:5px;}
      }
      
      .aj-submit-form{
        @include anonymous-bold-text-input;
      }
    }
  }
  .login-box{
    @include anonymous-box-base;
    .logo{@include mindpin_logo_large;}
    .login-content{
      padding-left:75px;overflow:hidden;
      .ct{
        float:left;border-right:solid 2px #eee;padding-top:18px;
        padding-right:60px;
        @include anonymous-login-form;
        @include anonymous-connects;
      }
      .others{
        .bl{margin-bottom:14px;}
        float:right;margin-right:30px;
        .desc{margin-bottom:4px;}
      }
    }
  }
  .signup-box{
    @include anonymous-box-base;
    .logo{@include mindpin_logo_large;}
    .signup-content{
      padding-left:75px;overflow:hidden;
      .ct{
        float:left;border-right:solid 2px #eee;
        padding-right:40px;
        form{
          @include anonymous-bold-text-input;
          .quiet{padding-left:3px;}
          a.signup-submit{width:100px;}
          .flash-error{
            width:210px;
            /*background:#777;
            border:solid 1px #666;*/
            @include border-radius(3px);
            span{height:30px;line-height:30px;}
            .tip{line-height:14px;height:14px;margin-top:5px;}
          }
        }
      }
      .others{
        .bl{margin-bottom:14px;}
        float:right;margin-right:30px;
        .desc{margin-bottom:4px;}
        @include anonymous-connects;
      }
    }
  }
  
  .reset-password-box{
    @include anonymous-box-base;
    .logo{@include mindpin_logo_large;}
    .form{
      padding-left:75px;overflow:hidden;
      form{
        margin:0;
        @include anonymous-bold-text-input;
      }
    }
    &.no1{
      margin-left:-320px;
    }
  }
  
  .apply-form{
    @include anonymous-box-base;
    background-color:#FFF;border:solid 1px #eee;margin-top:50px;
    .title{margin:4px 4px 14px 4px;background-color:#fafafa;font-size:14px;font-weight:bold;padding:5px 10px;}
    .desc{padding:0px 14px;margin-bottom:14px;font-size:14px;}
    .re{margin:4px;padding:5px 10px;background-color:#fafafa;}
    form{
      margin:4px;padding:5px 10px;background-color:#fafafa;
      .field{
        float:none;
        input.text, textarea.text{
          border:solid 1px #ccc;
          box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2) inset;
          font-weight:normal;
          @include tfont;
        }
        input.text{
          width:247px;
        }
        textarea.text{
          width:400px;height:120px;
          line-height:20px;
        }
      }
    }
  }
}