/*页面标准元件，标题栏*/
.page-title-bar{
  margin-bottom:20px;
  overflow:hidden;
  @include bdb2010;
  background:#FAFAFA;
  padding:10px;
  border-top:solid 1px #eee;
  overflow:hidden;
  .meta{
    float:left;
    h2{
      font-size:14px;font-weight:bold;
    }
    .desc{
      color:#777;
    }
  }
  .ops{
    float:right;
    .create{
      display:block;
      background-color:#4C8FFD;
      border:1px solid #3079ED;
      @include border-radius(3px);
      height:30px;line-height:30px;
      padding:0 7px 0 3px;
      cursor:pointer;
      color:white;
      overflow:hidden;
      &:hover{
        border-color:#2069dD;
        text-decoration:none;
        color:white;
        box-shadow:0px 1px 2px #ccc;
      }
      span{float:left;}
      .icon{
        width:24px;height:24px;position:relative;top:3px;
        margin-right:3px;
        background:url(/images/alltu.png) -84px -75px;
      }
    }
  }
}

/*页面标准元件，评论*/
.page-comments-list{
  margin-top:-1px;
  border-top:solid 1px #EEEEEE;
  .comment{
    overflow:hidden;
    padding:5px;
    background:#FAFAFA;
    .avatar{
      float:left;margin-right:10px;
      img{width:24px;height:24px;}
    }
  }
}
.page-comment-form{
  padding:5px;
  margin-top:-1px;
  border-top:solid 1px #EEEEEE;
  .inputer{
    width:500px;
    height:16px;
  }
  .btns{
    @include submitbtns;
  }
}