.index-channels, .index-belongs-to-channels{
  @include border-radius(4px);
  margin:0 0 30px 0;
  .title{
    font-size:14px;
    padding:5px;
  }
  ul.mplist{
    li.mpli{
      @include border-radius(4px);
      padding:5px;
      padding-bottom:15px;
      margin-bottom:10px;
      .meta{
        .name{
          font-size:14px;
          .kind{
            float:left;
            margin:0 3px 0 0;
            color:#C8E19D;
            &.blog{color:#FF7D0A;}
            &.interview{color:#8DCFF4;}
          }
        }
      }
      .avatars{
        overflow:hidden;
        margin:10px 0 0 30px;
        .avatar{
          font-size:0px;
          line-height:0px;
          float:left;
          margin-right:3px;
        }
        .config{
          @include border-radius(3px);
          width:28px;
          height:28px;
          float:left;
          cursor:pointer;
          .icon{
            background:url(/images/icons/all.png) no-repeat -75px -142px;
            width:24px;
            height:24px;
            position:relative;
            top:2px;
            left:2px;
          }
        }
      }
      .last-feed{
        margin:10px 0 0 30px;
      }
      .creator{
        .avatar{

        }
      }
    }
  }
}

/*选人界面*/
.channel-member-choose-panel{
  @include border-radius(4px);
  width:504px;
  position:absolute;
  .selected-users{
    padding:5px 8px;
    overflow:hidden;
    min-height:22px;
    .u{
      padding:0 4px;
      @include border-radius(3px);
      float:left;
      margin:0 4px 4px 0;
      .icon{
        float:right;
        background:url(/images/icons/all.png) no-repeat -198px -100px;
        width:9px;height:10px;
        margin-left:2px;
        position:relative;
        top:4px;
        cursor:pointer;
      }
    }
  }
  .intro{
    padding:5px 8px;
    overflow:hidden;
    .i,.i-added,.i-selected{
      float:left;
    }
    .i-added{
      @include border-radius(3px);
      height:18px;
      width:29px;
      background:#4A6342;
      cursor:0.6;
      margin:0 3px 0 20px;
    }
    .i-selected{
      @include border-radius(3px);
      height:18px;
      width:29px;
      background:#2E7CDC;
      margin:0 3px 0 20px;
    }
  }
  .fo-users{
    overflow:hidden;
    .fo-u{
      @include border-radius(4px);
      cursor:pointer;
      width:100px;
      height:36px;
      margin:6px 8px;
      float:left;
      overflow:hidden;
      padding:5px;
      position:relative;
      .avatar{
        float:left;
        width:36px;height:36px;
        margin:0 8px 0 0;
      }
      .name{
        width:56px;
        float:left;
        overflow:hidden;
      }
      .chkico{
        width:16px;height:16px;
        background:url(/images/icons/all.png) no-repeat -208px -100px;
        position:absolute;top:28px;left:3px;
        display:none;
      }
      &.selected{
        background-color:#2E7CDC;
        color:white;
        .chkico{display:block;}
      }
      &.added{
        background-color:#4A6342 !important;
        cursor:default;
        .chkico{display:block;background:url(/images/icons/all.png) no-repeat -225px -100px;}
        .rmvico{display:none;}
        &:hover{
          .rmvico{
            cursor:pointer;
            display:block;
            width:16px;height:16px;
            background:url(/images/icons/all.png) no-repeat -242px -100px;
            position:absolute;top:28px;right:3px;
          }
        }
      }
    }
  }
  .btns{
    padding:5px 8px;
    @include submitbtns;
  }
}

.channel-panel{
  margin:20px 0 30px;
  ul.channels{
    overflow:hidden;
    margin:10px 0 0px;
    li{
      float:left;
      a{
        @include border-radius(4px 4px 0 0);
        margin:0 5px 0 0;
        display:block;
        padding:4px 7px;
        *padding:5px 7px 3px;
        font-size:14px;
        &:hover{
          text-decoration:none;
        }
      }
      &.current{
        a{
          font-weight:bold;
        }
      }
      &.mindmaps{
        width:110px;
        a{
          .icon{
            width:18px;
            height:18px;
            float:left;
            background:url(/images/icons/all.png) no-repeat -128px -120px;
            margin:0 5px 0 0;
            position:relative;
            top:2px;
          }
          color:#F78CBA;
        }
      }
      &.more{
        @include border-radius(4px 4px 0 0);
        margin:7px 5px 0 10px;
        display:block;
        padding:2px 7px;
        *padding:3px 7px 1px;
        cursor:pointer;
        &:hover{
          text-decoration:none;
        }
        .icon{
          width:16px;
          height:16px;
          background:url(/images/icons/all.png) no-repeat -96px -100px;
          float:right;
          position:relative;
          top:1px;
        }
        span{float:left;}
      }
    }
  }

  .channel-op{
    @include border-radius(0 4px 4px 4px);
    padding:5px 7px;
    margin:0 0 20px;
    position:relative;
    *top:-1px;
    .u-count{
      margin:0 40px 0 0;
    }
    .rename-channel{
      margin:0 10px 0 0;
    }

    .rename-channel-form{
      position:absolute;
      @include border-radius(4px);
      padding:5px;
      border:2px solid #323546;
      background:black;
      width:128px;
      z-index:99;
      top:40px;
      left:40px;
      input{
        width:120px !important;
      }
      button{
        @include border-radius(2px);
        border:none 0px;
        margin:4px 5px 0 0;
        &.editable-submit{
          color:white;
          background:#0063DC;
          &:hover{
            background:#0054BD;
          }
        }
        &.editable-cancel{
          color:#666666;
          background:#ddd;
          &:hover{
            background:#CFCFCF;
          }
        }
      }
    }
  }
  .setting{
    position:absolute;
    @include border-radius(0 4px 4px 4px);
    border:solid 2px #222;
    background:#333;
    z-index:999;
    a{
      display:block;
      padding:2px 5px;
      color:#ddd;
      &:hover{
        background:#444;
        text-decoration:none;
      }
    }
    @include chs-ch;
    .ch{margin:0 !important;padding:0 !important;}
    .chs{border-bottom:1px dashed #424556;}
  }
}

/*频道设置*/
.page-channels-set{
  padding:10px 0;
  .channel{
    border:solid 1px #DDDDDD;
    @include border-radius(5px);
    color:white;
    margin-bottom:10px;
    padding:2px;
    background:#F7F7F7;
    position:relative;
    height:60px;  
    .meta{
      padding:5px;
      background:#666;
      overflow:hidden;
      cursor:default;
      @include border-radius(4px);
      line-height:20px;
      height:50px;
      .name{
        color:white;
        font-size:14px;
        float:left;
      } 
      .ucount{
        @include tfont;
        font-weight:bold;color:#ccc;
        float:right;
        font-size:20px;
      }
    }
    .users{
      @include border-radius(0 0 4px 4px);
      overflow:hidden;
      padding:3px;
      width:240px;
      height:26px;
      position:absolute;
      bottom:0px;
      .avatar{
        width:26px;height:26px;
        margin-right:4px;
        float:left;
        cursor:move;
        position:relative;
        overflow:visible;
        img{width:24px;height:24px;}
        &:hover{
          img{
            width:30px;height:30px;
            box-shadow:0px 0px 4px #bbb;
            position:absolute;
            left:-3px;top:-3px;
          }
        }
      }
      .overlay{
        position:absolute;
        width:32px;height:32px;
        left:-3px;top:-3px;
      }
    }
    &.following-hover{
      box-shadow:0px 0px 5px #3B94FF;
    }
    &.dd-hover{
      background:#F3F6F9;
      border-color:#D0DCE6;
      box-shadow:0px 0px 6px #3B94FF;
      .meta{background:#466583;
        .ucount{color:#BACBD9;}
      }
    }
    &.avatar-moveout{
      box-shadow:0px 0px 6px #FF1111;
      border-color:red;
    }
  }
}

@mixin following-set-dom{
  @include gradient(#fff,#f4f4f4);
  border:solid 1px #ddd;
  overflow:hidden;
  float:left;
  padding:5px;
  width:140px;
  margin-right:10px;
  margin-bottom:10px;
  @include border-radius(2px);
  cursor:move;
  &:hover{
    border:solid 1px #bbb;
    box-shadow:0px 0px 6px #bbb;
  }
  .avatar{
    width:34px;height:34px;      
    float:left;margin-right:10px;
    .img{
      margin:1px 0 0 1px;
      width:32px;height:32px;
      @include border-radius(5px);
    }
  }
  .avatar-s{
    display:none;
  }
  &.selected{
    @include gradient(#666,#333);
    color:white;
    border:solid 1px #444;
    box-shadow:0px 0px 6px #bbb;
  }
}

.page-followings-set{
  padding:10px 0;
  overflow:hidden;
  .following{
    @include following-set-dom;
  }
}

.page-following-dd{
  @include following-set-dom;
  position:absolute;
}
.page-dragdrop-user-count{
  position:absolute;
  color:white;
  @include border-radius(3px);
  @include gradient(#3B94FF,#006AED);
  padding:3px;
  width:50px;
  z-index:101;
  text-align:center;
  box-shadow:0px 0px 4px #bbb;
  font-weight:bold;
  cursor:move;
}

.page-channel-avatar-dd{
  position:absolute;
  overflow:visible;
  .icon{
    display:none;
    width:24px;height:24px;line-height:22em;overflow:hidden;
    color:white;
    top:10px;left:30px;
    position:absolute;
  }
  &.will-remove{
    .icon{
      display:block;
      background:url(/images/flashinfo/error.png) no-repeat;
    }
  }
  &.will-putin{
    .icon{
      display:block;
      background:url(/images/flashinfo/success.png) no-repeat;
    }
  }
}

.page-followings-set-desc{
  @include bdb2010;
  margin-top:10px;
  font-size:14px;
}

.page-ucount-aj{
  @include border-radius(3px);
  position:absolute;
  font-size:40px;font-weight:bold;
  &.delete{
    color:red;
  }
  &.add{
    color:#67AD3E;
  }
}