.page-collections{
  .aj-loading{
    border:solid 2px #EEEEEE;
    height:30px;
    @include border-radius(4px);
    margin-bottom:10px;
    background-position:10px 10px;
    &.error{
      background:#FFEBEB;
      border-color:#FFcccc;
    }
  }
  .collection{
    position:relative;
    @include border-radius(4px);
    text-align:center;
    padding:20px;
    border:solid 1px #EEEEEE;
    cursor:pointer;
    margin-bottom:10px;
    background-color:#FAFAFA;
    color:#666;
    .avatar{
      position:absolute;
      right:2px;bottom:2px;
    }
  }
}