/*创建主题的表单*/
form.page-new-feed-form{
  @include new_object_form;
  .form-main{
    border:solid 1px #eee;
    background-color:#fafafa;
    
    /*标题*/
    .field.title{
      padding:9px;margin:0;
      label{
        float:left;width:50px;
        margin-right:10px;
        text-align:right;
        padding:0;
        height:32px;line-height:32px;font-size:14px;
      }
      input.text{
        width:618px;
        @include border-radius(1px);
      }
    }
    
    /*正文*/
    .field.detail{
      padding:9px;margin:0;
      textarea.text{
        width:678px;
        height:320px;
      }
    }
    
    /*图片上传按钮*/
    .page-file-upload{
      padding:9px;margin:0;
      .upload-btn{
        width:80px;height:26px;line-height:26px;
      }
      .relative{position:relative;}
    }
    
    /*照片区域*/
    .field.photos{
      overflow:hidden;
      padding:0 9px;margin:0;
      
      .photo,.uploading-photo{
        width:66px;height:66px;
        border:solid 1px #eee;
        background-color:#fafafa;
        padding:0;
        float:left;
        margin-right:5px;margin-bottom:5px;
        position:relative;
        .close{
          width:12px;height:12px;
          position:absolute;top:1px;right:1px;
          background:url(/images/alltu.png) -133px -81px no-repeat #999;
          @include border-radius(2px);
          border:solid 1px #666;
          cursor:pointer;
          &:hover{
            background-color:#aaa;
            border:solid 1px #555;
          };
        }
      }
      .uploading-photo{
        position:relative;
        background-color:#f4f4f4;
        background-position:5px 5px;
        &.error{
          color:white;
          border-color:#B0281A;
          background-color:#DC4A38;
          .process{display:none;}
          .error-close{
            display:inline;
            margin-left:3px;
            color:white;
            &:hover{color:white;}
          }
        }
        .meta{
          @include tfont;
          margin:5px 3px 5px;
          overflow:hidden;
          .file-name{width:44px;height:18px;overflow:hidden;}
        }
        .process{
          position:absolute;
          width:60px;height:6px;
          @include border-radius(2px);
          background:#ddd;
          bottom:3px;
          left:3px;
          .p{
            height:6px;
            background:#666;
            @include border-radius(2px);
          }
        }
        .error-close{display:none;}
      }
    }
    
  }
  
  .form-submit{
    border:solid 1px #eee;
    background-color:#fafafa;
    margin-top:9px;
    .field.subm{
      padding:9px;margin:0;
      overflow:hidden;
      .create-submit{@include form-a-link-submit;width:130px;float:left;margin-right:10px;}
      .create-cancel{@include form-a-link-cancel;width:100px;float:left;}
    }
  }
  
  .form-collection-select{
    border:solid 1px #eee;
    background-color:#fff;
    h3{
      padding:9px;margin:0;
      border-bottom:solid 1px #eee;
      background-color:#fafafa;
      font-style:14px;
      line-height:22px;
      color:#999;
    }
    .field.collections{
      margin:0;
      .c{
        overflow:hidden;
        cursor:pointer;
        &:hover{
          background-color:#fafafa;
          .cb{background-color:#eee;}
        };
        
        &.checked{
          background-color:#666 !important;
          .name{color:white !important;}
          .cb{background-color:#eee;}
        }
        
        .cb{
          float:left;
          padding:5px 9px;
          height:22px;line-height:22px;
          background-color:#fafafa;
          .checkbox{
            top:1px;
          }
        }
        .name{
          float:left;
          padding:5px 9px;
          font-size:14px;line-height:22px;
          font-weight:bold;
          color:#666;
        }
      }
    }
  }
}

.page-new-feed-tips{
  .tip{
    @include border-radius(4px);
    padding:10px;
    font-size:14px;
    margin:0 0 20px 0;
    font-family:Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    .title{
      font-size:16px;
      font-weight:bold;
      margin:0 0 10px 0;
      padding:0 0 10px 0;
    }
    ul{
      list-style-type: none;
      margin:0 0 0 1.5em;
      li{margin-bottom:1em;}
    }
    .alignright{font-size:12px;font-weight:bold;}
  }
}