@mixin reply-to-feed{
  margin-bottom:10px;
  overflow:hidden;
  .data{
    @include border-radius(0 4px 4px 0);
    padding:10px;
  }
  .arrow{
    width:15px;height:7px;
    @include allicon(-271px,-41px);
    margin:0 0 0 36px;
  }
}

@mixin quote-feed{
  margin-bottom:10px;
  overflow:hidden;
  .data{
    @include border-radius(0 4px 4px 0);
    padding:10px;
  }
  .arrow{
    width:15px;height:7px;
    @include allicon(-271px,-49px);
    margin:0 0 0 36px;
  }
}

@mixin comments{
  @include border-radius(3px);
  margin-bottom:12px;
  clear:both;
  padding:5px;
  &.loading{
    background-image:url(/images/icons/progress-dots.gif);
    background-repeat:no-repeat;
    background-position:10px 4px;
    height:10px;
  }
  .feed-echo-form{
    .ipt{
      textarea{
        width:480px;
        height:32px;
        @include border-radius(3px);
      }
    }
    .send-to{
      margin:5px 0 5px 0;
      height:19px;
      line-height:19px;
      padding:0 0 1px 3px;
      width:180px;
      @include border-radius(4px);
      cursor:default;
      .icon{
        width:13px;
        height:13px;
        background:url(/images/icons/all.png) no-repeat -82px -100px;
        float:left;
        margin-right:5px;
        position:relative;
        top:3px;
      }
      .name{
        float:left;
      }
      &.checked{
        .icon{
          background:url(/images/icons/all.png) no-repeat -68px -100px;
        }
      }
    }
    .btns{
      overflow:hidden;
      @include submitbtns;
    }
  }
  ul.comments-list{
    margin-top:20px;
    li.comment{
      overflow:hidden;
      padding:5px;
      .avatar{
        float:left;
        margin-right:10px;
        img{width:16px;height:16px;}
      }
      .content{
      }
    }
  }
}

/*feeds*/
.newsfeed .list.feeds{
  overflow:hidden;
  .feed{
    overflow:hidden;
    @include bdb2010;
    .f{
      position:relative;

      .footmisc{
        overflow:hidden;
        height:34px;
        .tags{
          @include tags;
          margin-top:14px;
        }
       .creator{
          float:right;
          .avatar{
            float:left;
          }
        }
      }

      .current-feed{
        overflow:hidden;
        margin:0 0 10px 0;
        .f-title{
          font-size:14px;font-weight:bold;
          @include tfont;
          margin:0 0 5px 0;
          a{
            color:#426389;
            &:hover{
              text-decoration:none;
              border-bottom:dotted 1px #666;
            }
          }
        }
        .detail{
        }
      }

      .viewpoint{
        overflow:hidden;
        .my-viewpoint,.hot-viewpoint{
          @include viewpoint-in-list;
          .memo-content{margin-left:26px;}
        }
      }

    }
  }
}

.page-feeds-manage-bar{
  margin-bottom:20px;
  overflow:hidden;
  @include bdb2010;
  background:#FAFAFA;
  padding-top:10px;
  border-top:solid 1px #eee;
  
  .avatar{
    float:left;
    margin-right:10px;
  }
  .data{
    float:left;
    width:200px;
    margin-right:10px;
    a{color:#222;&:hover{color:#222;}}
    .name{font-size:14px;}
  }
  .ops{
    float:right;
    .op{
      float:left;
      margin-left:10px;
      @include border-radius(5px);
      background-color:#F0F0F0;
      border:solid 1px #ddd;
      &:hover{
        background-color:#e9e9e9;
      };
      .new{
        width:48px;height:48px;
        line-height:22em;
      }
      .create{
        background:url(/images/alltu.png) -35px -1px no-repeat;
      }
    }
  }
}

@mixin feed-stats{
  overflow:hidden;
  float:left;
  .stat{
    @include tfont;
    overflow:hidden;
    float:left;
    padding:3px 8px;

    .num{
      font-size:20px;font-weight:bold;
      line-height:22px;height:22px;
      text-align:center;
    }
    .w{
      font-size:12px;display:inline;color:#666;
      text-align:center;
    }
    &.viewpoints{
      &.not-zero{
        @include border-radius(4px);
        background:#E5F1DD;
        .num{color:#418370;}
        .w{color:#418370;}
      }
      &.zero{

      }
    }
  }
}

.page-searched-feeds,.page-recommend-feeds{
  .feed{
    padding:5px 5px 20px;
    .stats{
      @include feed-stats;
    }
    .data,.footmisc{
      margin-left:50px;
    }
    .data{
      margin-bottom:10px;
      .title{
        font-size:14px;font-weight:bold;
        @include tfont;
        margin:0 0 5px 0;
      }
      .detail{
      }
    }
    .footmisc{
      @include footmisc;
    }
  }
}

.feed-transmit-form,.feed-transmit-form-show{
  position:absolute;
  @include border-radius(4px);
  width:390px;
  padding:5px;
  .title{
    margin:0 0 10px 0;
    font-weight:bold;
  }
  .ori-feed{
    margin:0 0 10px 0;
  }
  .ipt{
    textarea{
      width:386px;
      height:42px;
      @include border-radius(3px);
    }
  }
  .btns{
    overflow:hidden;
    @include submitbtns;
  }
}

.todo-items-config{
  position:absolute;
  width:300px;
  padding:5px;
  @include border-radius(4px);
  .title{
    font-weight:bold;
    margin-bottom:5px;
  }
  .items{
    margin:6px 0;
    .item{
      padding:3px;
    }
    &.aj-loading{
      height:18px;
    }
  }
  .form{
    textarea.item-content{
      width:280px;
    }
  }
  .btns{
    overflow:hidden;
    @include submitbtns;
  }
}