.feed-form-container{
  padding:45px 0 20px 50px;
  margin:0 0 12px 0;
  @include border-radius(6px);
  background:url(/images/icons/feed-form-bg.png) no-repeat 0 0;
  background-color:#E4EE70;
  border:solid 1px #ddd;
}

.feed-form{
  margin:0px 0 0 0px;
  overflow:hidden;
  width:500px;
  position:relative;
  .ipter{
    overflow:hidden;
    margin:0 0 6px 0;
    .tip{
      font-size:14px;
    }
    .ipts{
      float:left;
      padding:0 10px 0 0;
      font-size:0px;
      line-height:0px;
      .feed-content{
        width:430px;
        height:32px;
        overflow:hidden;
        position:relative;
        border:solid 2px #293100;
        *top:-1px;
      }
    }
  }
  .detail-ipter{
    overflow:hidden;
    margin:0 0 6px 0;
    .feed-detail{
      width:430px;
      height:96px;
      overflow:hidden;
      position:relative;
      border:solid 2px #293100;
      *top:-1px;
    }
  }
  .subm{
    width:404px;
    clear:both;
    overflow:hidden;
    .subbtn{
      float:left;
      @include border-radius(4px);
      padding:4px 20px 4px;
      margin:0 6px 0 0;
      font-size:14px;
      font-weight:bold;
      @include btn-color(#5C98E0, #3671B9, #2E63A5, #ffffff, #6CA8F0, #4681C9);
      /*@include btn-color(#879A1F, #576810, #7F9132, #ffffff, #A7BA3F, #778830);*/
      &:hover{text-decoration:none;}
      &.mousedown{}
    }
    .show-detail-ipt,.hide-detail-ipt{
      float:left;
      @include border-radius(4px);
      margin:0 10px 0 0;
      font-size:14px;
      font-weight:bold;
      cursor:pointer;
      height:29px;
      width:29px;

      &:hover{
        text-decoration:none;
      }
      &.mousedown{}
    }
    .show-detail-ipt{
      @include btn-color(#F54F00,#CA0700,#DF1600,#ffffff,#FB5506,#D00C06);
      .icon{
        width:19px;height:19px;
        @include allicon(-256px,-13px);
        position:relative;top:5px;left:5px;
      }
    }
    .hide-detail-ipt{
      @include btn-color(#A8684B,#8B413E,#9A4D45,#ffffff,#B8785B,#9B514E);
      .icon{
        width:19px;height:19px;
        @include allicon(-276px,-13px);
        position:relative;top:5px;left:5px;
      }
    }
  }
}

@mixin new_feed_form{
  @include new_object_form;
  .field.title{
    input.text{width:634px;padding:5px 7px;box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;}
  }
  .field.detail{
    textarea.text{width:634px;padding:5px 7px;height:160px;box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;}
  }
  .field.tags{
    input.text{width:634px;box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;}
  }
  .field.subm{
    overflow:hidden;
    .create-submit{@include form-a-link-submit;width:130px;float:left;margin-right:10px;}
    .create-cancel{@include form-a-link-cancel;width:100px;float:left;}
  }
  .field.photos{
    overflow:hidden;
    margin:0;
    .photo,.uploading-photo{
      width:50px;height:50px;
      border:solid 1px #eee;
      box-shadow:1px 1px 0px #ccc;
      background-color:#fafafa;
      @include border-radius(2px);
      padding:3px;
      float:left;
      margin-right:5px;margin-bottom:5px;
    }
    .uploading-photo{
      position:relative;
      background-color:#f4f4f4;
      background-position:5px 5px;
      &.error{
        color:white;
        border-color:#B0281A;
        background-color:#DC4A38;
        .process{display:none;}
        .error-close{
          display:inline;
          margin-left:3px;
          color:white;
          &:hover{color:white;}
        }
      }
      .meta{
        @include tfont;
        margin:5px 3px 5px;
        overflow:hidden;
        .file-name{width:44px;height:18px;overflow:hidden;}
      }
      .process{
        position:absolute;
        width:50px;height:6px;
        @include border-radius(2px);
        background:#ddd;
        bottom:3px;
        left:3px;
        .p{
          height:6px;
          background:#666;
          @include border-radius(2px);
        }
      }
      .error-close{display:none;}
    }
  }
}

.page-new-feed-form{
  padding:10px;
  @include new_feed_form;
}

.page-new-feed-tips{
  .tip{
    @include border-radius(4px);
    padding:10px;
    font-size:14px;
    margin:0 0 20px 0;
    font-family:Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    .title{
      font-size:16px;
      font-weight:bold;
      margin:0 0 10px 0;
      padding:0 0 10px 0;
    }
    ul{
      list-style-type: none;
      margin:0 0 0 1.5em;
      li{margin-bottom:1em;}
    }
    .alignright{font-size:12px;font-weight:bold;}
  }
}