.index-page-new-feature-tip{
  margin:0 0 10px 0;
  overflow:hidden;
  .tip{
    padding:10px 10px 10px 10px;
    @include border-radius(5px);
    /*@include gradient(#3B94FF,#3B94FF);*/
    background:#3B94FF;
    border:none;
    margin-bottom:5px;
    color:#F4F7FA;

    .title{
      font-size:14px;font-weight:bold;
      color:white;margin-bottom:10px;
      display:inline-block;
    }
    .desc{}
  }
  .link{
    overflow:hidden;
    float:right;
    .close{
    }
    .show-more{
    }
  }
}

.index-page-channel-name{
  @include bdb2010;
  color:white;
  background-color:#444;
  margin-bottom:0;
  border:none;
  font-weight:bold;
  padding-top:3px;
  padding-bottom:3px;
}

.index-page-followings{
  padding:10px;
  .followings{
    @include miniavatar;
    margin-bottom:10px;
  }
}