.page-user-be-invited{
  .invite{
    padding:5px 5px 30px;
    .avatar{
      float:left;
    }
    .desc{
      font-size:14px;
      margin:0 0 6px 40px;
      .bold{font-weight:normal;}
    }
    .footmisc{
      margin:0 0 0 40px;
    }
  }
}