@mixin mindmaps-bar{
  margin-bottom:20px;
  overflow:hidden;
  @include bdb2010;
  background:#FAFAFA;
  padding-top:10px;
  border-top:solid 1px #eee;
  
  .avatar{
    float:left;
    margin-right:10px;
  }
  .data{
    float:left;
    width:200px;
    margin-right:10px;
    a{color:#222;&:hover{color:#222;}}
    .name{font-size:14px;}
  }
}

.page-mindmaps-manage-bar{
  @include mindmaps-bar;
  .ops{
    float:right;
    .op{
      float:left;
      margin-left:10px;
      @include border-radius(5px);
      background-color:#F0F0F0;
      border:solid 1px #ddd;
      &:hover{
        background-color:#e9e9e9;
      };
      .new{
        width:48px;height:48px;
        line-height:22em;
      }
      .create{
        background:url(/images/alltu.png) -35px -1px no-repeat;
      }
      .import{
        background:url(/images/alltu.png) -84px -1px no-repeat;
      }
    }
  }
}

.page-mindmaps-info-bar{
  @include mindmaps-bar;
  .explore{
    overflow:hidden;
    margin:0 0 15px 0;
    padding:5px 0;
    .btns{
      float:right;
      .show{
        float:left;
        height:25px;
        line-height:25px;
        a{
          border:solid 1px #DDDDDD;
          background-color:#f0f0f0;
          @include border-radius(4px);
          padding:4px 7px;
          color:#444444;
          display:block;
          height:17px;line-height:17px;
          margin-left:5px;
          &:hover{
            text-decoration:none;
            background-color:#e9e9e9;
          }
        }
      }
      .show{
        cursor:pointer;
        a{
          width:15px;
          height:17px;
          span{
            font-size:0;line-height:33em;
            overflow:hidden;
            width:15px;height:17px;
            display:block;
            background:url(/images/icons/info-explore.png) no-repeat -11px -9px;
          }
          &:hover span{
            background:url(/images/icons/info-explore.png) no-repeat -11px -49px;
          }
        }
      }
    }
  }
}

.page-tu-mindmap-user-info-bar{
  @include mindmaps-bar;
}


.searched-mindmaps{
  background:white;
  padding:10px;
  @include border-radius(8px);
  h2.main-title{
    margin:0 0 20px 0;
  }
  .search-result{
    margin-bottom:20px;
    overflow:hidden;
    .meta{
      padding:5px;
      @include border-radius(5px);
      overflow:hidden;
      .avatar{
        float:left;
        margin-right:10px;
        img{width:32px;height:32px;}
      }
      .c{
        float:left;width:550px;
        .title{
          font-size:14px;
          margin-bottom:5px;
        }
        .loud{color:#FBB300 !important;}
      }
    }
    .score,.time{
      @include border-radius(5px);
      float:left;
      margin:2px 0 0 45px;
      padding:0 4px;
      line-height:14px;
    }
    .time{
      margin-left:5px;
    }
  }
}

/*思维导图，侧边微博栏*/
.page-tu-weibo{
  @include sidepart;
  .data{
    overflow:hidden;
    margin:0 0 10px 0;
    .avatar{float:left;}
    .title,.name{margin-left:40px;line-height:16px;}
  }
  .ops{height:24px;overflow:hidden;}
}


@mixin new_mindmap_form{
  @include new_object_form;
  .field.title{
    input.text{width:678px;}
  }
  .field.description{
    textarea.text{width:678px;height:80px;}
  }
  .field.private{
    span{
      &.disabled{color:#777;}
    }
  }
}

/*新建思维导图表单*/
.page-new-mindmap-form{
  padding:10px;
  @include new_mindmap_form;
}
/*导入思维导图表单*/
.page-upload-mindmap{
  padding:10px;
  @include new_mindmap_form;
  .page-upload-mindmap-result{
    background:#FFF9DC;
    border:solid 1px #EFEACE;
    @include border-radius(5px);
    margin:0 0 10px 0;
    padding:10px;
    overflow:hidden;
    position:relative;
    .thumb{
      float:left;
      width:120px;
      height:120px;
    }
    .data{
      margin-left:140px;
      h3{
        font-size:14px;font-weight:bold;
        margin:0 0 10px 0;
      }
      .type,.filename,.nodes-count{
        overflow:hidden;
        font-size:14px;
        .l{float:left;width:100px;}
        .t{float:left;font-weight:bold;}
      }
    }
    .close{
      width:16px;
      height:16px;
      background:url(/images/icons/cancel.png);
      position:absolute;
      top:10px;
      right:10px;
      cursor:pointer;
    }
  }
  
  #page-mindmap-upload-queue{
    .uploadifyQueueItem{
      background:#FFF9DC;
      border:solid 1px #EFEACE;
      @include border-radius(5px);
      margin:0 0 10px 0;
      padding:10px;
      width:auto;
      color:#666;
      .uploadifyProgress{
        @include border-radius(3px);
        background-color:#EFEACE;
        .uploadifyProgressBar{
          @include border-radius(3px);
          height:12px;
          background-color:#4C8EFF;
        }
      }
    }
  }
  .upload{
    overflow:hidden;
    background:#FFF9DC;
    border:solid 1px #EFEACE;
    @include border-radius(5px);
    padding:10px;
    margin-bottom:10px;
    .btn{
      float:left;
      width:93px;height:21px;
      overflow:hidden;
      margin-right:10px;
    }
    .desc{
      float:left;
      color:#666;
      height:21px;line-height:21px;
    }
  }
}

.page-mindmap-info-view{
  .page-user-mindmaps{
    .lside{display:none;}
  }
}

.map-meta{
  .coop{
    @include sbdb2010;
    .avatars{
      overflow:hidden;
      .avatar{
        float:left;
        width:26px;height:26px;
        margin:0 4px 4px 0;
      }
      .cooperator-config{
        @include border-radius(3px);
        width:28px;
        height:28px;
        float:left;
        cursor:pointer;
        .icon{
          background:url(/images/icons/all.png) no-repeat -75px -142px;
          width:24px;
          height:24px;
          position:relative;
          top:2px;
          left:2px;
        }
      }
    }
  }

  .export,.similar-maps{
    @include sbdb2010;
  }
}

.page-tu-mindpin-mside-user-info{
  overflow:hidden;
  .avatar{
    float:right;
    text-align:right;
  }
}

.page-tsina-app-tu{
  width:800px;
  margin:0 auto;
  padding-top:20px;
  .box{
    background:white;
    border:solid 1px #ddd;
    @include border-radius(5px);
    box-shadow:0 0 6px #eee;
    .loud1{color:#31A6D2;}
    .loud2{color:#444;}
    .logo{
      width:420px;height:75px;
      background:url(/images/tu-tsina-app-logo.png) no-repeat;
      margin-top:20px;
      margin-left:190px;
      margin-bottom:20px;
    }
    .title{
      font-size:16px;
      background:#eee;
      text-align:center;
      padding:10px;
      font-weight:bold;
      color:#333;
      background-color:#eee;
    }
    .desc{
      padding:30px 0;
      .p{
        margin-left:180px;
        font-size:16px;font-weight:bold;
        color:#777;
      }
    }
    .tsina-login-btn{
      width:239px;height:48px;
      background:url(/images/tsina_app_login.png) no-repeat;
      margin-top:40px;margin-bottom:20px;
      margin-left:280px;
      display:block;
    }
  }
  .box1{
    border:solid 1px #ddd;
    @include border-radius(5px);
    box-shadow:0 0 6px #eee;
    margin-bottom:20px;
    background:white;
    .head{
      overflow:hidden;
      padding:10px;
      .avatar{
        padding:3px;
        border:solid 1px #eee;
        float:left;
        margin-right:30px;
      }
      .logo-s{
        width:320px;height:57px;
        background:url(/images/tu-sina-app-logo-s.png) no-repeat;
        float:left;
      }
    }
    .title{
      font-size:16px;
      background:#eee;
      text-align:center;
      padding:10px;
      font-weight:bold;
      color:#333;
      background-color:#eee;
    }
    .new-form{
      padding:20px;
      .new_mindmap{
        overflow:hidden;
        .field{
          float:left;
          overflow:hidden;
          margin:0;
          label{
            font-size:14px;font-weight:bold;float:left;
            line-height:33px;height:33px;padding:0;
            margin-right:20px;
          }
          .mindmap-title{
            width:500px;margin-right:20px;
          }
          .create-submit{
            @include form-a-link-submit;
          }
        }
      }
    }
    .paginate{
      padding:10px;
    }
  }
  .mindmaps{
    width:840px;
    overflow:hidden;
    .mindmap{
      border:solid 1px #ddd;
      @include border-radius(5px);
      box-shadow:0 0 6px #eee;
      margin-bottom:20px;margin-right:20px;
      background:white;
      float:left;
      width:163px;
      padding:10px;
      position:relative;
      .t{
        font-weight:bold;
        margin-bottom:5px;
        a{
          color:#555;
        }
      }
      .del{
        position:absolute;
        top:2px;
        right:8px;
        color:red;
        @include tfont;
        font-weight:bold;
        font-size:18px;
      }
      .img{
        width:120px;height:120px;margin-bottom:5px;
      }
      .post-to{
        a.minibutton{
          float:left;
        }
        a.share{
          float:right;width:98px;height:22px;
          background:url(/images/post-to-tsina.png);
          overflow:hidden;line-height:22em;
          position:relative;top:1px;
        }
      }
    }
  }
}