/*协作编辑暂时关闭*/
.page-cooper-closed{
  border:solid 1px #ddd; background-color:#fafafa;
  @include border-radius(3px);
  padding:9px;
  margin-bottom:14px;
}

.page-similar-mindmaps{
  .title{margin-bottom:9px;font-weight:bold;padding:0 5px;}
  .not-found{color:#999;padding:0 5px;}
  .s-map{
    margin-bottom:9px;
    width:120px;
    border:solid 1px #ddd;
    background-color:#fafafa;
    padding:4px;@include border-radius(3px);
    .thumb{
      text-align:center;
      font-size:0;line-height:0;
    }
    .t{
      line-height:20px;height:20px;
      a{color:#555;&:hover{color:#555;}}
    }
  }
}

.page-feed-show-comments-tsina.daotu{
  margin-top:0;
  .c-top{
    margin-left:40px;
    margin-right:30px;
  }
  .comments{
    .cmain{margin-right:30px;}
  }
  .no-comment{
    margin-left:40px;
    padding:0 9px;
  }
}

.page-mindmap-user-page-side{
  .avatar{
    img{width:96px;height:96px;padding:0;border:solid 1px #eee;@include border-radius(4px);}
  }
}

.page-mindmap-user-page-top{
  padding:0 0 9px 0;margin-bottom:14px;
  border-bottom:double 3px #ccc;
  .name{
    a{
      font-size:14px;font-weight:bold;
      color:#555;&:hover{color:#555;}
    }
  }
}