.page-file-upload{
  position:relative;
  .upload-btn{
    @include button-darkred;
    width:100px;
    height:30px;line-height:30px;
  }
  .input-div{
    /*写在html里了*/
    input{
    }
  }
}

.page-photos{
  padding:10px;
  overflow:hidden;
  width:750px;
  .photo,.uploading-photo{
    border:solid 1px #EEEEEE;
    background-color:#fafafa;
    @include border-radius(2px);
    padding:3px;
    float:left;
    width:170px;
    height:170px;
    margin-right:7px;
    margin-bottom:7px;
    box-shadow:1px 1px 0px #ccc;
    img{
      width:170px;height:170px;
    }
  }
  .uploading-photo{
    position:relative;
    background-color:#f4f4f4;
    background-position:10px 10px;
    &.error{
      color:white;
      border-color:#B0281A;
      background-color:#DC4A38;
      .process{display:none;}
      .error-close{
        display:inline;
        margin-left:6px;
        color:white;
        &:hover{color:white;}
      }
    }
    .meta{
      @include tfont;
      margin:20px 6px 10px;
      overflow:hidden;
    }
    .process{
      position:absolute;
      width:164px;height:12px;
      @include border-radius(2px);
      background:#ddd;
      bottom:6px;
      left:6px;
      .p{
        height:12px;
        background:#666;
        @include border-radius(2px);
      }
    }
    .error-close{display:none;}
  }
}