%ul
  %li
    =tabs_link_to "基本信息","/account"
    =tabs_link_to "头像","/account/avatared"
    =tabs_link_to "邮件","/account/email"
    =tabs_link_to "联系人","/account/contacts"
    =tabs_link_to "导入联系人","/account/contacts/import"
    =tabs_link_to "团队","/account/organizations"
    =tabs_link_to "发邀请信","/account/invite"