%ul
  %li
    -if current_user.is_connect_account?
      =tabs_link_to "基本信息","/account"
      =tabs_link_to "修改头像","/account/avatared"
      =tabs_link_to "站内信设置","/account/message"
      =tabs_link_to "#{account_type_str(current_user)} 连接设置","/account/setting_email"
    -else
      =tabs_link_to "基本信息","/account"
      =tabs_link_to "修改头像","/account/avatared"
      =tabs_link_to "修改密码","/account/password"
      =tabs_link_to "邮箱激活","/account/email"
      =tabs_link_to "站内信设置","/account/message"




