.grid_15.alpha
  = flash_info
  - mindpin_form_for current_user,:url=>"/account",:html=>{:method=>:put} do |f|
    = f.text_field(:name)
    .field
      加入时间 #{created_at current_user}
    = f.submit t('page.account.base.from_submit')
