-content_for :title do
  关联新浪微博账号

-content_for :javascripts do
  = javascript_include_tag "views/account/binded_tsina"

.mside.grid_5
  =render :partial=>'account/parts/account_links'

.main.grid_19.ll
  .paddingl20
    .main-title
      关联新浪微博账号，分享更方便~

    =flash_info
    -if !(current_user.tsina_connect_user)
      .bind-intro.tsina
        .imgs
          .tsina-img
          .tsina-openwin-img

        .p.font14.marginb3em 按下面的绿色按钮，在授权界面上选择“授权”，完成绑定。

      .bind-3rd-site-btn.button
        =link_to "关联新浪微博账号","javascript:pie.open_win('/bind_other_site/tsina');"


    -else
      -# 已经关联后显示
      =render 'account/bind_parts/tsina'
