-require_css 'views/account'

=flash_info
.email_setting
  .mail= current_user.email
  .margint10
    -if current_user.activated?
      .email_activated.darkbg 您的注册邮箱已激活
    -else
      %span.marginr10 邮箱未激活
      =minibutton '发送激活邮件',send_activation_mail_path
