.grid_11.alpha
  =flash_info

  .mail_preview
    .title 邀请信预览：
    .data{:style=>'border:solid 1px #111; padding:10px 10px 30px 10px; margin-bottom:20px; margin-top:10px; background:#323546; color:white;'}
      =preview_email('invite')

  -form_tag invitations_path,:method=>:post do
    = text_field_tag 'invitation[contact_email]',"",:size=>25,:maxlength=>255,:class=>'marginr5 inline text'
    = submit_tag "发送邀请",:class=>'inline-button'

