%div 输入你要绑定的 Mindpin 账号的邮箱和密码
=flash_info
-form_tag("/account/do_link") do
  .field
    %label=t('activerecord.attributes.user.email')
    =text_field_tag :email,params[:email],:class=>'text'
  .field
    %label=t('activerecord.attributes.user.password')
    =password_field_tag :password,params[:password],:class=>'text'
  =submit_tag "绑定",:class=>"button submit"