-require_css 'views/account'

=flash_info

-form_tag '/account/do_message', :method => :put, :class=>'message-setting' do
  .field
    = radio_button_tag 'set', Preference::ALL_USERS,@is_all_users
    %span.dc 接收所有人发来的站内信
  .field
    = radio_button_tag 'set', Preference::ONLY_CONTACTS,@is_only_contacts
    %span.dc 只接收联系人发来的站内信
  .field
    = submit_tag '保存更改',:class=>'submit'
