=flash_info
-form_tag '/account/do_password', :method => :put do
  .field
    %label 旧密码
    = password_field_tag :old_password,'',:class=>'text'
  .field
    %label 新密码
    = password_field_tag :new_password,'',:class=>'text'
  .field
    %label 确认新密码
    = password_field_tag :new_password_confirmation,'',:class=>'text'
  .field
    = submit_tag '保存更改',:class=>'submit'