-content_for :title do
  密码设置

-require_css 'views/users'

.grid_14.alpha
  .grid-title
    设置登录密码

  .padding5.darkbg.rc5.boxs2
    =flash_info
    -form_tag '/account/do_password', :method => :put do
      .field
        %label 旧密码
        = password_field_tag :old_password,'',:class=>'text'
      .field
        %label 新密码
        = password_field_tag :new_password,'',:class=>'text'
      .field
        %label 确认新密码
        = password_field_tag :new_password_confirmation,'',:class=>'text'
      .field.marginb3em
        = submit_tag '保存更改',:class=>'submit'

.grid_4.omega.fright
  =render :partial=>'account/parts/account_links'