-require_css 'views/usage',true

-content_for :title do
  选择主要用途

-content_for :javascripts do
  :javascript
    pie.load(function(){
      jQuery('.page-usage-select .feeds .choose, .page-usage-select .feeds .icon').live('click',function(){
        jQuery('.page-usage-select .feeds').addClass('checked');
        jQuery('.page-usage-select .mindmaps').removeClass('checked');
        jQuery('.usage-ipt').val('FEED');
      });

      jQuery('.page-usage-select .mindmaps .choose, .page-usage-select .mindmaps .icon').live('click',function(){
        jQuery('.page-usage-select .feeds').removeClass('checked');
        jQuery('.page-usage-select .mindmaps').addClass('checked');
        jQuery('.usage-ipt').val('MINDMAP');
      });

      jQuery('.page-usage-select .feeds .ok a, .page-usage-select .mindmaps .ok a').live('click',function(){
        jQuery('form').submit();
      })
    })

.grid-title
  欢迎访问MindPin，请花几秒钟完成下面的设置操作：

.hrr

.padding5.font14
  %p
    MindPin目前提供两个<b>不同的</b>服务，请选择一项。<b class='loud'>之后，网站界面将根据你的选择呈现</b>。<br/>
    %span.font12 （你随时可以在用户设置里修改主要用途）
  %p.bold
    如果你看不到下面的图片，网页是乱的，或者无法继续操作，请
    =minibutton '按此刷新页面','javascript:location.reload();'
    

  .page-usage-select
    .grid_11
      .feeds
        -if RAILS_ENV=='development' || current_user.is_admin?
          .user-count{:style=>'display:none;'}=Preference.feed_users_count
        .icon
        .desc
          2010年底公开测试的知识型社区服务。<br/>
          帮助人们进行发散性和专业性较强的主题的在线讨论。<br/>
          以及有价值内容的整理和分享。
        .check
        .clearfix
          .choose=minibutton '使用主题协作','javascript:;'
          .ok{:style=>'display:none;',:tipr=>'确认你的选择'}=minibutton '确定','javascript:;',:class=>'blue'
    
    .grid_11
      .mindmaps
        -if RAILS_ENV=='development' || current_user.is_admin?
          .user-count{:style=>'display:none;'}=Preference.mindmap_users_count
        .icon
        .desc
          简单快捷的，许多人正在使用的思维导图绘制工具。<br/>
          帮助你轻松绘制思维导图。支持导入导出。<br/>
          无需安装，即开即用。<br/>
        .check
        .clearfix
          .choose=minibutton '使用思维导图','javascript:;'
          .ok{:style=>'display:none;',:tipr=>'确认你的选择'}=minibutton '确定','javascript:;',:class=>'blue'

  %p
    无论你是使用主题协作社区的新用户，还是使用思维导图工具的老用户，都可以保持专注，不受干扰~<br/>

  -# put /account/set_usage  params[:usage]
  -form_tag '/account/set_usage' do
    %input{:class=>'usage-ipt',:type=>'hidden',:value=>'FEED',:name=>'usage'}