.page-web-weibo-toolbar
  %a{:href=>'/weibo'} 微博首页
  %a{:href=>"/weibo/users/#{weibo_user_id}"} 我的微博
  %a{:href=>'/weibo/atmes'} @我的
  %a{:href=>'/weibo/comments/byme'} 对我的评论
  %a{:href=>'/weibo/comments/tome'} 我发的评论
  %a{:href=>"/weibo/contacts/#{weibo_user_id}/friends"} 我的关注
  %a{:href=>"/weibo/contacts/#{weibo_user_id}/followers"} 我的粉丝
  %a{:href=>"/weibo/cart"} 我的收集