-# 传入 weibo_user_id
:ruby
  tp_asset = weibo_user_id.to_i % 4 + 1
  user_avatar_url = "http://tp#{tp_asset}.sinaimg.cn/#{weibo_user_id}/50/1"

.page-web-weibo-toolbar
  %a.home-tl{:href=>'/weibo', :title=>'微博首页'} <img src="#{user_avatar_url}"/>

  -# %a.ti.atmes{:href=>'/weibo/atmes', :title=>'@我的'} <div class='icon'></div>
  -# %a.ti.comment{:href=>'/weibo/comments/tome', :title=>'评论'} <div class='icon'></div>
  -# %a.ti.friends{:href=>"/weibo/contacts/#{weibo_user_id}/friends", :title=>'人际关系'} <div class='icon'></div>

  %a.ti.refresh{:href=>'javascript:window.location.reload();', :title=>'刷新'} <div class='icon'></div>
  %a.ti.cart{:href=>'javascript:;', :title=>'微博收集'} <div class='icon'></div><div class='count'>1</div>