-statuses.each do |status|
  :ruby
    mid = status.id

    user = status.user
    user_name = user.name
    user_avatar_url = user.profile_image_url

    reposted_status = status.retweeted_status

    with_repost = !reposted_status.blank?

    photo_url = status.bmiddle_pic
    photo_url = photo_url || reposted_status.bmiddle_pic if with_repost

    with_photo = !photo_url.blank?

    detail        = h(status.text)
    repost_detail = h(reposted_status.text) if with_repost

    klass = [
      with_repost    ? 'with-repost' : '' ,
      with_photo     ? 'with-photo' : ''
    ]*' '

    has_cart = WeiboCart.has_cart?(current_user, mid)
    cart_class = has_cart ? 'added' : ''

  .status.gi{:'data-mid'=>mid, :class=>klass}
    .box
      .avatar{:'data-src'=>user_avatar_url}

      .detail
        .text.wordwarp=detail

      -if with_repost
        .repost
          .text.wordwarp=repost_detail

      -if with_photo
        .photo{:'data-src'=>photo_url}

      .ops
        -# 顺序不能乱，否则遇到名字长的就会把按钮挤走
        .cart{:class=>cart_class}
          %a.minibutton.green.add{:href=>'javascript:;'} 收集
          %span.done.quiet 已收集

        .name=user_name
