- require_css 'views/users',true

.grid_14.alpha
  =flash_info

  .font14.padding5
    %p
      MindPin
      %span.loud> 支持多种登录方式。
    %p
      如果您有下方列出的网站的账号；
      <br/>
      或者您的 MindPin 账号已经
      %span.loud> 绑定了相应账号，
    %p
      您可以点击下方相应的链接，直接
      %span.loud> 一键登录。

    .hrr
    .no-auth.marginb10
      .site-connect
        .connects
          =link_to "连接新浪微博","javascript:pie.open_win('#{connect_tsina_path}');",:class=>'tsina',:tipr=>'使用新浪微博账号登录'
          =link_to "连接人人网","javascript:pie.open_win('#{connect_renren_path}');",:class=>'renren',:tipr=>'使用人人网账号登录'

    %p
      我们会逐步支持更多的平台账号！

.grid_8.omega.fright
  .grid-title
    欢迎访问，请在此登录
    %span.font12.normal 或 #{link_to '注册',signup_path}
  .no-auth
    .login
      =render 'auth/parts/login_form'