-require_css 'views/users',true

-content_for :title do
  欢迎访问

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

.grid_18.alpha
  =render 'auth/no_auth/no_auth_head'

  .grid-title
    大家最近的主题
  .newsfeed
    =render 'feeds/lists/feeds',:feeds=>@feeds
  .paginate.padding5
    = will_paginate @feeds

.grid_5.omega.fright
  =show_sub_menu

  .no-auth
    .grid-title-s 看看他们的主页吧
    .hot-user-pages
      -page_hot_users.each do |u|
        %a.avatar{:href=>"/users/#{u.id}",:tip=>u.name}
          =avatar u,:mini

    .hrr
    .view-old-site
      %p 过去的一段时间里，MindPin作为思维导图工具网站，获得了广大朋友的支持和关心。
      %p 现在我们正在向社区化的方向转型。原有的工具也将继续改进，尽快和新的交互模式整合。
      %p=link_to '&gt;&gt; 继续访问思维导图工具','/mindmaps'