.to.btb{:'data-id'=>t.id}
  .clearfix
    .action
      .move-up
      .move-down
    .item-count
      =t.todo_items.count
    .status.shadow{:class=>t.execute_status_of(current_user)}
      .stext=t.execute_status_name_of(current_user)
    .avatar
      =avatar t.creator,:tiny
    .meta
      .tot
        %span.name=link_to t.creator.name,pin_url_for('pin-user-auth',"/users/#{t.creator.id}")
        %span.loud 说
        -if t.feed
          %span.content “#{t.feed.content}”
        -else
          .quiet 主题已删除
      .time
        =jtime t.created_at

  -if !t.todo_items.blank?
    .items.darkbg
      -t.todo_items.each do |ti|
        .item.btb
          =ti.content
  .executers-status
    -t.executers.each do |te|
      .exe
        .name
          =te.name
        .s{:class=>t.execute_status_of(te)}
          =t.execute_status_name_of(te)
  .memo.darkbg
    .ms
      -t.executers.each do |te|
        -if t.memo_by?(te)
          .m
            %span.name=link_to te.name,pin_url_for('pin-user-auth',"/users/#{te.id}")
            %span.loud 备注
            -if te == current_user
              =link_to '修改','javascript:;',:class=>'edit-memo'
            .c=ct t.memo_content_by(te)

    .memo-inputer{:style=>t.memo_by?(current_user) ? 'display:none;':''}
      %textarea.ipt
      .s
        =minibutton '确定','javascript:;',:class=>'memo-submit'