@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin border-radius-side($side1,$side2,$radius) {
  border-#{$side1}-#{$side2}-radius: $radius;
  -moz-border-radius-#{$side1}#{$side2}: $radius;
  -webkit-border-#{$side1}-#{$side2}-radius: $radius;
}

@mixin box-shadow($params){
  box-shadow:$params;
  -moz-box-shadow:$params;
  -webkit-box-shadow:$params;
}

@mixin gradient($from,$to){
  background:-moz-linear-gradient(-90deg,$from,$to);
  background:-webkit-gradient(linear,0% 0,0% 100%,from($from),to($to));
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{$from}',endColorstr='#{$to}');
}

@mixin pie-pad($from,$to,$radius=4px){
  @include gradient($from,$to);
  @include border-radius($radius);
  @include box-shadow(0 1px 4px rgba(0,0,0,0.3));
}

@mixin editable-form{
  form{
    position:absolute;
    width:172px;
    @include border-radius(4px);
    background:#E0EBAF;
    border:solid 2px #323546;
    padding:2px;
    input{
      background:#F7FCFF;
      border:none;
      padding:0 2px;
      @include border-radius(3px);
      border:solid 1px #111;
    }
    button{
      @include border-radius(3px);
      border:none 0px;
      margin:2px 5px 0 0;
      border:solid 1px #666;
      &.editable-submit{
        color:white;
        background:#0063DC;
        &:hover{
          background:#0054BD;
        }
      }
      &.editable-cancel{
        color:#666666;
        background:#ddd;
        &:hover{
          background:#CFCFCF;
        }
      }
    }
  }
}

@mixin submitbtns{
  overflow:hidden;
  button,a.button{
    @include border-radius(3px);
    border:none 0px;
    margin:4px 5px 0 0;
    padding:2px 7px;
    float:left;
    text-decoration:none;
    &.editable-submit{
      cursor:pointer;
      color:white;
      background:#0063DC;
      &:hover{
        background:#0054BD;
      }
    }
    &.editable-cancel{
      cursor:pointer;
      color:#616D7D;
      background:#C4DFFF;
      &:hover{
        background:#B4CFFF;
      }
    }
    &.mousedown{
      position:relative;
      top:1px;
      left:1px;
    }
  }
}

@mixin allicon($x,$y){
  background:url(/images/icons/all.png) no-repeat $x $y;
}

@mixin footmisc{
  overflow:hidden;
  .time{
    display:inline;
  }
  .tags{
    @include tags;
  }
  .ops{
    overflow:hidden;
    display:inline;
    .fav{
      &.off{.t2{display:none;}}
      &.on{.t1{display:none;}}
    }
  }
  .last-edited-user{
    float:right;
    width:200px;
    padding:5px;
    margin:0 10px 0 0;
    overflow:hidden;
    @include border-radius(4px);
    .avatar{float:left;}
    .name{margin-left:46px;}
    &.feed-editor{
      background:#F0F9FE;
    }

    .time{margin:0 0 6px 0;display:block;}
  }
  .creator{
    float:right;
    width:200px;
    padding:5px;
    overflow:hidden;
    .avatar{float:left;}
    .name{margin-left:46px;}
    &.feed-creator{
      background:#FFFADA;
    }
    .time{margin:0 0 6px 0;display:block;}
  }
  .creator-in-list{
    border:solid 2px #F1F1F1;
    @include border-radius(5px);
    background-color:white;
    position:absolute;
    right:20px;

    .avatar{
      float:left;
    }
    .name{
      margin-left:55px;
      .bold{font-weight:normal;}
    }
    .rep{
      margin-left:55px;
      overflow:hidden;
      .score{
        @include tfont;
        font-weight:bold;
        font-size:18px;
        float:left;
        margin:0 5px 0 0;
        color:#666;
      }
      .t{
        float:left;
        position:relative;
        top:6px;
      }
    }
  }
}

@mixin tfont{
  font-family:"Segoe UI","Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans serif;
}

@mixin word-break{
  word-wrap:break-word;
  word-break:break-all;
}

@mixin tags{
  overflow:hidden;
  float:left;
  .tag{
    float:left;
    @include allicon(0,-209px);
    line-height:19px;
    padding:0 0 0 13px;
    margin:0 6px 0 0;

    color:#5D7A9C;
    &:hover{
      text-decoration:none !important;
      color:#222;
    }

    img.mini{
      padding:0;
      border:none;
      position:relative;
      top:1px;
      width:16px;height:16px;
      float:left;
      margin:0 0 0 3px;
      @include border-radius(3px);
    }
    span.tag-name{
      padding:0 4px;
      line-height:19px;
    }
    span.namespace{
      float:left;
      background:#5D7A9C;
      color:#E2EDFA;
      @include border-radius(3px);
      padding:0 4px;
      line-height:16px;
      position:relative;top:1px;
    }
  }
}

@mixin tag-and-count{
  .tag-and-count{
    @include tags;
    float:none;
    display:block;
    margin:0 0 6px 0;
    .count{
      line-height:19px;
      font-weight:bold;
      font-size:14px;
      color:#888888;
    }
  }
}

@mixin followbtn{
  float:left;
  padding:5px 10px;
  @include border-radius(4px);
  @include btn-color(#B3D34C,#97BC3D,#97AF4D,#fff,#9BC238,#8BAD37);
  font-weight:bold;
  cursor:pointer;
  font-size:14px;
}

@mixin unfollowbtn{
  float:left;
  padding:5px 10px;
  @include border-radius(4px);
  @include btn-color(#dddddd,#dddddd,#dddddd,#666,#dddddd,#dddddd);
  font-weight:bold;
  cursor:pointer;
  font-size:14px;
  text-shadow:0 0 #f0f0f0;
}