form.login-form input.text {
  width: 304px; }
form.login-form .form_actions {
  width: 318px; }

.dialog, .pad {
  border: 1px solid #242438;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 0 10px #09070e;
  -moz-box-shadow: 0 0 10px #09070e;
  -webkit-box-shadow: 0 0 10px #09070e;
  padding: 15px;
  margin-bottom: 10px; }
  .dialog h3, .pad h3 {
    margin-bottom: 15px; }
  .dialog input.text, .dialog textarea, .pad input.text, .pad textarea {
    border: 0px;
    background-color: #C3CDF0; }
  .dialog .active input.text, .dialog .active textarea, .pad .active input.text, .pad .active textarea {
    background-color: #CCEEFF !important; }
  .dialog form .fielderror, .pad form .fielderror {
    display: none; }
  .dialog form .fieldWithErrors .text, .dialog form .fieldWithErrors textarea, .pad form .fieldWithErrors .text, .pad form .fieldWithErrors textarea {
    background-color: #F39D77; }

.dialog {
  background: url(/images/index/dialog-login-background.png) repeat-x; }

.pad {
  background: url(/images/index/dialog-message-background.png) repeat-x; }

.dialog span.to_reg {
  font-size: 12px;
  font-weight: normal; }

.dialog.index span.to_reg {
  display: none; }

.pad.quiet .mark, .pad.quiet .chm, .pad.quiet .txt, .pad.quiet .i {
  color: #666 !important; }

.signup-button {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  background: -moz-linear-gradient(-90deg, #50b7d1, #286da3);
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#50b7d1), to(#286da3));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#50b7d1',endColorstr='#286da3');
  border: 1px solid #51A0B3;
  color: #BED7E1 !important;
  display: inline-block;
  padding: 10px 30px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
  text-align: center !important; }
  .signup-button:hover {
    background: -moz-linear-gradient(-90deg, #66c7e5, #328fc9);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#66c7e5), to(#328fc9));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66c7e5',endColorstr='#328fc9');
    text-decoration: none !important; }
  .signup-button .strong {
    color: #fff !important;
    font-weight: bold;
    font-size: 16px; }

.signup-tips {
  line-height: 24px;
  margin-left: 15px;
  font-size: 14px; }

ul.index-bugs a {
  color: #666; }
  ul.index-bugs a:hover {
    color: #7F95FF;
    text-decoration: none; }
ul.index-bugs li div.bug-div {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #191C2A;
  padding: 5px;
  margin-bottom: 5px; }
  ul.index-bugs li div.bug-div .ct {
    line-height: 24px;
    float: left;
    margin-left: 10px;
    width: 260px; }
  ul.index-bugs li div.bug-div .tiny {
    float: left;
    border: 1px solid #C8C8C8;
    height: 20px;
    width: 20px; }
