/*2011年第一套配色*/
/*薄花樱*/
/*杜若*/
/*勿忘草*/
/*青蓝*/
.page-head {
  background-color: #5a79ba;
  color: white; }
  .page-head a {
    color: white;
    text-shadow: 1px 1px #555; }
    .page-head a:hover {
      color: white; }
  .page-head .userbox {
    box-shadow: 0 0 5px #040307;
    -moz-box-shadow: 0 0 5px #040307;
    -webkit-box-shadow: 0 0 5px #040307;
    background-color: #4c6db4;
    border: solid 2px #3e62ae; }
  .page-head .line {
    background-color: #999; }

body {
  background-color: #89c3eb;
  color: #dddddd; }

.page-content .cell {
  border: 2px solid #343448;
  background-color: #353747; }

.page-footer {
  background-color: #284a78; }

.loud {
  color: #FBEB96 !important; }

.loud1 {
  color: white; }

.quiet {
  color: #B5B5B5; }

.date {
  color: #c5c5c5; }

a {
  color: #8EaEFF; }
  a:hover {
    color: #9EbEFF; }
  a.loud {
    color: #FBEB96; }
    a.loud:hover {
      text-decoration: none !important;
      color: #FBD300 !important; }

.quote_content {
  background: #F6F6F6;
  border: solid 1px #E5E5E5; }

.darkbg {
  background-color: #282a38; }

.darkbg .btb {
  border-bottom: dashed 1px #424556; }

.lightbg .btb {
  border-bottom: dashed 1px #525566; }

.current .darkbg, .darkbg1 {
  background-color: #181a28; }

.csshov:hover, .darkbg.csshov:hover, .darkbg1.csshov:hover {
  background-color: #424556; }

.btb {
  border-bottom: dashed 1px #525566; }

.lightbg {
  background-color: #424556; }

.concave {
  border-bottom: solid 1px #464660;
  border-right: solid 1px #464660;
  border-top: solid 1px #000;
  border-left: solid 1px #000; }

.convex {
  border-left: solid 1px #464660;
  border-top: solid 1px #464660;
  border-bottom: solid 1px #000;
  border-right: solid 1px #000; }

.boxs2 {
  box-shadow: 0 0 2px black;
  -moz-box-shadow: 0 0 2px black;
  -webkit-box-shadow: 0 0 2px black; }
  .boxs2.lightbg {
    box-shadow: 0 0 2px #222222;
    -moz-box-shadow: 0 0 2px #222222;
    -webkit-box-shadow: 0 0 2px #222222; }
