.module-links.feeds
  .link.home.btb
    .icon
    =tabs_link_to '我的首页',pin_url_for('pin-user-auth','/')
  .link.favs.btb
    .icon
    =tabs_link_to '关注的主题',pin_url_for('pin-user-auth','/favs')
  .link.memoed-todos.btb
    .icon
    =tabs_link_to '参与的主题',pin_url_for('pin-user-auth','/feeds/memoed')
  .link.be-asked-todos.btb
    .icon
    =tabs_link_to '被邀请的主题',pin_url_for('pin-user-auth','/feeds/be_invited')
  .link.be-hidden-todos
    .icon
    =tabs_link_to '被隐藏的主题',pin_url_for('pin-user-auth','/feeds/mine_hidden')

.module-links.feeds
  .link.recent-userlogs.btb
    .icon
    =tabs_link_to '这里正在进行…',pin_url_for('pin-user-auth','/feeds/userlogs')
  .link.recent-hot-feeds
    .icon
    =tabs_link_to '大家最近的主题',pin_url_for('pin-user-auth','/feeds/all')

.module-links{:style=>'display:none;'}
  .link.received_comments.btb
    .icon
    =tabs_link_to '收到的评论',pin_url_for('pin-user-auth','/received_comments')
  .link.quoted-me-feeds.btb
    .icon
    =tabs_link_to '大家传播我的',pin_url_for('pin-user-auth','/quoted_me_feeds')