.feed-links.lightbg
  .home.btb
    .icon
    =link_to '我的首页',pin_url_for('pin-user-auth','/')
  .favs.btb
    .icon
    =link_to '我的标记',pin_url_for('pin-user-auth','/favs')
  .received_comments.btb
    .icon
    =link_to '收到的回应',pin_url_for('pin-user-auth','/received_comments')
  .quoted-me-feeds
    .icon
    =link_to '大家传阅我的',pin_url_for('pin-user-auth','/quoted_me_feeds')