-# 新手欢迎模板

.index-newbie-welcome
  %p
    <b>欢迎来到Mindpin主题协作社区！</b>
    你可以<a href='feeds/new' class='bold'>创建一个新主题</a>，也可以看看下面这些主题：
  .feeds-for-newbie
    -feeds_for_newbie.each do |f|
      .feed.btb
        -vcount = f.viewpoints.count
        .vcount=vcount
        .t>
          =usersign f.creator,false
          %span.quiet> ：
          =link_to feed_content_short(f,32),f

  %p 或者去看看这些朋友的主页：
  .users
    -hot_users_for_newbie.each do |u|
      %a.avatar{:href=>"/users/#{u.id}",:tip=>u.name}
        =avatar u,:tiny
  .p 祝你好运~