-if current_user_show_new_feature_tips?
  -feed = current_user.unread_new_featrue
  -count = current_user.unread_new_feature_tips_count

  .index-page-new-feature-tip
    .tip
      
      %a.title{:href=>"/feeds/#{feed.id}"}="功能更新：#{feed_content(feed)}"
      .desc=feed_detail_short(feed)

    .link
      %a.close{:href=>'javascript:;'} <span>×</span> 隐藏功能更新通知
      %a.show-more{:href=>'/tags/系统:功能更新'} 查看全部 <span class='count'>#{count}</span> 条功能更新