.scount
  .num
    =link_to count,url,:class=>'reverse'
  .text.bold
    =link_to text,url,:class=>'reverse'
  .meta
    .icons
      -arr.each do |u|
        -link_to "/users/#{u.id}",:tip=>"#{u.name}" do
          =avatar(u,:mini)
    .more
      =link_to '查看全部',url