.base.darkbg
  .avatar
    -link_to user do
      =avatar(user,'medium')
  .name
    =link_to user.name,user

-if logged_in? && current_user == user && user.logo_file_name.blank?
  .base-no-avatar
    .desc
      %span.tan> !!
      你还没有头像
    .upload=link_to '上传一个吧','/account/avatared'