.index-user-info
  =render :partial=>'index/index_parts/user_info_avatar',:locals=>{:user=>user}

  .margint30
    =render :partial=>'index/index_parts/user_info_friends',:locals=>{:user=>user}

  .margint30
    =render :partial=>'index/index_parts/user_info_channel',:locals=>{:user=>user}
