-htitle '思维导图'

.page-apps-tu
  .box
    .logo
    .title beta
    .desc
      .p tu.mindpin 是一个<span class='loud1'>简单方便的</span>在线思维导图工具。
      .p 思维导图，让你用一种<span class='loud2'>简洁明快的</span>方式记录和表达思想。
      .hrr
      .p 你可以使用它来<span class='loud3'>做读书笔记，帮助学习和提高思考效率</span>。
      .p 你也可以使用它来<span class='loud3'>讨论问题，给他人演示，和进行头脑风暴</span>。
    .title HTML5 在线编辑器
    %a.tsina-login-btn{:href=>'/apps/tsina/tu/connect'}