%head
  %meta{:charset=>"utf-8"}
  %meta{:"http-equiv"=>"X-UA-Compatible",:content=>"chrome=1"}
  %meta{:"http-equiv"=>"X-UA-Compatible",:content=>"IE=EmulateIE7"}
  %meta{:name=>"description",:content=>"tu.mindpin是一个简单好用的在线思维导图工具，让你用一种新的有趣方式记录和表达思想。你可以使用它来做笔记，帮助学习和思考，讨论问题，以及进行演示。"}
  %meta{:name=>"keywords",:content=>"tu.mindpin,mindpin,思维导图,导图,心智图,脑图,社区,头脑风暴"}
  %meta{:name=>"viewport",:content=>"width=device-width,initial-scale=1"}

  -tstring = (yield :title) || ''
  -if tstring.blank?
    %title="tu.mindpin 思维导图 - 改变记录思想的方式"
  -else
    %title=["#{tstring.gsub("\n",'')}", "tu.mindpin 思维导图 - 改变记录思想的方式"]*' - '

  = require_ui_css
  /[if !IE 7]
    :css
      .page-wrap {display:table;height:100%}
  = yield :css
  = yield :head