%head
  %meta{"http-equiv"=>"content-type",:content=>"text/html;charset=UTF-8"}
  %meta{"http-equiv"=>"X-UA-Compatible",:content=>"chrome=1"}
  %meta{"http-equiv"=>"X-UA-Compatible",:content=>"IE=EmulateIE7"}
  %meta{:content=>"MindTu是一个简单好用的在线思维导图工具，你可以使用它来做笔记，帮助学习思考，讨论问题，和进行演示。",:name=>"description"}
  %meta{:content=>"MindTu,思维导图,导图,心智图,脑图,社区",:name=>"keywords"}

  -tstring = (yield :title) || ''
  -if tstring.blank?
    %title="MindTu在线思维导图"
  -else
    %title=["#{tstring.gsub("\n",'')}", "MindTu在线思维导图"]*' - '

  =render 'layouts/parts/css'