-mplist users,:for=>User,:li_class=>'darkbg',:class=>'contacts-list' do |user|
  .avatar
    =avatar user.email
  .meta
    .name
      =link_to user.name,user
    .fans_count
      #{user.fans.count}个读者
    .last_feed
      =user_last_feed(user)
    .c-channel{:style=>'display:none;'}
      - chs = current_user.channels_of_user(user)
      - names = chs.map{|c| c.name}*', '
      - ids = chs.map{|c| c.id}*','
      .c{:'data-user-id'=>user.id,:'data-channel-ids'=>ids,:'data-names'=>names}
        .cn
        .cim
  .action
    -if logged_in?
      -if current_user!=user && current_user == @user
        - followed = current_user.following?(user)
        .follow_btn{:class=>"btn_#{user.id}",:style=>(followed ? 'display:none;':'')}
          =minibutton '关注此人',"javascript:;","data-user-id"=>user.id
        .unfollow_btn{:class=>"btn_#{user.id}",:style=>(followed ? '':'display:none;')}
          =minibutton '取消关注',"javascript:;","data-user-id"=>user.id
      -if current_user.can_send_message_to?(user)
        .s-msg
          =minibutton '发站内信',pin_url_for('pin-user-auth',"messages/new?receiver_id=#{user.id}")

.channel-form{:style=>'display:none;'}
  .channels
    -current_user.channels.each do |c|
      .c{:'data-channel-id'=>c.id}
        .icon
        .name>=c.name
  .cr
    =link_to '创建频道','javascript:;'
  .cf{:style=>'display:none;'}
    %input.text.inline.ch-inputer
    %button.editable-submit 保存
    %button.editable-cancel 取消