.list-blank
  -case group_name
  -when 'inbox'
    你可以把想法先记在<b>未整理的任务</b>里，以后再来整理。<br/>
  -when 'now'
    <b>当前的</b>任务。尽快处理它们。<br/>
  -when 'next_step'
    <b>接下来的</b>任务。<br/>
  -when 'scheduled'
    <b>日程上的</b>任务。计划好在某一天开始处理。<br/>
  -when 'someday'
    <b>将来的</b>任务。不确定什么时候可以开始。<br/>

  这个列表里还没有任务，点击<b>新建</b>来创建任务。