.document-status
.document-title
  =link_to discussion_title(discussion),document_path(:id=>document.id)
.document-author-name
  =document.author.name
.document-created-at
  =qdatetime document.created_at
.document-versions
  =document.commits.length
.document-updated-at
  =qdatetime document.last_committed_at