- require_css 'views/discuss',true

.clearfix
  .fright.marginr5
    =minibutton_remote "新建讨论", :url => new_document_path, :method => :get

.documents-list-title-bar.clearfix
  .document-status
  .document-title
    主题
  .document-author-name
    作者
  .document-created-at
    创建于
  .document-versions
    版本
  .document-updated-at
    修改于

-mplist @document_and_discussions.keys, :for=>Document do |document|
  -discussion = @document_and_discussions[document]
  =render :partial => "/documents/info_document", :locals => {:document => document,:discussion=>discussion}
