.no-auth{
  .login{
    @include border-radius(4px);
    padding:5px;
    overflow:hidden;
    form.login-form{
      width:220px;
      input.text{
        font-weight:bold;
        font-family:arial;
      }
      .misc{
        overflow:hidden;
        .remember-me{
          float:left;
          margin:0 0 10px 0;
          line-height:22px;
        }
        .forget-password{
          float:left;
          margin:0 0 10px 80px;
          line-height:22px;
        }
      }
    }
  }

  .site-connect{
    padding:5px;
    .text{
      margin:0 0 10px 0;
    }
    .connects{
      a{
        font-size:0;
        line-height:0;
        text-indent:-9999px;
        width:126px;
        height:24px;
        display:block;
        margin:0 10px 10px 0;
        &.tsina{background:url(/images/connect_login/connect_all.png) no-repeat;}
        &.renren{background:url(/images/connect_login/connect_all.png) no-repeat 0 -25px;}
      }
    }
  }
}

.view-old-site{
  padding:5px;
  &.mindmap-desc{
    @include border-radius(5px);
    margin:0 0 10px 0;
    background:#F0FFF0;
    border:solid 1px #ACCBAC;
  }
}

.hot-user-pages{
  overflow:hidden;
  padding:5px;
  @include miniavatar;
}

.special-pages{
  padding:5px;
}

.no-auth-head{
  .intro_and_form{
    @include border-radius(8px);

    background:url(/images/icons/no-auth-head-bg.png);
    overflow:hidden;
    padding:10px;
    height:120px;
    overflow:hidden;
    margin:0 0 10px 0;
    border:solid 1px #EDEDED;
    .mindpin-intro{
      .misc{
        overflow:hidden;
        .go-to-signup{
          margin:15px 0 10px 0;
          float:left;
          padding-left:40px;
          .desc{
            font-size:14px;
            color:#666;
            margin:0 0 10px 0;
          }
          .signup-button {
            @include border-radius(5px);
            background:url(/images/icons/sign-btn-g-1.png) center 0 no-repeat #68B624;

            border:solid 1px #4A993E;

            display:block;
            float:left;

            span{
              display:block;
              padding:10px 20px;
              text-align:center !important;
              font-weight:bold;
              font-size:14px;

              color:white !important;
              text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.25);
              border-top:solid 1px #99DA65;
              border-left:solid 1px #99DA65;
              @include border-radius(4px);
            }

            &:hover{
              text-decoration:none;
            }
          }
        }
        .txt{
          margin:10px 0 10px 385px;
          position:relative;
          top:5px;
          .p{
            font-size:14px;
            margin:0 0 5px 0;
            line-height:24px;
            color:#666;
            .icon1,.icon2,.icon3,.icon4{width:24px;height:24px;float:left;margin-right:10px;}
            .icon1{@include allicon(-125px,-142px);}
            .icon2{@include allicon(-150px,-142px);}
            .icon3{@include allicon(-175px,-142px);}
            .icon4{@include allicon(-200px,-142px);}
          }
        }
      }
    }
  }
}