.no-auth{
  .login{
    @include border-radius(4px);
    padding:5px;
    overflow:hidden;
    form.login-form{
      width:220px;
      input.text{
        font-weight:bold;
        font-family:arial;
      }
      .misc{
        overflow:hidden;
        .remember-me{
          float:left;
          margin:0 0 10px 0;
          line-height:22px;
        }
        .forget-password{
          float:left;
          margin:0 0 10px 80px;
          line-height:22px;
        }
      }
    }
  }

  .site-connect{
    padding:5px;
    .text{
      margin:0 0 10px 0;
    }
    .connects{
      a{
        font-size:0;
        line-height:0;
        text-indent:-9999px;
        width:126px;
        height:24px;
        display:block;
        margin:0 10px 10px 0;
        &.tsina{background:url(/images/connect_login/connect_all.png) no-repeat;}
        &.renren{background:url(/images/connect_login/connect_all.png) no-repeat 0 -25px;}
      }
    }
  }
}

.view-old-site{
  padding:5px;
  &.mindmap-desc{
    @include border-radius(5px);
    margin:0 0 10px 0;
    background:#F0FFF0;
    border:solid 1px #ACCBAC;
  }
}

.hot-user-pages{
  overflow:hidden;
  padding:5px;
  @include miniavatar;
}

.special-pages{
  padding:5px;
}

.no-auth-head{
  position:relative;
  margin:-10px -10px 20px -10px;
  zoom:1;

  .intro_and_form{
    @include border-radius(8px);

    background:#F5F5F5;
    overflow:hidden;
    padding:10px;
    margin:0 0 10px 0;

    .mindpin-intro{
      padding:5px;
      border-right:solid 1px #F0F0F0;
      .misc{
        .go-to-signup{
          margin:15px 0 10px 0;
          float:left;
          .signup-button {
            @include border-radius(5px);
            @include bluebutton;
            

            display:block;
            padding:10px 0;
            margin:0 0 0 55px;
            width:180px;
            text-align:center !important;
            font-weight:bold;
            font-size:18px;
          }
          .icon{
            margin:0 0 20px 0;
            width:291px;
            height:24px;
            @include allicon(0px,-184px);
          }
        }
        .txt{
          margin:0 0 10px 345px;
          position:relative;
          top:5px;
          .p{
            font-size:14px;
            margin:0 0 10px 0;
            line-height:24px;
            .icon1,.icon2,.icon3,.icon4{width:24px;height:24px;float:left;margin-right:10px;}
            .icon1{@include allicon(-125px,-142px);}
            .icon2{@include allicon(-150px,-142px);}
            .icon3{@include allicon(-175px,-142px);}
            .icon4{@include allicon(-200px,-142px);}
          }
        }
      }
      .actions{
        overflow:hidden;
        margin:0 0 10px 0;
        .search{
          float:right;
          position:relative;
          top:6px;
        }
      }
    }

    .login{
      padding:5px;
      .title{
        font-weight:bold;
        margin:0 0 10px 40px;
      }
      .login-form{
        .field{
          overflow:hidden;
          padding:0 0 2px 0;
          margin:0 0 4px 0;
          label{
            display:inline;
            margin-right:10px;
            padding:0 0 0 6px;
            line-height:24px;
          }
          input.inline{width:200px !important;display:inline;}
        }
        .form-actions{
          .misc{
            margin-left:40px;
            .remember-me{
              margin:0 0 6px 0
            }
          }
          .misc1{
            margin-left:40px;
            overflow:hidden;
            .submit-btn{
              float:left;
              input{top:0px !important;}
            }
            .forget-password{
              margin-left:132px;
              position:relative;top:1px;
            }
          }
        }
      }
    }
  }

  .footmisc{
    overflow:hidden;
    line-height:16px;
    .see-oldsite-mindmap{
      float:right;
      padding:0 5px;
      .tan{
        float:left;
        color:white;
        font-weight:bold;
        background:#FB4A00;
        @include border-radius(3px);
        font-weight:bold;
        text-align:center;
        width:12px;height:12px;
        margin:0 3px 0 0;
        position:relative;top:2px;
        line-height:12px;
      }
      .link{
        float:left;
        margin-right:6px;
      }
      .icon{
        width:16px;height:16px;
        float:left;
        @include allicon(-34px,-167px);
      }
    }
    .site-connect{
      overflow:hidden;
      line-height:16px;
      float:right;
      span.connect{float:left;margin-right:6px;}
      a.tsina,a.renren{
        float:left;
        width:16px;height:16px;
        span{display:none;}
      }
      a.tsina{
        margin-right:6px;
        @include allicon(0px,-167px);
      }
      a.renren{
        @include allicon(-17px,-167px);
      }
    }
  }
}