@mixin reply-to-feed{
  margin-bottom:10px;
  overflow:hidden;
  .data{
    @include border-radius(0 4px 4px 0);
    padding:10px;
  }
  .arrow{
    width:15px;height:7px;
    @include allicon(-271px,-41px);
    margin:0 0 0 36px;
  }
}

@mixin quote-feed{
  margin-bottom:10px;
  overflow:hidden;
  .data{
    @include border-radius(0 4px 4px 0);
    padding:10px;
  }
  .arrow{
    width:15px;height:7px;
    @include allicon(-271px,-49px);
    margin:0 0 0 36px;
  }
}

@mixin footmisc{
  overflow:hidden;
  margin-bottom:10px;
  .time{
    display:inline;
  }
  .tags{
    overflow:hidden;
    float:left;
    .tag{
      float:left;
      background:#E0EAF1;
      padding:1px 4px;
      margin:0 4px 0 0;
      line-height:18px;
      @include border-radius(4px);
      &:hover{
        text-decoration:none !important;
        background:#3E6D8E;
        color:#e0eaf1;
      }
    }
  }
  .ops{
    overflow:hidden;
    display:inline;
    .fav{
      &.off{.t2{display:none;}}
      &.on{.t1{display:none;}}
    }
  }
  .last-edited-user{
    float:right;
    width:200px;
    padding:5px;
    margin:0 10px 0 0;
    overflow:hidden;
    @include border-radius(4px);
    .avatar{float:left;}
    .name{margin-left:46px;}
    &.feed-editor{
      background:#F0F9FE;
    }

    .time{margin:0 0 6px 0;display:block;}
  }
  .creator{
    float:right;
    width:200px;
    padding:5px;
    overflow:hidden;
    .avatar{float:left;}
    .name{margin-left:46px;}
    &.feed-creator{
      background:#FFFADA;
    }

    .time{margin:0 0 6px 0;display:block;}
  }
  .creator-in-list{
    float:right;
    .bold{font-weight:normal;}
  }
}

@mixin comments{
  @include border-radius(3px);
  margin-bottom:12px;
  clear:both;
  padding:5px;
  &.loading{
    background-image:url(/images/icons/progress-dots.gif);
    background-repeat:no-repeat;
    background-position:10px 4px;
    height:10px;
  }
  .feed-echo-form{
    .ipt{
      textarea{
        width:480px;
        height:32px;
        @include border-radius(3px);
      }
    }
    .send-to{
      margin:5px 0 5px 0;
      height:19px;
      line-height:19px;
      padding:0 0 1px 3px;
      width:180px;
      @include border-radius(4px);
      cursor:default;
      .icon{
        width:13px;
        height:13px;
        background:url(/images/icons/all.png) no-repeat -82px -100px;
        float:left;
        margin-right:5px;
        position:relative;
        top:3px;
      }
      .name{
        float:left;
      }
      &.checked{
        .icon{
          background:url(/images/icons/all.png) no-repeat -68px -100px;
        }
      }
    }
    .btns{
      overflow:hidden;
      @include submitbtns;
    }
  }
  ul.comments-list{
    margin-top:20px;
    li.comment{
      overflow:hidden;
      padding:5px;
      .avatar{
        float:left;
        margin-right:10px;
        img{width:16px;height:16px;}
      }
      .content{
      }
    }
  }
}

/*feeds*/
.newsfeed{
  ul.feeds li.mpli.feed{
    position:relative;
    overflow:visible;
    .f{
      padding:5px;
      margin-bottom:10px;
      overflow:hidden;

      .reply-to-feed{
        @include reply-to-feed;
        margin-left:40px;
      }

      .quote-feed{
        @include quote-feed;
        margin-left:40px;
      }

      .footmisc{
        @include footmisc;
      }

      .current-feed{
        overflow:hidden;
        margin:0 0 10px 0;
        .avatar{
          float:right;
          img{@include border-radius(2px);}
        }
        .c{
          .data{
            .c-name{font-size:12px;margin:0 0 6px 0;}
            .ct{
              font-size:14px;font-weight:bold;
              font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
            }
          }
        }
      }
      .viewpoint{
        margin:0 0 10px 40px;
        overflow:hidden;
        .my-viewpoint,.hot-viewpoint{
          @include viewpoint-in-list;
        }
      }

      .comments{
        @include comments;
        margin-left:40px;
      }

      .add-viewpoint-form{
        @include border-radius(4px);
        padding:5px;
        margin-left:40px;
        &.loading{
          background-image:url(/images/icons/progress-dots.gif);
          background-repeat:no-repeat;
          background-position:10px 4px;
          height:10px;
        }
        .title{
          margin:0 0 6px 0;
        }
        .ipt{
          .inputer{width:482px;height:48px;}
        }
        .btns{
          @include submitbtns;
        }
      }

    }

    .feed-todo{
      float:left;
      width:80px;
      position:absolute;
      height:100%;
      padding:2px 0;
      margin-top:-7px;
      left:0;
      @include border-radius(4px);
      .meta{
        padding:3px 5px;
        .items{
          .add-items{
            width:12px;height:12px;
            background:url(/images/icons/all.png) no-repeat -285px -100px;
            &:hover{opacity:0.6;}
            position:relative;
            cursor:pointer;
            float:left;
            margin-right:4px;
          }
          .items-count{
            line-height:12px;
            height:12px;
            font-weight:bold;
          }
        }
      }
      .exer{
        padding:3px 5px;
      }
      .add{
        width:12px;height:12px;
        background:url(/images/icons/all.png) no-repeat -259px -100px;
        &:hover{opacity:0.6;}
        position:absolute;
        left:5px;
        bottom:5px;
        cursor:pointer;
      }
      .remove{
        width:12px;height:12px;
        background:url(/images/icons/all.png) no-repeat -272px -100px;
        &:hover{opacity:0.6;}
        position:absolute;
        left:19px;
        bottom:5px;
        cursor:pointer;
      }
      &.b0{background-color:#EBFF4C}
      &.aj-loading{
        background-position:5px 5px;
        .meta{display:none;}
      }
    }

    &.show-feed{
      
    }

  }
}

.newsfeed{
  ul.feeds li.mpli.feed{
    .f.with-stats{
      .current-feed,.footmisc{
        margin-left:40px;
      }
      .footmisc{width:580px;}
      .stats{
        overflow:hidden;
        float:left;
        .stat{
          font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
          overflow:hidden;
          float:left;
          margin:0 3px 0 0;
          .num{
            font-size:22px;font-weight:bold;
            line-height:22px;height:22px;
            margin:0 3px 0 0;
            text-align:center;
          }
          .w{
            font-size:12px;display:inline;color:#666;
            margin:0 3px 0 0;
            text-align:center;
          }
          &.viewpoints{
            &.not-zero{
              @include border-radius(4px);
              /*background:#53BCFE;*/
            }
            &.zero{
              color:#9A4444;
              .w{color:#9A4444;}
            }
          }
        }
      }
    }
  }
}

.feed-transmit-form,.feed-transmit-form-show{
  position:absolute;
  @include border-radius(4px);
  width:390px;
  padding:5px;
  .title{
    margin:0 0 10px 0;
    font-weight:bold;
  }
  .ori-feed{
    margin:0 0 10px 0;
  }
  .ipt{
    textarea{
      width:386px;
      height:42px;
      @include border-radius(3px);
    }
  }
  .btns{
    overflow:hidden;
    @include submitbtns;
  }
}

.todo-items-config{
  position:absolute;
  width:300px;
  padding:5px;
  @include border-radius(4px);
  .title{
    font-weight:bold;
    margin-bottom:5px;
  }
  .items{
    margin:6px 0;
    .item{
      padding:3px;
    }
    &.aj-loading{
      height:18px;
    }
  }
  .form{
    textarea.item-content{
      width:280px;
    }
  }
  .btns{
    overflow:hidden;
    @include submitbtns;
  }
}