@mixin reply-to-feed{
  margin-bottom:10px;
  overflow:hidden;
  .data{
    @include border-radius(0 4px 4px 0);
    padding:10px;
  }
  .arrow{
    width:15px;height:7px;
    @include allicon(-271px,-41px);
    margin:0 0 0 36px;
  }
}

@mixin quote-feed{
  margin-bottom:10px;
  overflow:hidden;
  .data{
    @include border-radius(0 4px 4px 0);
    padding:10px;
  }
  .arrow{
    width:15px;height:7px;
    @include allicon(-271px,-49px);
    margin:0 0 0 36px;
  }
}

@mixin comments{
  @include border-radius(3px);
  margin-bottom:12px;
  clear:both;
  padding:5px;
  &.loading{
    background-image:url(/images/icons/progress-dots.gif);
    background-repeat:no-repeat;
    background-position:10px 4px;
    height:10px;
  }
  .feed-echo-form{
    .ipt{
      textarea{
        width:480px;
        height:32px;
        @include border-radius(3px);
      }
    }
    .send-to{
      margin:5px 0 5px 0;
      height:19px;
      line-height:19px;
      padding:0 0 1px 3px;
      width:180px;
      @include border-radius(4px);
      cursor:default;
      .icon{
        width:13px;
        height:13px;
        background:url(/images/icons/all.png) no-repeat -82px -100px;
        float:left;
        margin-right:5px;
        position:relative;
        top:3px;
      }
      .name{
        float:left;
      }
      &.checked{
        .icon{
          background:url(/images/icons/all.png) no-repeat -68px -100px;
        }
      }
    }
    .btns{
      overflow:hidden;
      @include submitbtns;
    }
  }
  ul.comments-list{
    margin-top:20px;
    li.comment{
      overflow:hidden;
      padding:5px;
      .avatar{
        float:left;
        margin-right:10px;
        img{width:16px;height:16px;}
      }
      .content{
      }
    }
  }
}

/*feeds*/
.newsfeed{
  ul.feeds li.mpli.feed{
    position:relative;
    overflow:visible;
    .f{
      padding:5px 5px 20px;
      margin-bottom:10px;
      overflow:hidden;


      .reply-to-feed{
        @include reply-to-feed;
        margin-left:40px;
      }

      .quote-feed{
        @include quote-feed;
        margin-left:40px;
      }

      .footmisc{
        @include footmisc;
      }

      .current-feed{
        overflow:hidden;
        margin:0 0 10px 0;
        .f-title{
          font-size:14px;font-weight:bold;
          @include tfont;
          margin:0 0 5px 0;
          a{
            color:#426389;
            &:hover{
              text-decoration:none;
              border-bottom:dotted 1px #666;
            }
          }
        }
        .detail{
        }
      }
      .viewpoint{
        margin:0 0 10px 40px;
        overflow:hidden;
        .my-viewpoint,.hot-viewpoint{
          @include viewpoint-in-list;
          .memo-content{margin-left:26px;}
        }
      }

      .comments{
        @include comments;
        margin-left:40px;
      }

      .add-viewpoint-form{
        @include border-radius(4px);
        padding:5px;
        margin-left:40px;
        &.loading{
          background-image:url(/images/icons/progress-dots.gif);
          background-repeat:no-repeat;
          background-position:10px 4px;
          height:10px;
        }
        .title{
          margin:0 0 6px 0;
        }
        .ipt{
          .inputer{width:482px;height:48px;}
        }
        .btns{
          @include submitbtns;
        }
      }

    }

    .feed-todo{
      float:left;
      width:80px;
      position:absolute;
      height:100%;
      padding:2px 0;
      margin-top:-7px;
      left:0;
      @include border-radius(4px);
      .meta{
        padding:3px 5px;
        .items{
          .add-items{
            width:12px;height:12px;
            background:url(/images/icons/all.png) no-repeat -285px -100px;
            &:hover{opacity:0.6;}
            position:relative;
            cursor:pointer;
            float:left;
            margin-right:4px;
          }
          .items-count{
            line-height:12px;
            height:12px;
            font-weight:bold;
          }
        }
      }
      .exer{
        padding:3px 5px;
      }
      .add{
        width:12px;height:12px;
        background:url(/images/icons/all.png) no-repeat -259px -100px;
        &:hover{opacity:0.6;}
        position:absolute;
        left:5px;
        bottom:5px;
        cursor:pointer;
      }
      .remove{
        width:12px;height:12px;
        background:url(/images/icons/all.png) no-repeat -272px -100px;
        &:hover{opacity:0.6;}
        position:absolute;
        left:19px;
        bottom:5px;
        cursor:pointer;
      }
      &.b0{background-color:#EBFF4C}
      &.aj-loading{
        background-position:5px 5px;
        .meta{display:none;}
      }
    }

    &.show-feed{
      
    }

  }
}

@mixin feed-stats{
  overflow:hidden;
  float:left;
  .stat{
    @include tfont;
    overflow:hidden;
    float:left;
    padding:3px 8px;

    .num{
      font-size:20px;font-weight:bold;
      line-height:22px;height:22px;
      text-align:center;
    }
    .w{
      font-size:12px;display:inline;color:#666;
      text-align:center;
    }
    &.viewpoints{
      &.not-zero{
        @include border-radius(4px);
        background:#E5F1DD;
        .num{color:#418370;}
        .w{color:#418370;}
      }
      &.zero{

      }
    }
  }
}

.newsfeed{
  ul.feeds li.mpli.feed{
    .f.with-stats{
      .current-feed,.footmisc,.viewpoint{
        margin-left:60px;
      }
      .footmisc{width:600px;}
      .stats{
        @include feed-stats;
      }
    }
  }
}

.page-searched-feeds,.page-recommend-feeds{
  .feed{
    padding:5px 5px 20px;
    .stats{
      @include feed-stats;
    }
    .data,.footmisc{
      margin-left:50px;
    }
    .data{
      margin-bottom:10px;
      .title{
        font-size:14px;font-weight:bold;
        @include tfont;
        margin:0 0 5px 0;
      }
      .detail{
      }
    }
    .footmisc{
      @include footmisc;
    }
  }
}

.feed-transmit-form,.feed-transmit-form-show{
  position:absolute;
  @include border-radius(4px);
  width:390px;
  padding:5px;
  .title{
    margin:0 0 10px 0;
    font-weight:bold;
  }
  .ori-feed{
    margin:0 0 10px 0;
  }
  .ipt{
    textarea{
      width:386px;
      height:42px;
      @include border-radius(3px);
    }
  }
  .btns{
    overflow:hidden;
    @include submitbtns;
  }
}

.todo-items-config{
  position:absolute;
  width:300px;
  padding:5px;
  @include border-radius(4px);
  .title{
    font-weight:bold;
    margin-bottom:5px;
  }
  .items{
    margin:6px 0;
    .item{
      padding:3px;
    }
    &.aj-loading{
      height:18px;
    }
  }
  .form{
    textarea.item-content{
      width:280px;
    }
  }
  .btns{
    overflow:hidden;
    @include submitbtns;
  }
}