.feed-form-container{
  padding:70px 0 20px 50px;
  margin:0 0 12px 0;
  @include border-radius(6px);
  background:url(/images/icons/feed-form-bg.png) no-repeat 0 0;
  background-color:#E4EE70;
  border:solid 1px #ddd;
}

.feed-form{
  margin:0px 0 0 0px;
  overflow:hidden;
  width:500px;
  position:relative;
  .ipter{
    overflow:hidden;
    .tip{
      font-size:14px;
    }
    .ipts{
      float:left;
      padding:0 10px 0 0;
      font-size:0px;
      line-height:0px;
      .feed-content{
        width:430px;
        height:96px;
        overflow:hidden;
        position:relative;
        border:solid 4px #293100;
        *top:-1px;
      }
    }
  }
  .subm{
    width:404px;
    clear:both;
    overflow:hidden;
    a{
      @include border-radius(0 0 4px 4px);
      float:left;
      margin-left:10px;
      border-width:0 1px 1px 1px;
      border-style:none solid solid solid;
      font-size:14px;
      padding:2px 20px 4px;
      font-weight:bold;
      color:#fff;
      text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
      &:hover{text-decoration:none;}
      &.mousedown{}
    }
  }
}

.feed-form{
  &.feed-todolist-form{margin:0 0 30px 0}
}