.help-page-text{
  h2{font-size:14px;font-weight:bold;margin:0 0 1em 0;}
  h3{font-size:12px;font-weight:bold;margin:0 0 1em 0;}
  img{margin:0 0 1em 0;border:1px solid #DDDDDD;@include box-shadow(1px 1px 3px #DDDDDD);display:block;}
  ol{
    margin-left:1.5em;
  }
}