@mixin preview-misc{
  overflow:hidden;
  margin:0 0 6px 0;
  .preview{
    width:124px;
    @include border-radius(5px);
    font-size:0px;
    line-height:0px;
    float:left;
    margin: 0 10px 0 0;
    img{
      border:solid 2px #A3A3A3;
      @include border-radius(3px);
      &:hover{
        cursor:url("/images/big.cur"), auto;
      }
    }
  }
  .rank{
    float:left;
    width:32px;
    height:32px;
    @include border-radius(5px);
    background:#0077DD;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.5);
    line-height:32px;
  }
}

.user-mindmaps{
  overflow:hidden;
  .mindmap{
    overflow:hidden;
    margin:0 0 20px 0;
    padding:0 6px 20px;
    .current{
      margin:0 0 6px 0;
      overflow:hidden;
      .avatar{
        margin:0 20px 0 0;
        float:left;
        img{width:48px;height:48px;}
      }
      .meta{
        float:left;
        width:500px;
        margin:0 0 6px 0;
        .name{
          margin:0 0 6px 0;
        }
        .preview-misc{
          @include preview-misc;
        }
        .map-title{
          margin:0 0 6px 0;
          font-size:14px;
          font-weight:bold;
        }
        .map-coop-users{
          padding:5px;
          @include border-radius(0 4px 4px 0);
          .desc{margin:0 0 6px 0;}
        }
      }
    }
    .foot-misc{
      margin:0 0 0 72px;
      overflow:hidden;
      font-family:"Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti !important;
      .split{padding:0 4px;}
      .time{float:left;}
    }
  }

  .mindmap-m{
    float:left;
    width:250px;
    padding:5px;
    margin:0 10px 10px 0;
    border-right:dashed 1px #DFDFDF;
    .current{
      .title{
        font-weight:bold;
        margin:0 0 12px 0;
        @include border-radius(4px);
        position:relative;
        height:22px;
        line-height:22px;
        form{
          left:-5px;top:-5px;
          @include border-radius(4px);
          border:solid 2px 2px solid #525566;
          background:#F6F8EE;
          padding:5px;
          position:absolute;
          @include submitbtns;
          input{font-size:12px;}
        }
      }
    }
    .meta{
      margin:0 0 10px 0;
      .preview-misc{
        @include preview-misc;
        height:124px;
      }
    }
    .foot-misc{
      margin:0 0 10px 0;
      .time{
        margin:0 0 6px 0;
      }
      .ops{
        .toggle{
          position:relative;
          margin-left:18px;
          .icon{
            width:16px;height:16px;
            position:absolute;
            left:-18px;
          }
          &.public{
            .icon{@include allicon(-34px,-100px);}
            .p1{font-weight:bold;}
          }
          &.private{
            .icon{@include allicon(-17px,-100px);}
            .p2{font-weight:bold;}
          }
        }
      }
    }
  }
}


.searched-mindmaps{
  .search-result{
    margin-bottom:20px;
    overflow:hidden;
    .meta{
      padding:5px;
      @include border-radius(5px);
      overflow:hidden;
      .avatar{
        float:left;
        margin-right:10px;
        img{width:32px;height:32px;}
      }
      .c{
        float:left;width:550px;
        .title{
          font-size:14px;
          margin-bottom:5px;
        }
        .loud{color:#FBB300 !important;}
      }
    }
    .score,.time{
      @include border-radius(5px);
      float:left;
      margin:2px 0 0 45px;
      padding:0 4px;
      line-height:14px;
    }
    .time{
      margin-left:5px;
    }
  }
}

.homepage-stat{
  .chart{
    margin:0 0 30px 0;
    padding:4px;
    height:110px;
    @include border-radius(4px);
  }
  .keywords{
    overflow:hidden;
    margin:0 0 20px 0;
    padding:5px;
    .w{
      margin:0 0 6px 0;
      overflow:hidden;
      a.word{
        float:left;
        background:#E0EAF1;
        padding:3px 4px;
        height:15px;line-height:15px;
        border-right:solid 1px #3E6D8E;
        border-bottom:solid 1px #3E6D8E;
        &:hover{
          text-decoration:none !important;
          background:#3E6D8E;
          color:#e0eaf1;
        }
      }
    }
  }
}


.feed-form-mev6{
  padding:60px 0 45px 10px;
  margin:0 0 10px 0;
  position:relative;
  background:url(/images/icons/mindmap-form-bg.png) no-repeat 0 0;
  @include border-radius(6px);
  border:solid 1px #ddd;
  width:520px;

  .btns{
    width:500px;
    overflow:hidden;
    .import-mindmap,.create-mindmap,.edit-mindmap,.send{
      width:32px;
      height:32px;
      @include border-radius(4px);
      float:left;
      margin:5px 5px 5px 0;
      cursor:pointer;
      color:white;
      @include gradient(#84A2D4,#2A4072);
      text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
      border:solid 1px #6CD4F6;
      &:hover{
        @include gradient(#89C3EB,#4C6DB4);
        color:white;
        text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
      }
    }
    .import-mindmap{
      /*@include gradient(#BBC9E6,#BCBCDE);*/
      @include gradient(#94E4FD,#3FC3EF);
      .icon{
        background:url(/images/icons/all.png) no-repeat 0 -117px;
        width:24px;
        height:24px;
        margin:3px 0 0 3px;
      }
      &:hover{
        @include gradient(#B3ECFC,#6AD6F4);
      }
    }
    .create-mindmap,.edit-mindmap{
      width:70px;
      margin:5px 0 5px;
      font-size:14px;
      font-weight:bold;
      line-height:32px;
      padding:0 0 0 10px;
      border:solid 1px #556FA1;
    }
    .feed-content{
      width:320px;
      height:22px;
      float:left;
      margin:5px 5px 5px 0;
      background:#F7FCFF;
    }
    .import-loading,.import-loading-tips{display:none;}
    &.loading{
      .import-mindmap{display:none;}
      .import-loading{
        display:block;float:left;
        width:32px;height:32px;
        background:url(/images/icons/progress-dots.gif) 1px 1px no-repeat;
        margin:5px 5px 5px 0;
      }
      input.feed-content{display:none;}
      .create-mindmap{display:none;}
      .import-loading-tips{
        display:block;
        float:left;
        font-size:14px;
        margin-top:4px;
        border:solid 1px #A3A3A3;
        background:white;
        padding:0 5px;
        height:32px;line-height:32px;
        @include border-radius(4px);
      }
    }
  }
  .import-mindmap-image{
    background:#F6F8EE;
    border:solid 1px #A3A3A3;
    padding:5px;
    top:41px;
    z-index:999;
    position:absolute;
    @include border-radius(4px);
    .close-import-mindmap-image {
      position:absolute;
      right:3px;
      top:3px;
      width:16px;
      height:16px;
      background:url(/images/icons/all.png) 0 -100px no-repeat;
      cursor:pointer;
      font-size:0;
      line-height:0;
      text-indent:-999px;
    }
    .image{
      width:125px;
      height:125px;
      margin-top:16px;
      img{
        border:solid 2px #A3A3A3;
        @include border-radius(3px);
      }
    }
  }
  .import-mindmap-form{
    padding:5px;
    top:41px;
    z-index:999;
    position:absolute;
    @include border-radius(4px);
    width:360px;
    border:solid 3px #D9D9D7;
    text-align:center;
    #file-upload-btn{
      height:32px;
    }
    .close{
      position:absolute;
      right:3px;
      top:3px;
      width:16px;
      height:16px;
      background:url(/images/icons/all.png) 0 -100px no-repeat;
      cursor:pointer;
      font-size:0;
      line-height:0;
      text-indent:-999px;
    }
  }
  .import-error{
    background:#323546;
    @include border-radius(4px);
    border:solid 1px #111;
    width:300px;
    padding:5px;
    position:absolute;
    top:41px;
    color:#FFB49C;
    .close{
      position:absolute;
      right:3px;
      top:6px;
      width:16px;
      height:16px;
      background:url(/images/icons/all.png) 0 -100px no-repeat;
      cursor:pointer;
      font-size:0;
      line-height:0;
      text-indent:-999px;
    }
  }
}