.module-links{
  @include border-radius(5px);
  margin-bottom:10px;
  .link{
    padding:5px 10px;
    font-size:14px;
    height:24px;
    line-height:24px;
    position:relative;
    a.selected{
      font-weight:bold;
    }
    .icon{
      float:left;
      width:24px;
      height:24px;
      margin-right:8px;
    }
    .new{
      width:32px;
      height:32px;
      background:url(/images/icons/all.png) no-repeat -196px -33px;
      position:absolute;
      top:2px;
      left:-22px;
    }
    &.binded{
      .new{background:url(/images/icons/all.png) no-repeat -196px -66px;}
    }
  }

  &.account{
    .base{
      .icon{background:url(/images/icons_account/account_all.png) no-repeat -75px 0px;}
    }
    .avatared{
      .icon{background:url(/images/icons_account/account_all.png) no-repeat -25px 0px;}
    }
    .message{
      .icon{background:url(/images/icons_account/account_all.png) no-repeat -100px 0px;}
    }
    .password{
      .icon{background:url(/images/icons_account/account_all.png) no-repeat 0px 0px;}
    }
    .email{
      .icon{background:url(/images/icons_account/account_all.png) no-repeat -50px 0px;}
    }
    .bind-tsina{
      .icon{background:url(/images/icons_account/account_all.png) no-repeat -125px 0px;}
    }
    .bind-renren{
      .icon{background:url(/images/icons_account/account_all.png) no-repeat -175px 0px;}
    }
    .complete_reg_info{
      .icon{background:url(/images/icons_account/account_all.png) no-repeat -150px 0px;}
    }
  }
  .tsina-quick-account,.renren-quick-account{
    @include border-radius(5px 5px 0 0);
    padding:5px 10px;
    overflow:hidden;
    .icon{
      float:left;
      width:24px;
      height:24px;
      margin-right:8px;
      position:relative;top:6px;
      background:url(/images/icons_account/account_all.png) no-repeat -125px 0px;
    }
    &.renren-quick-account{
      .icon{
        background:url(/images/icons_account/account_all.png) no-repeat -175px 0px;
      }
    }
  }
}

.module-links-title{
  padding:0 5px;
}

.module-links.feeds{
  .home{
    .icon{@include allicon(-225px,-117px)}
  }
  .favs{
    .icon{@include allicon(-150px,-117px)}
  }
  .received_comments{
    .icon{@include allicon(-175px,-117px)}
  }
  .quoted-me-feeds{
    .icon{@include allicon(-200px,-117px)}
  }
  .todos{
    .icon{@include allicon(-250px,-117px)}
  }
  .memoed-todos{
    .icon{@include allicon(-250px,-117px)}
  }
  .be-asked-todos{
    .icon{@include allicon(-275px,-117px)}
  }
  .be-hidden-todos{
    .icon{@include allicon(-325px,-117px)}
  }
  .recent-userlogs{
    .icon{@include allicon(-300px,-117px)}
  }
  .recent-hot-feeds{
    .icon{@include allicon(-350px,-117px)}
  }
}