.tag-page-top-info{
  overflow:hidden;
  .base-info{
    padding:5px;
    margin:0 0 10px 0;
    overflow:hidden;

    .tag-main{
      .name{font-size:20px;font-weight:bold;margin:0 0 6px 0;}
      .edit-detail{
        display:none;
        @include editlink;
        .icon{top:4px;}
      }
    }


    .tag-page-logo{
      float:right;
      position:relative;
      .upload{display:none;}
      &:hover{
        .upload{
          display:block;
          position:absolute;
          bottom:5px;
          width:90px;
          background-color:rgba(0, 0, 0, 0.5);
          padding:5px;
          text-align:center;
          a{
            color:white;
            &:hover{color:white;}
          }
        }
      }
    }
  }
}

.tag-page-ops{
  padding:5px;
  overflow:hidden;
  .fav{
    @include followbtn;
  }
  .unfav{
    @include unfollowbtn;
  }
}

.tag-related-feed-count{
  padding:5px;
  margin:0 0 30px 0;
  .count{
    font-size:45px;font-weight:bold;
  }
}

.tag-page-feeds{
}

.tag-related-tags{
  padding:5px;
  .title{font-weight:bold;margin-bottom:10px;}
  @include tag-and-count;
}

.page-show-side-status{
  .tags-count{
    margin:0 0 10px 0;
    @include tag-and-count;
  }
}

.page-tags-rank-list{
  overflow:hidden;
  padding:5px;
  .tag-info{
    float:left;
    width:215px;
    height:50px;
    margin:0 10px 0 0;
    @include tag-and-count;
  }
}

.page-tags-with-another-name{
  .intro{
    padding:5px;
    background:#FBF7E3;
    @include border-radius(4px);
    border:solid 1px #eee;
    margin:0 0 30px 0;
    font-size:13px;
  }

  .labels{
    padding:5px;
    .label-tag{
      float:left;
    }
    .label-another-names{
      margin-left:150px;
    }
  }
  .tag-info{
    overflow:hidden;
    padding:5px;
    padding-bottom:30px;
    .tag{
      float:left;
      @include tags;
    }
    .another-names{
      margin-left:150px;
      .another-name{
        @include tags;
      }
    }
  }
}