.tag-page-top-info{
  overflow:hidden;
  .base-info{
    padding:5px;
    margin:0 0 10px 0;
    .name{font-size:20px;font-weight:bold;margin:0 0 6px 0;}
  }
}

.tag-page-logo{
  padding:5px;
  float:left;
  position:relative;
  .upload{display:none;}
  &:hover{
    .upload{
      display:block;
      position:absolute;
      bottom:10px;
      width:90px;
      background-color:rgba(0, 0, 0, 0.5);
      padding:5px;
      text-align:center;
      a{
        color:white;
        &:hover{color:white;}
      }
    }
  }
}

.tag-page-feeds{
  margin:0 0 0 120px;
}