.page-about-qanda
  .qa
    .ques
      为什么要自动保存？
    .ans
      这样比较方便，符合网络产品特性。
  .qa
    .ques
      可不可以设置成手动保存？
    .ans
      不可以。
  .qa
    .ques
      导图编辑器有没有手机版？有没有iPad版？
    .ans
      都没有。也许会做。
  .qa
    .ques
      为什么不支持IE？
    .ans
      它OUT了。