#fontselector{:style=>"background-color:white;clear:both;text-align:left;display:none;width:500px;"}
  <div><span class="label">大小:</span><input id="fontsize" type="text" /></div>
  <br/>
  <div><span class="label">颜色:</span><input id="fontcolor" type="text" value=''/></div>
  <br/>
  <div id='colorzone'>
  </div>
  <br/><br/>
  <div><button class="btn ok" id="accept_font">确定</button></div>