.api_help h3 {
  background: #0E0E1A;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3px 8px;
  border: solid 1px #333346;
  margin-bottom: 10px;
  line-height: 22px; }
.api_help .p {
  padding: 3px 8px;
  margin-bottom: 15px; }
  .api_help .p.url {
    font-size: 14px;
    color: #FBE881; }
  .api_help .p table.params-table {
    width: 100%;
    margin-bottom: 10px;
    border-spacing: 1px; }
    .api_help .p table.params-table tr th {
      text-align: center;
      font-weight: bold;
      color: #FBE881; }
    .api_help .p table.params-table tr td.key {
      font-weight: bold;
      color: #FBE881;
      text-align: center; }
