.organization-features {
  border: solid 1px #09101A;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 10px #09070e;
  -moz-box-shadow: 0 0 10px #09070e;
  -webkit-box-shadow: 0 0 10px #09070e;
  background: #2A344D; }
  .organization-features .intro {
    margin: 10px;
    font-size: 13px;
    font-weight: bold;
    background: url(/images/piece/orgs_icon.png) no-repeat;
    padding-left: 65px; }
  .organization-features .rule {
    border-bottom: 1px solid #444;
    border-top: 1px solid #222; }
  .organization-features .desc {
    padding: 10px; }
    .organization-features .desc li {
      background: url(/images/piece/big_check.png) no-repeat;
      line-height: 17px;
      padding: 2px 0 0 20px;
      margin: 5px 0; }

.organization-list li.organization {
  padding: 0 !important; }
  .organization-list li.organization .iconed {
    overflow: hidden;
    background: url(/images/piece/org_icon.png) 0 0 no-repeat;
    padding: 6px 6px 6px 38px !important;
    padding-right: 0px !important;
    border-top: solid 1px #242438; }
    .organization-list li.organization .iconed.admin {
      background: url(/images/piece/org_icon.png) 0 -100px no-repeat; }
    .organization-list li.organization .iconed .name {
      font-weight: bold;
      font-size: 14px; }
    .organization-list li.organization .iconed .actions {
      line-height: 39px; }
      .organization-list li.organization .iconed .actions .settings, .organization-list li.organization .iconed .actions .leave {
        margin-left: 10px;
        float: left; }
        .organization-list li.organization .iconed .actions .settings .minibutton .icon, .organization-list li.organization .iconed .actions .leave .minibutton .icon {
          float: left;
          margin-left: -4px;
          width: 15px;
          height: 22px; }
      .organization-list li.organization .iconed .actions .settings .minibutton .icon {
        background: url(/images/piece/minibutton_icons.png) 0 0; }
      .organization-list li.organization .iconed .actions .settings .minibutton:hover .icon {
        background: url(/images/piece/minibutton_icons.png) 0 -25px; }
      .organization-list li.organization .iconed .actions .leave .minibutton .icon {
        background: url(/images/piece/minibutton_icons.png) -120px 0; }
      .organization-list li.organization .iconed .actions .leave .minibutton:hover .icon {
        background: url(/images/piece/minibutton_icons.png) -120px -25px; }

.create-organization {
  border-top: solid 1px #242438;
  padding-top: 20px;
  text-align: right; }

.member-block {
  margin-top: 10px; }
  .member-block .no-member {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px;
    border: solid 1px #111;
    background: #FFF8CC;
    color: #935a00; }
  .member-block .member-list li.user, .member-block .member-list li.member, .member-block .member-list li.concat {
    background: #323546;
    border: 1px solid #111111;
    margin-top: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
    .member-block .member-list li.user .member-logo, .member-block .member-list li.member .member-logo, .member-block .member-list li.concat .member-logo {
      float: left;
      height: 24px; }
      .member-block .member-list li.user .member-logo .logo.tiny, .member-block .member-list li.member .member-logo .logo.tiny, .member-block .member-list li.concat .member-logo .logo.tiny {
        width: 20px;
        height: 20px; }
    .member-block .member-list li.user .member-email, .member-block .member-list li.user .delete, .member-block .member-list li.member .member-email, .member-block .member-list li.member .delete, .member-block .member-list li.concat .member-email, .member-block .member-list li.concat .delete {
      float: left;
      line-height: 24px;
      margin-left: 8px; }
    .member-block .member-list li.user .delete, .member-block .member-list li.member .delete, .member-block .member-list li.concat .delete {
      float: right; }
      .member-block .member-list li.user .delete a, .member-block .member-list li.member .delete a, .member-block .member-list li.concat .delete a {
        float: left;
        background: url(/images/piece/close_pill.png) no-repeat;
        height: 18px;
        width: 18px;
        text-decoration: none;
        text-indent: -9999px;
        margin-top: 3px; }
        .member-block .member-list li.user .delete a:hover, .member-block .member-list li.member .delete a:hover, .member-block .member-list li.concat .delete a:hover {
          background: url(/images/piece/close_pill.png) no-repeat 0 -50px; }
    .member-block .member-list li.user .member-email, .member-block .member-list li.member .member-email, .member-block .member-list li.concat .member-email {
      color: white;
      font-weight: bold; }
    .member-block .member-list li.user:hover, .member-block .member-list li.member:hover, .member-block .member-list li.concat:hover {
      background: #45495B; }
  .member-block .add-member-form {
    margin-top: 10px;
    padding: 6px; }
    .member-block .add-member-form input#concat_email {
      width: 300px !important; }
    .member-block .add-member-form input#member_email {
      width: 300px !important; }

.goto-organization-page {
  border-top: solid 1px #242438;
  padding: 20px 0 0 0;
  margin: 10px 0 0 0;
  text-align: right; }

.delete_organization {
  overflow: hidden;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 10px #09070e;
  -moz-box-shadow: 0 0 10px #09070e;
  -webkit-box-shadow: 0 0 10px #09070e;
  padding: 10px;
  background: #2A1F2E; }
  .delete_organization h3, .delete_organization .danger {
    color: #FF3E00; }

.dashboard-notice {
  background-color: #E7F1FF;
  color: #000;
  border: solid 1px #111;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 13px;
  margin-bottom: 15px; }
  .dashboard-notice .quiet {
    color: #666; }
  .dashboard-notice .title {
    margin: -13px -13px 0 -13px;
    padding: 13px;
    border-bottom: solid 1px #A1CAFF;
    background: url(/images/piece/orgs_title.png) no-repeat 10px;
    padding-left: 70px; }

.activities-list .activity {
  margin: -6px; }
  .activities-list .activity .title {
    overflow: hidden;
    padding: 0 0 0.25em;
    margin: 0 0 10px;
    border-bottom: solid 1px #333350;
    line-height: 24px; }
    .activities-list .activity .title .loud {
      font-weight: bold; }
    .activities-list .activity .title .avatar {
      float: left;
      margin-right: 10px; }
      .activities-list .activity .title .avatar .tiny {
        weight: 20px;
        height: 20px; }

.ac_results ul li {
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  padding: 1px 2px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  .ac_results ul li .logo.tiny {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    float: left; }
  .ac_results ul li.ac_over {
    background-color: #96B5DA;
    color: black; }
