@import "../misc";

.organization-features{
  border:solid 1px #09101A;
  @include border-radius(4px);
  @include box-shadow(0 0 10px #09070E);
  background:#2A344D;
  .intro{
    margin:10px;
    font-size:13px;
    font-weight:bold;
    background:url(/images/piece/orgs_icon.png) no-repeat;
    padding-left:65px;
  }
  .rule{
    border-bottom:1px solid #444;
    border-top:1px solid #222;
  }
  .desc{
    padding:10px;
    li{
      background:url(/images/piece/big_check.png) no-repeat;
      line-height:17px;
      padding:2px 0 0 20px;
      margin:5px 0;
    }
  }
}

.organization-list{
  li.organization{
    padding: 0 !important;
    .iconed{
      overflow:hidden;
      background:url(/images/piece/org_icon.png) 0 0 no-repeat;
      &.admin{
        background:url(/images/piece/org_icon.png) 0 -100px no-repeat;
      }
      padding:6px 6px 6px 38px !important;
      padding-right:0px !important;
      border-top:solid 1px #242438;
      .name{font-weight:bold;font-size:14px;}
      .actions{
        line-height:39px;

        .settings,.leave{
          margin-left:10px;
          float:left;
          .minibutton .icon{
            float:left;
            margin-left:-4px;
            width:15px;
            height:22px;
          }
        }

        .settings{
          .minibutton .icon{background:url(/images/piece/minibutton_icons.png) 0 0;}
          .minibutton:hover .icon{background:url(/images/piece/minibutton_icons.png) 0 -25px;}
        }

        .leave{
          .minibutton .icon{background:url(/images/piece/minibutton_icons.png) -120px 0;}
          .minibutton:hover .icon{background:url(/images/piece/minibutton_icons.png) -120px -25px;}
        }
      }
    }
  }
}

.create-organization{
  border-top:solid 1px #242438;
  padding-top:20px;
  text-align:right;
}

.member-block{
  margin-top:10px;
  .no-member{
    @include border-radius(3px);
    padding:10px;
    border:solid 1px #111;
    background:#FFF8CC;
    color:#935a00;
  }
  .member-list{
    li.user,li.member,li.concat{
      background:#323546;
      border:1px solid #111111;
      margin-top:3px;
      @include border-radius(3px);
      .member-logo{
        float:left;height:24px;
        .logo.tiny{
          width:20px;height:20px;
        }
      }
      .member-email,.delete{
        float:left;line-height:24px;margin-left:8px;
      }
      .delete{
        float:right;
        a{
          float:left;
          background:url(/images/piece/close_pill.png) no-repeat;
          height:18px;width:18px;
          text-decoration: none;
          text-indent: -9999px;
          margin-top:3px;
          &:hover{
            background:url(/images/piece/close_pill.png) no-repeat 0 -50px;
          }
        }
      }
      .member-email{color:white;font-weight:bold;}
      &:hover{
        background:#45495B;
      }
    }
  }
  .add-member-form{
    margin-top:10px;
    padding:6px;
    input#concat_email{width:300px !important;}
    input#member_email{width:300px !important;}
  }
}

.goto-organization-page{
  border-top:solid 1px #242438;
  padding:20px 0 0 0;
  margin:10px 0 0 0;
  text-align:right;
}

.delete_organization{
  overflow:hidden;
  @include border-radius(4px);
  @include box-shadow(0 0 10px #09070E);
  padding:10px;
  background:#2A1F2E;
  h3,.danger{
    color:#FF3E00;
  }
}

.dashboard-notice{
  background-color:#E7F1FF;
  border:solid 1px #111;
  @include border-radius(4px);
  margin-bottom:20px;
  color:#000;
  .quiet{color:#666;}
  .title{
    padding:7px 13px;
    background:url(/images/piece/orgs_title.png) no-repeat 10px;
    padding-left:70px;
  }
  .body{
    border-top:solid 1px #999;
    padding:7px 13px;
    a{color:#0669B2;}
    .p{margin-bottom:7px;}
  }
}

.activities-list{
  .activity{
    margin:-6px;
    border-bottom:solid 1px #333350;
    .title{
      font-weight:bold;
      overflow:hidden;
      line-height:24px;
      .loud{
        font-weight:bold;
      }
    }
    .detail{
      .avatar{
        float:left;margin-right:10px;
        img.logo{
          width:24px;height:24px;
          @include border-radius(3px);
        }
      }
    }
  }
}

.ac_results ul li {
  line-height:24px;
  height:24px;
  overflow:hidden;
  padding:1px 2px;
  @include border-radius(3px);
  .logo.tiny{
    width:20px;
    height:20px;
    margin-right:10px;
    float:left;
  }
  &.ac_over {
    background-color: #96B5DA;
    color: black;
  }
}

.mindmaps.yours{
  img.logo{
    width:16px;height:16px;
    @include border-radius(3px);
    float:left;
    margin-right:8px;
  }
}