.page-new-mindmap-side{
  padding:9px;
  border:solid 1px #ddd;
  background-color:#fafafa;
}

/*表单*/
@mixin new_mindmap_form{
  @include new_object_form;
  .field.title{
    input.text{width:678px;}
  }
  .field.description{
    textarea.text{width:678px;height:80px;}
  }
  .field.private{
    span{
      &.disabled{color:#777;}
    }
  }
}

/*新建思维导图表单*/
.page-new-mindmap-form{
  border:solid 1px #ddd;
  background-color:#fff;
  .ftitle{
    padding:15px;font-size:14px;font-weight:bold;
    background-color:#fafafa;
    border-bottom:solid 1px #eee;
  }
  form{
    padding:15px;
    .field{
      overflow:hidden;
      margin:0;border-top:solid 1px #ddd;
      background-color:#f7f7f7;
      label{
        float:left;height:32px;line-height:32px;
        padding:15px;
        width:100px;
        text-align:right;
        font-size:14px;font-weight:bold;color:#666;
      }
      .ip{
        background-color:#fff;
        margin-left:130px;
        padding:15px;
        &.pri{
          height:32px;line-height:32px;
        }
      }
      
      &.sub{
        background-color:#fff;
        padding:15px 0 0 0;
        text-align:right;
      }
      
      &.title{input.text{width:300px;}}
    }
  }
  
  .page-upload-mindmap-result{
    background:#FFF9DC;border-bottom:solid 1px #EFEACE;
    padding:15px;
    overflow:hidden;
    position:relative;
    .thumb{
      float:left;
      width:120px;
      height:120px;
    }
    .data{
      margin-left:140px;
      h3{
        font-size:14px;font-weight:bold;
        margin:0 0 10px 0;
      }
      .type,.filename,.nodes-count{
        overflow:hidden;
        font-size:14px;
        .l{float:left;width:100px;}
        .t{float:left;font-weight:bold;}
      }
    }
    .close{
      width:16px;
      height:16px;
      background:url(/images/icons/cancel.png);
      position:absolute;
      top:10px;
      right:10px;
      cursor:pointer;
    }
  }
  
  #page-mindmap-upload-queue{
    .uploadifyQueueItem{
      background:#FFF9DC;
      border-style:none none solid none;
      border-bottom-width:1px;
      padding:15px;
      width:auto;
      color:#666;
      .uploadifyProgress{
        @include border-radius(2px);
        background-color:#EFEACE;
        .uploadifyProgressBar{
          @include border-radius(2px);
          height:12px;
          background-color:#4C8EFF;
        }
      }
    }
  }
  
  .upload{
    overflow:hidden;
    background:#FFF9DC;border-bottom:solid 1px #EFEACE;
    padding:15px;
    .btn{
      float:left;
      width:93px;height:21px;
      overflow:hidden;
      margin-right:10px;
    }
    .desc{
      float:left;
      color:#666;
      height:21px;line-height:21px;
    }
  }
}