-htitle "#{@user.name}的思维导图"

.mside.grid_3
  .page-mindmap-user-page-side
    .avatar
      =avatar_link @user, :medium

.main.grid_20
  .page-mindmap-user-page-top
    .name=userlink @user
    .sign=h(@user.sign)

  =render 'index/list/thumb_list', :mindmaps=>@mindmaps
  .page-paginate=will_paginate @mindmaps