.module-links.mindmap
  .link.mine.btb
    .icon
    =tabs_link_to "我的原创导图","/mindmaps"
  .link.cooperate.btb
    .icon
    =tabs_link_to "我的协同导图","/mindmaps/cooperates"
  .link.all-public
    .icon
    =tabs_link_to "全部公开导图","/mindmaps/public"