-mindmap = @mindmap

-if !mindmap.low_value?
  .hide
    -mindmap.major_words.each do |word|
      %span=word
  -s_maps = mindmap.similar_mindmaps
  -s_maps.each do |m|
    %div=link_to m.title,pin_url_for("pin-user-auth","/mindmaps/#{m.id}/info")
  -if s_maps.blank?
    %div 没有找到相似的导图
-else
  %div 节点太少或导图RANK值较低
  %div 没有找到相似的导图