.used
  个人存储空间已使用#{(mindmap.user.space_capacity/1024.0/1024.0).round(2)}MB，总共50MB
%ul.image-list
  -images = mindmap.images.paginate(:page=>page,:per_page=>12)
  -images.each do |filename|
    =render :partial=>'files/mindmap_image_thumb',:locals=>{:mindmap=>mindmap,:filename=>filename}
.pagination
  =link_to '上一页','javascript:;',:onclick=>'mindmap._node_image_editor.prev_page();',:class=>'prev_page'
  %span.current=page
  =link_to '下一页','javascript:;',:onclick=>'mindmap._node_image_editor.next_page();',:class=>'next_page'