.userpage .upavatar {
  float: left;
  height: 52px; }
.userpage .name {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 52px;
  margin-left: 10px; }
.userpage .config {
  float: right;
  line-height: 52px; }

.usertop {
  margin-top: 15px;
  padding-top: 15px;
  border-top: solid 1px #464660;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #464660; }
  .usertop .vcard dl {
    margin: 0 0 5px 0; }
    .usertop .vcard dl dt {
      display: inline-block;
      width: 100px;
      font-weight: normal;
      color: #B5B5B5; }
    .usertop .vcard dl dd {
      display: inline-block; }
  .usertop .count dl {
    display: inline-block;
    margin: 0 30px 5px 0; }
    .usertop .count dl dt {
      font-size: 32px;
      line-height: 36px; }
    .usertop .count dl dd {
      margin: 0;
      padding: 0;
      color: #B5B5B5; }
    .usertop .count dl a {
      color: #FBEB96; }
      .usertop .count dl a:hover {
        text-decoration: none !important;
        color: #FBD300; }
  .usertop .viewother {
    margin-top: 20px;
    padding-left: 5px; }

.app-list .logo {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: none; }

.set_avatar_head {
  background: #EBF6E5;
  color: #000000;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 10px;
  border: solid 2px #D3DDCE; }
  .set_avatar_head ul.steps li {
    display: inline;
    margin-right: 8px;
    background: url(/images/piece/arrow.png) no-repeat 0 3px;
    padding-left: 48px; }
    .set_avatar_head ul.steps li.event {
      background: none;
      padding-left: 0; }
    .set_avatar_head ul.steps li.current span {
      background: #fff;
      font-weight: bold;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1) transparent rgba(0, 0, 0, 0.2);
      border-width: 1px;
      border-style: solid;
      padding: 4px 7px 3px; }
    .set_avatar_head ul.steps li.complete span {
      background: url(/images/piece/check.png) no-repeat 0 3px;
      padding-left: 18px; }

.organizations li {
  background: url(/images/piece/org_icon_16.png) no-repeat 10px 8px;
  padding-left: 32px !important; }

.concats li .avatar {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 8px; }
  .concats li .avatar .logo.tiny {
    width: 16px;
    height: 16px; }
.concats li .name {
  float: left; }

.your_apps .top-bar {
  background: #0E0E1A;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3px;
  border: solid 1px #333346;
  margin-bottom: 10px; }
.your_apps .app-list .app {
  overflow: hidden;
  padding: 6px;
  background: #323546;
  border: solid 1px #111;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .your_apps .app-list .app .rclogo {
    height: 66px;
    margin-right: 6px; }
