.userpage .upavatar {
  float: left;
  height: 52px; }
.userpage .name {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 52px;
  margin-left: 10px; }
.userpage .config {
  float: right;
  line-height: 52px; }

.usertop {
  margin-top: 15px;
  padding-top: 15px;
  border-top: solid 1px #464660;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #464660; }
  .usertop .vcard dl {
    margin: 0 0 5px 0; }
    .usertop .vcard dl dt {
      display: inline-block;
      width: 100px;
      font-weight: normal;
      color: #a5a5a5; }
    .usertop .vcard dl dd {
      display: inline-block;
      margin-left: 0px;
      color: white; }
      .usertop .vcard dl dd .date {
        color: white !important; }
  .usertop .count dl {
    display: inline-block;
    margin: 0 30px 5px 0; }
    .usertop .count dl dt {
      font-size: 32px;
      line-height: 36px; }
    .usertop .count dl dd {
      margin: 0;
      padding: 0;
      color: #B5B5B5; }
    .usertop .count dl a {
      color: #FBEB96; }
      .usertop .count dl a:hover {
        text-decoration: none !important;
        color: #FBD300; }
  .usertop .viewother {
    margin-top: 20px;
    padding-left: 5px; }
  .usertop .follows {
    margin-top: 5px; }
    .usertop .follows .avatars {
      margin-top: 7px; }
      .usertop .follows .avatars a {
        margin-right: 3px; }
        .usertop .follows .avatars a img {
          width: 32px;
          height: 32px; }

.app-list .logo {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: none; }

.cellhead .steps-head {
  background: #EBF6E5;
  color: #000000;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 10px;
  border: solid 2px #D3DDCE; }
  .cellhead .steps-head ul.steps li {
    display: inline;
    margin-right: 8px;
    background: url(/images/piece/arrow.png) no-repeat 0 3px;
    padding-left: 48px; }
    .cellhead .steps-head ul.steps li.event {
      background: none;
      padding-left: 0; }
    .cellhead .steps-head ul.steps li.current span {
      background: #fff;
      font-weight: bold;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1) transparent rgba(0, 0, 0, 0.2);
      border-width: 1px;
      border-style: solid;
      padding: 4px 7px 3px; }
    .cellhead .steps-head ul.steps li.complete span {
      background: url(/images/piece/check.png) no-repeat 0 3px;
      padding-left: 18px; }

.organizations li {
  background: url(/images/piece/org_icon_16.png) no-repeat 10px 8px;
  padding-left: 32px !important; }

.contacts li .avatar {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 8px; }
  .contacts li .avatar .logo.tiny {
    width: 16px;
    height: 16px; }
.contacts li .name {
  float: left; }

/*导入联系人页面*/
.already-contact {
  margin-bottom: 20px; }
  .already-contact .show {
    font-size: 12px;
    margin-left: 15px;
    font-weight: normal; }

.contact-list {
  margin-bottom: 10px; }
  .contact-list li {
    background: #323546;
    border: 1px solid #111111;
    margin-top: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 6px; }
    .contact-list li .member-checkbox {
      float: left;
      line-height: 24px;
      margin-right: 8px; }
    .contact-list li .member-logo {
      float: left;
      height: 24px; }
      .contact-list li .member-logo .logo.tiny {
        width: 20px;
        height: 20px; }
    .contact-list li .member-email {
      float: left;
      line-height: 24px;
      margin-left: 8px;
      color: white;
      font-weight: bold; }
    .contact-list li:hover {
      background: #45495B; }

.apps.yours .app {
  padding: 6px; }
  .apps.yours .app .applogo {
    padding-top: 5px;
    width: 80px;
    float: left;
    height: 66px;
    overflow: hidden; }
    .apps.yours .app .applogo a {
      float: left; }
  .apps.yours .app .title {
    font-size: 14px; }

.show_new_feed {
  background-color: #FFFDDD;
  color: #BB861C;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 7px 10px;
  margin-bottom: 13px;
  text-align: right; }
  .show_new_feed a {
    color: #BB861C; }

.loading_new_feed {
  overflow: hidden;
  margin-bottom: 13px; }
  .loading_new_feed .p {
    line-height: 32px;
    float: left; }

.newsfeed {
  margin-top: 15px; }
  .newsfeed ul.feeds li.feed {
    padding: 0 0 12px 0;
    margin: 0 0 12px 0;
    border-bottom: solid 1px #464660; }
    .newsfeed ul.feeds li.feed .avatar {
      float: left;
      width: 48px;
      height: 36px; }
    .newsfeed ul.feeds li.feed .data {
      font-size: 12px;
      float: right;
      width: 422px;
      color: white; }

.grid_11 .newsfeed ul.feeds li.feed .data {
  width: 382px; }

form.new_message .w300 {
  width: 300px !important; }

.ac_results ul li {
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  padding: 1px 2px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  .ac_results ul li .logo.tiny {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    float: left; }
  .ac_results ul li.ac_over {
    background-color: #96B5DA;
    color: black; }

.grid_11.col h2 {
  margin: 0 0 5px; }

.user_mindmaps {
  overflow: hidden; }
  .user_mindmaps .image_center_div p {
    font-size: 0px; }
  .user_mindmaps .map {
    float: left;
    margin: 0 15px 15px 0;
    box-shadow: 0 0 5px #09070e;
    -moz-box-shadow: 0 0 5px #09070e;
    -webkit-box-shadow: 0 0 5px #09070e;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: solid 1px #111; }
    .user_mindmaps .map .meta {
      padding: 3px 5px;
      background: #0E0E1A;
      border-radius: 3px 3px 0 0;
      -moz-border-radius: 3px 3px 0 0;
      -webkit-border-radius: 3px 3px 0 0;
      overflow: hidden; }
      .user_mindmaps .map .meta span.title {
        font-size: 14px;
        color: white;
        font-weight: bold; }
      .user_mindmaps .map .meta span.rank {
        color: #FBEB96;
        font-size: 14px;
        font-weight: bold;
        float: right; }
    .user_mindmaps .map .data {
      background: #323546; }
      .user_mindmaps .map .data .first_map {
        width: 450px;
        height: 338px;
        padding: 4px; }
        .user_mindmaps .map .data .first_map .image_center_div {
          width: 450px;
          height: 338px; }
      .user_mindmaps .map .data .map_thumb {
        width: 450px;
        height: 120px;
        padding: 4px; }
        .user_mindmaps .map .data .map_thumb .image_center_div {
          width: 120px;
          height: 120px; }
    .user_mindmaps .map .foot {
      padding: 3px 5px;
      background: #0E0E1A;
      border-radius: 0 0 3px 3px;
      -moz-border-radius: 0 0 3px 3px;
      -webkit-border-radius: 0 0 3px 3px; }
