@import "../misc";

.userpage{
  .upavatar{
    float:left;
    height:52px;
  }
  .name{
    float:left;
    font-size:24px;
    font-weight:bold;
    line-height:52px;
    margin-left:10px;
  }
  .config{
    float:right;
    line-height:52px;
  }
}

.usertop{
  margin-top:15px;
  padding-top:15px;
  border-top:solid 1px #464660;
  margin-bottom:15px;
  padding-bottom:15px;
  border-bottom:solid 1px #464660;
  .vcard{
    dl{
      margin:0 0 5px 0;
      dt{display:inline-block;width:100px;font-weight:normal;color:#a5a5a5;}
      dd{
        display:inline-block;margin-left:0px;color:white;
        .date{color:white !important;}
      }
    }
  }
  .count{
    dl{
      display:inline-block;
      margin:0 30px 5px 0;
      dt{font-size:32px;line-height:36px;}
      dd{margin:0;padding:0;color:#B5B5B5;}
      a{
        color:#FBEB96;
        &:hover{text-decoration:none !important;color:#FBD300;}
      }
    }
  }
  .viewother{
    margin-top:20px;
    padding-left:5px;
  }
  .follows{
    margin-top:5px;
    .avatars{
      margin-top:7px;
      a{
        margin-right:3px;
        img{width:32px;height:32px;}
      }
    }
  }
}

.app-list .logo{
  @include border-radius(4px);
  border:none;
}

.cellhead .steps-head{
  background:#EBF6E5;
  color:#000000;
  @include border-radius(4px);
  padding:10px;
  border:solid 2px #D3DDCE;
  ul.steps{
    li{
      display:inline;
      margin-right:8px;
      background:url(/images/piece/arrow.png) no-repeat 0 3px;
      padding-left:48px;
      &.event{
        background:none;padding-left:0;
      }
      &.current{
        span{
          background:#fff;font-weight:bold;@include border-radius(3px);
          border-color:rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1) transparent rgba(0, 0, 0, 0.2);
          border-width:1px;border-style:solid;padding:4px 7px 3px;
        }
      }
      &.complete{
        span{
          background:url(/images/piece/check.png) no-repeat 0 3px;
          padding-left:18px;
        }
      }
    }
  }
}

.organizations{
  li{
    background:url(/images/piece/org_icon_16.png) no-repeat 10px 8px;
    padding-left:32px !important;
  }
}

.contacts{
  li{
    .avatar{
      float:left;width:20px;height:20px;
      .logo.tiny{width:16px;height:16px;}
      margin-right:8px;
    }
    .name{
      float:left;
    }
  }
}

/*导入联系人页面*/
.already-contact{
  margin-bottom:20px;
  .show{
    font-size:12px;
    margin-left:15px;
    font-weight:normal;
  }
}

.contact-list{
  margin-bottom:10px;
  li{
    background:#323546;
    border:1px solid #111111;
    margin-top:3px;
    @include border-radius(3px);
    padding:6px;
    .member-checkbox{
      float:left;line-height:24px;margin-right:8px;
    }
    .member-logo{
      float:left;height:24px;
      .logo.tiny{
        width:20px;height:20px;
      }
    }
    .member-email{
      float:left;line-height:24px;margin-left:8px;
      color:white;font-weight:bold;
    }
    &:hover{
      background:#45495B;
    }
  }
}

.apps.yours{
  .app{
    padding:6px;
    .applogo{
      padding-top:5px;
      width:80px;float:left;
      height:66px;
      overflow:hidden;
      a{float:left;}
    }
    .title{
      font-size:14px;
    }
  }
}

.show_new_feed{
  background-color:#FFFDDD;
  color:#BB861C;
  @include border-radius(3px);
  padding:7px 10px;
  margin-bottom:13px;
  text-align:right;
  a{
    color:#BB861C;
  }
}

.loading_new_feed{
  overflow:hidden;
  margin-bottom:13px;
  .p{line-height:32px;float:left;}
}

.newsfeed{
  margin-top:15px;
  ul.feeds{
    li.feed{
      padding:0 0 12px 0;
      margin:0 0 12px 0;
      border-bottom:solid 1px #464660;
      .avatar{
        float:left;
        width:48px;
        height:36px;
      }
      .data{
        font-size:12px;
        float:right;
        width:422px;
        color:white;
      }
      .time{
        .date{}
      }
    }
  }
}

.grid_11{
  .newsfeed ul.feeds li.feed .data{width:382px;}
}


form.new_message{
  .w300{
    width:300px !important;
  }
}

.ac_results ul li {
  line-height:24px;
  height:24px;
  overflow:hidden;
  padding:1px 2px;
  @include border-radius(3px);
  .logo.tiny{
    width:20px;
    height:20px;
    margin-right:10px;
    float:left;
  }
  &.ac_over {
    background-color: #96B5DA;
    color: black;
  }
}

.grid_11.col{
  h2{
    margin:0 0 5px;
  }
}

.user_mindmaps{
  overflow:hidden;
  .image_center_div{
    p{font-size:0px;}
  }
  .map{
    float:left;
    margin:0 15px 15px 0;
    @include box-shadow(0 0 5px #09070E);
    @include border-radius(3px);
    border:solid 1px #111;
    .meta{
      padding:3px 5px;
      background:#0E0E1A;
      @include border-radius(3px 3px 0 0);
      overflow:hidden;
      span.title{
        font-size:14px;
        color:white;
        font-weight:bold;
      }
      span.rank{
        color:#FBEB96;
        font-size:14px;
        font-weight:bold;
        float:right;
      }
    }
    .data{
      background:#323546;
      .first_map{
        width:450px;
        height:338px;
        padding:4px;
        .image_center_div{
          width:450px;
          height:338px;
        }
      }
      .map_thumb{
        width:450px;
        height:120px;
        padding:4px;
        .image_center_div{
          width:120px;
          height:120px;
        }
      }
    }
    .foot{
      padding:3px 5px;
      background:#0E0E1A;
      @include border-radius(0 0 3px 3px);
    }
  }
}
