fieldset {border:1px solid #ccc;}
legend {font-weight:bold;}

form .field label{display:block;}

input[type=text], input[type=password], textarea, select {
  margin:0;font-size:14px;resize:none;
  background-color:#fff;
  border:solid 1px #ccc;
}

input[type=text], input[type=password], textarea {
  box-shadow:0 0 3px rgba(0, 0, 0, 0.1) inset;
  &.active{background-color:#ffffea;}
}

input[type=text], input[type=password] {height:20px;line-height:20px;padding:5px;overflow:hidden;}
textarea {padding:5px;line-height:20px;overflow:hidden;}