/*minibotton from github*/
.page-content,.page-head{

  input[type="text"] + .minibutton {margin-left: 5px;}
  button.minibutton::-moz-focus-inner {margin: -1px -3px;}

  button.minibutton {
    height: 23px;outline:none;
    &::-moz-focus-inner{border:none;}
  }

  input.minibutton{
    height: 23px;
  }

  .minibutton {
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    padding: 0 0 0 3px;

    @include box-shadow(1px 1px 2px #eee);

    span {
      display: block;
      height: 21px;
      line-height: 21px;
      padding: 0 10px 0 7px;
    }

    &:hover {
      @include gradient(#3B94FF, #006AED);
      border-color:#00698D;
      color: #FFFFFF;
      text-decoration: none;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    }

    &.mousedown {
      @include gradient(#006AED, #3B94FF);
      border-color:#00698D;
    }

    &.selected {
      @include gradient(#767676, #9E9E9E);
      border-color: #686868;
      color: #FFFFFF;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
    }

    &.disabled, &.disabled:hover {
      cursor: default;
      opacity: 0.5;
      filter:alpha(opacity=50);
    }

    &.lighter, &.disabled.lighter:hover {
      @include gradient(#FAFAFA, #DDDDDD);
      border: none;
      color: #333333;
      text-shadow: 1px 1px 0 #FFFFFF;
    }

    &.green, &.disabled.green:hover {
      @include gradient(#36B825, #28881B);
      border-color: #4A993E;
      color: #FFFFFF;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
      &.mousedown{
        @include gradient(#28881B, #36B825);
      }
    }

    &.blue, &.disabled.blue:hover {
      @include gradient(#5D99E1, #3570B8);
      border-color: #275666;
      color: #FFFFFF;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
      &:hover{
        @include gradient(#3B94FF, #006AED);
        border-color:#00698D;
      }
      &.mousedown{
        @include gradient(#006AED, #3B94FF);
        border-color:#00698D;
      }
    }

    &.red, &.disabled.red:hover {
      @include gradient(#DC5F59, #B33630);
      border-color: #C65651 #C65651 #A0302A;
      color: #FFFFFF;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    }

    &.gray, &.disabled.gray:hover {
      @include gradient(#f0f0f0, #dcdcdc);
      border-color: #d4d4d4;
      color: #333333;
      text-shadow: 1px 1px 0 #eee;
      &:hover{
        @include gradient(#f0f0f0, #dcdcdc);
      }
      &.mousedown{
        @include gradient(#dcdcdc, #f0f0f0);
      }
    }

    &.danger {
      color: #990000;
      &:hover {
        color: #FFFFFF;
        @include gradient(#DC5F59, #B33630);
        border-color: #C65651 #C65651 #A0302A;
      }
      &.mousedown {
        @include gradient(#B33630, #DC5F59);
        border-color: #A0302A #A0302A #C65651;
      }
      &.disabled:hover {
        @include gradient(#F4F4F4, #ECECEC);
        border-color: #D4D4D4;
        color: #990000;
      }
    }
  }

  .minibutton, .minibutton.disabled:hover {
    @include gradient(#F4F4F4, #ECECEC);
    @include border-radius(3px);
    border: 1px solid #D4D4D4;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: helvetica,arial,freesans,clean,sans-serif;
    overflow: visible;
    position: relative;
    text-shadow: 1px 1px 0 #FFFFFF;
    white-space: nowrap;
  }


}