/*will_pageinate style*/

$color1:#3E6D8E;
$radius:15px;

div.pagination{
  overflow:hidden;
  clear:both;
  
  a, span {
    height:16px;
    line-height:16px;
    padding:5px 9px;
    @include border-radius($radius);
    font-weight:bold;
    @include tfont;
    float:left;
    margin-right:4px;
  }
  a {
    text-decoration:none;
    color:$color1;
    background:white;
    border:solid 1px #CDCDCD;
    padding:4px 8px;
    &:hover,&:active{
      background:#F0F7FF;
      color:$color1;
    };
  }
  span{
    &.current {
      background-color:#3E6D8E;
      @include gradient(#1E5D8F,#103657);
      color:white;
    }
    &.disabled {display:none;}
  }
  .prev_page{
    background:none;
    border:none;
    padding:5px 9px;
  }
  .next_page{
    background:none;
    border:none;
    padding:5px 9px;
  }
}