/*will_pageinate style*/

$color1:#555;
$radius:3px;

.page-paginate{
  overflow:hidden;
  .pagination{
    float:right;
    padding:5px;
  }
}

div.pagination{
  overflow:hidden;
  clear:both;
  
  a, span {
    height:24px;line-height:24px;
    padding:1px 9px;
    @include border-radius($radius);
    font-weight:bold;
    float:left;
    margin-right:4px;
    font-size:14px;
  }
  a {
    text-decoration:none;
    color:$color1;
    background:#Fafafa;
    border:solid 1px #eee;
    padding:0 8px;
    &:hover,&:active{
      background:#Fff;
      color:$color1;
    };
  }
  span{
    &.current {
      background-color:#555;
      /*@include gradient(#1E5D8F,#103657);*/
      color:white;
    }
    &.disabled {display:none;}
  }
  .prev_page,.next_page{
    background:none;
    border:none;
    padding:1px 9px;
    &:hover{text-decoration:underline;};
  }
}