/*will_pageinate style*/
.page-paginate{
  overflow:hidden;
  padding:5px 0;
}

$color1:#555;
div.pagination{
  overflow:hidden;
  clear:both;
  
  a, em, span {
    height:24px;line-height:24px;
    padding:1px 9px;
    font-weight:bold;font-size:14px;
    float:left;
    margin-right:4px;
  }
  
  a{
    text-decoration:none;
    color:$color1;
    background:#f1f1f1;
    border:solid 1px #ddd;
    padding:0 8px;
    &:hover, &:active{
      background:#fff;
      color:$color1;
    };
  }
  
  em, span{
    font-style:normal;
    &.current {
      background-color:$color1;
      color:#fff;
    }
    &.disabled {display:none;}
  }
  
  .previous_page, .next_page{
    font-size:12px;
    //background:none;
    //border:none;
    //padding:1px 9px;
    //&:hover{
    //  text-decoration:underline;
    //  border:solid 1px #ddd;
    //  padding:0 8px;
    //};
  }
}