= javascript_include_tag '/javascripts/views/info_mindmap'
.margint5
  -mplist @mindmaps,:for=>[@user,Mindmap],:class=>"mouseoverable" do |mindmap|
    = render :partial=>"/mindmaps/list/info_mindmap",:locals=>{:mindmap=>mindmap}
