.userpage {
  overflow: hidden; }
  .userpage .upavatar {
    float: left;
    height: 52px; }
  .userpage .name {
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 52px;
    margin-left: 10px; }
  .userpage .config {
    float: right;
    line-height: 52px; }

.import_formats dl {
  font-size: 14px;
  overflow: hidden;
  margin: 0 0 0 0; }
  .import_formats dl dt {
    float: left;
    width: 80px;
    text-align: right;
    color: #FFB019; }
  .import_formats dl dd {
    float: left;
    width: 200px; }

.finder-sortby {
  line-height: 29px; }
  .finder-sortby a:hover {
    color: #FBEA8D; }

.marginr20 {
  margin-right: 20px; }

.map_data {
  clear: both;
  margin-top: 20px; }

.paginate-bottom {
  margin: 10px; }

.edit-link {
  width: 24px;
  height: 24px;
  background: url(/images/actions/edit.png) no-repeat;
  display: block; }

.clone-link {
  width: 24px;
  height: 24px;
  background: url(/images/actions/clone.png) no-repeat;
  display: block; }

.export-link {
  width: 24px;
  height: 24px;
  background: url(/images/actions/export.png) no-repeat;
  display: block; }

.infoedit-link {
  width: 24px;
  height: 24px;
  background: url(/images/actions/infoedit.png) no-repeat;
  display: block; }

.delete-link {
  width: 24px;
  height: 24px;
  background: url(/images/actions/delete.png) no-repeat;
  display: block; }

.import-link {
  width: 24px;
  height: 24px;
  background: url(/images/actions/import.png) no-repeat;
  display: block; }

.workgroup-link {
  width: 24px;
  height: 24px;
  background: url(/images/actions/workgroup.png) no-repeat;
  display: block; }

.mplist.mindmaps li {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #323546;
  border: solid 1px #111;
  margin: 0 0 5px 0; }
  .mplist.mindmaps li a:hover {
    color: #FBEA8D; }
  .mplist.mindmaps li .detail-operation {
    display: none;
    margin-right: 8px;
    float: left; }
  .mplist.mindmaps li.mouseover .detail-operation {
    display: block; }
  .mplist.mindmaps li .maprankbg {
    float: left;
    margin: 3px 5px 0 0;
    width: 36px;
    height: 36px;
    background-image: url(/images/map-rank-bg.png); }
    .mplist.mindmaps li .maprankbg .rank {
      padding-top: 13px;
      color: #724C21;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
      height: 20px;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6); }
  .mplist.mindmaps li .mindmap-logo {
    float: left;
    margin: 3px 5px 0 0;
    position: relative; }
    .mplist.mindmaps li .mindmap-logo .logo {
      height: 32px;
      width: 32px;
      overflow: hidden;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border: solid 1px #fff; }
    .mplist.mindmaps li .mindmap-logo .private-mark {
      width: 36px;
      height: 36px;
      background-color: red;
      position: absolute;
      top: 0px;
      left: 0px;
      filter: alpha(opacity=0);
      opacity: 0; }
      .mplist.mindmaps li .mindmap-logo .private-mark.p {
        filter: alpha(opacity=30);
        opacity: 0.3; }
  .mplist.mindmaps li .private-icon {
    width: 24px;
    margin: 8px 10px 0 0;
    float: left; }
    .mplist.mindmaps li .private-icon .private-mark-link {
      width: 24px;
      height: 24px;
      background: url(/images/status/private.png) no-repeat;
      display: block; }
    .mplist.mindmaps li .private-icon .not-private-mark-link {
      width: 24px;
      height: 24px;
      background: url(/images/status/not-private.png) no-repeat;
      display: block; }
  .mplist.mindmaps li .mindmap-meta {
    float: left; }

#mplist_mindmaps {
  overflow: hidden; }

#mplist_mindmaps li.grid {
  float: left;
  width: 198px;
  height: 190px;
  margin: 0 10px 10px 0;
  overflow: hidden;
  border: dotted 1px #888; }

.mapthumb-box {
  width: 120px;
  height: 90px;
  padding: 10px; }

.mapthumb-box .mapthumb {
  height: 90px;
  width: 120px; }

.low-value .maprankbg {
  background-image: url(/images/map-rank-bg-low.png); }

.low-value .rank {
  color: #676767; }
