.userpage {
  overflow: hidden; }
  .userpage .upavatar {
    float: left;
    margin-top: 8px; }
  .userpage .name {
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 52px;
    margin-left: 10px; }
  .userpage .config {
    float: right;
    line-height: 52px; }

.import_formats dl {
  font-size: 14px;
  overflow: hidden;
  margin: 0 0 0 0; }
  .import_formats dl dt {
    float: left;
    width: 80px;
    text-align: right;
    color: #FFB019; }
  .import_formats dl dd {
    float: left;
    width: 200px; }

.finder-sortby {
  line-height: 29px; }
  .finder-sortby a:hover {
    color: #FBEA8D; }

.marginr20 {
  margin-right: 20px; }

.map_list_head {
  overflow: hidden;
  border-bottom: solid 1px #464660; }

.map_data {
  clear: both;
  margin-top: 20px; }

.map_blank .title {
  margin-bottom: 10px;
  background: url(/images/mindmap_logo_16.png) no-repeat;
  padding-left: 22px;
  line-height: 16px; }
.map_blank ul li {
  padding-left: 22px; }

.paginate-bottom {
  clear: both;
  overflow: hidden; }

.edit-link {
  width: 24px;
  height: 24px;
  background: url(/images/actions/edit.png) no-repeat;
  display: block; }

.clone-link {
  width: 24px;
  height: 24px;
  background: url(/images/actions/clone.png) no-repeat;
  display: block; }

.export-link {
  width: 24px;
  height: 24px;
  background: url(/images/actions/export.png) no-repeat;
  display: block; }

.infoedit-link {
  width: 24px;
  height: 24px;
  background: url(/images/actions/infoedit.png) no-repeat;
  display: block; }

.delete-link {
  width: 24px;
  height: 24px;
  background: url(/images/actions/delete.png) no-repeat;
  display: block; }

.import-link {
  width: 24px;
  height: 24px;
  background: url(/images/actions/import.png) no-repeat;
  display: block; }

.cooperate-link {
  width: 24px;
  height: 24px;
  background: url(/images/actions/workgroup.png) no-repeat;
  display: block; }

.mplist.mindmaps li.mindmap {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #323546;
  border: solid 1px #111;
  margin: 0 0 5px 0;
  padding: 0px !important; }
  .mplist.mindmaps li.mindmap a:hover {
    color: #FBEA8D; }
  .mplist.mindmaps li.mindmap .detail-operation {
    display: none;
    margin-right: 8px;
    float: left; }
  .mplist.mindmaps li.mindmap.mouseover .detail-operation {
    display: block; }
  .mplist.mindmaps li.mindmap .map-data {
    padding: 6px; }
    .mplist.mindmaps li.mindmap .map-data .maprankbg {
      float: left;
      margin: 3px 5px 0 0;
      width: 36px;
      height: 36px;
      background-image: url(/images/map-rank-bg.png); }
      .mplist.mindmaps li.mindmap .map-data .maprankbg .rank {
        padding-top: 13px;
        color: #724C21;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        height: 20px;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6); }
    .mplist.mindmaps li.mindmap .map-data .mindmap-logo {
      float: left;
      margin: 3px 5px 0 0;
      position: relative; }
      .mplist.mindmaps li.mindmap .map-data .mindmap-logo .logo {
        height: 32px;
        width: 32px;
        overflow: hidden;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border: solid 1px #fff; }
      .mplist.mindmaps li.mindmap .map-data .mindmap-logo .private-mark {
        width: 36px;
        height: 36px;
        background-color: red;
        position: absolute;
        top: 0px;
        left: 0px;
        filter: alpha(opacity=0);
        opacity: 0; }
        .mplist.mindmaps li.mindmap .map-data .mindmap-logo .private-mark.p {
          filter: alpha(opacity=30);
          opacity: 0.3; }
    .mplist.mindmaps li.mindmap .map-data .private-icon {
      width: 24px;
      margin: 8px 10px 0 0;
      float: left; }
      .mplist.mindmaps li.mindmap .map-data .private-icon .private-mark-link {
        width: 24px;
        height: 24px;
        background: url(/images/status/private.png) no-repeat;
        display: block; }
      .mplist.mindmaps li.mindmap .map-data .private-icon .not-private-mark-link {
        width: 24px;
        height: 24px;
        background: url(/images/status/not-private.png) no-repeat;
        display: block; }
    .mplist.mindmaps li.mindmap .map-data .mindmap-meta {
      float: left; }
  .mplist.mindmaps li.mindmap .cooprate {
    padding: 4px 5px 4px 123px;
    background: #1F222E;
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px; }
    .mplist.mindmaps li.mindmap .cooprate span {
      color: white; }
    .mplist.mindmaps li.mindmap .cooprate ul {
      margin-left: 3px;
      margin-right: 20px;
      display: inline;
      overflow: hidden; }
      .mplist.mindmaps li.mindmap .cooprate ul li {
        display: inline;
        margin-left: 3px; }
  .mplist.mindmaps li.mindmap.grid {
    float: left;
    width: 200px;
    height: 160px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    border: solid 1px #111; }
    .mplist.mindmaps li.mindmap.grid .map-meta {
      background: #1F222E;
      border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0;
      padding: 5px; }
    .mplist.mindmaps li.mindmap.grid .map-data {
      position: relative; }
      .mplist.mindmaps li.mindmap.grid .map-data .mapthumb-box {
        width: 120px;
        height: 90px;
        padding: 5px; }
        .mplist.mindmaps li.mindmap.grid .map-data .mapthumb-box .mapthumb {
          height: 90px;
          width: 120px; }
      .mplist.mindmaps li.mindmap.grid .map-data .maprankbg {
        position: absolute;
        top: 5px;
        right: 5px; }
      .mplist.mindmaps li.mindmap.grid .map-data .clone-btn {
        position: absolute;
        top: 54px;
        right: 15px; }

.low-value .maprankbg {
  background-image: url(/images/map-rank-bg-low.png); }

.low-value .rank {
  color: #676767; }

.search-result {
  margin: 0 0 10px; }
  .search-result .meta {
    border: 1px solid #111;
    background-color: #171922;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    padding: 7px 10px; }
    .search-result .meta input.text {
      padding: 2px 7px;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      width: 98.5%; }
    .search-result .meta .quiet {
      color: #858585 !important; }
    .search-result .meta .misc span {
      line-height: 20px;
      float: left;
      margin-right: 10px; }
    .search-result .meta .misc .logo.tiny {
      height: 16px;
      width: 16px; }
  .search-result .data {
    background-color: #323546;
    border: solid 1px #111;
    border-top: none;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px; }
    .search-result .data .loud {
      color: black !important;
      background-color: #FFB019; }

.cooperate-form {
  float: left;
  margin-right: 40px;
  margin-top: 15px; }
  .cooperate-form textarea {
    width: 300px;
    height: 100px; }
    .cooperate-form textarea.hover {
      background: #FFFEC1 !important; }
  .cooperate-form .no-viewer {
    margin-bottom: 20px; }

.friends-list {
  margin-top: 15px;
  float: left;
  width: 250px; }
  .friends-list .no-concat {
    margin-top: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #111;
    padding: 10px; }
  .friends-list ul.concats {
    position: relative;
    margin-top: 5px; }
    .friends-list ul.concats li {
      margin-bottom: 1px;
      cursor: move;
      overflow: hidden;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background: #323546;
      border: solid 1px #111; }
      .friends-list ul.concats li .padding4 {
        padding: 4px; }
      .friends-list ul.concats li .avatar {
        float: left;
        margin-right: 10px;
        height: 34px; }
      .friends-list ul.concats li .data .name {
        font-weight: bold;
        color: white; }
      .friends-list ul.concats li .data .email {
        color: #888888; }
