@import "misc";

.userpage{
  overflow:hidden;
  .upavatar{
    float:left;
    margin-top:8px;
  }
  .name{
    float:left;
    font-size:16px;
    font-weight:bold;
    line-height:52px;
    margin-left:10px;
  }
  .config{
    float:right;
    line-height:52px;
  }
}

.import_formats{
  dl{
    font-size:14px;
    overflow:hidden;margin:0 0 0 0;
    dt{float:left;width:80px;text-align:right;color:#FFB019;}
    dd{float:left;width:200px;}
  }
}

.finder-sortby{
  line-height:29px;
  a:hover{
    color:#FBEA8D;
  }
}

.marginr20{
  margin-right:20px;
}

.map_list_head{
  overflow:hidden;
  border-bottom:solid 1px #464660;
}

.map_data{
  clear:both;
  margin-top:20px;
}

.map_blank{
  .title{
    margin-bottom:10px;
    background:url(/images/mindmap_logo_16.png) no-repeat;
    padding-left:22px;
    line-height:16px;
  }
  ul{
    li{
      padding-left:22px;
    }
  }
}

.paginate-bottom{margin:10px;}

.edit-link{width:24px;height:24px;background:url(/images/actions/edit.png) no-repeat;display:block;}
.clone-link{width:24px;height:24px;background:url(/images/actions/clone.png) no-repeat;display:block;}
.export-link{width:24px;height:24px;background:url(/images/actions/export.png) no-repeat;display:block;}
.infoedit-link{width:24px;height:24px;background:url(/images/actions/infoedit.png) no-repeat;display:block;}
.delete-link{width:24px;height:24px;background:url(/images/actions/delete.png) no-repeat;display:block;}
.import-link{width:24px;height:24px;background:url(/images/actions/import.png) no-repeat;display:block;}
.cooperate-link{width:24px;height:24px;background:url(/images/actions/workgroup.png) no-repeat;display:block;}

.mplist.mindmaps{
  li{
    @include border-radius(4px);
    background-color:#323546;
    border:solid 1px #111;
    margin:0 0 5px 0;
    a:hover{
      color:#FBEA8D;
    }
    .detail-operation{
      display:none;
      margin-right:8px;float:left;
    }
    &.mouseover{
      .detail-operation{display:block;}
    }

    .maprankbg{
      float:left;margin:3px 5px 0 0;
      width:36px;height:36px;background-image:url(/images/map-rank-bg.png);
      .rank{
        padding-top:13px;color:#724C21;text-align:center;font-size:16px;font-weight:bold;line-height:20px;height:20px;
        text-shadow:1px 1px 0 rgba(255, 255, 255, 0.6);
      }
    }

    .mindmap-logo {
      float:left;margin:3px 5px 0 0;position:relative;
      .logo{
        height:32px;width:32px;overflow:hidden;
        @include border-radius(3px);border:solid 1px #fff;
      }
      .private-mark{
        width:36px;height:36px;background-color:red;
        position:absolute;top:0px;left:0px;
        filter:alpha(opacity=0);
        opacity:0;
        &.p{
          filter:alpha(opacity=30);
          opacity:0.3;
        }
      }
    }
    .private-icon{
      width:24px;margin:8px 10px 0 0;float:left;
      .private-mark-link{
        width:24px;height:24px;
        background:url(/images/status/private.png) no-repeat;display:block;
      }
      .not-private-mark-link{
        width:24px;height:24px;
        background:url(/images/status/not-private.png) no-repeat;display:block;
      }
    }
    .mindmap-meta{
      float:left;
    }
  }
}



#mplist_mindmaps{overflow:hidden;}
#mplist_mindmaps li.grid{float:left;width:198px;height:190px;margin:0 10px 10px 0;overflow:hidden;border:dotted 1px #888;}
.mapthumb-box{width:120px;height:90px;padding:10px;}
.mapthumb-box .mapthumb{height:90px;width:120px;}


.low-value .maprankbg{background-image:url(/images/map-rank-bg-low.png);}
.low-value .rank{color:#676767;}

.search-result{
  margin:0 0 10px;
  .meta{
    border:1px solid #111;
    background-color:#171922;
    @include border-radius(3px 3px 0 0);
    padding:7px 10px;
    input.text{
      padding:2px 7px;
      @include border-radius(2px);
      width:98.5%;
    }
    .quiet{
      color:#858585 !important;
    }
    .misc{
      span{
        line-height:20px;
        float:left;
        margin-right:10px;
      }
      .logo.tiny{
        height:16px;width:16px;
      }
    }
  }
  .data{
    background-color:#323546;
    border:solid 1px #111;
    border-top:none;
    padding:10px;
    @include border-radius(0 0 3px 3px);
    .loud{
      color:black !important;
      background-color:#FFB019;
    }
  }
}