-require_css 'notes'

-content_for :javascripts do
  = javascript_include_tag 'views/notefile'

.secondary

.main
  -form_tag note_path,:method =>:put,:id=>"note_form" do
    .file
      .meta
        =text_field_tag "note[description]",@note.description
      .notefiles
        -@blobs.each do |blob|
          -name = blob.basename
          -content = blob.data
          -if blob_is_text?(blob)
            =render :partial=>"notes/parts/notefile_input",:locals=>{:file_name=>name,:file_content=>content}
          -else
            =render :partial=>"notes/parts/notefile_upload",:locals=>{:file_name=>name,:blob=>blob}
    .field
      =link_to "增加文本片段",'javascript:;',:class=>"add_another"
    .field
      %button.submit{:type=>"submit"}
        保存摘要