-first_file_name = "#{NoteRepository::NOTE_FILE_PREFIX}1"
-require_css 'notes'

-content_for :javascripts do
  = javascript_include_tag 'views/notefile'

.secondary
  .top-bar.clearfix
    .fleft.font14.bold 摘要列表
  %div
    -if current_user
      -current_user.notes.each do |note|
        %div=link_to note.title,note

.main
  -form_tag notes_path,:method =>:post,:id=>"note_form" do
    .file
      .meta
        =text_field_tag "note[description]"
      .notefiles
        =render :partial=>"notes/parts/notefile_input",:locals=>{:file_name=>first_file_name}

    .field
      =link_to "增加文本片段",'javascript:;',:class=>"add_another"

    .field
      %button.submit.glowing.marginr10{:name=>"commit",:type=>"submit",:value=>"private"}
        保存私有资料
      %button.submit{:name=>"commit",:type=>"submit",:value=>"public"}
        保存公开资料

