-require_css 'notes'

-repo = @note.repo
-commit_ids = repo.commit_ids
.grid_13.push_1
  -if params[:commit_id] == "master" || params[:commit_id] == commit_ids.first
    -if @can_show
      =link_to "编辑",edit_note_path(:note_id=>@note.id)
      =link_to "删除",destroy_note_path(:note_id=>@note.id),:method=>:delete,:confirm=>"确定删除吗？"
  %div
    =@note.private? ? "private" : "public"
    -repo.text_hash(params[:commit_id]).each do |name,text|
      =name
      =text

  .comments
    -if !@comments.blank?
      %h3
        #{@comments.count} 条评论
    -mplist @comments,:for=>Comment

  .comment-form
    -mindpin_form_for Comment.new do |f|
      =f.text_area :content
      =f.submit '增加评论'

.grid_8.push_1
  .top-bar.clearfix
    .fleft.font14.bold 版本列表
  %div
    -commit_ids.each do |id|
      =link_to id,show_note_path(:note_id=>@note.id,:commit_id=>id)