-content_for :title do
  准备连接新浪微博账号

-require_css 'views/users'

.binded-account.clearfix
  .binded-account-info.tsina.darkbg.rc5
    .title.btb 正在连接下面的新浪微博账号
    -bindinfo = @tsina_user_info
    -if !!bindinfo
      .meta
        .avatar
          %img.logo{:src=>bindinfo["profile_image_url"]}
        .name.loud
          =bindinfo["user_name"]
        .counts
          .friends
            .count=bindinfo["friends_count"]
            .n 关注
          .followers
            .count=bindinfo["followers_count"]
            .n 粉丝
          .statuses
            .count=bindinfo["statuses_count"]
            .n 微博
    -else
      .meta
        绑定信息不完整

.connect-confirm-btns
  .connect-create-new-user.button
    =link_to '我要创建新账号~',"/connect_success/create_quick_connect_account",:method=>:post

  .connect-has-reged.button
    =link_to '我以前注册过了!','javascript:;'

.connect-link-form
  %p
    如果您已经有一个 mindpin 正式账号，可以把 mindpin 账号绑定到这个新浪微博账号上
  =flash_info
  -form_tag "/connect_success/bind_mindpin_typical_account" do
    .field
      %label=t('activerecord.attributes.user.email')
      =text_field_tag :email,params[:email],:class=>'text'
    .field
      %label=t('activerecord.attributes.user.password')
      =password_field_tag :password,params[:password],:class=>'text'
    =submit_tag "绑定",:class=>"button submit"