-content_for :title do
  准备连接人人网账号

-require_css 'views/users'

.binded-account.clearfix
  .binded-account-info.renren.darkbg.rc5
    .title.btb 正在连接下面的人人网账号
    -bindinfo = @renren_user_info
    -if !!bindinfo
      .meta
        .avatar
          %img.logo{:src=>bindinfo["logo_url"]}
        .name.loud
          =bindinfo["user_name"]
        .sex
          =bindinfo["sex"] == '1' ? "男" : '女'
        .university_name
          =bindinfo["university_name"]
        .star
          =bindinfo["star"] == '1' ? '星级用户' : '普通用户'
    -else
      .meta
        绑定信息不完整

%p
  您可以用该人人账号的信息创建一个快速连接账号，
  以后您就可以通过人人账号登录的方式登录这个快速连接账号
=link_to "创建快速连接账号","/connect_success/create_quick_connect_account",:method=>:post

%p
  如果您已经有一个 mindpin 正式账号，可以把 mindpin 账号绑定到这个人人账号上
=flash_info
-form_tag "/connect_success/bind_mindpin_typical_account" do
  .field
    %label=t('activerecord.attributes.user.email')
    =text_field_tag :email,params[:email],:class=>'text'
  .field
    %label=t('activerecord.attributes.user.password')
    =password_field_tag :password,params[:password],:class=>'text'
  =submit_tag "绑定",:class=>"button submit"