=link_to "连接新浪微博","javascript:;",:onclick=>"pie.open_win('#{connect_tsina_path}');return false;"

=link_to "人人网登陆","javascript:;",:onclick=>"pie.open_win('#{connect_renren_path}');return false;"


