.map-explore {
  overflow: hidden;
  margin: 0 0 15px 0; }
  .map-explore .btns {
    float: right; }
    .map-explore .btns .prev, .map-explore .btns .next, .map-explore .btns .show {
      float: left;
      height: 25px;
      line-height: 25px; }
      .map-explore .btns .prev a, .map-explore .btns .next a, .map-explore .btns .show a {
        background: -moz-linear-gradient(-90deg, #fbfbfb, #f4f4f4);
        background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#fbfbfb), to(#f4f4f4));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fbfbfb',endColorstr='#f4f4f4');
        padding: 4px 7px;
        color: #444444;
        text-shadow: 1px 1px 0 #FFFFFF;
        display: block;
        height: 17px;
        line-height: 17px;
        /*#F0F0F0 #E2E2E2 #E4E4E4 #F0F0F0*/ }
        .map-explore .btns .prev a:hover, .map-explore .btns .next a:hover, .map-explore .btns .show a:hover {
          text-decoration: none;
          background: -moz-linear-gradient(-90deg, #fbfbfb, #ebebeb);
          background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#fbfbfb), to(#ebebeb));
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fbfbfb',endColorstr='#ebebeb'); }
      .map-explore .btns .prev.disabled a, .map-explore .btns .next.disabled a, .map-explore .btns .show.disabled a {
        cursor: default;
        color: #BBBBBB !important; }
        .map-explore .btns .prev.disabled a:hover, .map-explore .btns .next.disabled a:hover, .map-explore .btns .show.disabled a:hover {
          text-decoration: none;
          background: -moz-linear-gradient(-90deg, #fbfbfb, #f4f4f4);
          background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#fbfbfb), to(#f4f4f4));
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fbfbfb',endColorstr='#f4f4f4'); }
    .map-explore .btns .prev a {
      border-right: solid 1px #f0f0f0;
      border-radius: 6px 0 0 6px;
      -moz-border-radius: 6px 0 0 6px;
      -webkit-border-radius: 6px 0 0 6px; }
    .map-explore .btns .show {
      cursor: pointer; }
      .map-explore .btns .show a {
        width: 15px;
        height: 17px;
        border-left: solid 1px #fff;
        border-right: solid 1px #f0f0f0; }
        .map-explore .btns .show a span {
          text-indent: -999px;
          font-size: 0;
          line-height: 0;
          display: block;
          background: url(/images/icons/info-explore.png) no-repeat -11px -9px;
          width: 15px;
          height: 17px; }
        .map-explore .btns .show a:hover span {
          background: url(/images/icons/info-explore.png) no-repeat -11px -49px; }
    .map-explore .btns .next a {
      border-left: solid 1px #fff;
      border-radius: 0 6px 6px 0;
      -moz-border-radius: 0 6px 6px 0;
      -webkit-border-radius: 0 6px 6px 0; }

.map-info .preview {
  text-align: center;
  margin-bottom: 20px;
  padding: 5px 0;
  font-size: 0;
  line-height: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .map-info .preview img {
    border: solid 2px #A3A3A3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: url("/images/big.cur"), auto; }
.map-info .title {
  font-size: 18px;
  font-weight: bold;
  color: white; }
  .map-info .title:hover {
    background: #37394B; }
  .map-info .title form {
    position: absolute;
    width: 172px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #E0EBAF;
    border: solid 2px #323546;
    padding: 2px; }
    .map-info .title form input {
      background: #F7FCFF;
      border: none;
      padding: 0 2px;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border: solid 1px #111; }
    .map-info .title form button {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border: none 0px;
      margin: 2px 5px 0 0;
      border: solid 1px #666; }
      .map-info .title form button.editable-submit {
        color: white;
        background: #0063DC; }
        .map-info .title form button.editable-submit:hover {
          background: #0054BD; }
      .map-info .title form button.editable-cancel {
        color: #666666;
        background: #ddd; }
        .map-info .title form button.editable-cancel:hover {
          background: #CFCFCF; }
  .map-info .title form {
    position: relative;
    background: none;
    border: none; }

.map-action {
  margin-top: 20px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: solid 1px #111;
  padding: 5px;
  padding: 5px;
  font-size: 14px;
  background: #323546; }
  .map-action .title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px; }
  .map-action .ac {
    overflow: hidden; }
    .map-action .ac .pt {
      overflow: hidden;
      margin-bottom: 10px; }
      .map-action .ac .pt a {
        float: left;
        font-size: 0px;
        line-height: 0px;
        text-indent: -999px;
        width: 24px;
        height: 24px;
        margin-right: 10px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px; }
        .map-action .ac .pt a.public {
          background: url(/images/icons/all.png) -50px -117px no-repeat !important; }
        .map-action .ac .pt a.private {
          background: url(/images/icons/all.png) -25px -117px no-repeat !important; }
        .map-action .ac .pt a.loading {
          background: url(/images/icons/toggle-loading-12.gif) no-repeat 6px 6px !important; }
      .map-action .ac .pt .desc {
        font-size: 12px;
        line-height: 24px; }

.map-meta .creator {
  margin: 40px 0 0 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 5px;
  margin: 0 0 10px 0; }
  .map-meta .creator .cavatar {
    float: left;
    margin: 0 10px 0 0; }
.map-meta .time {
  padding: 5px;
  margin: 0 0 10px 0; }
.map-meta .coop {
  padding: 5px;
  margin: 0 0 10px 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: solid 1px #111; }
  .map-meta .coop .users {
    margin: 10px 0 0 0;
    overflow: hidden; }
    .map-meta .coop .users .avatar {
      float: left;
      width: 52px;
      height: 60px;
      overflow: hidden; }
      .map-meta .coop .users .avatar .p {
        text-align: center; }
.map-meta .export, .map-meta .share, .map-meta .similar-maps {
  padding: 5px;
  margin: 0 0 10px 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: solid 1px #111; }
.map-meta .share {
  overflow: hidden; }
  .map-meta .share a.share_to {
    margin: 3px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 0;
    line-htight: 0;
    text-indent: -999px;
    width: 18px;
    height: 18px;
    float: left;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 1px 1px; }
    .map-meta .share a.share_to.tsina {
      background-image: url(/images/share/tsina.png); }
    .map-meta .share a.share_to.renren {
      background-image: url(/images/share/renren.png); }
    .map-meta .share a.share_to.douban {
      background-image: url(/images/share/douban.png); }
