@import "../misc";

.map-explore{
  overflow:hidden;
  margin:0 0 15px 0;
  padding:5px;
  .btns{
    float:right;
    .prev,.next,.show{
      float:left;
      height:25px;
      line-height:25px;
      a{
        @include gradient(#FBFBFB,#F4F4F4);
        padding:4px 7px;
        color:#444444;
        text-shadow:1px 1px 0 #FFFFFF;
        display:block;
        height:17px;
        line-height:17px;
        /*#F0F0F0 #E2E2E2 #E4E4E4 #F0F0F0*/
        &:hover{
          text-decoration:none;
          @include gradient(#FBFBFB,#EBEBEB);
        }
      }
      &.disabled{
        a{
          cursor:default;
          color:#BBBBBB !important;
          &:hover{
            text-decoration:none;
            @include gradient(#FBFBFB,#F4F4F4);
          }
        }
      }
    }
    .prev{
      a{
        border-right:solid 1px #f0f0f0;
        @include border-radius(6px 0 0 6px);
      }
    }
    .show{
      cursor:pointer;
      a{
        width:15px;
        height:17px;
        border-left:solid 1px #fff;
        border-right:solid 1px #f0f0f0;
        span{
          text-indent:-999px;
          font-size:0;
          line-height:0;
          display:block;
          background:url(/images/icons/info-explore.png) no-repeat -11px -9px;
          width:15px;height:17px;
        }
        &:hover span{
          background:url(/images/icons/info-explore.png) no-repeat -11px -49px;
        }
      }
    }
    .next{
      a{
        border-left:solid 1px #fff;
        @include border-radius(0 6px 6px 0);
      }
    }
  }
}

.map-info{
  overflow:hidden;
  margin:0 0 20px 0;
  padding:5px;
  .preview{
    text-align:center;
    margin-bottom:20px;
    padding:5px 0;
    font-size:0;
    line-height:0;
    @include border-radius(5px);
    img{
      border:solid 2px #A3A3A3;
      @include border-radius(3px);
      cursor:url("/images/big.cur"), auto;
    }
  }
  .title{
    font-size:18px;
    font-weight:bold;
    @include editable-form;
    form{
      position:relative;
      background:none;
      border:none;
    }
  }
}

.map-misc{
  padding:5px;
  margin: 0 0 20px 0;
  font-size:14px;
  .split{
    padding:0 4px;
    font-family:"Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti !important;
  }
}

.map-action{
  margin: 0 0 20px 0;
  @include border-radius(4px);
  padding:5px;
  padding:5px;
  font-size:14px;
  .title{
    font-size:14px;
    font-weight:bold;
    margin-bottom:10px;
  }
  .ac{
    overflow:hidden;
    .pt{
      overflow:hidden;
      margin-bottom:10px;
      a{
        float:left;
        font-size:0px;
        line-height:0px;
        text-indent:-999px;
        width:24px;
        height:24px;
        margin-right:10px;
        @include border-radius(4px);
        &.public{background:url(/images/icons/all.png) -50px -117px no-repeat !important;}
        &.private{background:url(/images/icons/all.png) -25px -117px no-repeat !important;}
        &.loading{background:url(/images/icons/toggle-loading-12.gif) no-repeat 6px 6px !important;}
      }
      .desc{
        font-size:12px;
        line-height:24px;
      }
    }
  }
}

.map-meta{
  .creator{
    overflow:hidden;
    margin:40px 0 0 0;
    @include border-radius(4px);
    padding:5px;
    margin:0 0 10px 0;
    .avatar{
      float:left;margin:0 10px 0 0;
    }
  }
  .back-to-list{
    font-size:14px;
    margin:0 0 20px 0;
    padding:5px;
  }

  .coop{
    padding:5px;
    margin:0 0 20px 0;
    .avatars{
      overflow:hidden;
      .avatar{
        float:left;
        margin:0 4px 4px 0;
      }
      .cooperator-config{
        @include border-radius(3px);
        width:28px;
        height:28px;
        float:left;
        cursor:pointer;
        .icon{
          background:url(/images/icons/all.png) no-repeat -75px -142px;
          width:24px;
          height:24px;
          position:relative;
          top:2px;
          left:2px;
        }
      }
    }
  }

  .export,.share,.similar-maps{
    padding:5px;
    margin:0 0 20px 0;
    @include border-radius(4px);
  }

  .share{
    overflow:hidden;
    a.share_to {
      margin:3px;
      @include border-radius(2px);
      font-size:0;
      line-htight:0;
      text-indent:-999px;
      width:18px;
      height:18px;
      float:left;
      background-color:white;
      background-repeat:no-repeat;
      background-position:1px 1px;
      &.tsina {
        background-image:url(/images/share/tsina.png);
      }
      &.renren {
        background-image: url(/images/share/renren.png);
      }
      &.douban {
        background-image: url(/images/share/douban.png);
      }
    }
  }
}

.map-comment{
  padding:5px;
  .form{
    margin:0 0 20px 0;
  }
  .mindmap-comment-list{
    .comment{
      padding:5px;
      .avatar{
        float:left;
      }
      .data{
        margin:0 0 0 40px;
      }
    }
  }
}