-#use 所有公开主题
-#see 所有公开主题

-htitle "所有公开主题"

.main.grid_24.no-line
  .page-info-top
    .meta{:style=>'overflow:visible;'}
      .item=link_to '来自联系人的主题','/'
      .item.selected 所有公开主题
      .ops
        %a.create{:href=>"/feeds/new"} <span class='icon'></span><span>创建主题</span>
    .clearfix

  =prender 'feed','grid',:feeds=>@feeds