-require_css 'views/users',true

-content_for :title do
  我的首页

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

.main.grid_18
  .feeds
    .newsfeed
      =render 'feeds/lists/feeds_stat',:feeds=>@feeds
    .paginate.padding5
      = will_paginate @feeds

.mside.grid_6
  =show_sub_menu