-htitle '创建新主题'

-content_for :css do
  =stylesheet_link_tag '/ueditor/themes/default/ueditor.css'

-content_for :javascript do
  =javascript_include_tag '/uploadify/upload_feed_photo'

  -# 编辑器核心代码
  =javascript_include_tag '/ueditor/editor_config.js'

  =javascript_include_tag '/ueditor/editor.js'
  =javascript_include_tag '/ueditor/core/browser.js'
  =javascript_include_tag '/ueditor/core/utils.js'
  =javascript_include_tag '/ueditor/core/EventBase.js'

  =javascript_include_tag '/ueditor/core/dom/dom.js'
  =javascript_include_tag '/ueditor/core/dom/dtd.js'
  =javascript_include_tag '/ueditor/core/dom/domUtils.js'
  =javascript_include_tag '/ueditor/core/dom/Range.js'
  =javascript_include_tag '/ueditor/core/dom/Selection.js'

  =javascript_include_tag '/ueditor/core/Editor.js'

  -# 编辑器命令代码

  -# 加粗，加斜，删除线，上标，下标
  =javascript_include_tag '/ueditor/commands/basestyle.js'
  =javascript_include_tag '/ueditor/commands/font.js'
  =javascript_include_tag '/ueditor/commands/elementpath.js'
  -# 引用块
  =javascript_include_tag '/ueditor/commands/blockquote.js'
  -# 有序列表
  =javascript_include_tag '/ueditor/commands/list.js'

  -# 编辑器插件
  -# 自动增高
  =javascript_include_tag '/ueditor/plugins/autoheight/autoheight.js'
  =javascript_include_tag '/ueditor/plugins/serialize/serialize.js'

  -# 编辑器UI
  =javascript_include_tag '/ueditor/ui/ui.js'
  =javascript_include_tag '/ueditor/ui/uiutils.js'
  =javascript_include_tag '/ueditor/ui/uibase.js'
  =javascript_include_tag '/ueditor/ui/mask.js'
  =javascript_include_tag '/ueditor/ui/popup.js'
  =javascript_include_tag '/ueditor/ui/stateful.js'
  =javascript_include_tag '/ueditor/ui/button.js'
  =javascript_include_tag '/ueditor/ui/splitbutton.js'
  =javascript_include_tag '/ueditor/ui/toolbar.js'
  =javascript_include_tag '/ueditor/ui/menu.js'
  =javascript_include_tag '/ueditor/ui/dialog.js'
  =javascript_include_tag '/ueditor/ui/menubutton.js'
  =javascript_include_tag '/ueditor/ui/editorui.js'
  =javascript_include_tag '/ueditor/ui/editor.js'
  =javascript_include_tag '/ueditor/ui/multiMenu.js'

.main.grid_17
  .page-title-bar
    .meta
      %h2 创建主题
    .ops
      #page-upload-photo-btn.upload.create 上传图片

  #page-upload-queue

  .page-new-feed-form
    =flash_info
    -form_tag "/feeds",:class=>'common_form' do
      .field.title
        %label 标题
        =text_field_tag "content",'',:class=>"text content-ipter need"
      .field.detail
        %label 正文 <span class='quiet font12'>(选填)</span>
        =text_area_tag "detail",'',:class=>"text detail-ipter",:style=>'display:none;'
        #page-feed-detail-ipter
      .field.photos
        =hidden_field_tag "photo_ids",'',:class=>'photos-ipter'
      .field.tags
        %label 关键词 <span class='quiet font12'>(选填)</span>
        =text_field_tag "tags",'',:class=>"text tags-ipter"

      =render 'modules/field_sendto_selector'

      .field
        %span.quiet.submit-desc (标题、正文、关键词都可以在写好后再修改)
      .field.subm
        =link_to "好了，确定创建",'javascript:;',:class=>'create-submit'
        =link_to '算了，取消','/',:class=>'create-cancel'


.mside.grid_7
  .page-new-feed-tips
    .tip.what-is-it.darkbg
      .title.btb 频道简述
      %ul
        %li 当选择“完全公开”时，无法选择其他任何频道
        %li 当选择“所有联系人”时，无法选择其他任何频道
        %li 不选择“完全公开”或“所有联系人”时，可以选择一个到多个频道

    .tip.format-help.darkbg{:style=>'display:none;'}
      .title.btb 简明格式帮助
      %ul
        %li **<strong>粗体字</strong>**
        %li _<em>斜体字</em>_
        %li ~~<strike quiet>删除线</strike>~~
        %li &gt; 引用块
        %li * 列表项
        %li 小标题<br/>------
        %li ![图片名](图片地址)
      .alignright
        <a href='http://www.mindpin.com/feeds/6039' target='_blank'>具体请参考这里»</a>

    .tip.tag-help.darkbg{:style=>'display:none;'}
      .title.btb 怎样添加关键词
      %p
        挑选简明扼要的，能代表文章内容的词或简单短语作为关键词。
      %p
        使用纯中文或者英文数字，不支持特殊符号。
      %p
        输入多个关键词，用逗号或空格分隔。
