-#use 新建主题
-#see 登录首页->中间栏->新建

-htitle '创建新主题'

-hjavascript '/html5_upload/upload_feed_photo'

-form_tag "/feeds",:class=>'page-new-feed-form' do
  .main.grid_18.no-line
    .form-main
      .field.title
        %label 标题
        =text_field_tag "title",'',:class=>"text title-ipter"

      .page-file-upload
        -btn_width = 82
        -btn_height = 28
        .relative
          .input-div{:style=>"position:absolute;width:#{btn_width}px;height:#{btn_height}px;left:0;top:0;overflow:hidden;"}
            %input{:type=>'file',:style=>'position:absolute;top:0;right:0;height:#{btn_height}px;font-size:30px;opacity:0;',:multiple=>""}
        .upload-btn 上传图片


      .field.photos
        =hidden_field_tag "photo_names",'',:class=>'photos-ipter'

      .field.detail
        =text_area_tag "detail",'',:class=>"text detail-ipter"

    .form-submit
      .field.subm
        =link_to "好了，确定创建",'javascript:;',:class=>'create-submit'
        =link_to '算了，取消','/',:class=>'create-cancel'

  .mside.grid_6.no-line
    .form-collection-select
      %h3 选择发送范围
      =hidden_field_tag "collection_ids","",:class=>'collections-ipter'
      .field.collections
        -current_user.created_collections_db.each do |c|
          -checked_id = params[:collection]
          -if c.id.to_s == checked_id
            .c.checked{:'data-id'=>c.id}
              .cb=check_box 'collections','aaa',:class=>'checkbox',:checked=>true
              .name=c.title
          -else
            .c{:'data-id'=>c.id}
              .cb=check_box 'collections','aaa',:class=>'checkbox',:checked=>false
              .name=c.title