-#use 新建主题
-#see 登录首页->中间栏->新建

-htitle '创建新主题'

-hjavascript '/html5_upload/upload_feed_photo'

-# 表单上绑定的js在ui工程的/js/util/new_forms/feed.js

-# feed创建表单，提交的参数包括
-# title
-# photo_ids
-# detail
-# collection_ids
-# send_tsina

-# 如果保存草稿，多保存一个 draft_token 用来指定草稿

-draft_token = params[:draft] || randstr(8)

-draft = PostDraft.find_by_draft_token(draft_token)
-has_draft = !draft.blank?

-ipt_title          = has_draft ? draft.title : ''
-ipt_photo_ids      = has_draft ? draft.photo_ids : ''
-ipt_photos         = has_draft ? draft.photos : []

-ipt_detail         = has_draft ? draft.detail : ''
-ipt_collection_ids = has_draft ? draft.collection_ids : (params[:collection] || '')
-ipt_send_tsina     = ''

-aimed_collection = !params[:collection].blank?


.main.grid_18.no-line
  -form_tag "/feeds",:class=>'page-new-feed-form' do
    .form-main
      .field.title
        %label 标题（选填）
        =text_field_tag "title", ipt_title, :class=>"text title-ipter at-least"

      .page-file-upload
        -btn_width = 82
        -btn_height = 32
        .relative
          .input-div{:style=>"position:absolute;width:#{btn_width}px;height:#{btn_height}px;left:0;top:0;overflow:hidden;"}
            %input{:type=>'file',:style=>'position:absolute;top:0;right:0;height:#{btn_height}px;font-size:30px;opacity:0;',:multiple=>""}
        .upload-btn 上传图片

      .clearfix

      .field.photos
        -ipt_photos.each do |photo|
          =render 'views_modules/photos/feed_uploaded',:photo=>photo

        =hidden_field_tag "photo_ids", ipt_photo_ids, :class=>'photos-ipter at-least'

      .field.detail
        =text_area_tag "detail", ipt_detail, :class=>"text detail-ipter at-least"

      -if aimed_collection
        .aimed_collection_mark.hide{:'data-id'=>params[:collection]}
      =hidden_field_tag "collection_ids", ipt_collection_ids, :class=>'collections-ipter need'
      =hidden_field_tag "send_tsina", ipt_send_tsina, :class=>'send-tsina-ipter'

      -if has_draft
        .loaded_draft_mark.hide
      =hidden_field_tag "draft_token", draft_token, :class=>'draft-token-ipter'

    .form-submit
      .field.subm
        =link_to "确定创建",'javascript:;',:class=>'create-submit'
        =link_to "保存草稿",'javascript:;',:class=>'create-save-draft'
        %span.submit-info{:style=>'display:none;'}
        =link_to '取消','/',:class=>'create-cancel'

.mside.grid_6.no-line
  .page-new-feed-form-side
    .form-collection-select
      %h3 选择发送范围

      .field.collections
        -current_user.created_collections.each do |c|
          -checked_id = params[:collection]
          -if c.id.to_s == checked_id
            .c.checked{:'data-id'=>c.id}
              .cb=check_box 'collections','c',:class=>'checkbox',:checked=>true
              .name=c.title
          -else
            .c{:'data-id'=>c.id}
              .cb=check_box 'collections','c',:class=>'checkbox',:checked=>false
              .name=c.title
    -if current_user.has_binded_tsina?
      .field.send-to-tsina

        .c
          .cb=check_box 'collections','d',:class=>'checkbox',:checked=>false
          .name 发送到新浪微博
          .icon