-#use 新建主题
-#see 登录首页->中间栏->新建

-htitle '创建新主题'

-content_for :css do
  =stylesheet_link_tag '/ueditor/themes/default/ueditor.css'

-content_for :javascript do
  =javascript_include_tag '/html5_upload/upload_feed_photo'

  -# 编辑器核心代码
  =javascript_include_tag '/ueditor/editor_config.js'

  =javascript_include_tag '/ueditor/editor.js'
  =javascript_include_tag '/ueditor/core/browser.js'
  =javascript_include_tag '/ueditor/core/utils.js'
  =javascript_include_tag '/ueditor/core/EventBase.js'

  =javascript_include_tag '/ueditor/core/dom/dom.js'
  =javascript_include_tag '/ueditor/core/dom/dtd.js'
  =javascript_include_tag '/ueditor/core/dom/domUtils.js'
  =javascript_include_tag '/ueditor/core/dom/Range.js'
  =javascript_include_tag '/ueditor/core/dom/Selection.js'

  =javascript_include_tag '/ueditor/core/Editor.js'

  -# 编辑器命令代码

  -# 加粗，加斜，删除线，上标，下标
  =javascript_include_tag '/ueditor/commands/basestyle.js'
  =javascript_include_tag '/ueditor/commands/font.js'
  =javascript_include_tag '/ueditor/commands/elementpath.js'
  -# 引用块
  =javascript_include_tag '/ueditor/commands/blockquote.js'
  -# 有序列表
  =javascript_include_tag '/ueditor/commands/list.js'

  -# 编辑器插件
  -# 自动增高
  =javascript_include_tag '/ueditor/plugins/autoheight/autoheight.js'
  =javascript_include_tag '/ueditor/plugins/serialize/serialize.js'

  -# 编辑器UI
  =javascript_include_tag '/ueditor/ui/ui.js'
  =javascript_include_tag '/ueditor/ui/uiutils.js'
  =javascript_include_tag '/ueditor/ui/uibase.js'
  =javascript_include_tag '/ueditor/ui/mask.js'
  =javascript_include_tag '/ueditor/ui/popup.js'
  =javascript_include_tag '/ueditor/ui/stateful.js'
  =javascript_include_tag '/ueditor/ui/button.js'
  =javascript_include_tag '/ueditor/ui/splitbutton.js'
  =javascript_include_tag '/ueditor/ui/toolbar.js'
  =javascript_include_tag '/ueditor/ui/menu.js'
  =javascript_include_tag '/ueditor/ui/dialog.js'
  =javascript_include_tag '/ueditor/ui/menubutton.js'
  =javascript_include_tag '/ueditor/ui/editorui.js'
  =javascript_include_tag '/ueditor/ui/editor.js'

.mside.grid_5.layout-side
  =minibutton '返回首页','/'

.layout-main.ll.grid_19
  .layout-main-inside
    -form_tag "/feeds",:class=>'common_form create-form' do
      .page-new-feed-form

        .form-meta
          .field.title
            %label 标题
            =text_field_tag "content",'',:class=>"text content-ipter need"
          =render 'modules/field_sendto_selector'

          .page-file-upload
            .upload-btn 上传图片
            .input-div{:style=>'position:absolute;width:82px;height:22px;left:0;top:0;overflow:hidden;'}
              %input{:type=>'file',:style=>'position:absolute;top:0;right:0;height:22px;font-size:30px;opacity:0;',:multiple=>""}
          .field.photos
            =hidden_field_tag "photo_names",'',:class=>'photos-ipter'

          .field.detail
            %label.hide 正文 <span class='quiet font12'>(选填)</span>
            =text_area_tag "detail",'',:class=>"text detail-ipter",:style=>'display:none;'
            #page-feed-detail-ipter

          .field.tags
            %label 关键词
            =text_field_tag "tags",'',:class=>"text tags-ipter"

        .field.subm.padding10
          =link_to "好了，确定创建",'javascript:;',:class=>'create-submit'
          =link_to '算了，取消','/',:class=>'create-cancel'
