-require_css 'views/users',true

-content_for :title do
  大家最近的主题

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

.grid_18.alpha
  .grid-title
    大家最近的主题
  .hrr
  .newsfeed
    =render 'feeds/lists/feeds_stat',:feeds=>@feeds
  .feed-paginate.padding5
    = will_paginate @feeds

.grid_5.omega.fright
  =show_sub_menu

  .grid-title-s 看看他们的主页吧
  .hot-user-pages
    -page_hot_users.each do |u|
      %a.avatar{:href=>"/users/#{u.id}",:tip=>u.name}
        =avatar u,:mini