-require_css 'views/users',true

-content_for :title do
  我关注的话题

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

  - refresh_quote_tip
  = javascript_include_tag "views/notice/feed_notice"
  :javascript
    pie.misc_tip_info = #{misc_tip_info.to_json}

.grid_3.alpha
  =render :partial=>'index/index_parts/user_info',:locals=>{:user=>current_user}

.grid_14.paddingl20
  .grid-title
    其他人对我的话题进行的传播

  .newsfeed
    -mplist @quoted_me_feeds,:for=>Feed do |feed|
      =render :partial=>'index/homepage/feeds/feed_info',:locals=>{:feed=>feed}

.grid_4.omega.fright
  =render :partial=>'index/index_parts/feed_links'