-require_css 'views/users',true

-content_for :title do
  主题搜索结果

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

.grid_18.alpha

  .grid-title
    关于
    %span.loud>#{@query}
    的搜索结果(#{@result.total_count})

  .hrr

  .newsfeed
    =render :partial=>'feeds/search_parts/feed_search_results',:locals=>{:result=>@result,:query=>@query}

  .padding5
    =will_paginate @result

.grid_5.omega.fright