-#use 显示主题

-title_short = feed_title_short(@feed,15)
-creator = @feed.creator
-collection = @feed.collections.first
-feed_id = @feed.id
-photos = @feed.photos
-detail = feed_detail(@feed)

-htitle title_short

.mside.grid_6.no-line
  =prender 'collection','grid',:collections=>[collection]

.main.grid_18.no-line
  .page-feed-show
    .f-head
      .avatar=avatar creator
      .c-meta
        .name=usersign creator
        .data
    .f-main
      .title=link_to title_short,"/feeds/#{feed_id}"

      -if !photos.blank?
        .photos>
          -photos.each do |photo|
            -img_src = photo.image.url
            .photo>
              %img{:src=>img_src}>

      -if !detail.blank?
        .detail=detail
