-require_css 'views/users',true

-content_for :title do
  =truncate_u(@feed.content,12)

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"
  = javascript_include_tag "views/feed_show_operation"

  = javascript_include_tag "views/notice/feed_notice"
  :javascript
    pie.misc_tip_info = #{misc_tip_info.to_json}

.grid_17
  =render 'feeds/show_parts/feed_show',:feed=>@feed

.grid_5.omega.fright
  .grid-title
    相关话题
  .simlar-feeds.padding5
    -simlar_feeds = FeedLucene.similar_feeds_of(@feed)
    -simlar_feeds.each do |f|
      .f.btb
        =f.content