%td=project_name
%td=MindpinServiceManagement.project_state(project_name)
%td=MindpinServiceManagement.project_log_size(project_name)
%td=qdatetimefull(MindpinServiceManagement.project_log_mtime(project_name))
%td
  -if project_name != "app-mindmap-image-cache"
    =link_to "查看日志",project_log_path(:project_name=>project_name)
  -if MindpinServiceManagement.project_start?(project_name)
    =link_to "停止",operate_project_path(:operate=>"stop",:project=>project_name),:method=>"post"
    =link_to "重启",operate_project_path(:operate=>"restart",:project=>project_name),:method=>"post"
    =link_to "USR2安全重启",operate_project_path(:operate=>"usr2_stop",:project=>project_name),:method=>"post"
  -else
    =link_to "开启",operate_project_path(:operate=>"start",:project=>project_name),:method=>"post"