%td=project_name
%td
  -if ProjectManagement.start?(project_name)
    ="#{ProjectManagement.state(project_name)}(pid:#{ProjectManagement.pid_count(project_name)})"
  -else
    =ProjectManagement.state(project_name)
%td=ProjectManagement.log_size(project_name)
%td=qdatetimefull(ProjectManagement.log_mtime(project_name))
%td
  =link_to "查看日志",project_log_path(:project_name=>project_name)
  -if ProjectManagement.start?(project_name)
    =link_to "停止",operate_project_path(:operate=>"stop",:project=>project_name),:method=>"post"
    =link_to "USR2安全重启",operate_project_path(:operate=>"usr2_stop",:project=>project_name),:method=>"post"
  -else
    =link_to "启动",operate_project_path(:operate=>"start",:project=>project_name),:method=>"post"