%td=queue_name
%td
  -if ResqueQueueWorkerManagement.start?(queue_name) || ResqueQueueWorkerManagement.pause?(queue_name)
    ="#{ResqueQueueWorkerManagement.state(queue_name)}(pid:#{ResqueQueueWorkerManagement.pid_count(queue_name)})"
  -else
    =ResqueQueueWorkerManagement.state(queue_name)
%td=ResqueQueueWorkerManagement.log_size(queue_name)
%td=qdatetimefull(ResqueQueueWorkerManagement.log_mtime(queue_name))
%td
  =link_to "查看日志",resque_queue_worker_log_path(:queue_name=>queue_name)
  -if ResqueQueueWorkerManagement.start?(queue_name)
    =link_to "停止",operate_resque_queue_worker_path(:operate=>"stop",:queue=>queue_name),:method=>"post"
    =link_to "暂停",operate_resque_queue_worker_path(:operate=>"pause",:queue=>queue_name),:method=>"post"
  -elsif ResqueQueueWorkerManagement.pause?(queue_name)
    =link_to "继续",operate_resque_queue_worker_path(:operate=>"cont",:queue=>queue_name),:method=>"post"
  -else
    =link_to "开启",operate_resque_queue_worker_path(:operate=>"start",:queue=>queue_name),:method=>"post"