:ruby
  state     = WorkerManagement.state(worker_name)
  has_start = WorkerManagement.start?(worker_name)
  pid       = WorkerManagement.pid_count(worker_name)

  state_klass = has_start ? 'running' : 'closed'

%td.bold=worker_name
%td{:class=>state_klass}=state
%td=pid if has_start
%td=link_to file_size(WorkerManagement.log_size(worker_name)),worker_log_path(:worker_name=>worker_name)
%td=jtime(WorkerManagement.log_mtime(worker_name))
%td
  -if has_start
    =link_to "停止",operate_worker_path(:operate=>"stop",:worker=>worker_name),:method=>"post"
  -else
    =link_to "开启",operate_worker_path(:operate=>"start",:worker=>worker_name),:method=>"post"