-require_css 'views/users',true

-content_for :title do
  起步指南：参与讨论

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

.clearfix
  .grid-title 参与讨论

.hrr

.grid_16.alpha
  .help-page-text.padding5
    %h2 <span class='quiet'>首先：</span>发表观点
    %p 在每个主题讨论页面的最下方，你都可以找到发表观点的输入框：
    =helpimg 'discuss',171
    %p 在这里输入你的观点并发送，你可以使用和主题正文一样的文字格式。
    %p 如果你这样做，主题所有的关注者都会收到一条通知。
    %p
      和一般的论坛或其他社区有所不同，在MindPin的主题中，每个人只能发表一次观点。<br/>
      但是，任何人都可以随时修改自己的观点。这一点有些类似一些问答网站。<br/>
    %p
      如果对其他人的观点有所疑问，或者仅仅想针对其他人的观点表达一些看法（而不是针对原来的主题），可以对观点进行评论。<br/>
      建议随时把结论性的，或至少是阶段结论性的内容更新到你的观点里。

    %h2 <span class='quiet'>或者：</span>邀请其他朋友参与讨论
    
    %p 
      当你觉得这个主题有趣或者有用，希望有更多人来一起讨论；<br/>
      或者你没有合适的观点，或者得不出好的结论，但知道朋友中可能有人能帮忙。
    %p
      无论如何，你都可以通过下面几种方式邀请更多的人来参与这个主题：

    =helpimg 'discuss-1',276
    %p
      通过输入名字直接邀请MindPin的站内用户，找到用户后鼠标单击或者按回车，就可以完成邀请。<br/>
      所有被邀请的人的头像和名字都会列在讨论页的右边，点击[×]标记可以取消某个邀请。

    =helpimg 'discuss-2',149
    =helpimg 'discuss-3',267
    %p
      可以通过发邀请邮件的方式给你的朋友来一起讨论。也可以复制主题的链接给朋友。<br/>
      还可以比较方便地把主题发送到新浪微博（推荐）。

    =helpimg 'discuss-4',233
    %p
      系统对于哪些人可能可以参与这个主题，做了一些推荐。你可以点击人名后面的“邀请”，来发送邀请。

    %p
      你可以在首页右边的导航栏中查看所有<a href='/feeds/be_invited'>收到的邀请</a>。


    %h2 <span class='quiet'>或者：</span>对其他人的观点投票
    =helpimg 'discuss-5',209
    %p
      如果你觉得某个人的观点不错，可以<b>对他投赞成票</b>！ <br/>
      投票会影响观点在主题讨论页面的排序。支持多的观点，会排在前面。


    %h2#see-other <span class='quiet'>然后：</span>查看其它起步指南

    %p
      进行了很多讨论，当然还要进一步关注感兴趣的人~<br/>
      接着往下看吧：

    %ol
      %li <a href='/startup/basic-setting'>创建主题</a>
      %li <a href='/startup/edit-feed'>创建主题</a>
      %li.quiet 参与讨论
      %li <a href='/startup/friends'>结识朋友</a>

.grid_3.omega.fright
  %ol.font14
    %li <a href='/startup/basic-setting'>创建主题</a>
    %li <a href='/startup/edit-feed'>创建主题</a>
    %li.quiet 参与讨论
    %li <a href='/startup/friends'>结识朋友</a>