- 'views/users',true

-content_for :title do
  起步指南：参与讨论

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

.clearfix
  .grid-title 参与讨论

.hrr

.grid_16.alpha
  .help-page-text.padding5
    %h2 <span class='quiet'>首先：</span>访问其他人的主页
    %p 在网站内的许多页面，你点击某个人的名字，就会打开他的个人主页：
    =helpimg 'friends',463
    %p 在这里，你可以查看他/她最近的动态，发表的主题和观点。

    %h2 <span class='quiet'>首先：</span>关注其他人
    %p
      通过个人页面右上角的“关注这位朋友”按钮，你可以关注任何想关注的人~<br/>
      所有被你关注的人，他们的主题和动态都会集中显示在你的首页上。

    %h2#see-other <span class='quiet'>最后：</span>祝你好运:)

    %p
      起步指南就大致介绍到这里，你可以<a href='http://www.mindpin.com/feeds/3121'>现在去签到</a>了。
      祝你好运，每天都有新收获！

    %ol
      %li <a href='/startup/basic-setting'>创建主题</a>
      %li <a href='/startup/edit-feed'>创建主题</a>
      %li <a href='/startup/discuss'>参与讨论</a>
      %li.quiet 结识朋友

.grid_3.omega.fright
  %ol.font14
    %li <a href='/startup/basic-setting'>创建主题</a>
    %li <a href='/startup/edit-feed'>创建主题</a>
    %li <a href='/startup/discuss'>参与讨论</a>
    %li.quiet 结识朋友
