-require_css 'views/misc'

.grid_15
  .concatus
    .p.bold
      一般来说，您可以通过向
      =mail_to 'mindpin@gmail.com','mindpin@gmail.com',:encode=>'javascript'
      发送邮件，来和我们取得联系。
    .p
      .l.bold
        如果您使用QQ，并且更喜欢使用即时通信讨论问题，可以加入我们的QQ群。
      .l.marginl10
        一号群
        %span.loud.bold 71600882
        %span.quiet (人已满)
      .l.marginl10
        二号群
        %span.loud.bold 104054457

    .p
      .l.bold
        或者，您可以直接用QQ联系：
      .l.marginl10
        站务/合作/发展探讨
        %span.loud.bold 805181127
        
      .l.marginl10
        技术支持/功能建议
        %span.loud.bold 6217861

    .p
      期待您的反馈~
        