-require_css 'views/users'

.grid_23
  .grid-title
    和 MindPin 保持联系

  .hrr
  .padding5.font14
    .p
      随时欢迎和我们讨论关于我们的网站，以及知识管理方面的任何主题:)

    %p.bold
      一般来说，您可以通过向
      =mail_to 'mindpin@gmail.com','mindpin@gmail.com',:encode=>'javascript'
      发送邮件，来和我们取得联系。
    %p.bold
      如果您使用QQ，并且更喜欢使用即时通信讨论问题，可以加入我们的QQ群。

    %p
      一号群
      %span.loud.bold 71600882
      %span.quiet (人已满)
      <br/>
      二号群
      %span.loud.bold 104054457
      %span.quiet (接近人满)

    .hrr
    %p.bold
      或者，您可以直接用QQ联系：
    %p
      站务/合作/发展探讨
      %span.loud.bold 805181127
      <br/>
      技术支持/功能建议
      %span.loud.bold 6217861

    %p
      感谢你的关注！

    .hrr

  .padding5
    =link_to '返回首页','/'