- require_css 'mindmaps.css'

.topl
  .grid_16.margint10.alpha
    %h3 关于 #{@query} ，#{@result.count} 条结果
    .margint10
      %ul{:id=>"search_mindmaps",:class=>"mplist mindmaps"}
        -@result.items.each do |item|
          -mindmap = item.mindmap
          .search-result
            .meta
              =link_to item.title,"/mindmaps/#{mindmap.id}"
              .misc.fright
                %span.quiet 相关度 #{item.score}
                =avatar mindmap.user,:tiny
            .data
              =item.content
      =will_paginate @result
  .grid_6.fright.omega
    %div{:style=>'margin-top:50px;'}
    =minibutton '好了，返回导图列表',pin_url_for('pin-mindmap-editor')