.index-channel-emcee.lightbg
  .title.darkbg 频道主持人
  .m
    .avatar
      =avatar channel.creator
    .name
      =link_to channel.creator.name,channel.creator
-if !channel.include_users.blank?
  .index-channel-emcee.s.lightbg
    .title.darkbg 副主持人
    -channel.include_users.each do |u|
      .m
        .avatar
          =avatar u,:tiny
        .name
          =link_to u.name,u