-require_css 'views/organizations'

.topl
  .grid_11.alpha
    %h3
      #{@organization.name} 的成员列表
    .member-block
      .member-list
        -mplist @organization.members,:for=>Member

  .grid_11.omega.fright
    %h3 团队成员说明
    %p.margint10
      团队成员分为
      %span.loud>管理员
      和
      %span.loud>普通成员
    %p.loud
      显示为亮黄色的成员，为管理员身份。
    %p 你目前是<b>#{@organization.name}</b>的普通成员