- law_rank_class = (mindmap.rank == "0.0" ? "low-value" : "")
.map-data.clearfix{:class=>"#{law_rank_class}"}
  .mindmap-logo
    =logo(mindmap)
    -link_to(mindmap,:class=>'fleft',:target=>'_blank') do
      .private-mark{:class=>mindmap.private ? 'p':''}

  .mindmap-meta
    %h4
      =link_to escape_title(mindmap,23),mindmap,:target=>'_blank',:title=>mindmap.title
    .mindmap-datetime
      = show_time_by_order_type @order,mindmap
     
  .fright
    .mindmap-operations.fright.clearfix

      -if logged_in? && mindmap.cooperate_edit?(current_user) && mindmap.user!=current_user
        .fleft.marginr5
          .edit-link
          =link_to "编辑","/mindmaps/#{mindmap.id}/edit",:target=>'_blank'

      -if logged_in? && mindmap.cooperate_view?(current_user) && mindmap.user!=current_user
        .fleft.marginr5
          .edit-link
          =link_to "查看","/mindmaps/#{mindmap.id}",:target=>'_blank'

-if !mindmap.cooperations.blank?
  .cooprate.nl.clearfix
    %span 允许编辑:
    %ul
      -mindmap.cooperate_edit_email_actors.each do |ea|
        %li=email_actor_link(ea)
    -if mindmap.private
      %span 允许查看:
      %ul
        -mindmap.cooperate_view_email_actors.each do |ea|
          %li=email_actor_link(ea)
