.page-tsina-app-tu
  .box
    .logo
    .title 思维导图 · mindmap
    .desc
      .p tu.mindpin 是一个<span class='loud1'>简单好用的</span>在线思维导图工具。
      .p 思维导图，让你用一种<span class='loud'>新的有趣的</span>方式记录和表达思想。
      .hrr
      .p 你可以使用它来<span class='loud2'>做读书笔记，帮助学习和提高思考效率</span>。
      .p 你也可以使用它来<span class='loud2'>讨论问题，给他人演示，和进行头脑风暴</span>。
    .title 在线编辑器 · 微博应用
    %a.tsina-login-btn{:href=>'/tsina_app/connect'}