- require_css 'views/bugs'

- content_for :javascripts do
  = javascript_include_tag 'views/bugs/comment'
  :javascript
    new MarkableListComments("mplist_bugs",{markable:"bugs"})

.marginb3em.clearfix
  .grid_15.alpha.intro
    %h3.loud 朋友您好，这里是MindPin意见汇总专区。
    %p.margint10.font13
      　　当您使用我们的网站产品时，遇到障碍或疑惑，或者发现了程序错误。或者有任何不满意需要改进的地方。
      可以通过这里第一时间告知我们。
    %p.margint10.font13
      　　在这里，您也可以浏览其他人提出过的问题和意见。并且留言发表你的看法。
    %p.margint10.font13
      　　我们会不定期整理常见的问题，以及在此发布一些相关的公告。敬请继续关注。
      
  .grid_7.staffs
    .bold 工作人员
    %p.quiet.margint5
      他们会努力帮助你解决问题
    %dl.staff
      %dt
        %img.logo{:src=>'http://img.mindpin.com/users/logos/1001/tiny/Toco_Toucan.jpg'}
      %dd
        .name liyutong
        .desc 负责人，创办者
    %dl.staff
      %dt
        %img.logo{:src=>'http://img.mindpin.com/users/logos/1002/tiny/0fa74c18-444d-4d10-92a6-f9e6968e9f31.jpg'}
      %dd
        .name ben7th
        .desc 我是网站的主程/主设计师

.margint20
  = render :partial=>"/bugs/form_bug",:locals=>{:bug=>Bug.new}

.margint20
  - mplist @bugs,:for=>Bug,:class=>'no-line'

= will_paginate @bugs,{:position=>:paper}

  