- @mindpin_layout.grid = 'auto'

!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  =render 'layouts/parts/htmlhead'
  %body.echo
    .page-content
      =yield
    =render 'layouts/parts/javascripts'