-file_content ||= ''
.notefile{:"data-notefile_name"=>file_name}
  .note-name
    =text_field_tag "file_name[#{file_name}]",file_name,:class=>'text'
    %span.marginl10 给文件命名
  .note-content
    =text_area_tag "file[#{file_name}]",file_content
