-file_content ||= ''
-blob ||= nil
.notefile{:"data-notefile_name"=>file_name}
  .note-name
    =hidden_field_tag "not_update_data[#{file_name}]",true
    =text_field_tag "file_name[#{file_name}]",file_name,:class=>'text'
    %span.marginl10 给文件命名
  .note-content.clearfix
    -if !blob.blank?
      =show_blob(@note,blob)
    .fright
      %div 文件内容不能修改

