.margint5
  %ul#mplist_mindmaps{:for=>"mindmap"}
    -@mindmaps.each do |mindmap|
      %li{:id=>"mindmap_#{mindmap.id}",:class=>"grid"}
        = render :partial=>"/mindmaps/list/info_mindmap_grid",:locals=>{:mindmap=>mindmap}

