-#use 关联新浪微博
-#see 用户设置->关联新浪微博

-htitle "关联新浪微博账号"

-hjavascript "/javascripts/views/update_tsina_info.js"

.mside.grid_5
  =render 'account/parts/account_links'

.main.grid_19
  .page-setting-base
    .title 关联新浪微博账号，整合新浪微博信息
    .page-account-bind-tsina
      =flash_info
      -if !(current_user.has_binded_tsina?)
        .img-intro
        .desc>
          按下面的按钮，在新浪微博授权界面上输入信息，选择“连接”，完成关联。<br/>
          这个过程是安全的，我们不会获得或保存你的微博账号和密码。
        =link_to "关联新浪微博账号","/account/tsina/connect",:class=>'bind-btn'
      -else
        -# 已经关联后显示
        =render 'account/bind_parts/tsina'
