.joiners {
  -moz-border-radius: 4px 4px 4px 4px;
  background-color: #0E0E1A;
  border-color: #0E0E16 #2E2E3C #2E2E3C #0E0E16;
  border-style: solid;
  border-width: 1px;
  line-height: 36px;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 10px; }

.joiners .logo {
  float: left;
  height: 32px;
  margin-right: 10px;
  width: 32px; }

.joiners .logodiv {
  float: left;
  position: relative; }

.joiners .logoc {
  text-indent: -9999px;
  white-space: nowrap;
  line-height: 0;
  position: absolute;
  height: 24px;
  width: 24px;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: -12px;
  background-image: url("/images/views/discuss/eye.png"); }

ul.discuss li {
  -moz-border-radius: 4px 4px 4px 4px;
  background-color: #0E0E1A;
  border-color: #0E0E16 #2E2E3C #2E2E3C #0E0E16;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: 10px; }

ul.discuss li .logo.tiny {
  float: left;
  height: 20px;
  margin-right: 10px;
  width: 20px; }

ul.discuss li .body {
  overflow: hidden; }

ul.discuss li .content {
  float: left;
  font-size: 12px; }

ul.discuss li .content span.uname {
  color: #FF7F2F; }

ul.discuss li ul.discuss {
  margin-left: 16px;
  margin-top: 10px; }

ul.discuss li .content .edit {
  -moz-border-radius: 4px 4px 4px 4px;
  background-color: #000000;
  color: #888888;
  height: 24px;
  line-height: 24px;
  margin-right: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px; }

ul.discuss li .content .ceye {
  -moz-border-radius: 4px 4px 4px 4px;
  background-color: #000000;
  background-image: url("/images/discuss/eye.png");
  background-repeat: no-repeat;
  color: #888888;
  height: 24px;
  line-height: 24px;
  margin-top: 10px;
  padding-left: 28px;
  padding-right: 10px; }

.mplist.documents li {
  padding: 0 !important; }
  .mplist.documents li .document-status {
    background: url(document.png) no-repeat center center;
    width: 40px;
    height: 48px; }
  .mplist.documents li .document-title {
    font-weight: bold;
    font-size: 14px;
    width: 520px;
    overflow: hidden;
    text-align: left !important;
    padding-left: 10px; }
  .mplist.documents li .document-author-name {
    width: 80px;
    font-weight: bold;
    color: #eee; }
  .mplist.documents li .document-versions {
    width: 40px; }
  .mplist.documents li .document-author-avatar {
    float: left;
    margin-right: 10px;
    padding-top: 6px; }
  .mplist.documents li .document-created-at, .mplist.documents li .document-updated-at {
    width: 110px; }
  .mplist.documents li .document-status, .mplist.documents li .document-title, .mplist.documents li .document-author-name, .mplist.documents li .document-versions, .mplist.documents li .document-created-at, .mplist.documents li .document-updated-at {
    float: left;
    line-height: 48px;
    text-align: center;
    border-left: solid 1px #111; }
  .mplist.documents li .document-status {
    border-left: none; }
  .mplist.documents li .date {
    color: #FFCF72; }
  .mplist.documents li .document-status, .mplist.documents li .document-author-name, .mplist.documents li .document-versions {
    background-color: #181A27; }
  .mplist.documents li:nth-child(even) .document-status, .mplist.documents li:nth-child(even) .document-author-name, .mplist.documents li:nth-child(even) .document-versions {
    background-color: #222433; }
  .mplist.documents li:first-child {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important; }
  .mplist.documents li:last-child .document-status {
    border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    -webkit-border-radius: 0 0 0 5px; }

.documents-list-title-bar {
  border: solid 1px #111;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  margin-top: 15px;
  background-color: #262828; }
  .documents-list-title-bar .document-status {
    width: 40px;
    height: 24px; }
  .documents-list-title-bar .document-title {
    width: 520px;
    padding-left: 10px; }
  .documents-list-title-bar .document-author-name {
    width: 80px; }
  .documents-list-title-bar .document-versions {
    width: 40px; }
  .documents-list-title-bar .document-created-at, .documents-list-title-bar .document-updated-at {
    width: 110px; }
  .documents-list-title-bar .document-status, .documents-list-title-bar .document-title, .documents-list-title-bar .document-author-name, .documents-list-title-bar .document-versions, .documents-list-title-bar .document-created-at, .documents-list-title-bar .document-updated-at {
    float: left;
    line-height: 24px;
    border-left: solid 1px #111;
    text-align: center; }
  .documents-list-title-bar .document-status {
    border-left: none; }
