-# 传入参数 user

-has_binded_tsina = user.has_binded_tsina?

-if has_binded_tsina
  -weibo = user.tsina_weibo

  -begin
    -weibo_verify_credentials = weibo.verify_credentials
    -weibo_statuses_count = weibo_verify_credentials.statuses_count

    -if user == current_user
      -weibo_url = pin_url_for('pin-user-auth','/weibo')
    -else
      -weibo_url = pin_url_for('pin-user-auth',"/weibo/user/#{user.id}")

    -weibo_cover = weibo.user_timeline(:feature=>2,:count=>1)[0]
    -has_weibo_cover = !weibo_cover.blank?

    -if has_weibo_cover
      -weibo_cover_src = weibo_cover.bmiddle_pic || weibo_cover.retweeted_status.bmiddle_pic

    -weibo_collection_page_url = "/#{user.id}/collections/tsina"

    .weibo
      -if has_weibo_cover
        .cover.nil{:'data-src'=>weibo_cover_src}
          %a{:href=>weibo_url, :target=>'_blank', :style=>'display:none;'}
      -else
        .cover.nil

      %a.weibo-logo{:href=>weibo_url, :target=>'_blank', :title=>"打开#{user.name}的新浪微博"}

      .title=link_to '新浪微博',weibo_url,:target=>'_blank'
      .count=weibo_statuses_count

  -rescue Weibo::Unauthorized
    .weibo
      .unauthorized 新浪微博<br/>用户授权失效