-# 传入 user

-user_id = user.id
-user_page_url = pin_url_for('pin-user-auth',"/users/#{user_id}")

-feeds_count = user.created_feeds_count

-timeline_photo = user.user_timeline(:count=>2,:feature=>'photo')
-feed_cover_l, feed_cover_r = timeline_photo[0], timeline_photo[1]

-has_feed_cover_l = !feed_cover_l.blank?
-if has_feed_cover_l && !feed_cover_l.photos[0].blank?
  -feed_cover_l_src = feed_cover_l.photos[0].image.url(:s100)

-has_feed_cover_r = !feed_cover_r.blank?
-if has_feed_cover_r && !feed_cover_r.photos[0].blank?
  -feed_cover_r_src = feed_cover_r.photos[0].image.url(:s100)

.feeds
  -if has_feed_cover_l
    .cover.l50.nil{:'data-src'=>feed_cover_l_src}
      %a{:href=>user_page_url}
  -else
    .cover.l50.nil
      %a{:href=>user_page_url}

  -if has_feed_cover_r
    .cover.r50.nil{:'data-src'=>feed_cover_r_src}
      %a{:href=>user_page_url}
  -else
    .cover.r50.nil
      %a{:href=>user_page_url}

  .title=link_to '条目',user_page_url
  .count=feeds_count