.page-footer
  .pf
    .container_24
      .page-footer-content.grid_24
        .rights
          %span.sitename.bold &copy;2011 MindPin all rights reserved.
          %span.sitename.bold 免费服务，测试期间，若有问题还望谅解。
          %span.beian 京ICP备06063955号
