:ruby
  simple ||= false
  fullscreen ||= false
  klass = fullscreen ? 'container_auto' : 'container_24'

.page-header
  %div{:class=>klass}
    .site-logo=link_to 'MINDPIN','/',:class=>'logo mindpin'

    -if logged_in?

      -user = current_user
      -user_name = user.name
      -homepage_url = "/users/#{user.id}"

      -account_url = pin_url_for('pin-user-auth','/account?call=mindpin')
      -logout_url  = pin_url_for('pin-user-auth','/logout')

      .nav-menu

        %a{:href=>homepage_url, :class=>'ali user-name'} <div class="icon"></div><span>#{user_name}</span>

        %a{:href=>account_url, :class=>'setting', :tip=>'设置'} <div class="icon"></div><span>设置</span>
        %a{:href=>logout_url,  :class=>'logout',  :tip=>'退出'} <div class="icon"></div><span>退出</span>
