.clearfix
  .me-logo
  .map-head-bar
    .search
      .fleft.font14
        %span.marginr5
          =link_to '我的思维导图',pin_url_for('pin-user-auth','/mindmaps')
        %span.marginr5
          =link_to '全部公开思维导图',pin_url_for('pin-user-auth','/mindmaps/public')
      .fleft
        %form{:action=>"/search",:method=>"get",:id=>"search_form"}
          %input.search-inner.text{:name=>"q",:type=>"text",:'data-input-tip'=>'搜索思维导图'}
          %input.search-button{:value=>"搜索",:type=>"submit"}