.clearfix
  .me-logo
  .map-head-bar
    .search
      %form{:action=>"/search",:method=>"get",:id=>"search_form"}
        %input.search-inner.text{:name=>"q",:type=>"text",:'data-input-tip'=>'搜索思维导图'}
        %input.search-button{:value=>"搜索",:type=>"submit"}