-cooperate_users = @mindmap.cooperate_users
-cooperate_channels = @mindmap.cooperate_channels

-if(!cooperate_users.blank?)
  .coop.darkbg
    由以下用户共同编辑：
    .users
      -cooperate_users.each do |user|
        .u
          .avatar
            =avatar(user,:tiny)
          .name=user.name

-if(!cooperate_channels.blank?)
  .coop.darkbg
    由以下频道共同编辑：
    .users
      -cooperate_channels.each do |channel|
        .u
          .name=channel.name