-content_for :javascripts do
  = javascript_include_tag "views/cooperations/mindmap_choose_cooperator"

- require_css 'mindmaps.css'
- require_css 'views/users',true

-cooperate_users = @mindmap.cooperate_users
-cooperate_channels = @mindmap.cooperate_channels
-mindmap = @mindmap

%p 当前的协作者
.avatars{:"data-m-id"=>mindmap.id}
  =render :partial=>"cooperations/parts/aj_cooperation_avatars",:locals=>{:users=>cooperate_users}
  -if logged_in? && current_user == mindmap.user
    .cooperator-config.darkbg.csshov{:tipr=>'设置协同者'}
      .icon 设置协同者
    =render 'cooperations/parts/mindmap_cooperator_choose_panel'

