-require_css 'views/users',true

-content_for :title do
  我的思维导图

-content_for :javascripts do
  = javascript_include_tag "views/mindmap_create_form"
  = javascript_include_tag "views/mindmap_title_inplace_edit"
  = javascript_include_tag "views/feed_operation"

.grid_17.alpha
  =render 'index/homepage/feeds/feed_form_mev6'

  .homepage-see-others.bold
    =link_to '&gt;&gt; 访问主题协作功能',pin_url_for("pin-user-auth","/")

  =render 'mindmaps/homepage/mindmaps_management',:mindmaps=>@mindmaps

  .mindmap-paginate.padding5
    = will_paginate @mindmaps

.grid_6.omega.fright
  =render 'users/homepage/avatar',:user=>@user

  .index-search-form.mindmap
    =render 'mindmaps/parts/mindmap_search_form'
  =render 'mindmaps/parts/mindmap_links'
  .margint30
    =render 'mindmaps/homepage/flash_chart',:user=>@user