- require_css 'mindmaps.css'

.topl
  .grid_11.alpha
    =flash_info
    - mindpin_form_for(@mindmap,:html=>{:multipart=>true}) do |f|
      = f.text_field :title
      .clearfix
        .fleft.marginr10
          =logo @mindmap
        .fleft
          %span{:class=>"desc"} (32 x 32 像素)
      = f.file_field :logo,:size=>20
      .field
        = f.check_box(:private)
        %span 设置这个导图为私有
      .form_actions
        =f.submit "保存"