- require_css 'views/users',true

-content_for :javascripts do
  = javascript_include_tag "views/mindmap_image"
  = javascript_include_tag "views/public_maps"
  
=render :partial=>"index/homepage/mindmaps_others"