-require_css 'views/users',true

-content_for :title do
  #{@user.name}的思维导图

.grid_16.alpha
  =render 'users/homepage/top_userinfo',:user=>@user

  .homepage-see-others
    =link_to '>>去看看他的话题吧',pin_url_for("pin-user-auth","/users/#{@user.id}")

  =render "mindmaps/homepage/mindmaps_others",:mindmaps=>@mindmaps

.grid_5.fright
  =render :partial=>'mindmaps/homepage/flash_chart',:locals=>{:user=>@user}