-#use 主题列表项的主题正文
-#see 登录后的首页->中间栏的主题列表

-creator = feed.creator

-content = feed_content(feed)
-query ||= nil
-if !!query
  -content.gsub!(query,"<span class='loud'>#{query}</span>")

.current-feed
  .f-title
    =link_to truncate_u(content,64),"/feeds/#{feed.id}"
  .detail=feed_detail_short(feed)
  -if !feed.photos.blank?
    .photos
      -feed.photos.each do |photo|
        .photo{:'data-id'=>photo.id}
          %img{:src=>photo.image.url(:s100)}