-#use 主题列表项的主题正文
-#see 登录后的首页->中间栏的主题列表

-creator = feed.creator

-title = feed_title(feed)
-query ||= nil
-if !!query
  -content.gsub!(query,"<span class='loud'>#{query}</span>")

.current-feed
  .headmeta
    %span.creator-name=usersign creator
    %span -
    %span.create-time=jtime feed.created_at
    %span -
    %span.scope=link_to '完全公开','javascript:;'

  .f-title
    =link_to truncate_u(title,64),"/feeds/#{feed.id}"
  .detail=feed_detail(feed)
  -if !feed.photos.blank?
    .photos
      -feed.photos.each do |photo|
        .photo{:'data-id'=>photo.id}
          %img{:src=>photo.image.url(:s100)}