-if(!feed.quote_of.blank?)
  -q_feed = feed.quoted_feed
  .quote-feed
    .arrow
    .data.quotebg
      -if q_feed.nil?
        %span.quiet> 被传播的主题已删除
      -else
        =usersign q_feed.creator,false
        %span.quiet> ：
        =feed_content(q_feed)

        %a.quiet.marginl5{:href=>"/feeds/#{q_feed.id}"}> 原主题被传播#{q_feed.quotes_count}次

        .split.quiet> -
        %a.quiet{:href=>"/feeds/#{q_feed.id}"}> 查看详情