-creator = feed.creator

-content = feed_content(feed)
-query ||= nil
-if !!query
  -content.gsub!(query,"<span class='loud'>#{query}</span>")

.current-feed
  .c
    .data
      .ct
        =link_to truncate_u(content,64),"/feeds/#{feed.id}"