-if feed.has_viewpoint?
  .viewpoint
    -hot_vp = feed.hot_viewpoint
    -if !hot_vp.blank?
      .hot-viewpoint
        .arrow
        .data
          .name
            %span.vote-score{:tip=>"投票认可度"}=hot_vp.vote_score
            %span.title 热门观点
            %span.split> -
            =usersign(hot_vp.user,false)
          .memo-content
            =viewpoint_memo_format_in_list(hot_vp)

    -if logged_in?
      -my_vp = feed.viewpoint_of(current_user)
      -if !my_vp.blank? && hot_vp!=my_vp
        .my-viewpoint
          .arrow
          .data
            .name
              %span.vote-score{:tip=>"投票认可度"}=my_vp.vote_score
              %span.title 我的观点
            .memo-content
              =viewpoint_memo_format_in_list(my_vp)