.footmisc
  .time
    =link_to created_from(feed),feed,:class=>'quiet'

  .split.quiet> -
  %span.quiet=viewpoint_link(feed)

  .split.quiet> -
  =link_to '查看详情',feed

  -if logged_in?
    .ops>
      .split.quiet> -
      -klass = feed.fav_by?(current_user) ? 'on':'off'
      -link_to 'javascript:;',:class=>"fav #{klass}" do
        %span.t1> 关注
        %span.t2> 取消关注

      .split.quiet> -
      =link_to '传播','javascript:;',:class=>'transmit',:'data-colunt'=>feed.quotes_count

      -if false
        .split.quiet> -
        -if !feed.viewpoint_by?(current_user)
          =link_to '发表观点','javascript:;',:class=>'add-viewpoint'
        -else
          %span.quiet> 已发表过观点

      -if feed.creator == current_user
        .split.quiet> -
        =link_to '删除','javascript:;',:class=>'del'
