.user-page-avatar
  .avatar
    =avatar user,:medium
  .ccount
    %a.c.followings{:href=>"/users/#{user.id}/followings"}
      .num=user.followings.count
      .text.quiet 联系人
    %a.c.fans{:href=>"/users/#{user.id}/fans"}
      .num=user.fans.count
      .text.quiet 读者