-mplist feeds,:for=>Feed do |feed|
  =# 包含统计信息的feed列表项
  .f{:'data-id'=>"#{feed.id}",:class=>'btb with-stats'}
    =render 'feeds/info_parts/info_stats',:feed=>feed
    =render 'rolling/info_current_feed',:feed=>feed
    =render 'feeds/info_parts/info_time_and_ops',:feed=>feed
    =render 'feeds/info_parts/info_viewpoint',:feed=>feed
    .zhima{:style=>'margin:0 0 0 60px;'}
      =minibutton '编辑主题',"/zhi_ma_kai_men/feeds/#{feed.id}/edit"
      =minibutton '发表新观点',"/zhi_ma_kai_men/#{feed.id}/vp/new"