@mixin minibutton-base{
  display:inline-block;
  height:22px;line-height:22px;
  padding:0 6px;
}

.minibutton{
  @include button-gray;
  @include minibutton-base;
}

.minibutton.lightgreen{
  @include button-lightgreen;
  @include minibutton-base;
}

.minibutton.green{
  @include button-green;
  @include minibutton-base;
}

.minibutton.blue{
  @include button-blue;
  @include minibutton-base;
}

.minibutton.logingray{
  @include button-logingray;
  @include minibutton-base;
}

.submitbutton{
  @include button-blue;
  height:30px;line-height:30px;font-size:14px;
  width:80px;
}

/* --------------- */

@mixin middlebutton-base{
  height:30px;line-height:30px;font-size:14px;
  padding:0 14px;
}

.middlebutton{
  @include button-gray;
  @include middlebutton-base;
}

.middlebutton.blue{
  @include button-blue;
  @include middlebutton-base;
}

.middlebutton.lightblue{
  @include button-lightblue;
  @include middlebutton-base;
}

.middlebutton.green{
  @include button-green;
  @include middlebutton-base;
}

.middlebutton.lightgreen{
  @include button-lightgreen;
  @include middlebutton-base;
}

.middlebutton.darkred{
  @include button-darkred;
  @include middlebutton-base;
}

.middlebutton.loginblue{
  @include button-loginblue;
  @include middlebutton-base;
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.7);
  margin-bottom:2px;margin-right:2px; /*给阴影留出空间*/
}

.middlebutton.logingray{
  @include button-logingray;
  @include middlebutton-base;
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.7);
  margin-bottom:2px;margin-right:2px; /*给阴影留出空间*/
}

.middlebutton.loginred{
  @include button-loginred;
  @include middlebutton-base;
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.7);
  margin-bottom:2px;margin-right:2px; /*给阴影留出空间*/
}