-htitle "导入思维导图"

-content_for :javascript do
  :ruby
    session_key = Rails.application.config.session_options[:key]
    session_value = u cookies[session_key]
    
  :javascript
    FLASH_UPLOAD_SCRIPT_DATA = {
      '_http_accept' : 'application/javascript',
      #{session_key.to_json} : encodeURIComponent(#{session_value.to_json})
    }

-hjavascript '/uploadify/upload_mindmap'

.main.grid_18
  .page-new-mindmap-form.aj-submit-form
    .ftitle 从文件导入思维导图

    .page-upload-mindmap-result{:style=>'display:none;'}
      .thumb
      .data
        %h3
          上传文件分析结果
        .type
          .l 格式
          .t
        .filename
          .l 文件标题
          .t
        .nodes-count
          .l 有效节点数
          .t
      .close

    .queue#page-mindmap-upload-queue
    .upload
      .btn
        #page-mindmap-import-btn
      .desc 选择要上传的导图文件，不超过4MB。支持 .mm, .mmap, .xmind

    =form_for(Mindmap.new, :url=>'/create', :html=>{:multipart=>true}) do |f|
      =hidden_field_tag 'upload_temp_id',''
      .field.title
        %label 标题
        .ip=f.text_field :title, :class=>'text disabled', :disabled=>'disabled'
      .field.private
        %label 是否私有
        .ip.pri
          =f.check_box :private, :class=>'checkbox disabled', :disabled=>'disabled'
          %span.disabled 这个导图只有我自己能看到
      .field.sub
        %a.middlebutton.blue.a-link-submit.disabled{:href=>'javascript:;'} 确定创建
        %a.middlebutton.gray.marginl10{:href=>'/'} 取消

.mside.grid_6
  .page-new-mindmap-side
    .p
      我们支持以下导图软件格式：
    .p
      %span.bold MMAP
      %span - MindManager
    .p
      %span.bold MM
      %span - FreeMind
    .p
      %span.bold XMIND
      %span - XMind
    .p.margint10
      选择文件并确定上传后，系统需要少许时间进行处理和转换，请耐心等待。
    .p
      我们能够确保基本导图结构的完好。<br/>
      但是由于MINDPIN导图编辑器仍需进一步完善，一些导图软件中的特定格式，如文字颜色，内嵌图片，导入后会有不同程度的丢失。
      %span.bold 导入成功后原始文件也会被备份，随时可以从MINDPIN下载
