-# 需要js支持

.page-new-channel-op
  .btn 创建新频道
  .form{:style=>'display:none;'}
    .ct{:style=>'display:none;'}
      .title 创建新的频道以管理联系人
      %form
        .field
          %label 标题
          =text_field_tag 'name','',:class=>'text ipt-name need'
        .field
          %a.create-submit{:href=>'javascript:;'} 确定
          %a.create-cancel{:href=>'javascript:;'} 取消
          .clearfix