-#use 聚合点列表
-#see 登录后的首页->右侧列表

.page-collections
  -collections.each do |collection|
    .collection
      .title
        =collection.title
      .avatar
        =avatar collection.creator,:mini