.CodeRay {
  font-family: 'Courier New', 'Terminal', monospace;
  overflow: auto;
  font-size: 12px;
  /* html attribute */
  /* comment */
  /*+ escaped character */
  /* class */
  /*+ constant */
  /* float */
  /*+ function */
  /*+ global variable */
  /*+ integer */
  /*+ inline code */
  /*+ instance variable */
  /* doctype */
  /*+ keyword */
  /*+ regex */
  /*+ string */
  /*+ symbol */
  /* html tag */
  /* boolean */ }
  .CodeRay pre {
    margin: 0px;
    padding: 0px; }
  .CodeRay.dark {
    /*dark background*/
    /* html attribute */
    /* comment */
    /* escaped character */
    /* class */
    /* constant */
    /* float */
    /* function */
    /* global variable */
    /* integer */
    /* inline code */
    /* instance variable */
    /* doctype */
    /* keyword */
    /* regex */
    /* string */
    /* symbol */
    /* html tag */
    /* boolean */ }
    .CodeRay.dark .an {
      color: #E7BE69; }
    .CodeRay.dark .c {
      color: #BC9358;
      font-style: italic; }
    .CodeRay.dark .ch {
      color: #509E4F; }
    .CodeRay.dark .cl {
      color: #FFF; }
    .CodeRay.dark .co {
      color: #FFF; }
    .CodeRay.dark .fl {
      color: #A4C260; }
    .CodeRay.dark .fu {
      color: #FFC56D; }
    .CodeRay.dark .gv {
      color: #D0CFFE; }
    .CodeRay.dark .i {
      color: #A4C260; }
    .CodeRay.dark .il {
      background: #151515; }
    .CodeRay.dark .iv {
      color: #D0CFFE; }
    .CodeRay.dark .pp {
      color: #E7BE69; }
    .CodeRay.dark .r {
      color: #CB7832; }
    .CodeRay.dark .rx {
      color: #A4C260; }
    .CodeRay.dark .s {
      color: #A4C260; }
    .CodeRay.dark .sy {
      color: #6C9CBD; }
    .CodeRay.dark .ta {
      color: #E7BE69; }
    .CodeRay.dark .pc {
      color: #6C9CBD; }
  .CodeRay .an {
    color: #008080; }
  .CodeRay .c {
    color: #BC9358;
    font-style: italic; }
  .CodeRay .cl {
    color: #FFF; }
  .CodeRay .co {
    color: #008080; }
  .CodeRay .fl {
    color: #009999; }
  .CodeRay .fu {
    color: #990000;
    font-weight: bold; }
  .CodeRay .gv {
    color: #008080; }
  .CodeRay .i {
    color: #009999; }
  .CodeRay .il {
    background: #F0F0F7; }
  .CodeRay .iv {
    color: #008080; }
  .CodeRay .pp {
    color: #E7BE69; }
  .CodeRay .r {
    font-weight: bold; }
  .CodeRay .rx {
    color: #009926; }
  .CodeRay .s {
    color: #DD1144; }
  .CodeRay .sy {
    color: #990073; }
  .CodeRay .ta {
    color: #000080; }
  .CodeRay .pc {
    color: #6C9CBD; }
  .CodeRay .kw {
    font-weight: bold; }
