/*will_pageinate style*/
div.pagination {
  overflow: hidden;
  clear: both; }
  div.pagination a, div.pagination span {
    height: 16px;
    line-height: 16px;
    padding: 5px 9px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    font-weight: bold;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    float: left;
    margin-right: 4px; }
  div.pagination a {
    text-decoration: none;
    color: #3e6d8e;
    border: solid 1px #CDCDCD;
    padding: 4px 8px; }
    div.pagination a:hover, div.pagination a:active {
      background: #F0F7FF;
      color: #3e6d8e; }
  div.pagination span.current {
    background-color: #3E6D8E;
    color: white; }
  div.pagination span.disabled {
    display: none; }
  div.pagination .prev_page {
    background: none;
    border: none;
    padding: 5px 9px; }
  div.pagination .next_page {
    background: none;
    border: none;
    padding: 5px 9px; }
