/*will_pageinate style*/
@import "misc";

$c1:#47520E;
$b1:#F3FF5F;
$bdis:#FFFADA;

div.pagination{
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding:0;
  margin:3px 0;
  overflow:hidden;
  clear:both;
  
  a, span {
    float:left;
    height:16px;
    line-height:16px;
    padding:3px 6px;
  }
  a {
    margin:0 3px;
    text-decoration:none;
    color:$c1;
    background-color:$b1;
    @include border-radius(4px);
    &:hover,&:active{
      background:#D4E347;
      color:$c1;
    };
    &.prev_page,&.next_page{
    }
  }
  span{
    &.current {
      margin:1px 3px;
      border:none;
      font-weight:bold;
      color:$c1;
    }
    &.disabled {
      margin:0 3px;
      color:#777;
      background-color:$bdis;
      @include border-radius(4px);
    }
  }
  .prev_page{margin-left:0px !important;}
  .next_page{margin-right:0px !important;}
}