/*will_pageinate style*/
div.pagination {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 3px 0;
  overflow: hidden;
  clear: both; }
  div.pagination a, div.pagination span {
    float: left;
    height: 16px;
    line-height: 16px;
    padding: 2px 5px; }
  div.pagination a {
    margin: 0 3px;
    border: 1px solid #0E0E1A;
    text-decoration: none;
    color: #fff;
    background-color: #0E0E1A;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
    div.pagination a:hover, div.pagination a:active {
      color: #eb7c22; }
  div.pagination span.current {
    margin: 1px 3px;
    border: none;
    font-weight: bold;
    color: #3274d0; }
  div.pagination span.disabled {
    margin: 0 3px;
    border: 1px solid #0E0E1A;
    color: #777;
    background-color: #0E0E1A;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
  div.pagination .prev_page {
    margin-left: 0px !important; }
  div.pagination .next_page {
    margin-right: 0px !important; }
