/*will_pageinate style*/
div.pagination {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 3px 0;
  overflow: hidden;
  clear: both; }
  div.pagination a, div.pagination span {
    float: left;
    height: 16px;
    line-height: 16px;
    padding: 3px 6px; }
  div.pagination a {
    margin: 0 3px;
    text-decoration: none;
    color: #47520e;
    background-color: #f3ff5f;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
    div.pagination a:hover, div.pagination a:active {
      background: #D4E347;
      color: #47520e; }
  div.pagination span.current {
    margin: 1px 3px;
    border: none;
    font-weight: bold;
    color: #47520e; }
  div.pagination span.disabled {
    margin: 0 3px;
    color: #777;
    background-color: #fffada;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
  div.pagination .prev_page {
    margin-left: 0px !important; }
  div.pagination .next_page {
    margin-right: 0px !important; }
