=render :partial=>"/mindmaps/parts/search_bar"

- if params[:user_id]
  .marginb5
    =user_info(current_user)

- if current_user && (@user == current_user)
  .font14
    .marginb3.bold
      %em >
      =link_to "新建导图",new_mindmap_path

    .marginb3
      %em >
      =link_to "导入导图文件",import_mindmaps_path

    -if Mindmap.has_too_many_zero_mindmap?(current_user)
      %div 你的0分导图较多，建议经常清理。

:javascript
  function open_mindmap_edit(json){
    var id = json.id.replace("mindmap_","")
    window.open("#{URL_PREFIX}/mindmaps/"+ id +"/edit","_blank")
  }

