.page-footer
  .pf
    %div{:class=>container_classname}
      .page-footer-content{:class=>grid_classname}
        .links
          %span.contact
            =link_to '联系方式',pin_url_for('pin-user-auth','/contact')
          %span.plugin
            =link_to '向MindPin提意见',pin_url_for('pin-user-auth','/channels/1')
          %span.plugin
            =link_to '开发者日志',pin_url_for('pin-user-auth','/channels/2')
        .rights
          %span.sitename.bold &copy;2006-2011 MindPin all rights reserved.
          %span.sitename.bold 免费服务，测试期间，若有问题还望谅解。
          %span.beian 京ICP备06063955号
