.commit_stat
  - 1.upto add do
    %img{:src=>pin_url_for('ui',"/images/modules/commits/dot_green.png")}
  - 1.upto del do
    %img{:src=>pin_url_for('ui',"/images/modules/commits/dot_red.png")}
  - 1.upto (7-add-del) do
    %img{:src=>pin_url_for('ui',"/images/modules/commits/dot_gray.png")}