.userpage.clearfix
  .upavatar
    =avatar(@user)
  .name
    =@user.name
  .config
    -if logged_in?
      -if current_user.can_send_message_to?(@user)
        =minibutton '发私信',pin_url_for('pin-user-auth',"messages/new?receiver_id=#{@user.id}")

      -if current_user!=@user
        - followed = current_user.following?(@user)
        %span.follow_btn{:style=>(followed ? 'display:none;':'')}
          =minibutton '关注TA',"javascript:follow(#{@user.id});"
        %span.unfollow_btn{:style=>(followed ? '':'display:none;')}
          =minibutton '取消关注',"javascript:unfollow(#{@user.id});"

:javascript
  function follow(user_id){
    jQuery.ajax({
      type    : 'POST',
      url     : '/contacts/follow',
      data    : 'user_id='+user_id,
      success : function(res){
        jQuery('.follow_btn').hide();
        jQuery('.unfollow_btn').show();
      }.bind(this),
      complete : function(res){
        pie.log(res)
      }.bind(this)
    })
  }

  function unfollow(user_id){
    jQuery.ajax({
      type    : 'DELETE',
      url     : '/contacts/unfollow',
      data    : 'user_id='+user_id,
      success : function(res){
        jQuery('.follow_btn').show();
        jQuery('.unfollow_btn').hide();
      }.bind(this),
      complete : function(res){
        pie.log(res)
      }.bind(this)
    })
  }