-require_css 'mindmaps.css'
-require_css 'views/users'

-e_maps = @cooperate_edit_mindmaps
-v_maps = @cooperate_view_mindmaps

-if (e_maps.blank? && v_maps.blank?)
  .map_blank
    .p
      目前还没有任何其他用户与你协同编辑思维导图。
    .p
      如果需要发起协同编辑，请在
      %span>=link_to '个人思维导图页面','/'
      进行“协同”操作
-else
  .grid_14.alpha
    -if !e_maps.blank?
      %h3.b 以下导图由其他用户共享编辑
      -mplist e_maps,:for=>Mindmap do |mindmap|
        = render :partial=>"/users/cooprate_mindmap",:locals=>{:mindmap=>mindmap}

    -if !v_maps.blank?
      %h3.b.margint40 以下导图由其他用户共享查看
      -mplist v_maps,:for=>Mindmap do |mindmap|
        = render :partial=>"/users/cooprate_mindmap",:locals=>{:mindmap=>mindmap}

  .grid_9.omega.fright
    %p
      导图协同包括两种方式，
      %span.loud>共同编辑
      和
      %span.loud>共同查看。
    %p
      当你希望和其他用户或者团队一起对一个导图进行编辑修改时，可以发起共同编辑。也可以直接在团队中创建导图。
    %p
      当你创建了私有导图，想分享给其他人观看时，可以发起共同查看。


