- require_css 'views/users',true

-content_for :title do
  关注我的人

-content_for :javascripts do
  = javascript_include_tag "views/follows"

.grid_18.alpha
  .grid-title
    关注我的人，共#{@fans.count}人

  =render :partial=>"contacts/manage/mplist_followings_users",:locals=>{:users=>@fans}

  .padding5
    = will_paginate @fans

.grid_5.omega.fright
  =show_sub_menu