-require_css 'views/users',true

-content_for :title do
  #{@user.name}关注的主题

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

=render 'auth/no_auth/welcome_to_signup'

=render 'users/homepage/top_info'

.hrr
.grid_18.alpha
  .grid-title
    #{@user.name}关注的主题

  .newsfeed
    =render :partial=>'feeds/lists/feeds_stat',:locals=>{:feeds=>@feeds}

.grid_5.omega.fright
  =render 'users/homepage/avatar',:user=>@user