-  'views/users',true

-content_for :title do
  用户主题数排行

.grid_18.alpha
  .grid-title 主题数量排行

  .hrr
  .page-users-rank-list
    -@users.each do |user|
      .user-info
        .avatar=avatar user
        .data
          .name=qlink user
          .feeds
            .count=user.created_feeds.normal.count
            .t 主题
          .sign.quiet=h truncate_u(user.sign,16)

  .padding5
    = will_paginate @users

.grid_5.omega.fright
  =show_sub_menu