-require_css 'views/users',true

-content_for :title do
  #{@user.name}的主页

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

=render 'auth/no_auth/welcome_to_signup'

=render 'users/homepage/top_info'

.hrr
.grid_16.alpha
  .homepage-see-others.font14.bold
    =link_to '&gt;&gt; 看看这位朋友的思维导图',"/#{@user.id}/mindmaps"

  =render 'index/userlog/userlog',:logs=>@user.outbox_logs_limit(20)

.grid_6.omega.fright
  =render 'users/homepage/avatar',:user=>@user

  =render 'users/homepage/fav_feeds',:user=>@user
  .hrr
  =render 'users/homepage/concats',:user=>@user