-#use 个人日志
-#see 个人页->动态

-content_for :title do
  #{@user.name}的主页

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

.mside.grid_5
  =render 'users/homepage/avatar',:user=>@user

  =render 'users/homepage/fav_feeds',:user=>@user
  .hrr
  =render 'users/homepage/concats',:user=>@user

.main.grid_19.ll
  =render 'users/homepage/top_info'
  =render 'index/userlog/userlog',:logs=>@user.outbox_logs_limit(20)