- content_for :title do
  #{@user.name}的主页

- require_css 'views/users',true

-content_for :javascripts do
  = javascript_include_tag "views/mindmap_image"
  = javascript_include_tag "views/user_homepage"

.grid_14
  =render :partial=>'index/homepage/mindmaps_others'

.grid_9.omega.fright
  =render :partial=>'index/homepage/index_user_info',:locals=>{:user=>@user}

  %div
    所属频道
    -channels = @user.belongs_to_channels
    =channels.map{|c|c.name}*"，"