- require_css 'views/users',true

-content_for :title do
  用户声望排行

.grid_18.alpha
  .grid-title 声望排行

  .hrr
  .page-users-rank-list
    -@users.each do |user|
      .user-info
        .avatar=avatar user
        .data
          .name=qlink user
          .rep
            .score=user.reputation
            .t 声望
          .sign.quiet=h truncate_u(user.sign,16)

  .padding5
    = will_paginate @users

.grid_5.omega.fright
  =show_sub_menu