-#use 个人主题
-#see 个人页->主题

-htitle "#{@user.name}的收集册"

-is_current_user = (@user == current_user)

-if is_current_user
  -collections = @user.created_collections_db
-else
  -collections = @user.out_collections

.mside.grid_6.no-line
  =morender 'mside_module','avatar',:user=>@user

.main.grid_18.no-line
  .page-collection-top
    .meta{:style=>'overflow:visible;'}
      %h2="收集册(#{collections.count})"
      -if is_current_user
        .ops=morender 'new_forms','collection'
    .clearfix

  =prender 'collection','grid',:collections=>collections