-  'views/users',true

-content_for :title do
  用户观点数排行

.grid_18.alpha
  .grid-title 观点（参与）数量排行

  .hrr
  .page-users-rank-list
    -@users.each do |user|
      .user-info
        .avatar=avatar user
        .data
          .name=qlink user
          .viewpoints
            .count=user.viewpoints.count
            .t 观点
          .sign.quiet=h truncate_u(user.sign,16)

  .padding5
    = will_paginate @users

.grid_5.omega.fright
  =show_sub_menu