-require_css 'views/users',true

-content_for :title do
  #{@user.name}的观点

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

=render 'auth/no_auth/welcome_to_signup'

=render 'users/homepage/top_info'

.hrr
.grid_16.alpha
  =render 'feeds/viewpoint/user_viewpoints',:viewpoints=>@viewpoints

.grid_6.omega.fright
  =render 'users/homepage/avatar',:user=>@user

  .user-page-recent-top-viewpoints
    .title 最近被赞成较多的观点
    .viewpoints
      -@user.top_viewpoints[0..4].each do |vp|
        .viewpoint.btb
          %span.vote-score{:tip=>"投票认可度"}=vp.vote_score
          .feed-ct=link_to truncate_u(vp.feed.content,16),vp.feed
          .vp-ct
            .arrow
            .data
              .memo-content
                =j_vp_memo(vp)