.grid_11.alpha
  %div
    %p 您的浏览器版本较低，MindPin目前不支持在IE6以及更低版本浏览器上的正常工作。
    %p 建议使用 <a href="http://www.mozilla.org/firefox/" target="_blank">firefox（火狐浏览器1）</a>
    %p 或者 <a href="http://www.google.com/chrome" target="_blank">Chrome（google浏览器）</a>
    %p 或者 <a href="http://www.microsoft.com/china/windows/downloads/ie/getitnow.mspx" target="_blank">IE7以上版本IE浏览器</a>
    %p 访问 MindPin