-code = @status_code || ''
-text = @status_text || ''

.main
  .page-title-bar
    .bold{:style=>'font-size:24px;'} HTTP #{code}
    .p=show_status_code(code)

  .paddingl10
    - if !text.blank?
      .margint10=text
    .margint10
      =minibutton '返回首页','/'