-mindpin_form_for api_help, :url=>url do |f|
  =f.text_field :title
  =f.text_field :description
  =f.text_field :url
  =f.text_field :format
  =f.text_field :http_method
  =f.text_area :memo
  =f.text_area :example
  =f.text_area :result
  =f.check_box :need_signup
  需要登录
  %p
  =f.submit "提交"