-comments.each do |comment|
  -creator = comment.creator
  .comment.btb{:'data-id'=>comment.id,:'data-creator-name'=>creator.name}
    .avatar
      -link_to creator do
        =avatar creator,:mini
    .content
      %span.name=link_to creator.name,creator
      %span.quiet :
      =comment_content comment
      %span.quiet -
      %span.quiet=jtime(comment.created_at)
      -if logged_in?
        %span.quiet -
        -if creator == current_user
          =link_to 'åˆ é™¤','javascript:;',:class=>'delete'
        -else
          =link_to 'å›å¤','javascript:;',:class=>'reply'