-#use 主题列表项
-#see 登录后的首页->中间栏的主题列表

.feed
  .lside
    .avatar
      =avatar feed.creator,:tiny
  .f{:'data-id'=>"#{feed.id}",:class=>'with-stats'}
    =render 'feeds/info_parts/info_current_feed',:feed=>feed
    -if !feed.photos.blank?
      .photos
        -feed.photos.each do |photo|
          .photo{:'data-id'=>photo.id}
            %img{:src=>photo.image.url(:r300)}
    =render 'feeds/info_parts/info_time_and_ops',:feed=>feed
