-#use 显示新浪微博绑定信息
-#see 用户设置 -> 关联新浪微博

.page-binded-account-info.tsina
  .bind-icon
  .title.btb 当前账号关联到下面的新浪微博账号
  -bindinfo = current_user.tsina_account_info
  -if !!bindinfo
    .meta.btb
      .avatar
        %img.logo{:src=>bindinfo["profile_image_url"]}
      .name
        =bindinfo["user_name"]
      .counts
        .friends
          .count=bindinfo["friends_count"]
          .n 关注
        .followers
          .count=bindinfo["followers_count"]
          .n 粉丝
        .statuses
          .count=bindinfo["statuses_count"]
          .n 微博
  -else
    .meta
      绑定信息不完整
  .misc
    .time.lightbg.rc5
      信息更新于
      =jtime(current_user.tsina_connect_user.updated_at)
    .updating.aj-loading
      正在更新…
    .update
      =minibutton '更新信息','javascript:;',:method=>:post