.binded-account-info.renren.darkbg.rc5
  .bind-icon
  .title.btb 已经和下面的人人网账号绑定啦
  -bindinfo = current_user.renren_account_info
  -if !!bindinfo
    .meta.btb
      .avatar
        %img.logo{:src=>bindinfo["logo_url"]}
      .name.loud
        =bindinfo["user_name"]
      .sex
        =bindinfo["sex"] == '1' ? "男" : '女'
      .university_name
        =bindinfo["university_name"]
      .star
        =bindinfo["star"] == '1' ? '星级用户' : '普通用户'
  -else
    .meta
      绑定信息不完整
  .misc
    .time.lightbg.rc5
      信息更新于
      =jtime(current_user.renren_connect_user.updated_at)
    .updating.aj-loading
      正在更新…
    .update
      =link_to '更新信息','javascript:;',:method=>:post