-#use 关于关联新浪微博的一些操作
-#see 用户设置->关联新浪微博

=render 'account/bind_parts/binded_tsina_account_info'

-if !current_user.is_quick_connect_account?
  =minibutton "解除新浪微博账号关联","/connect_tsina/account_bind_unbind",:method=>:post,:confirm=>'确定要解除关联吗？',:class=>'red'
-else
  %span> 该账号目前是快速连接账号，请在补全页面补全信息