-#use 关于关联新浪微博的一些操作
-#see 用户设置->关联新浪微博

=render 'account/bind_parts/binded_tsina_account_info'

=minibutton "解除新浪微博账号关联","/account/tsina/disconnect",:method=>:post,:confirm=>'确定要解除关联吗？',:class=>'red'