- require_css 'mindmaps.css'

.grid_7.fright
  =render :partial=>"/mindmaps/parts/search_bar"

.grid_16.margint10
  -if @sphinx_error
    .flash-notice= @sphinx_error
  %h3 搜索 [<span class="querykw">#{@query}</span>]
  %div
    %ul{:id=>"search_mindmaps",:class=>"mindmap"}
      -@mindmaps.each do |mindmap|
        -if mindmap
          %li{:id=>"mindmap_#{mindmap.id}",:class=>"mli"}
            =render :partial=>"mindmaps/list/info_mindmap",:locals=>{:mindmap=>mindmap}
  %div{:style=>"clear:both;"}= will_paginate @mindmaps