-# /weibo/home_timeline

-hjavascript pin_url_for('ui','/singlejs/feed_ogrid.js')

-user = current_user

-htitle "#{user.name}的微博收集"

.main.grid_24
  .page-ogrid.collection-feeds{:style=>'opacity:0;'}
    -@weibo_statuses.each do |status|
      -tsina_feed = status.mash
      -id = tsina_feed.id
      -photo_url = tsina_feed.bmiddle_pic
      -reposted_feed = tsina_feed.retweeted_status

      -creator = tsina_feed.user
      -creator_image_url = creator.profile_image_url

      -has_cart = WeiboCart.has_cart?(current_user, id)

      .feed.tsina{:'data-weibo-mid'=>id,:'data-col-count'=>2}

        .timeline-node{:class=>'', :style=>'display:none;'}
          .icon
          .arrow

        .creator
          .avatar
            %img{:src=>creator_image_url}
          .c-meta
            .name=link_to creator.name,"http://weibo.com/#{creator.id}",:target=>'_blank'

        -if !photo_url.blank?
          .photo
            .box{:style=>'height:278px;overflow:hidden;'}
              %img{:src=>photo_url,:style=>"display:block;width:415px;"}

        .detail=tsina_feed.text

        .clearfix
        -if !reposted_feed.blank?
          .reposted
            =reposted_feed.text