:ruby
  new_url    = '/mindmaps/new'
  import_url = '/mindmaps/import'

.page-mindmaps-top
  .avatar
    =avatar_link current_user
  .arrow
  .box
    .ops
      %a{:href=>new_url, :class=>'new'}
        .icon=''
        .txt 新建
        
      %a{:href=>import_url, :class=>'import'}
        .icon=''
        .txt 导入