.page-info-top
  .meta
    .item 创作和管理个人的思维导图
    .ops
      =link_to '<span class="icon"></span><span>新建</span>','/mindmaps/new',:class=>'create mindmap'
      =link_to '<span class="icon"></span><span>导入</span>','/mindmaps/import',:class=>'import mindmap'