.page-side-mindmaps-stat
  .ranks
    %h5 导图分数统计
    .chart
      -c_arr = current_user.mindmaps_chart_arr
      -max = c_arr.max
      -max=1 if max == 0
      -i = 1
      -c_arr.each do |c|
        -klass = (i.odd?) ? 'odd':'even'
        -height = c*30/max
        %s{:class=>klass,:style=>"height:#{height}px;top:#{30-height}px;"}
        -i = i+1

  .words
    %h5 最常用的词语
    .keywords
      -current_user.mindmaps_major_words.each do |word|
        .w
          =link_to word,search_mindmaps_path(:q=>word),:class=>'word'