-avatar_url  = 'http://tp2.sinaimg.cn/2255854945/30/5605944310/1'
-weibo_url   = 'http://weibo.com/2255854945'
-iframe_html = '<iframe width="136" height="24" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0" scrolling="no" frameborder="No" border="0" src="http://widget.weibo.com/relationship/followbutton.php?width=136&height=24&uid=2255854945&style=2&btn=red&dpc=1"></iframe>'

.page-mindpin-weibo
  .data
    .avatar
      %img{:src=>avatar_url}
    .title 我们的新浪微博
    .name=link_to 'mindpin',weibo_url,:target=>'_blank'
  .ops=iframe_html
    