-require_css 'views/users',true

.grid-title 芝麻~开门..编辑主题
.hrr
.grid_16.alpha
  -form_tag "/zhi_ma_kai_men/feeds/#{@feed.id}/update",:class=>'page-new-feed-form common_form' do
    =flash_info
    .field
      %label.font14.bold 标题（必须有）
      =text_area_tag "content",@feed.content,:class=>"text content-ipter"
    .field
      %label.font14.bold 正文
      =text_area_tag "detail",@feed.detail_content,:class=>"text detail-ipter"
    .field
      %label.font14.bold 关键词
      =text_field_tag "tags",@feed.tag_names*',',:class=>"text tags-ipter"
    .subm
      =submit_tag '写好了，确定',:class=>'submit'

.grid_7.omega.fright
  .padding5
    =minibutton '退回去','/zhi_ma_kai_men'
