-require_css 'views/users',true

.grid-title 芝麻~开门..发表观点（随机马甲）
.hrr
.grid_16.alpha
  -form_tag "/zhi_ma_kai_men/vp/#{@viewpoint.id}/update",:class=>'page-new-feed-form common_form' do
    =flash_info
    .field
      %label.font14.bold 正文
      =text_area_tag "content",@viewpoint.memo,:class=>"text detail-ipter"
    .subm
      =submit_tag '写好了，确定',:class=>'submit'

.grid_7.omega.fright
  .padding5
    =minibutton '退回去',"/zhi_ma_kai_men/show/#{@feed.id}"
