- 'views/users',true

.grid-title 芝麻~开门..创建主题（随机马甲）
.hrr
.grid_16.alpha
  -form_tag "/zhi_ma_kai_men/feeds/create",:class=>'page-new-feed-form common_form' do
    =flash_info
    .field
      %label.font14.bold 标题（必须有）
      =text_area_tag "content",'',:class=>"text content-ipter"
    .field
      %label.font14.bold 正文
      =text_area_tag "detail",'',:class=>"text detail-ipter"
    .field
      %label.font14.bold 关键词
      =text_field_tag "tags",'',:class=>"text tags-ipter"
    .subm
      =submit_tag '写好了，确定',:class=>'submit'

.grid_7.omega.fright
  .padding5
    =minibutton '退回去','/zhi_ma_kai_men'
