-require_css 'views/users',true
-require_css 'views/zhimakaimen',true

.grid-title 芝麻~开门..主题查看
.hrr

.zhimakaimen
  .grid_18.alpha
    -feed = @feed
    .feed-show-page-head.clearfix
      .padding5
        .ftag
          .feed-tags
            -feed.tags.each do |tag|
              =tag_label(tag)

          .ftitle
            .feed-title
              =feed_content(feed)

    .page-feed-show
      .main
        .detail-data
          .data
            =feed_detail feed

    .page-feed-viewpoints
      -feed.viewpoints.each do |viewpoint|
        .viewpoint
          .main
            .content>
              =viewpoint_memo_format_show(viewpoint)
          .footmisc
            =minibutton '编辑观点',"/zhi_ma_kai_men/vp/#{viewpoint.id}/edit"
            .creator
              .time.quiet
                发表于 #{jtime viewpoint.created_at}
              .data
                .avatar
                  =avatar viewpoint.user,:tiny
                .name
                  =usersign(viewpoint.user,true,18)

    .padding5
      =minibutton '发表新观点',"/zhi_ma_kai_men/#{feed.id}/vp/new"


  .grid_5.omega.fright
    .padding5.marginb10
      =minibutton '退回列表','/zhi_ma_kai_men'

    .title.btb 各种马甲
    .majia-users
      -@majia_users.each do |u|
        .user
          .avatar=avatar u,:mini
          .name=truncate_u u.name,5