-if(!feed.reply_to.blank?)
  .reply-to-feed.quotebg
    -rf = feed.replied_feed
    .data
      -if rf.nil?
        %span.quiet 被回应的话题已删除
      -else
        -rc = rf.creator
        =link_to rc.name,rc
        %span.quiet> ：
        =feed_content(rf)