.time.lightbg
  =created_from(feed)

-if logged_in?
  .ops
    -if feed.email == current_user.email
      .del.darkbg.csshov
        .icon
        .t 删除
    .fav.darkbg.csshov{:class=>feed.fav_by?(current_user) ? 'on':'off'}
      .icon
      .t.t1 标记
      .t.t2 取消标记
    .transmit.darkbg.csshov
      .icon
      .t 传阅
    .echo.darkbg.csshov{:'data-count'=>feed.comments_count}
      .icon
      .t 回应 #{feed.comments_count}