- 'views/users',true

-content_for :title do
  我关注的关键词

.grid_18.alpha
  .grid-title 我关注的关键词

  .hrr
  .page-tags-rank-list
    -@tags.each do |tag|
      .tag-info.btb
        -count = tag.feeds.normal.count
        .tag-and-count
          =tag_label(tag)
          .count="× #{count}"
        .tag-desc
          =h(truncate_u(tag.detail||'',48))

  .padding5
    = will_paginate @tags

.grid_5.omega.fright
  =show_sub_menu