-require_css 'views/users',true

-content_for :title do
  关键词热度排行

.grid_18.alpha
  .grid-title 被使用最多的关键词

  .hrr
  .page-tags-rank-list
    -@tags_hash_arr.each do |tc|
      .tag-info
        .tag-and-count
          =tag_label(tc[:tag])
          .count="× #{tc[:count]}"

  .padding5
    = will_paginate @tags_hash_arr

.grid_5.omega.fright
  =show_sub_menu