-htitle '共享资源'

-content_for :javascript do
  =javascript_include_tag '/uploadify/upload_photo'

.mside.grid_5
  =render 'modules/sub_links/entries_links'

.main.grid_19.ll
  .page-title-bar
    .meta
      %h2 照片和图片
      .desc 这里汇集了你上传的照片和图片
    .ops
      #page-upload-photo-btn.upload.create 上传图片

  #page-upload-queue

  .page-photos
    -@photos.each do |photo|
      .photo
        %img{:src=>photo.image.url(:s200)}
    