#mindmap-status-bar
  .cooperate
    %span 共同编辑者:
    -@mindmap.cooperate_users.each do |user|
      =link_to user.name,"/users/#{user.id}",:target=>'_blank'
  .buttons
    %a.mindmap-recenter{:title=>'导图重新居中',:href=>'javascript:;',:onclick=>'mindmap.recenter();'}
      %span 导图重新居中
    %a.toggle-sidebar.open{:title=>'隐藏/显示侧边栏',:href=>'javascript:;'}
      %span 隐藏/显示侧边栏