.root, .node {
  font-family: Consolas,"Lucida Grande",Verdana,Tahoma,Arial,Helvetica,Sans;
  cursor: pointer; }

.root {
  font-size: 14px;
  line-height: 21px;
  border: 2px solid #77AAFF;
  padding: 3px 5px;
  color: #333;
  background-color: #E9F0FF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .root.dropon {
    border: solid 2px #F56F00 !important;
    padding: 3px 5px;
    margin: 0; }

.root_over {
  background-color: #d2e0ff; }

.root_selected {
  border-color: #113B8F; }

.node {
  font-size: 12px;
  color: #333;
  line-height: 16px;
  padding: 2px 3px 3px 3px;
  margin: 3px 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  .node.dropon {
    border: solid 3px #F56F00 !important;
    padding: 2px 0;
    margin: 0; }

.node_over {
  border: solid 3px #ffed80;
  padding: 2px 0;
  margin: 0; }

.node_selected {
  border: solid 3px #113B8F;
  padding: 2px 0;
  margin: 0; }

.nodeimg img {
  margin: 0 3px; }

.nodebody .nodetitle {
  margin: 0 3px;
  display: inline-block;
  *display: inline;
  zoom: 1; }
.nodebody .noteicon {
  width: 10px;
  height: 9px;
  background-image: url("../img/status_icons.gif");
  background-repeat: no-repeat;
  background-position: 30% 0px;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1; }

/*折叠展开控制图标*/
.foldhandler_plus {
  width: 11px;
  height: 11px;
  padding: 0;
  font-size: 0;
  line-height: 0px;
  background-image: url("../img/icon_plus.gif"); }

.foldhandler_minus {
  width: 11px;
  height: 11px;
  padding: 0;
  font-size: 0;
  line-height: 0px;
  background-image: url("../img/icon_minus.gif"); }

.foldhandler_over {
  background-position: 0 -30px; }

.foldhandler_down {
  background-position: 0 -60px; }

/*节点标题编辑*/
.title_input_div {
  border: solid 3px #7f7ff7;
  background-color: white;
  position: absolute;
  z-index: 103;
  overflow: hidden;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  .title_input_div .title_inputer, .title_input_div .title_inputer_root {
    font-family: Consolas,"Lucida Grande",Verdana,Tahoma,Arial,Helvetica,Sans;
    border: none !important;
    color: #333; }
  .title_input_div .title_inputer {
    font-size: 12px;
    line-height: 16px;
    padding: 2px 2px;
    *padding: 1px 2px; }
  .title_input_div .title_inputer_root {
    font-size: 14px;
    line-height: 21px;
    padding: 2px 6px;
    *padding: 1px 3px; }

/*图像选择器*/
.mindmap-image-editor {
  clear: both;
  text-align: left; }
  .mindmap-image-editor .image-sel {
    float: left;
    width: 380px; }
    .mindmap-image-editor .image-sel label {
      width: 50px;
      display: inline-block;
      text-align: right;
      margin-right: 4px; }
    .mindmap-image-editor .image-sel input {
      height: 23px !important; }
      .mindmap-image-editor .image-sel input.url {
        width: 240px !important; }
      .mindmap-image-editor .image-sel input.width, .mindmap-image-editor .image-sel input.height {
        width: 60px !important; }
    .mindmap-image-editor .image-sel .preview {
      margin-bottom: 20px;
      overflow: auto;
      width: 342px;
      height: 200px;
      padding: 4px;
      border: solid 2px #74747A;
      background: url(/images/actions/preview_bg.png); }
      .mindmap-image-editor .image-sel .preview img {
        border: solid 1px !important; }
  .mindmap-image-editor .image-upload {
    float: left; }
    .mindmap-image-editor .image-upload ul.image-list {
      overflow: hidden;
      width: 400px;
      height: 265px;
      background: #161625;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      padding: 2px;
      margin-bottom: 5px; }
      .mindmap-image-editor .image-upload ul.image-list li {
        float: left;
        margin-right: 2px;
        margin-bottom: 2px; }
        .mindmap-image-editor .image-upload ul.image-list li .ic {
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          background-color: #323546;
          border: solid 1px #333;
          padding: 3px;
          cursor: pointer; }
          .mindmap-image-editor .image-upload ul.image-list li .ic:hover {
            background-color: #45495b; }
          .mindmap-image-editor .image-upload ul.image-list li .ic .img {
            width: 90px;
            height: 60px; }
        .mindmap-image-editor .image-upload ul.image-list li .actions {
          text-align: center; }
    .mindmap-image-editor .image-upload .pagination {
      margin-bottom: 20px; }
    .mindmap-image-editor .image-upload .used {
      margin-bottom: 3px; }
    .mindmap-image-editor .image-upload .uploader {
      height: 34px; }
      .mindmap-image-editor .image-upload .uploader .uploadifyQueue {
        float: right; }
        .mindmap-image-editor .image-upload .uploader .uploadifyQueue .uploadifyQueueItem {
          padding: 0;
          margin: 0;
          width: 290px;
          padding: 3px;
          color: #222; }

#mindmap-scroller {
  position: absolute;
  border: none;
  overflow: scroll;
  height: 100%;
  width: 100%; }
  #mindmap-scroller #mindmap-canvas {
    border: solid 1px white;
    position: relative;
    width: 6000px;
    height: 3000px;
    background-color: #FFFFFF;
    background-image: url("../img/paper_bg.png"); }
    #mindmap-scroller #mindmap-canvas div {
      white-space: nowrap; }

.info-label {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 24px;
  background: black;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 10px 30px 10px 10px;
  z-index: 99999; }
  .info-label.notice {
    background: #F9E675;
    color: #472509;
    font-weight: bold; }
  .info-label.success {
    background: #D8F1C4;
    color: #111;
    font-weight: bold; }
  .info-label.error {
    background: #C6001A;
    color: white;
    font-weight: bold; }

.lock-white-board {
  position: absolute;
  background-color: #999;
  z-index: 999; }
