%div=link_to "同步数据","/api0/mobile_data_syn",:target=>"_blank"
%div=link_to "我的收件箱主题列表","/api0/home_timeline",:target=>"_blank"
%div=link_to "收集册的主题列表","/api0/collections/feeds?collection_id=37",:target=>"_blank"
%div=link_to "主题详情","/api0/feeds/show?id=2163",:target=>"_blank"
%div=link_to "主题的评论列表","/api0/comments/list?feed_id=2148",:target=>"_blank"
%div=link_to "当前用户收到的评论","/api0/comments/received",:target=>"_blank"
%div=link_to "用户的关注列表","/api0/contacts/followings?user_id=271",:target=>"_blank"

