-require_css 'views/users',true

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

.grid_3.alpha
  -if @current_channel.is_a? Channel
    =render :partial=>'channels/show_parts/channel_main_users',:locals=>{:channel=>@channel}

.grid_14.paddingl20
  .grid-title
    主题频道 -
    %span.loud
      -if @current_channel == 'none'
        默认频道
      -else
        =@current_channel.name

  -if !@channel.blank?
    -case @channel.kind
      -when Channel::KIND_INTERVIEW
        =render :partial=>'channels/channel_interview',:locals=>{:feeds=>@feeds,:channel=>@channel}
      -when Channel::KIND_BLOG
        =render :partial=>'channels/channel_blog',:locals=>{:feeds=>@feeds,:channel=>@channel}
      -when Channel::KIND_TODOLIST
        =render :partial=>'channels/channel_todolist',:locals=>{:feeds=>@feeds,:channel=>@channel}
      -else
        =render :partial=>'channels/channel_common',:locals=>{:feeds=>@feeds}
  -else
    .form
      =render :partial=>'index/homepage/feeds/channel_feed_form'
    .newsfeed
      =render :partial=>'feeds/lists/feeds',:locals=>{:newsfeeds=>@feeds}

  .feed-paginate.padding5
    = will_paginate @feeds

.grid_4.omega.fright
  -if logged_in?
    =render :partial=>'index/index_parts/feed_links'