-require_css 'views/users',true

-content_for :javascripts do
  = javascript_include_tag "views/channels/channel_choose_member"

.grid_18.alpha

  .grid-title
    %span.loud>#{@user.name}
    创建的频道

  .index-channels
    =render 'channels/index_parts/channels_meta_c',:channels=>@user.channels

  =render 'channels/index_parts/channel_member_choose_panel'

  .hrr

  .grid-title
    %span.loud>#{@user.name}
    所属的频道

  .index-belongs-to-channels
    =render 'channels/index_parts/channels_meta_c',:channels=>@user.belongs_to_channels

.grid_5.omega.fright
  