body.mindtu-no-auth-index{
  @include gradient(#FCFDFF,#dddddd);

  .login-wrapper{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-150px;
    margin-left:-300px;
    .logo{
      width:350px;
      height:75px;
      background:url(/images/mindtu.png);
      margin-bottom:20px;
    }
    form{
      overflow:hidden;
      margin-left:5px;
      .field{
        float:left;
        margin-right:10px;
        label{display:block;}
        input.text{
          border:solid 1px #666;
          box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2) inset;
          font-weight:bold;
          @include tfont;
        }
        .submit{
          margin-top:25px;
          height:33px;
          width:80px;
          font-size:14px;
        }
        .remember-me{
          padding:3px;
        }
        .forget-password{
          padding:3px;
          a{color:#666;&:hover{color:#666;}}
        }
      }
    }

    .flash-error{
      margin:0 5px;
      background:#777;
      border:solid 1px #666;
    }
  }

  .page-footer{
    background:none;
    color:#666;
    .bold{font-weight:normal;}
  }

}