
-if !flash[:notice].blank?
  =flash[:notice]
%table
  %thead
    %tr
      %th 工程名
      %th 状态
      %th 日志大小
      %th 日志最后修改时间
      %th 操作
  %tbody
    %tr=render :partial=>"index/parts/project_stat",:locals=>{:project_name=>"pin-user-auth"}
    %tr=render :partial=>"index/parts/project_stat",:locals=>{:project_name=>"pin-mev6"}
    %tr=render :partial=>"index/parts/project_stat",:locals=>{:project_name=>"app-mindmap-image-cache"}
    

%table
  %thead
    %tr
      %th 服务名
      %th 状态
      %th 日志大小
      %th 日志最后修改时间
      %th 操作
  %tbody
    %tr=render :partial=>"index/parts/server_stat",:locals=>{:server_name=>"memcached_service"}
    %tr=render :partial=>"index/parts/server_stat",:locals=>{:server_name=>"redis_service"}
    %tr=render :partial=>"index/parts/server_stat",:locals=>{:server_name=>"mindmaps_lucene_service"}
    %tr=render :partial=>"index/parts/server_stat",:locals=>{:server_name=>"feeds_lucene_service"}
    %tr=render :partial=>"index/parts/server_stat",:locals=>{:server_name=>"resque_web_service"}

%table
  %thead
    %tr
      %th worker name
      %th 状态
      %th 日志大小
      %th 日志最后修改时间
      %th 操作
  %tbody
    %tr=render :partial=>"index/parts/worker_stat",:locals=>{:worker_name=>"mindmap_import_queue_worker"}
    %tr=render :partial=>"index/parts/worker_stat",:locals=>{:worker_name=>"wake_up_resque_worker"}

%table
  %thead
    %tr
      %th resque worker name
      %th 状态
      %th 日志大小
      %th 日志最后修改时间
      %th 操作
  %tbody
    -ConfigManager.resque_queues.each do |queue|
      %tr=render :partial=>"index/parts/resque_queue_worker_stat",:locals=>{:queue_name=>queue}

=link_to "退出登录","/logout"
