-#use 显示频道中的成员
-#see 顶部导航->人际关系->右侧列表

.channel{:'data-id'=>channel.id}
  .meta
    .name=link_to channel.name,"/channels/#{channel.id}/edit"
    .ucount=channel.include_users.count
  .users{:style=>'display:none;'}
    -channel.include_users.each do |iu|
      .avatar{:'data-id'=>iu.id,:tip=>iu.name}
        =avatar iu,:tiny
        .overlay
