.clearfix
  .member-logo
    =avatar contact.email,:tiny
  .member-email
    -actor = EmailActor.new(contact.email)
    =actor.email_name
  .delete
    =link_to_remote '删除',:url=>"/contacts/#{contact.id}",:method=>'DELETE'