.contacts.yours
  .top-bar.clearfix
    .fleft.font14.bold
      联系人(#{@contacts.count})
    .fright
      =minibutton '设置','/account/contacts'
  .yours-list
    -if @contacts.blank?
      .no-item
        目前还没有联系人
    -else
      -mplist @contacts,:for=>Contact do |c|
        .avatar
          =avatar c.email,:tiny
        .name
          =email_actor_link(c.email)