.channel-panel
  %ul.channels
    %li.all{:class => @current_channel.blank? ? 'current':''}
      =link_to '互动频道',pin_url_for('pin-user-auth'),:class=>'csshov'
    %li.mindmaps{:class => @current_channel == 'mindmaps' ? 'current':''}
      -link_to pin_url_for('pin-user-auth',"/mindmaps"),:class=>'csshov' do
        .icon
        思维导图

  .channel-op.darkbg
    %span.loud.u-count

  .setting{:style=>'display:none;'}
    .chs
      -current_user.channels.each do |c|
        .ch
          -link_to pin_url_for('pin-user-auth',"channels/#{c.id}") do
            %span.kind.darkbg1{:class=>c.kind}
              =c.kind_name
            %span.name=truncate_u(c.name,6)
    =link_to '管理频道',pin_url_for('pin-user-auth',"#{current_user.id}/followings")