.organizations.yours
  .top-bar.clearfix
    .fleft.font14.bold
      团队(#{@organizations.count})
    .fright
      =minibutton '设置','/account/organizations'
  .yours-list
    -if @organizations.blank?
      .no-item
        目前还没有组织团队
    -else
      -mplist @organizations,:for=>Organization do |org|
        =link_to org.name,pin_url_for('pin-user-auth',"/organizations/#{org.id}")