-vote_tips = UserViewpointVoteUpTipProxy.new(current_user).tips
-if !vote_tips.blank?
  .homepage-new-voteup-tip
    .title> 投票通知
    .tips
      -vote_tips.each do |vote_tip|
        .tip{:'data-id'=>vote_tip.id}
          .delete
          .data=vote_up_tip_str(vote_tip)
    .btns
      =minibutton '清除所有','javascript:;',:class=>'clear-all'

-viewpoint_tips = UserAddViewpointTipProxy.new(current_user).tips
-if !viewpoint_tips.blank?
  .homepage-new-viewpoint-tip
    .title> 观点通知
    .tips
      -viewpoint_tips.each do |viewpoint_tip|
        .tip{:'data-id'=>viewpoint_tip.id}
          .delete
          .data=viewpoint_tip_str(viewpoint_tip)
    .btns
      =minibutton '清除所有','javascript:;',:class=>'clear-all'

-be_invited_tips = UserBeInvitedFeedTipProxy.new(current_user).tips
-if !be_invited_tips.blank?
  .homepage-be-invited-tip
    .title> 邀请通知
    .tips
      -be_invited_tips.each do |be_invited_tip|
        .tip{:'data-id'=>be_invited_tip.id}
          .delete
          .data=be_invited_tip_str(be_invited_tip)
    .btns
      =minibutton '清除所有','javascript:;',:class=>'clear-all'

-fav_change_tips = UserFavFeedChangeTipProxy.new(current_user).tips
-if !fav_change_tips.blank?
  .homepage-fav-change-tip
    .title> 关注话题通知
    .tips
      -fav_change_tips.each do |fav_change_tip|
        .tip{:'data-id'=>fav_change_tip.id}
          .delete
          .data=fav_change_tip_str(fav_change_tip)
    .btns
      =minibutton '清除所有','javascript:;',:class=>'clear-all'