.grid-title 用户通知

.hrr

-if !tips.blank?
  .homepage-user-notices
    .tips
      -tips.each do |tip|
        .tip.btb{:'data-id'=>tip.id}
          .delete
          .data=user_tip_str(tip)
    .btns
      =minibutton '清除所有通知','javascript:;',:class=>'clear-all blue'