.simple-help.keng
  .title
    思维导图编辑器简要帮助
  .blo
    .t 鼠标操作
    %dl
      %dt 单击
      %dd 选中节点
    %dl
      %dt 双击
      %dd 编辑节点文字
    %dl
      %dt 右键
      %dd 显示快捷菜单
    %dl
      %dt 拖拽
      %dd 移动节点位置

  .blo
    .t 键盘操作
    %dl
      %dt 回车
      %dd 新增同级节点
    %dl
      %dt Insert
      %dd 新增子节点
    %dl
      %dt 空格
      %dd 编辑节点文字
    %dl
      %dt Delete
      %dd 删除选中节点
    %dl
      %dt 方向键
      %dd 选择节点