.no-auth-head.clearfix
  .intro_and_form
    .mindpin-intro
      .misc
        .go-to-signup
          .desc 如果还不是会员，现在就注册吧
          =link_to '<span>注册新账号 &raquo;</span>',signup_path,:class=>'signup-button shadow button'

        .txt
          .p
            .icon1
            提出<span class='bold'>问题、想法或创意</span>
          .p
            .icon2
            参与讨论，发表<span class='bold'>观点</span>，交换<span class='bold'>意见</span>
          .p
            .icon3
            寻找，结识兴趣一致的<span class='bold'>朋友</span>
