.site-connect
  .text
    .p 如果您有下面这些网站的账号
    .p 不用注册就可以直接登录了~
  .connects
    =link_to "连接新浪微博","javascript:pie.open_win('#{connect_tsina_path}');",:class=>'tsina',:tipr=>'使用新浪微博账号登录'
    =link_to "连接人人网","javascript:pie.open_win('#{connect_renren_path}');",:class=>'renren',:tipr=>'使用人人网账号登录'