-if !logged_in?
  .welcome-to-signup
    -link_to signup_path,:class=>'signup-button shadow button' do
      .strong
        现在就注册
    .title
      我们期待您不仅观看，而且参与其中！
    .desc
      .p MindPin现在是一个多人参与的主题协作社区，当你和更多人进行了沟通，你才会有更多的收获。
      .p 随着你的逐步深入使用，你会用到更多对你有帮助的实用功能，撰写，阅读和发现更多有用的信息。
      .p 高质量的内容，由大家共同创造。