-#use 主题列表
-#see 登录后的首页->中间栏的主题列表

-hide_creator ||= false

.page-ogrid.collection-feeds{:style=>'opacity:0;'}
  -if feeds.blank?
    .list-blank 这里还没有主题
  -else
    -feeds.each do |feed|
      -feed_id = feed.id
      -feed_format = FeedFormat.new(feed)

      -title_short = feed_format.title_brief
      -has_title = !title_short.blank?

      -photos = feed.photos
      -has_photo = !photos.blank?

      -detail = feed_format.short_detail_brief
      -has_detail = !detail.blank?

      -comment_count = feed.comments.count
      -has_comment = comment_count > 0

      -feed_link = "/feeds/#{feed_id}"

      .feed{:'data-id'=>feed_id}

        -if has_photo
          -photo = photos.first
          -img_src = photo.image.url(:w220)
          -css_height = photo.image_height(:w220)
          -has_many_photos = photos.length > 1

          .photo>
            %a{:href=>feed_link}>
              %img{:src=>img_src,:style=>"display:block;height:#{css_height}px"}
              -if has_many_photos
                .photo-count="#{photos.length} 张图片"

        -if has_title
          .title.wordwrap=link_to title_short,"/feeds/#{feed_id}"

        -if has_detail
          .detail.wordwrap=detail

        .footer-links
          -if has_comment
            .comment-count
              .icon
              %a{:href=>feed_link}=comment_count
          .created-at
            .icon
            %a{:href=>feed_link}=jtime(feed.created_at)
          .show-detail
            .icon
            %a{:href=>feed_link} 查看全文

        -if !hide_creator
          .creator
            .avatar=avatar(feed.creator,:tiny)
            .name=usersign(feed.creator)