- @mindpin_layout.grid = 24

!!! 5
%html{:lang=>"zh"}
  =render 'layouts/parts/head'

  %body.echo
    .page-wrap
      .page-container
        =render 'layouts/parts/account_nav'
        .page-content{:class=>container_classname}
          .cell.clearfix
            =yield

    =render 'layouts/parts/footer'
    =render 'layouts/parts/phide'
    =render 'layouts/parts/javascripts'