- @mindpin_layout.theme = '2011'
- @mindpin_layout.grid = 24
- @mindpin_layout.yield_partial = 'application'

!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  =render 'layouts/parts/htmlhead'
  =render 'layouts/parts/htmlbody'