!!! 5
%html{:lang=>"zh"}
  =render 'layouts/parts/head'

  %body.echo.gray
    .page-wrap
      .page-container
        =render 'layouts/parts/nav',:fullscreen=>true
        .page-content.container_auto
          =yield

    =render 'layouts/parts/phide'
    =render 'layouts/parts/footer'
    =render 'layouts/parts/javascripts'