.container_10
  %h3 支持以下导图软件格式：
  %dl
    %dt MMAP
    %dd MindManager
  %dl
    %dt MM
    %dd FreeMind
  %dl
    %dt XMIND
    %dd XMind
  %p.margint10
    选择文件并确定上传后，系统需要少许时间进行处理和转换，请耐心等待。
  %p
    我们能够确保基本导图结构的完好。<br/>
    但是由于MindPin导图编辑器仍需进一步完善，一些导图软件中的特定格式，如文字颜色，内嵌图片，导入后会有不同程度的丢失。

#file_upload

=javascript_include_tag "views/import_mindmap.js?#{randstr}"


