-#use 我的热门观点
-#see 个人页->观点

.user-page-viewpoints
  -@viewpoints.each do |vp|
    .viewpoint.btb
      .feed
        =link_to feed_content_short(vp.feed,32),vp.feed
      .vp-ct
        .arrow
        .data
          .name
            %span.vote-score{:tip=>"投票认可度"}=vp.vote_score
          .memo-content
            =viewpoint_memo_format_in_list(vp)
