-#use 评论列表
-#see 主题show页

.comments
  -comments.each do |comment|
    .comment.btb{:'data-id'=>comment.id,:'data-creator-name'=>comment.user.name}
      .content
        =comment_content comment
        %span.quiet -
        %span.name=link_to comment.user.name,comment.user
        %span.quiet=jtime(comment.created_at)
        -if logged_in?
          %span.quiet -
          -if comment.user == current_user
            =link_to '删除','javascript:;',:class=>'delete'
          -else
            =link_to '回复','javascript:;',:class=>'reply'