.footmisc
  .creator.feed-creator
    -fcu = feed.creator
    .time.quiet
      创建于 #{created_from(feed)}
    .data
      .avatar
        =avatar fcu,:tiny
      .name
        =usersign(fcu,true,18)

  -if !feed.last_edited_user.blank?
    .last-edited-user.feed-editor
      -leu = feed.last_edited_user
      .time.quiet
        编辑于 #{jtime feed.last_edited_time}
      .data
        .avatar
          =avatar leu,:tiny
        .name
          =usersign(leu,true,18)

  .ops
    -if logged_in?
      -if !feed.locked?
        .o
          -if feed.is_spam_marked_by?(current_user)
            %span.quiet 你觉得不值得讨论
          -else
            =link_to '这个主题不值得讨论','javascript:;',:class=>'spam',:tipr=>'#is-a-spam'
          #is-a-spam.hide
            你觉得这个主题很无趣，很空泛；<br/>
            或者“在google上baidu一下”就能轻易解决~

          -if feed.spam_marks.count > 0
            %span.quiet="#{feed.spam_marks.count}人觉得"

-comments = feed.comments
-if !comments.blank?
  =render 'feeds/show_parts/comments',:comments=>comments

-if logged_in?
  .add-comment
    =link_to '<div class="icon"></div><span>增加评论</span>','javascript:;',:class=>'echo csshov'