-#use 主题正文
-#see 主题show页

.page-feed-show{:'data-id'=>"#{feed.id}"}
  .main
    =render 'feeds/show_parts/info_detail',:feed=>feed
  =render 'feeds/show_parts/feed_show_footmisc',:feed=>feed

