.page-feed-show{:'data-id'=>"#{feed.id}"}
  .main
    =render 'feeds/show_parts/info_current_feed_show',:feed=>feed
    =render 'feeds/show_parts/info_detail',:feed=>feed
  =render 'feeds/show_parts/info_time_and_ops_show',:feed=>feed

