-#use 主题的观点列表
-#see 主题show页

.page-feed-viewpoints-title
  #{feed.posts.count}个观点

.page-feed-viewpoints
  -feed.posts.each do |post|
    =render 'feeds/show_parts/info_feed_viewpoint_show',:post=>post

=render 'feeds/show_parts/feed_show_viewpoint_form',:feed=>feed