-creator = feed.creator

-content = feed_content(feed)
-query ||= nil
-if !!query
  -content.gsub!(query,"<span class='loud'>#{query}</span>")

.current-feed
  .c
    .data
      .ct
        =content
        .edit-ct
          -link_to 'javascript:;',:class=>'edit csshov' do
            .icon
            %span 修改
      .feed-content-edit-form{:style=>'display:none'}
        -value = feed.content
        =text_area_tag :'content-inputer',value,:class=>'content-inputer text'
        .btns
          %a.button.editable-submit{:href=>'javascript:;'} 发送
          %a.button.editable-cancel{:href=>'javascript:;'} 取消

    .documents
      .mindmaps
        -feed.mindmaps.each do |mindmap|
          -if mindmap.nil?
            导图已删除
          -elsif mindmap.private?
            导图目前是私有状态
          -else
            -link_to pin_url_for('pin-user-auth',"/mindmaps/#{mindmap.id}/info") do
              =mindmap_thumb(mindmap)