.detail-data
  .data
    =feed_detail feed
  -if logged_in?
    -if feed.detail_content.blank?
      .edit-detail
        -link_to 'javascript:;',:class=>'edit csshov' do
          .icon
          %span 增加主题正文
    -else
      .edit-detail
        -link_to 'javascript:;',:class=>'edit csshov' do
          .icon
          %span 修改主题正文

.feed-detail-edit-form{:style=>'display:none'}
  -value = feed.detail_content
  =text_area_tag :'detail-inputer',value,:class=>'detail-inputer text'
  .btns
    %a.button.editable-submit{:href=>'javascript:;'} 发送
    %a.button.editable-cancel{:href=>'javascript:;'} 取消