-user = todo_user.user

.viewpoint.btb{:'data-id'=>todo_user.id,:'data-vote-score'=>todo_user.vote_score}
  -if logged_in? && user != current_user
    .vote-ops
      -if !todo_user.voted_up_by?(current_user)
        .vote-up{:tipr=>'投赞成票，观点排序将上升'}
      -else
        .voted-up{:tipr=>'你已经投过赞成票了'}

      .vote-score=todo_user.vote_score

      -if !todo_user.voted_down_by?(current_user)
        .vote-down{:tipr=>'投反对票（不记名），观点排序将下降'}
      -else
        .voted-down{:tipr=>'你已经投过反对票了'}

  .main
    .content>=vp_memo todo_user

    -if logged_in? && user == current_user
      .edit-vp
        -link_to 'javascript:;',:class=>'edit csshov' do
          .icon
          %span 修改观点

    -if !todo_user.viewpoint_votes.blank?
      .supporters.quiet
        =support_str(todo_user)

  .footmisc
    .time
      =jtime todo_user.updated_at

    .ops
      -if logged_in?
        .split.quiet> -
        -if todo_user.comments.blank?
          = link_to '评论','javascript:;',:class=>'echo'
        -else
          = link_to "#{todo_user.comments.count}条评论",'javascript:;',:class=>'echo'

        -if params[:dev]
          .split.quiet> -
          =link_to '派生新话题','javascript:;',:class=>'new-feed'

    .creator
      .avatar
        =avatar user,:tiny
      .name
        =usersign(user)