-creator = feed.creator

-content = feed_content(feed)
-query ||= nil
-if !!query
  -content.gsub!(query,"<span class='loud'>#{query}</span>")

.current-feed
  .c
    .data
      .tags
        -if !feed.tags.blank?
          -feed.tags.each do |tag|
            =tag_label(tag)
        -else
          %a.tag{:href=>"/tags/没有关键词"} 没有关键词
          

        -if logged_in?
          .edit-tags
            -link_to 'javascript:;',:class=>'edit csshov' do
              .icon
              %span 修改
      .feed-tags-edit-form{:style=>'display:none'}
        -tags_value = feed.tag_names*', '.gsub('没有关键词','')
        =text_field_tag :'tags-inputer',tags_value,:class=>'tags-inputer text inline'
        .btns
          %a.button.editable-submit{:href=>'javascript:;'} 发送
          %a.button.editable-cancel{:href=>'javascript:;'} 取消


      .ct
        =content
        -if logged_in?
          .edit-ct
            -link_to 'javascript:;',:class=>'edit csshov' do
              .icon
              %span 修改
      .feed-content-edit-form{:style=>'display:none'}
        -value = feed.content
        =text_area_tag :'content-inputer',value,:class=>'content-inputer text'
        .btns
          %a.button.editable-submit{:href=>'javascript:;'} 发送
          %a.button.editable-cancel{:href=>'javascript:;'} 取消