-user = viewpoint.user

.viewpoint{:'data-id'=>viewpoint.id,:'data-vote-score'=>viewpoint.vote_score}
  -if logged_in? && user != current_user
    .vote-ops
      -if !viewpoint.voted_up_by?(current_user)
        .vote-up{:tipr=>'投赞成票，观点排序将上升'}
      -else
        .voted-up{:tipr=>'你已经投过赞成票了，再点一次取消投票'}

      .vote-score=viewpoint.vote_score

      -if !viewpoint.voted_down_by?(current_user)
        .vote-down{:tipr=>'投反对票（不记名），观点排序将下降'}
      -else
        .voted-down{:tipr=>'你已经投过反对票了，再点一次取消投票'}
  -else
    .vote-ops
      .vote-score.show=viewpoint.vote_score

  .main
    .content>
      =viewpoint_memo_format_show(viewpoint)

    -if !viewpoint.viewpoint_votes.blank?
      .supporters.quiet
        -if !viewpoint.viewpoint_up_votes.blank?
          =support_str(viewpoint)
        -if !viewpoint.viewpoint_down_votes.blank?
          =unsupport_str(viewpoint)

  .footmisc
    .creator
      .time.quiet
        发表于 #{jtime viewpoint.created_at}
      .data
        .avatar
          =avatar user,:tiny
        .name
          =usersign(user,true,18)

    -if viewpoint.updated_at != viewpoint.created_at
      .last-edited-user
        .time.quiet
          编辑于 #{jtime viewpoint.updated_at}

    .ops
      -if logged_in? && user == current_user
        .edit-vp
          -link_to 'javascript:;',:class=>'edit csshov' do
            .icon
            %span 修改观点

      -if logged_in?
        -if params[:dev]
          .split.quiet> -
          =link_to '派生新主题','javascript:;',:class=>'new-feed'

  -comments = viewpoint.comments
  -if !comments.blank?
    =render 'feeds/show_parts/comments',:comments=>comments

  -if logged_in?
    .add-comment
      =link_to '<div class="icon"></div><span>增加评论</span>','javascript:;',:class=>'echo csshov'