-user = todo_user.user

.viewpoint.btb{:'data-id'=>todo_user.id}
  .main
    .content>=vp_memo todo_user

    -if logged_in? && user == current_user
      .edit-vp
        -link_to 'javascript:;',:class=>'edit csshov' do
          .icon
          %span 修改观点

  .footmisc
    .time
      =jtime todo_user.updated_at

    .ops
      -if logged_in?
        .split.quiet> -
        -if todo_user.comments.blank?
          = link_to '评论','javascript:;',:class=>'echo'
        -else
          = link_to "#{todo_user.comments.count}条评论",'javascript:;',:class=>'echo'

        -if params[:dev]
          .split.quiet> -
          =link_to '派生新话题','javascript:;',:class=>'new-feed'

    .creator
      .avatar
        =avatar user,:tiny
      .name
        =usersign(user)