-#use 邀请用户参加主题
-#see 主题的show页

.show-page-invite
  .tip 输入邮箱或用户名来查找用户
  .ipt=text_field_tag 'contact[email]',"",:size=>25,:maxlength=>255,:class=>'inline text'

.show-page-be-invited-users
  -feed.be_invited_users.each do |biu|
    .user{:'data-id'=>biu.id}
      .delete
      .avatar
        =avatar biu,:mini
      .name
        =usersign(biu,false)