.feed-show-page-head.clearfix
  .grid_17.alpha
    -if feed.locked?
      .padding5
        .feed-is-locked
          .icon
          .desc 此主题已经被管理员执行锁定操作，不可再被修改，但可以继续发表观点。

    .padding5
      .ftag
        .feed-tags
          -if !feed.tags.blank?
            -feed.tags.each do |tag|
              =tag_label(tag)
          -else
            %a.tag{:href=>"/tags/没有关键词"} 没有关键词


          -if logged_in? && !feed.locked?
            .edit-tags
              -link_to 'javascript:;',:class=>'edit csshov' do
                .icon
                %span 修改

        .feed-tags-edit-form{:style=>'display:none'}
          -tags_value = feed.tag_names*', '.gsub('没有关键词','')
          =text_field_tag :'tags-inputer',tags_value,:class=>'tags-inputer text inline'
          .btns
            %a.button.editable-submit{:href=>'javascript:;'} 确定
            %a.button.editable-cancel{:href=>'javascript:;'} 取消


      .ftitle
        .feed-title
          =feed_content(feed)
          -if logged_in? && !feed.locked?
            .edit-feed-title
              -link_to 'javascript:;',:class=>'edit csshov' do
                .icon
                %span 修改

        .feed-title-edit-form{:style=>'display:none'}
          -value = feed.content
          =text_area_tag :'content-inputer',value,:class=>'content-inputer text'
          .btns
            %a.button.editable-submit{:href=>'javascript:;'} 确定
            %a.button.editable-cancel{:href=>'javascript:;'} 取消

  .grid_5.omega.fright
    -if logged_in?
      .show-page-ops
        -faved = feed.fav_by?(current_user)
        %a.fav.shadow.button{:href=>'javascript:;',:style=>faved ? 'display:none;':''}> 关注这个主题
        %a.unfav{:href=>'javascript:;',:style=>faved ? '':'display:none;'}> 　取消关注　

    -if logged_in? && current_user.is_admin_user?
      .show-page-lock
        -if feed.locked?
          %a.unlock{:href=>'javascript:;'} 解除锁定
        -else
          #page-lock-tip{:style=>'display:none;'}>
            这个操作按钮<b>只有管理员可以看到</b><br/><span style='color:#FBEB96;'>锁定这个主题使之不再可编辑</span>
          =minibutton '锁定这个主题','javascript:;',:class=>'admin-lock',:tip=>'#page-lock-tip'