.feed-show-page-head.clearfix
  .grid_17.alpha
    .padding5
      .ftag
        .feed-tags
          -if !feed.tags.blank?
            -feed.tags.each do |tag|
              =tag_label(tag)
          -else
            %a.tag{:href=>"/tags/没有关键词"} 没有关键词


          -if logged_in?
            .edit-tags
              -link_to 'javascript:;',:class=>'edit csshov' do
                .icon
                %span 修改
        .feed-tags-edit-form{:style=>'display:none'}
          -tags_value = feed.tag_names*', '.gsub('没有关键词','')
          =text_field_tag :'tags-inputer',tags_value,:class=>'tags-inputer text inline'
          .btns
            %a.button.editable-submit{:href=>'javascript:;'} 确定
            %a.button.editable-cancel{:href=>'javascript:;'} 取消


      .ftitle
        .feed-title
          =feed_content(feed)
          -if logged_in?
            .edit-feed-title
              -link_to 'javascript:;',:class=>'edit csshov' do
                .icon
                %span 修改

        .feed-title-edit-form{:style=>'display:none'}
          -value = feed.content
          =text_area_tag :'content-inputer',value,:class=>'content-inputer text'
          .btns
            %a.button.editable-submit{:href=>'javascript:;'} 确定
            %a.button.editable-cancel{:href=>'javascript:;'} 取消

  .grid_5.omega.fright
    -if logged_in?
      .show-page-ops
        -faved = feed.fav_by?(current_user)
        %a.fav.shadow.button{:href=>'javascript:;',:style=>faved ? 'display:none;':''}> 关注这个主题
        %a.unfav{:href=>'javascript:;',:style=>faved ? '':'display:none;'}> 　取消关注　