.comments
  -comments.each do |comment|
    .comment.btb{:'data-id'=>comment.id}
      .content
        =h comment.content
        %span.quiet -
        %span.name=link_to comment.user.name,comment.user
        %span.quiet=jtime(comment.created_at)
        -if logged_in? && comment.user == current_user
          %span.quiet -
          =link_to '删除','javascript:;',:class=>'delete'