.mindpin-note {
  font-size: 14px;
  border: 1px solid #DEDEDE; }
  .mindpin-note .mindpin-note-file .mindpin-note-data {
    background-color: #F8F8FF;
    padding: 6px;
    border-bottom: 1px solid #DDDDDD; }
  .mindpin-note .mindpin-note-file .mindpin-note-meta {
    padding: 6px;
    background-color: #EAEAEA; }
    .mindpin-note .mindpin-note-file .mindpin-note-meta .fright {
      float: right; }
