-my_url     = pin_url_for 'pin-daotu', '/'
-public_url = pin_url_for 'pin-daotu', '/mindmaps/public'
-favs_url   = pin_url_for 'pin-daotu', '/mindmaps/favs'
-cooper_url = pin_url_for 'pin-daotu', '/mindmaps/cooperates'

.page-mindmaps-sidemenu
  =daotu_sub_menu_li '我的导图', my_url, :class=>'first'
  =daotu_sub_menu_li '浏览其他导图', public_url, :class=>'last'

.page-mindmaps-sidemenu
  =daotu_sub_menu_li '我加星的导图', favs_url

.page-mindmaps-sidemenu
  =daotu_sub_menu_li '我参与的协作<label>测试功能</label>', cooper_url

    
