.page-submenu.clearfix
  %ul
    =sub_menu_li "我的公开导图",'/',:class=>'first'
    -#sub_menu_li "我的私有导图",'/mindmaps/mine_private',:class=>'first'
    =sub_menu_li "我参与的协作",'/mindmaps/cooperates'
    =sub_menu_li "浏览其他导图",'/mindmaps/public'
    =sub_menu_li "加星导图",'/mindmaps/favs',:class=>'last'

    
