.clearfix
  .page-submenu.clearfix
    %ul.mindmaps
      =sub_menu_li '我的导图','/mindmaps',:class=>'first'
      =sub_menu_li '我的协同','/mindmaps/cooperates'
      =sub_menu_li '公开导图','/mindmaps/public'
