.page-submenu.clearfix
  %ul
    =sub_menu_li "我的导图",'/',:class=>'first'
    =sub_menu_li "我参与的协作",'/mindmaps/cooperates'
    =sub_menu_li "浏览其他导图",'/mindmaps/public'
    =sub_menu_li "加星导图",'/mindmaps/favs',:class=>'last'

    
