-htitle '我的思维导图'

-hjavascript pin_url_for('ui','/singlejs/daotu/index_page.js')

:ruby
  user = current_user
  
  mindmaps_count = user.mindmaps.count
  mindmaps = user.mindmaps.limit(30);
  
  albums_count = user.mindmap_albums.count
  fav_count = user.mindmap_favs.count

.page-mindmap-toolbar
  %a.home-tl{:href=>'/', :title=>'我的思维导图'}
    =avatar user, :medium
  %a.it.mindmaps{:href=>'/'}
    %span.c=mindmaps_count
    %span.t 导图
  %a.it.albums{:href=>'/albums'}
    %span.c=albums_count
    %span.t 图册
  %a.it.favs{:href=>'/favs'}
    %span.c=fav_count
    %span.t 喜欢
  %a.new{:href=>'javascript:;'}
  .new-box{:style=>'display:none;'}
    .titlebar
      %a.close{:href=>'javascript:;'}
      .title 请选择…
    .buttons
      %a.btn.create 创建导图
      %a.btn.import 上传导图
      %a.btn.newalbum 创建图册

.page-mindmaps-grids{:style=>'display:none;'}
  .mindmaps
    =render 'mindmaps/parts/grids', :mindmaps=>mindmaps