-htitle '我的思维导图'

-hjavascript pin_url_for('ui','/singlejs/daotu/index_page.js')

:ruby
  user = current_user
  
  mindmaps_count = user.mindmaps.count
  mindmaps = user.mindmaps.limit(30);
  
  albums_count = user.mindmap_albums.count
  fav_count = user.mindmap_favs.count

.page-mindmap-toolbar
  %a.home-tl{:href=>'/', :title=>'我的思维导图'}
    =avatar user, :medium
  %a.it.mindmaps
    %span.c=mindmaps_count
    %span.t 导图
  %a.it.albums
    %span.c=albums_count
    %span.t 图册
  %a.it.favs
    %span.c=fav_count
    %span.t 喜欢

.page-mindmaps-grids{:style=>'display:none;'}
  .intro.gi
    .title INTRO
    .desc 
      动态网格展示介绍blahblah
      本网页不支持IE！！
    
  .weibo.gi
    .desc 我们的微博
    .title FOLLOW IT  
  
  .create-mindmap.gi
    =form_for Mindmap.new, :url=>'/create' do |f|
      .field
        %label 输入导图标题
        =f.text_field :title
      .field
        %a.submit.minibutton.blue{:href=>'javascript:;'} 确定

  .import-mindmap.gi
    %input.file{:type=>'file'}
  
  .mindmaps
    =render 'mindmaps/parts/grids', :mindmaps=>mindmaps