-htitle '我的思维导图'

.main.grid_17
  =render 'index/parts/manage_bar'
  =render 'index/list/list', :mindmaps=>@mindmaps

.mside.grid_6
  =render 'index/parts/sub_menu'
  =render 'index/parts/misc'

