-htitle '思维导图首页'

.mside.grid_5
  =render 'index/sub_menu'
  =render 'index/parts/weibo'

.main.grid_19.ll
  =render 'index/parts/manage_bar'
  =render 'mindmaps/list/list',:mindmaps=>@mindmaps

  .page-paginate=will_paginate @mindmaps