-htitle '我的思维导图'

.main.grid_17.no-line
  =render 'index/parts/manage_bar'
  =render 'mindmaps/list/list',:mindmaps=>@mindmaps
  .grid_16.alpha
    .page-paginate=will_paginate @mindmaps

.mside.grid_6.no-line
  =render 'index/sub_menu'
  =render 'index/parts/misc'

