-htitle '登录'

-submit_url          = pin_url_for('pin-user-auth','/login?call=tu')
-connect_tsina_url   = pin_url_for('pin-user-auth','/apps/tsina/tu/connect')
-forgot_password_url = pin_url_for('pin-user-auth','/account/forgot_password')
-signup_url          = pin_url_for('pin-user-auth','/signup')
-apply_url           = pin_url_for('pin-user-auth','/apply')

.main.grid_24.nl

  .page-anonymous-wrapper
    .login-box
      .logo.daotu
      .login-content
        .ct
          -form_tag(submit_url,{:class=>'login-form'}) do
            =flash_info
            .p1
              .field.email
                %label 电子邮箱 / 用户名
                =text_field_tag     :email   ,params[:email]   ,:class=>'text need j-tip',:tabindex=>'1'
              .field.password
                %label 密码
                =password_field_tag :password,params[:password],:class=>'text need j-tip',:tabindex=>'2'
              .field
                %a.login-submit.middlebutton.loginblue{:href=>'javascript:;'} <span>登 录</span><span class='icon'></span>

            .p2
              .field.reg
                %a{:href=>signup_url} 注册一个新账号
              .field.misc
                .remember-me
                  %span=check_box_tag :remember_me,params[:remember_me],true,:class=>'checkbox'
                  %span 下次记住我
                .forget-password
                  =link_to '我忘记密码了…', forgot_password_url
              .field.error
                %span=flash[:error]

            .p3
              .field.tsina
                .connects
                  %a.connect.tsina-weibo.middlebutton.loginred{:href=>connect_tsina_url,:title=>'使用新浪微博账号登陆'}
                    .icon
                    .name 微博登录