-site = session[:account_setting_from_site_flag]
-site = 'pin-user-auth' if site.blank?
-exit_url = pin_url_for(site)

.page-header
  .container_24
    .site-logo
      =link_to 'MINDPIN', exit_url, :class=>'logo account'

    .nav-menu
      %a.middlebutton.logingray{:href=>exit_url} 退出用户设置
      