.ph.account
  .page-head.container_24
    .site-logo
      -if session[:account_setting_from_site_flag] == 'tu'
        =link_to '思维导图',pin_url_for('pin-daotu'),:class=>'logo account'
      -else
        =link_to '思维导图',pin_url_for('pin-user-auth'),:class=>'logo account'
      