%head
  %meta{:charset=>"utf-8"}
  %meta{:"http-equiv"=>"X-UA-Compatible",:content=>"chrome=1"}
  %meta{:"http-equiv"=>"X-UA-Compatible",:content=>"IE=EmulateIE7"}
  %meta{:name=>"description",:content=>"MINDPIN是一个帮助你收集，整理，撰写和分享图文内容的网络社区"}
  %meta{:name=>"keywords",:content=>"MINDPIN,社区,知识,创意,图片,收集,问题,想法,计划,协作,NGO"}
  %meta{:name=>"viewport",:content=>"width=device-width,initial-scale=1"}
  <meta property="wb:webmaster" content="8b53c190287cde08" />

  -tstring = (yield :title) || ''
  -if tstring.blank?
    %title="MINDPIN"
  -else
    %title=["#{tstring.gsub("\n",'')}", "MINDPIN"]*' - '

  = require_ui_css
  = yield :css
  = yield :head