.page-header
  .menu
    .container_24
      .topbar
        -if logged_in?
          .sp=link_to "用户设置",pin_url_for('pin-user-auth','/account')
          .sp=link_to "退出",pin_url_for('pin-user-auth','/logout')

        -else
          .sp=link_to '用户注册','/signup'
          .sp=link_to '登录','/login'

  .nav
    .container_24
      .site-logo
        =link_to 'mindpin','/',:class=>'logo mindpin'
      .nav-menu
        -link_to "/users/#{current_user.id}",:class=>'homepage',:tip=>'个人页' do
          .avatar=avatar current_user,:tiny
        =link_to '<div class="icon"></div><span>主题</span>','/',:class=>'feeds first current',:tip=>'主题'
        =link_to '<div class="icon"></div><span>人际关系</span>','/contacts',:class=>'contacts',:tip=>'人际关系'
        =link_to '<div class="icon"></div><span>聚合</span>','javascript:;',:class=>'collections lock',:tip=>'alpha测试期间，功能暂未开放'
        =link_to '<div class="icon"></div><span>共享资源</span>','/entries',:class=>'entries last',:tip=>'共享资源'