.page-header
  .nav.dark
    .container_24
      .site-logo
        =link_to 'mindpin','/',:class=>'logo mindpin'

      -if logged_in?
        -user = current_user
        -homepage_link = "/users/#{user.id}"

        .nav-menu
          =link_to '<div class="icon"></div><span>主题</span>','/',:class=>'ali'
          =link_to '<div class="icon"></div><span>收集册</span>',"/collections",:class=>'ali'
          =link_to '<div class="icon"></div><span>人际关系</span>','/contacts',:class=>'ali'


          .user-meta>
            .name>=usersign user
            .avatar
              -link_to homepage_link,:tip=>'个人页' do
                =avatar user,:mini

          =link_to current_user.tips_count,'/notices',:class=>'notices',:tip=>'通知'
          =link_to '<div class="icon"></div><span>设置</span>',pin_url_for('pin-user-auth','/account'),:class=>'setting',:tip=>'设置'
          =link_to '<div class="icon"></div><span>退出</span>',pin_url_for('pin-user-auth','/logout'),:class=>'logout',:tip=>'退出'
