.page-header
  .nav
    .container_24
      .site-logo
        =link_to 'mindpin','/',:class=>'logo mindpin'

      -if logged_in?
        .nav-menu
          .user-meta
            .title 探索者
            .name=usersign current_user
          -link_to "/users/#{current_user.id}",:class=>'li homepage',:tip=>'个人页' do
            .avatar=avatar current_user,:tiny
          =link_to '<div class="icon"></div><span>主题</span>','/',:class=>'li feeds first current',:tip=>'主题'
          =link_to '<div class="icon"></div><span>人际关系</span>','/contacts',:class=>'li contacts',:tip=>'人际关系'
          =link_to '<div class="icon"></div><span>任务</span>','/tasks',:class=>'li tasks',:tip=>'任务'
          =link_to '<div class="icon"></div><span>资源</span>','/entries',:class=>'li entries last',:tip=>'资源'
          =link_to current_user.tips_count,'/notices',:class=>'li notices',:tip=>'通知'
          =link_to '<div class="icon"></div><span>设置</span>',pin_url_for('pin-user-auth','/account'),:class=>'li setting',:tip=>'设置'
          =link_to '<div class="icon"></div><span>退出</span>',pin_url_for('pin-user-auth','/logout'),:class=>'li logout',:tip=>'退出'
