- 'views/messages'

=minibutton "返回","/messages"

.messages
  -@messages.each do |message|
    .message.darkbg
      .avatar
        =avatar message.sender
      .cont
        .desc
          - receiver = message.receiver
          - sender = message.sender
          =link_to sender.name,pin_url_for('pin-user-auth',"/users/#{sender.id}")
          %span 发给
          =link_to receiver.name,pin_url_for('pin-user-auth',"/users/#{receiver.id}")
          ="(#{jtime(message.updated_at)})"
        .data
          =message ? message.content : ""