.clearfix
  .echo-logo
    
  .head-bar
    .search
      %form{:action=>"/search",:method=>"get",:id=>"search_form"}
        %input.search-inner.text{:name=>"q",:type=>"text",:'data-input-tip'=>'æœç´¢'}
        %input.search-button{:value=>"æœç´¢",:type=>"submit"}