.clearfix
  .fright
    %form{:action=>"/search",:method=>"get",:id=>"search_form"}
      %span.font13.marginr5 搜索思维导图
      %input.search-inner.text{:name=>"q",:type=>"text"}
      %input.search-button{:value=>"搜索",:type=>"submit"}