-#use 登录用户的频道列表
-#see 登录后的首页->左侧导航

.page-submenu.clearfix
  %ul
    =sub_menu_li "公共主题列",'/',:class=>'first'
    -if logged_in?
      -current_user.channels.each do |c|
        =sub_menu_li "<div class='font12 marginl10'>#{c.name}</div>","/channels/#{c.id}"
    =sub_menu_li "外部主题","/feeds/incoming"