-require_css 'views/users',true

-content_for :title do
  意见反馈

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

.clearfix
  .feedback-closed
    由于网站改版，意见反馈板正在对功能进行相应调整，暂时关闭。