-#use 登录后的首页
-#see 登录后的首页

-content_for :title do
  大家最近的主题

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

.mside.grid_4
  =show_sub_menu
  .index-page-followings.sidepart
    %h5 我的联系人
    .followings
      -current_user.followings.paginate(:per_page=>12,:page=>1).each do |u|
        %a.avatar{:href=>"/users/#{u.id}",:tip=>u.name}
          =avatar u,:mini
    .see-more
      =link_to '查看全部','/contacts'

.main.grid_15.dl
  .page-title-bar
    .meta
      %h2 公共主题
      .desc 用于讨论问题或共享有用信息
    .ops
      =link_to '<span class="icon"></span><span>新建</span>','/feeds/new',:class=>'create'
    
  .newsfeed
    =render 'feeds/lists/feeds',:feeds=>@feeds
  .feed-paginate.padding5
    = will_paginate @feeds

.mside.grid_5
  =render 'modules/page_new_collection_op'
  =render 'modules/page_collections',:collections=>@collections