- require_css 'views/users',true

-content_for :javascripts do
  =javascript_include_tag 'views/homepage_newsfeed'

.grid_12.alpha
  =render :partial=>'index/homepage/feeds'

.grid_11.omega.fright
  =render :partial=>'index/homepage/apps'
  =render :partial=>'index/homepage/organizations'
  =render :partial=>'index/homepage/contacts'
