-require_css 'views/users',true

-content_for :title do
  我的首页

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

.grid_16.alpha
  =render 'index/index_parts/index_page_tabs'

  .hrr

  .homepage-see-others.font14.bold
    =link_to '&gt;&gt; 访问思维导图功能','/mindmaps'


  .index-tab-ct.feeds
    .newsfeed
      =render 'feeds/lists/feeds_stat',:feeds=>@feeds
    .page-list-more{:'data-count'=>'10'} 查看更多


    -if @feeds.length < 10
      =render 'index/index_parts/newbie_welcome'

  .index-tab-ct.userlogs{:style=>'display:none;'}
    =render 'index/userlog/userlog',:logs=>current_user.inbox_logs_limit(20)
    .page-list-more{:'data-count'=>'10'} 查看更多

  .index-tab-ct.notice{:style=>'display:none;'}
    =render 'index/homepage/page_tips'

.grid_6.omega.fright
  =render 'feeds/infos/new_button'
  =render 'index/index_parts/feed_links'

  .hrr
  =render 'index/index_parts/getting_started'
