-require_css 'views/users',true

-content_for :title do
  我的首页

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

.index-page-head.clearfix
  .grid_16.alpha
    =render 'index/index_parts/index_page_tabs'

  .grid_6.omega.fright
    =render 'feeds/infos/new_button'

.hrr

.grid_16.alpha
  .homepage-see-others.font14.bold
    =link_to '&gt;&gt; 访问思维导图功能','/mindmaps'

  .index-tab-ct.feeds
    .newsfeed
      =render 'feeds/lists/feeds_stat',:feeds=>@feeds
    -if !@feeds.blank?
      -last_value = @feed_collection.last_value
      .page-list-more{:'data-count'=>10,:'data-url'=>'/in_feeds_more'} 查看更多

    -if @feeds.length == 0
      =render 'index/index_parts/newbie_welcome'

.grid_6.omega.fright
  =render 'index/index_parts/feed_links'
  =render 'index/index_parts/getting_started'