-content_for :title do
  大家最近的主题

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

.mside.grid_4
  =show_sub_menu
  .index-page-followings.sidepart
    %h5 我的联系人
    .followings
      -current_user.followings.paginate(:per_page=>12,:page=>1).each do |u|
        %a.avatar{:href=>"/users/#{u.id}",:tip=>u.name}
          =avatar u,:mini
    .see-more
      =link_to '查看全部','/contacts'

.main.grid_15.dl
  .page-feeds-manage-bar
    -link_to current_user do
      .avatar
        =avatar(current_user)
    .data
      .name=usersign current_user,false
      .sign=h(truncate_u(current_user.sign,16))
    .ops
      -link_to '/feeds/new',:class=>'op' do
        .new.create 新建
    
  .newsfeed
    =render 'feeds/lists/feeds',:feeds=>@feeds
  .feed-paginate.padding5
    = will_paginate @feeds

.mside.grid_5
  =render 'modules/page_new_collection_op'
  =render 'modules/page_collections',:collections=>@collections