-#use 登录后的首页
-#see 登录后的首页

-content_for :title do
  大家最近的主题

.mside.grid_4
  =render 'index/sub_menu'

.main.grid_15.dl
  .page-title-bar
    .meta
      %h2 公共主题
      .desc 用于讨论问题或共享有用信息
    .ops
      =link_to '<span class="icon"></span><span>新建</span>','/feeds/new',:class=>'create'
    
  .page-feeds
    =render 'feeds/lists/feeds',:feeds=>@feeds
  .feed-paginate.padding5
    = will_paginate @feeds

.mside.grid_5
  .hide
    =render 'modules/page_collections',:collections=>@collections