- require_css 'views/users',true

.usertop.clearfix
  .clearfix
    .grid_12
      .vcard
        %dl
          %dt 用户名
          %dd=current_user.name
        %dl
          %dt 注册时间
          %dd=qdate current_user.created_at
    .grid_6
      .count
        %dl.hide
          %dt=@workspaces.count
          %dd 工作空间
        %dl
          %dt=1
          %dd 应用组件
  .clearfix.hide
    .push_12
      .viewother
        %span.bold 访问应用

.grid_11.alpha.hide
  .your_workspaces
    .top-bar.clearfix
      .fleft.font14.bold.marginl5
        工作空间
        %span.quiet (#{@workspaces.count})
    .workspace-list.margint5
      -mplist @workspaces,:for=>Workspace do |w|
        .font14.bold=link_to w.name,pin_url_for('pin-workspace',"workspaces/#{w.id}")

.grid_11.alpha
  .your_apps
    .top-bar.clearfix
      .fleft.font14.bold.marginl5
        应用组件
        %span.quiet (1)
    .app-list.margint5
      .padding5
        .fleft
          - link_to pin_url_for('pin-mindmap-editor') do
            .rclogo
              %img{:src=>pin_url_for('pin-mindmap-editor','/images/mindmap_logo.png'),:class=>'logo'}
        .fleft
          .clearfix
            .fleft.marginl10.bold.font14
              = link_to '思维导图编辑器',pin_url_for('pin-mindmap-editor')
            .fleft.marginl10.loud.lh22
              由 MindPin Team 开发
          .clearfix.marginl10.margint10.grid_8
            在线思维导图编辑器，帮助你整理思维脉络。辅助你进行讨论，读书笔记，教学等任务。 
