-#use 登录后的首页
-#see 登录后的首页

-htitle "大家最近的主题"

-#.mside.grid_4
=#  =render 'index/sub_menu'

.main.grid_24.no-line
  .page-collection-top
    .meta
      %h2 来自联系人的主题
      .ops
        %a.create{:href=>"/feeds/new"} <span class='icon'></span><span>创建主题</span>

  =prender 'feed','grid',:feeds=>@feeds