.login-wrapper
  .logo
  -form_tag(pin_url_for('pin-user-auth','/session'),{:class=>'login-form'}) do
    .field
      %label 电子邮箱
      =text_field_tag :email,params[:email],:class=>'text',:tabindex=>'1'
      =flash_info
    .field
      %label 密码
      =password_field_tag :password,params[:password],:class=>'text',:tabindex=>'2'
      .forget-password
        =link_to '忘记密码了…',pin_url_for('pin-user-auth','/forgot_password_form')
    .field
      =link_to '<span>登　录</span>','javascript:;',:class=>'login-submit'
      .remember-me
        %span=check_box_tag :remember_me,params[:remember_me],true,:class=>'checkbox'
        %span 记住我
    .field
      =link_to '<span>注　册</span>',pin_url_for('pin-user-auth','/signup'),:class=>'signup'

  .alpha-test
    %a.apply{:href=>pin_url_for('pin-user-auth','/apply_form'),:title=>'申请参与测试'} &gt; 申请参与测试

  .connects
    .desc 其他网站账号登录
    %a.connect.tsina-weibo{:href=>pin_url_for('pin-user-auth','/connect_tsina'),:title=>'使用新浪微博账号登陆'}
      .icon
      .name 新浪微博