-htitle 'mindpin.com 主题社区 alpha'

-daotu_url = pin_url_for('pin-daotu')
-login_url = pin_url_for('pin-user-auth','/login')
-apply_url = pin_url_for('pin-user-auth','/apply')

.main.grid_24.nl
  .page-anonymous-wrapper
    .root-box
      .logo
      .root-content
        .if-u-want-to-use-mindmap
          .desc 如果你要使用思维导图工具，请访问网址：
          .url=link_to '<span>http://</span>tu.mindpin.com', daotu_url

        .if-u-has-alpha-account
          .desc 如果你受邀参加MINDPIN社区α测试，请：
          .btn
            %a.middlebutton.loginblue{:href=>login_url} <span>GO 从这里登录</span>

        .if-u-want-to-apply
          .desc 如果你感兴趣，你也可以：
          .btn
            %a.middlebutton.logingray{:href=>apply_url} <span>申请参加α测试</span>