-htitle 'mindpin.com 主题社区 alpha'

-activation_url = pin_url_for('pin-user-auth','/activation')
-daotu_url = pin_url_for('pin-daotu')

.main.grid_24.nl
  .page-anonymous-wrapper
    .root-box
      .logo

      .root-content
        .welcome
          .font14.bold 欢迎你，#{current_user.name} (#{current_user.email})：
          %br
          .desc.bold 你的账号目前没有激活mindpin社区服务。

        .to-activation
          .desc 如果你已经收到了我们发放的激活码，可以点下面的链接进行激活：
          %a.middlebutton.green{:href=>activation_url} <span>激活社区服务</span>

        .to-tu-mindpin
          .desc 你也可以继续访问思维导图工具服务。
          %a.middlebutton.darkred{:href=>daotu_url} <span>访问导图服务</span>

  