%textarea{:id=>"chat",:style=>"height:500px;",:readonly=>"true"}

%div
  =text_field_tag "message"
  =minibutton '发送',"javascript:;",:id=>"chat_say"

-content_for :javascripts do
  =javascript_include_tag "http://192.168.1.8:8080/application.js"
  =javascript_include_tag "juggernaut/chat.js"

