@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box-shadow($params){
  box-shadow:$params;
  -moz-box-shadow:$params;
  -webkit-box-shadow:$params;
}

@mixin gradient($from,$to){
  background:-moz-linear-gradient(-90deg,$from,$to);
  background:-webkit-gradient(linear,0% 0,0% 100%,from($from),to($to));
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{$from}',endColorstr='#{$to}');
}

@mixin gredient_h($from, $to){
  background:-moz-linear-gradient(0deg,$from,$to);
  background:-webkit-gradient(linear,left top,right top,from($from),to($to));
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#{$from}',endColorstr='#{$to}');
}

@mixin btn-color($c1,$c2,$cb1,$cf,$c3,$c4){
  @include border-radius(4px);
  @include gradient($c1,$c2);
  border:solid 1px $cb1;
  color:$cf !important;
  text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.25);
  zoom:1;
  &:hover{
    @include gradient($c3,$c4);
    text-decoration:none;
  }
  &.mousedown{
    @include gradient($c4,$c3);
    text-decoration:none;
  }
}

@mixin viewpoint-in-list{
  margin:0 0 10px 0;
  .arrow{
    width:15px;height:7px;
    @include allicon(-271px,-65px);
    margin:0 0 0 36px;
  }
  .data{
    padding:5px;
    background:#F0F7FF;
    @include border-radius(3px);
    .avatar{
      float:right;
      img{width:20px;height:20px;}
    }
    .name{
      font-size:12px;
      margin:0 0 6px 0;
      color:#A5A5A5;
      .title{
        font-size:12px;
        margin:0 0 6px 0;
      }
      .vote-score{
        @include border-radius(4px);
        background:#53BCFE;
        color:white;
        font-weight:bold;
        margin:0 4px 0 0;
        padding:0 6px;
        cursor:default;
      }
      .bold{font-weight:normal;}
    }
    .time{
      font-size:12px;
      margin:0 0 6px 0;
    }
    .memo-content{
      p{margin:0;}
    }
  }
}

@mixin chs-ch{
  .chs .ch{
    margin:0 0 4px 0;
    padding:0 0 4px 0;
    .kind{
      float:left;
      margin:0 3px 0 0;
      color:#C8E19D;
      &.blog{color:#FF7D0A;}
      &.interview{color:#8DCFF4;}
      /*&.mindmap{color:#FACD8A;}*/
      &.mindmap{color:#F78CBA;}
    }
    .name{
    }
  }
}

@mixin miniavatar{
  overflow:hidden;
  .avatar{
    float:left;
    width:26px;height:26px;
    margin:0 3px 3px 0;
    img{width:24px;height:24px;}
    text-decoration:none !important;
  }
}

@mixin pie-pad($from,$to,$radius:4px){
  @include gradient($from,$to);
  @include border-radius($radius);
  @include box-shadow(0 1px 4px rgba(0,0,0,0.3));
}

@mixin editable-form{
  form{
    position:absolute;
    width:172px;
    @include border-radius(4px);
    background:#E0EBAF;
    border:solid 2px #323546;
    padding:2px;
    input{
      background:#F7FCFF;
      border:none;
      padding:0 2px;
      @include border-radius(3px);
      border:solid 1px #111;
    }
    button{
      @include border-radius(3px);
      border:none 0px;
      margin:2px 5px 0 0;
      border:solid 1px #666;
      &.editable-submit{
        color:white;
        background:#0063DC;
        &:hover{
          background:#0054BD;
        }
      }
      &.editable-cancel{
        color:#666666;
        background:#ddd;
        &:hover{
          background:#CFCFCF;
        }
      }
    }
  }
}

@mixin submitbtns{
  overflow:hidden;
  button,a.button{
    @include border-radius(3px);
    border:none 0px;
    margin:4px 5px 0 0;
    padding:2px 7px;
    float:left;
    text-decoration:none;
    &.editable-submit{
      cursor:pointer;
      color:white;
      background:#0063DC;
      &:hover{
        background:#0054BD;
      }
    }
    &.editable-cancel{
      cursor:pointer;
      color:#616D7D;
      background:#C4DFFF;
      &:hover{
        background:#B4CFFF;
      }
    }
    &.mousedown{
      position:relative;
      top:1px;
      left:1px;
    }
  }
}

@mixin allicon($x,$y){
  background-image:url(/images/icons/all.png);
  background-repeat:no-repeat;
  background-position:$x $y;
}

@mixin allimg($x,$y){
  background-image:url(/images/alltu.png);
  background-repeat:no-repeat;
  background-position:$x $y;
}

@mixin footmisc{
  overflow:hidden;
  height:50px;
  .time{
    display:inline;
  }
  .tags{
    @include tags;
  }
  .ops{
    overflow:hidden;
    display:inline;
    .fav{
      &.off{.t2{display:none;}}
      &.on{.t1{display:none;}}
    }
  }
  .last-edited-user{
    float:right;
    width:200px;
    padding:5px;
    margin:0 10px 0 0;
    overflow:hidden;
    @include border-radius(4px);
    .avatar{float:left;}
    .name{margin-left:46px;}
    &.feed-editor{
      background:#F0F9FE;
    }

    .time{margin:0 0 6px 0;display:block;}
  }
  .creator{
    float:right;
    .avatar{
      float:left;
    }
  }
}

@mixin tfont{
  font-family:"Segoe UI","Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans serif;
  /*font-family:Microsoft YaHei, 微软雅黑, tahoma, arial, simsun, 宋体;*/
}

@mixin word-break{
  word-wrap:break-word;
  word-break:break-all;
}

@mixin tags{
  overflow:hidden;
  float:left;
  .tag{
    float:left;
    @include allicon(0,-209px);
    line-height:19px;
    padding:0 0 0 13px;
    margin:0 6px 0 0;

    color:#5D7A9C;
    &:hover{
      text-decoration:none !important;
      color:#222;
    }

    img.mini{
      padding:0;
      border:none;
      position:relative;
      top:1px;
      width:16px;height:16px;
      float:left;
      margin:0 0 0 3px;
      @include border-radius(3px);
    }
    span.tag-name{
      padding:0 4px;
      line-height:19px;
    }
    span.namespace{
      float:left;
      background:#5D7A9C;
      color:#E2EDFA;
      @include border-radius(3px);
      padding:0 4px;
      line-height:16px;
      position:relative;top:1px;
    }
  }
}

@mixin tag-and-count{
  .tag-and-count{
    @include tags;
    float:none;
    display:block;
    margin:0 0 6px 0;
    .count{
      line-height:19px;
      font-weight:bold;
      font-size:14px;
      color:#888888;
    }
  }
}

@mixin followbtn{
  float:left;
  padding:5px 10px;
  @include border-radius(4px);
  @include btn-color(#B3D34C,#97BC3D,#97AF4D,#fff,#9BC238,#8BAD37);
  font-weight:bold;
  cursor:pointer;
  font-size:14px;
}

@mixin unfollowbtn{
  float:left;
  padding:5px 10px;
  @include border-radius(4px);
  @include btn-color(#dddddd,#dddddd,#dddddd,#666,#dddddd,#dddddd);
  font-weight:bold;
  cursor:pointer;
  font-size:14px;
  text-shadow:0 0 #f0f0f0;
}

@mixin bdb{
  border-bottom:solid 1px #eee;
}

@mixin bdb2010{
  @include bdb;
  padding:0 20px 10px 20px;
  margin-bottom:20px;
}

@mixin sbdb2010{
  @include bdb;
  padding:0 0 10px 0;
  margin-bottom:10px;
}

@mixin sidepart{
  padding:9px;
  background-color:#FAFAFA;
  border:solid 1px #EEEEEE;
  margin-bottom:10px;
  @include border-radius(2px);
}

/*标准按钮*/
@mixin button-base{
  @include border-radius(3px);display:inline-block;padding:0;text-align:center;
  font-weight:bold;
  &:hover{
    text-decoration:none;
  };
  span{display:block;}
}

@mixin button-blue{
  @include button-base;
  color:#fff !important;background-color:#4C8FFD;
  border:solid 1px #10698D;
  text-shadow:0 0 2px #444444;
  &:hover{
    color:#fff !important;
    border:solid 1px #0069dd;
    box-shadow:0 1px 2px #ccc;
  }
}

@mixin button-gray{
  @include button-base;
  color:#555 !important;background-color:#F0F0F0;
  border:solid 1px #ddd;
  &:hover{
    color:#555 !important;background-color:#E9E9E9;
    box-shadow:0 1px 2px #eee;
  }
}

@mixin button-darkred{
  @include button-base;
  color:#fff !important;background-color:#DD4B39;
  border:solid 1px #D14836;
  text-shadow:0 0 2px #444444;
  &:hover{
    color:#fff !important;background-color:#CF402F;@include gradient(#DD4B39,#C53727);
    border:solid 1px #B0281A;
    box-shadow:0 1px 2px #eee;
  }
}

@mixin button-lightgreen{
  @include button-base;
  color:#fff !important;background-color:#90DE00;
  border:solid 1px #4EC000;
  text-shadow:0 0 2px #444444;
  &:hover{
    color:#fff !important;background-color:#90DE00;
    border:solid 1px #4EC000;
    box-shadow:0 1px 2px #ccc;
  }
}

@mixin button-green{
  @include button-base;
  color:#fff !important;@include gradient(#38B927,#35B624);
  border:solid 1px #4A993E;
  text-shadow:0 0 2px #444444;
  &:hover{
    color:#fff !important;@include gradient(#35B624,#32B321);
    border:solid 1px #4A993E;
    box-shadow:0 1px 2px #ccc;
  }
}

@mixin button-red{
  @include button-base;
  color:#fff !important;@include gradient(#EF3800,#C70200);
  border:solid 1px #D31A00;
  text-shadow:0 0 2px #444444;
  &:hover{
    color:#fff !important;
    box-shadow:0 1px 2px #ccc;
  }
}

/*form-buttons*/
@mixin form-a-link-submit{
  @include button-blue;
  height:30px;line-height:30px;
  width:80px;
  font-size:14px;
}

@mixin form-a-link-cancel{
  @include border-radius(4px);
  display:block;
  padding:0;
  height:30px;line-height:30px;
  text-align:center;
  width:80px;
  font-size:14px;
  @include gradient(#E7E7E7,#E3E3E3);
  border:solid 1px #aaa;
  color:#555;
  font-weight:bold;
  text-shadow:0px 0px 0 rgba(0, 0, 0, 0.3);
  &:hover{
    color:#555;
    text-decoration:none;
    @include gradient(#d7d7d7,#d3d3d3);
    border:solid 1px #848484;
  }
}

@mixin pop-form-a-link-submit{
  @include form-a-link-submit;
  height:24px;line-height:24px;
  width:60px;
  font-size:12px;
}

@mixin pop-form-a-link-cancel{
  @include form-a-link-cancel;
  height:24px;line-height:24px;
  width:60px;
  font-size:12px;
}

@mixin new_object_form{
  h2.main-title{
    font-size:20px;font-weight:bold;
    margin:0 0 20px 0;
  }
  .field label{
    font-size:14px;
  }
}

@mixin page-new-xx-op{
  position:relative;
  margin-bottom:10px;
  .btn{
    @include border-radius(4px);
    text-align:center;
    padding:15px;
    border:dashed 2px #999;
    color:#999;
    cursor:pointer;
    &:hover{
      background-color:#f4fff4;
      color:#669966;
    }
  }
  .form,.pop-box{
    position:absolute;
    border:solid 1px #aaa;
    @include border-radius(3px);
    top:0;right:0;
    background-color:white;
    z-index:100;
    box-shadow:0 0 5px #bbb;
    .form-placeholder{
      padding:10px;
      .title{
        background-color:#FAFAFA;
        padding:10px;
        @include border-radius(2px);
        color:#777;
        margin:-10px -10px 10px;
        border-bottom:solid 1px #EEEEEE;
      }
      form{
        .field{
          a.create-submit{
            @include form-a-link-submit;
            float:left;margin-right:10px;
          }
          a.create-cancel{
            @include form-a-link-cancel;
            float:left;
          }
        }
      }
      .ops-btns{
        background-color:#FAFAFA;
        padding:6px 10px;
        @include border-radius(2px);
        color:#777;
        margin:0 -10px -10px;
        border-top:solid 1px #EEEEEE;
        
        a.create-submit{
          @include pop-form-a-link-submit;
          float:left;margin-right:10px;
        }
        a.create-cancel{
          @include pop-form-a-link-cancel;
          float:left;
        }
      }
    }
  }
}

@mixin gray-box{
  border:solid 1px #eee;
  background-color:#FFF;
  padding:9px;
}

.gray-box{
  @include gray-box;
}

@mixin feed-detail-format{
  ol{
    margin-left:1.5em;
  }
  p{margin:0;}
  blockquote{
    font-style:normal;
    margin:0;
    padding:5px 9px 5px 25px;
    @include allimg(-691px,-1px);
    background-color:#fafafa;
  }
}

@mixin feed-detail-format-in-show{
  .feed-format-img{
    margin:0 -10px;
    background-color:#fafafa;
    text-align:center;
  }
}