.page-ogrid.collection-feeds{
  position:relative;
  overflow:visible;
  padding-top:20px;
  
  background:url(/images/bodybgs/timeline-line.png) repeat-y 453px 0;
  
  .list-blank{
    padding:9px;font-size:14px;
    border:solid 1px #ccc;
    background-color:#FAFAFA;
    color:#666;
  }
  
  /*
  $feed_margin:10px;
  $feed_width_1c:228px; /*240-10-2*/
  /*$h_padding:14px; /*(225-200)/2*/
  /*$photo_padding:9px;
  */
  
  $feed_margin:10px;
  $feed_width_1c:423px; /*480-10-2*/
  $h_padding:14px; /*(225-200)/2*/
  $photo_padding:9px;
  
  .feed{
    position:absolute;
    padding:0;
    width:$feed_width_1c;
    margin-bottom:$feed_margin;
    margin-right:$feed_margin;
    border:solid 1px #ccc;
    background-color:#fff;
    
    .timeline-node{
      position:absolute;
      width:32px;height:32px;
      .icon{
        margin:8px 0 0 8px;
        width:16px;height:16px;@include allimg(-18px,-35px);
      }
      .arrow{
        position:absolute;z-index:1;
        top:15px;
        width:16px;height:16px;
        &.at-left{left:-15px;@include allimg(-1px, -52px);}
        &.at-right{right:-15px;@include allimg(-18px, -52px);}
      }
      
      &.android, &.photos, &.with_location, &.with_music{
        .icon{
          margin:0;
          width:32px;height:32px;
        }
        .arrow{
          position:absolute;z-index:1;
          top:15px;
          width:11px;height:16px;
          &.at-left{left:-15px;@include allimg(-6px, -52px);}
          &.at-right{right:-15px;@include allimg(-18px, -52px);}
        }
      }
      &.android{       .icon{@include allimg(-196px,-147px);}}
      &.photos{        .icon{@include allimg(-262px,-147px);}}
      &.with_location{ .icon{@include allimg(-295px,-147px);}}
      &.with_music{    .icon{@include allimg(-328px,-147px);}}
    }
    
    .creator{  
      overflow:hidden;
      padding:9px;border-bottom:solid 1px #eee;
      .avatar{float:left;img{width:32px;height:32px;padding:0;@include border-radius(0);}}
      .c-meta{
        margin-left:41px;height:32px;
        .name,.created-at{
          height:16px;line-height:16px;
          overflow:hidden;
          a{
            color:#666;
            height:16px;line-height:16px;float:left;
            &:hover{color:#666;text-decoration:baseline;}
          }
        }
        .name{
        }
        .created-at{
        }
      }
    }
    
    .title{
      margin-top:4px;
      padding:0 9px;
      font-weight:bold;
      font-size:12px;
      background-color:#fff;
      a{
        line-height:24px;height:24px;
        color:#444 !important;
      }
    }
    
    a.photos{
      display:block;
      margin:4px;overflow:hidden;
      position:relative;line-height:0;font-size:0;
      .photo{
        line-height:0;font-size:0;
        background-color:#FAFAFA;
        text-align:center;
        overflow:hidden;
        img{margin:0 auto;display:block;}
      }
      .photo.w2{
        width:205px;height:205px;margin-right:5px;float:left;
      }
      .photo.w3{
        width:135px;height:135px;margin-right:5px;float:left;
      }
      .photo.w4{
        width:100px;height:100px;margin-right:5px;float:left;
      }
      .photo.nr{
        margin-right:0;
      }
      
      .photo-count{
        background-color:rgba(0, 0, 0, 0.7);
        color:white;
        @include tfont;
        font-size:12px;font-weight:bold;
        text-align:center;
        height:24px;line-height:24px;
        padding:0 6px;
        position:absolute;
        bottom:5px;left:5px;
        @include border-radius(3px);
      }
      
      &:hover{
        cursor:pointer;
        img{opacity:0.9;}
        .photo-count{
          background-color:rgba(0, 0, 0, 0.8);
        }
      }
    }
    
    .detail{
      margin-top:4px;
      padding:4px 9px;
      font-size:12px;
      @include feed-detail-format;
      background-color:#fff;
    }
    
    .footer-links{
      margin:4px;
      padding:0 5px;
      background-color:#f7f7f7;
      .comment-count, .created-at, .show-detail{
        font-size:12px;
        a{
          height:24px;line-height:24px;
          color:#999;
          &:hover{
            color:#999;text-decoration:baseline;
          }
        }
      }
      
      .comment-count, .show-detail{
        .icon{height:16px;width:16px;margin:4px 0px 0 0;float:left;}
      }
      
      .comment-count{
        .icon{@include allimg(-1px,-103px)}
      }
      .show-detail{
        .icon{@include allimg(-1px,-120px)}
      }
    }
    
    .comments{
      .comment{
        margin:0;
        padding:9px 14px;
        background-color:#fafafa;
        border-bottom:solid 1px #eee;
        overflow:hidden;
        .avatar{float:left;img{width:32px;height:32px;padding:0;}}
        .name{
          margin-left:40px;
          color:#666;
          line-height:16px;
          a{
            color:#999;
            font-weight:bold;
            &:hover{
              color:#999;text-decoration:none;
              border-bottom:solid 1px;
            }
          }
        }
      }
    }
  }
  
  .feed.tsina{
    width:468px; /*(228+2)*2+14-2=468*/
    .photo{
      float:left;
    }
    .detail{font-size:13px;}
    .reposted{
      background-color:#f4f4f4;
      margin:0 4px 4px 4px;
      padding:10px;
      font-size:13px;
    }
  }
}

.page-ogrid.collections,.page-ogrid.collections-binded{
  width:720px;
  
  .list-blank{width:690px;}
  
  .collection{
    border:solid 1px #eee;
    padding:9px;
    margin-bottom:10px;
    margin-right:10px;
    float:left;
    width:210px;
    background-color:#fff;
    
    .headmeta{
      margin:-9px -9px 0;
      padding:4px 9px;
      border-bottom:solid 1px #eee;
      background-color:#fafafa;
      .t-title{
        a{
          font-size:14px;font-weight:bold;
          @include tfont;
          line-height:22px;
          color:#999;
          &:hover{
            color:#999;
            border-bottom:dotted 1px #999;
            text-decoration:none;
          };
        }
      }
    }
    .data{
      overflow:hidden;
      display:block;
      padding:9px 0 6px 9px;
      width:219px;
      margin-left:-9px;
      .p{
        border:solid 1px #f4f4f4;
        width:66px;height:66px;
        margin:0 3px 3px 0;
        float:left;
      }
      .tsina-img{
        border:solid 1px #f4f4f4;
        width:208px;height:208px;
        background:url(/images/covers/tsina_collection.png);
      }
    }
    .ops{
      .minibutton{display:block;line-height:30px;height:30px;font-size:14px;}
    }
  }
}

.mside.grid_6 .page-ogrid.collections{width:240px;}

.page-mindpin-index-bar{
  position:relative;
  .box{
    position:absolute;
    top:20px;left:0px;
    overflow:hidden;height:32px;
    .create{
      float:left;margin-right:10px;
    }
    .drafts{
      float:left;
      background-color:rgba(250, 250, 250, 0.4);
      font-size:14px;height:32px;line-height:32px;
      padding:0 9px;
      color:#666 !important;
    }
  }
}

/*collection show页面顶端栏*/
.page-collection-top,.page-info-top{
  @include gray-box;
  padding:0;
  margin-bottom:10px;
  border-bottom:solid 3px #eee;
  
  .meta{
    overflow:hidden;
    h2,.item{
      margin:4px;
      padding:5px;
      font-size:14px;
      font-weight:bold;
      float:left;
      height:32px;line-height:32px;
    }
    .item{
      &.selected{
        height:30px;line-height:30px;
        background-color:#fafafa;
        border:solid 1px #eee;
      }
    }
    
    .ops{
      float:right;
      padding:9px;
      .create{
        @include button-blue;
        float:left;
        padding:0 7px 0 3px;
        height:30px;line-height:30px;
        font-size:14px;
        span{float:left;}
        .icon{width:24px;height:24px;position:relative;top:3px;margin-right:3px;}
        .icon{background:url(/images/alltu.png) -85px -100px;}
      }
      .drafts{
        float:left;
        padding:0 7px;
        height:32px;line-height:32px;font-size:12px;
        margin-right:9px;
        /*background-color:#ffffea;
        border:solid 1px #EEEEEE;*/
        color:#DD4B39 !important;
        font-weight:bold;
      }
      .minibutton.edit{float:left;font-size:14px;padding:0 7px;height:30px;line-height:30px;margin-left:9px;}
    }
  }
  .foot{
    border-top:solid 1px #eee;
    background-color:#fafafa;
    padding:9px;
    overflow:hidden;
    .creator{
      float:left;overflow:hidden;
      .avatar{float:left;margin-right:9px;img{width:32px;height:32px;padding:0;}}
      .name{float:left;height:32px;line-height:32px;margin-right:6px;font-size:14px;}
      .desc{float:left;height:32px;line-height:32px;margin-right:6px;font-size:14px;}
    }
    .f-count{
      float:right;height:32px;line-height:32px;font-size:14px;font-weight:bold;
    }
  }  
}