.page-ogrid.collection-feeds{
  position:relative;
  overflow:visible;
  
  /*
  $feed_margin:10px;
  $feed_width_1c:228px; /*240-10-2*/
  /*$h_padding:14px; /*(225-200)/2*/
  /*$photo_padding:9px;
  */
  
  $feed_margin:10px;
  $feed_width_1c:423px; /*480-10-2*/
  $h_padding:14px; /*(225-200)/2*/
  $photo_padding:9px;
  
  .feed{
    position:absolute;
    @include gray-box;
    padding:0;
    width:$feed_width_1c;
    margin-bottom:$feed_margin;
    margin-right:$feed_margin;

    border:solid 1px #eee;
    /*box-shadow:0 1px 3px rgba(25, 25, 25, 0.3);*/
    
    .title{
      margin:0;
      padding:4px 9px;
      font-weight:bold;
      font-size:12px;
      a{color:#444 !important;}
    }
    a.photos{
      display:block;
      margin:4px 4px 4px 4px;overflow:hidden;
      position:relative;line-height:0;font-size:0;
      .photo{
        line-height:0;font-size:0;
        background-color:#FAFAFA;
        text-align:center;
        overflow:hidden;
        img{margin:0 auto;display:block;}
      }
      .photo.w2{
        width:205px;height:205px;margin-right:5px;float:left;
      }
      .photo.w3{
        width:135px;height:135px;margin-right:5px;float:left;
      }
      .photo.w4{
        width:100px;height:100px;margin-right:5px;float:left;
      }
      .photo.nr{
        margin-right:0;
      }
      
      .photo-count{
        background-color:rgba(0, 0, 0, 0.7);
        color:white;
        @include tfont;
        font-size:12px;font-weight:bold;
        text-align:center;
        height:24px;line-height:24px;
        padding:0 6px;
        position:absolute;
        bottom:5px;left:5px;
        @include border-radius(3px);
      }
      
      &:hover{
        cursor:pointer;
        img{opacity:0.9;}
        .photo-count{
          background-color:rgba(0, 0, 0, 0.8);
        }
      }
    }
    .detail{
      margin:0;
      padding:4px 9px;
      font-size:12px;
      @include feed-detail-format;
      @include tfont;
    }
    .footer-links{
      padding:4px 9px;
      .comment-count, .created-at, .show-detail{
        font-size:12px;line-height:16px;
        a{@include tfont;color:#999;
          &:hover{
            color:#999;text-decoration:none;
            border-bottom:solid 1px;
          }
        }
      }
      .comment-count{
        margin-bottom:3px;
        .icon{height:16px;width:16px;margin-right:5px;float:left;@include allimg(-1px,-103px)}
      }
      .show-detail{
        margin-bottom:3px;
        .icon{height:16px;width:16px;margin-right:5px;float:left;@include allimg(-1px,-120px)}
      }
    }
    .creator{
      margin:4px 4px 9px 4px;
      padding:5px;
      background-color:#fafafa;
      overflow:hidden;
      .avatar{float:left;img{width:32px;height:32px;padding:0;}}
      .name,.created-at{
        height:16px;line-height:16px;overflow:hidden;
        a{
          @include tfont;color:#999;
          height:16px;line-height:16px;float:left;
          &:hover{
            color:#999;text-decoration:baseline;
          }
        }
      }
      .name{
        margin-left:40px;
        color:#666;
        a{font-weight:bold;color:#666;}
      }
      .created-at{
        margin-left:40px;
        .icon{height:16px;width:16px;margin-right:5px;float:left;@include allimg(-1px,-137px);display:none;}
      }
    }
    
    .comments{
      .comment{
        margin:0;
        padding:9px 14px;
        background-color:#fafafa;
        border-bottom:solid 1px #eee;
        overflow:hidden;
        .avatar{float:left;img{width:32px;height:32px;padding:0;}}
        .name{
          margin-left:40px;
          color:#666;
          line-height:16px;
          a{
            color:#999;
            font-weight:bold;
            &:hover{
              color:#999;text-decoration:none;
              border-bottom:solid 1px;
            }
          }
        }
      }
    }
  }
  
  .feed.tsina{
    width:468px; /*(228+2)*2+14-2=468*/
    .photo{
      float:left;
    }
    .detail{font-size:13px;}
    .reposted{
      background-color:#f4f4f4;
      margin:0 4px 4px 4px;
      padding:10px;
      font-size:13px;
    }
  }
}

.page-ogrid.collections,.page-ogrid.collections-binded{
  width:720px;
  
  .list-blank{width:690px;}
  
  .collection{
    border:solid 1px #eee;
    padding:9px;
    margin-bottom:10px;
    margin-right:10px;
    float:left;
    width:210px;
    background-color:#fff;
    
    .headmeta{
      margin:-9px -9px 0;
      padding:4px 9px;
      border-bottom:solid 1px #eee;
      background-color:#fafafa;
      .t-title{
        a{
          font-size:14px;font-weight:bold;
          @include tfont;
          line-height:22px;
          color:#999;
          &:hover{
            color:#999;
            border-bottom:dotted 1px #999;
            text-decoration:none;
          };
        }
      }
    }
    .data{
      overflow:hidden;
      display:block;
      padding:9px 0 6px 9px;
      width:219px;
      margin-left:-9px;
      .p{
        border:solid 1px #f4f4f4;
        width:66px;height:66px;
        margin:0 3px 3px 0;
        float:left;
      }
      .tsina-img{
        border:solid 1px #f4f4f4;
        width:208px;height:208px;
        background:url(/images/covers/tsina_collection.png);
      }
    }
    .ops{
      .minibutton{display:block;line-height:30px;height:30px;font-size:14px;}
    }
  }
}

.mside.grid_6 .page-ogrid.collections{width:240px;}

/*collection show页面顶端栏*/
.page-collection-top,.page-info-top{
  @include gray-box;
  padding:0;
  margin-bottom:10px;
  border-bottom:solid 3px #eee;
  
  .meta{
    overflow:hidden;
    h2,.item{
      margin:4px;
      padding:5px;
      font-size:14px;
      font-weight:bold;
      float:left;
      height:32px;line-height:32px;
    }
    .item{
      &.selected{
        height:30px;line-height:30px;
        background-color:#fafafa;
        border:solid 1px #eee;
      }
    }
    
    .ops{
      float:right;
      padding:9px;
      .create{
        @include button-blue;
        float:left;
        padding:0 7px 0 3px;
        height:30px;line-height:30px;
        font-size:14px;
        span{float:left;}
        .icon{width:24px;height:24px;position:relative;top:3px;margin-right:3px;}
        .icon{background:url(/images/alltu.png) -85px -100px;}
      }
      .import{
        @include button-blue;
        background-color:#4CBBFD;
        border:1px solid #30A8ED;
        &:hover{border-color:#2098DD;}
        margin-left:9px;
        float:left;
        padding:0 7px 0 3px;
        height:30px;line-height:30px;
        font-size:14px;
        span{float:left;}
        .icon{width:24px;height:24px;position:relative;top:3px;margin-right:3px;}
        .icon{background:url(/images/alltu.png) -85px -125px;}
      }
      .drafts{
        float:left;
        padding:0 7px;
        height:32px;line-height:32px;font-size:12px;
        margin-right:9px;
        /*background-color:#ffffea;
        border:solid 1px #EEEEEE;*/
        color:#DD4B39 !important;
        font-weight:bold;
      }
      .minibutton.edit{float:left;font-size:14px;padding:0 7px;height:30px;line-height:30px;margin-left:9px;}
    }
  }
  .foot{
    border-top:solid 1px #eee;
    background-color:#fafafa;
    padding:9px;
    overflow:hidden;
    .creator{
      float:left;overflow:hidden;
      .avatar{float:left;margin-right:9px;img{width:32px;height:32px;padding:0;}}
      .name{float:left;height:32px;line-height:32px;margin-right:6px;font-size:14px;}
      .desc{float:left;height:32px;line-height:32px;margin-right:6px;font-size:14px;}
    }
    .f-count{
      float:right;height:32px;line-height:32px;font-size:14px;font-weight:bold;
    }
  }  
}