.page-olist.tasks{
  .task{
    border-bottom:solid 1px #eee;
    position:relative;
    .headmeta{
      padding:10px;
      .t-title{
        a{
          font-size:14px;font-weight:bold;
          @include tfont;
          line-height:22px;
          color:#426389;
          &:hover{
            color:#426389;
            border-bottom:dotted 1px #999;
            text-decoration:none;
          };
        }
      }
    }
    .ops{
      padding:0 10px 5px;
    }
  }
}