/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope{
  @include transition2(height 0.8s, width 0.8s);
  .isotope-item{
    -webkit-transition: -webkit-transform 0.8s, opacity 0.8s;
       -moz-transition:    -moz-transform 0.8s, opacity 0.8s;
         -o-transition:    top 0.8s, left 0.8s, opacity 0.8s;
            transition:         transform 0.8s, opacity 0.8s;
  }
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.page-web-weibo-statuses{
  padding-left:20px;
  overflow:hidden;
  
  .weibo-user-info{
    margin:10px;
    width:338px;height:152px;border:solid 1px #ccc;padding:6px;
    background-color:#f7f7f7;
    @include box-shadow(0 3px 9px #aaa);
    color:#666;
    
    .avatar{
      float:left;
      img{width:64px;height:64px;}
    }
    .name{
      margin-left:78px;
      font-size:14px;font-weight:bold;line-height:16px;
      margin-bottom:8px;
    }
    .counts{
      margin-left:78px;
      overflow:hidden;
      .count{
        float:left;padding-right:6px;border-right:solid 1px #ddd;margin-right:6px;
       .n{font-weight:bold;font-size:14px;height:16px;line-height:16px;}
       .t{height:16px;line-height:16px;}
      }
    }
    
    .form{
      background-color:#eee;margin:6px -6px -6px;
      float:left;clear:both;font-size:0px;line-height:0px;
      width:350px;height:88px; //152-64=88
      textarea{
        margin:6px;padding:6px;font-size:12px;
        width:324px;height:62px;
      }
    }
  }
  
  .status{
    // 基本单元 186 x 186
    
    
    .box{
      width:152px;height:152px;margin:10px;border:solid 1px #ccc;padding:6px;
      background-color:#f7f7f7;
      @include box-shadow(0 3px 9px #aaa);
      overflow:hidden;
      
      .ops{
        clear:both;padding-top:11px;height:24px;
        overflow:hidden;
        .cart{
          float:right;
          a.minibutton{@include border-radius(3px);}
        }
      }
      
      .detail{
        float:left;
        border:solid 1px #eee;
        background-color:#fff;
        .text{
          width:120px;height:108px;overflow:hidden;
          margin:15px;color:#777;
        }
      }
      
      .repost{
        float:left;
        border:solid 1px #eee;
        background-color:#eee;
        position:relative;
        .text{
          width:120px;height:108px;overflow:hidden;
          margin:15px;color:#555;
        }
        
        .repost-arrow{
          position:absolute;
          width:16px;height:16px;overflow:hidden;
          @include allimg(-18px,-18px);
          top:26px;
          left:-16px;
          z-index:3;
        }
      }
      
      .photo{
        float:left;
        //border:solid 1px #eee;
        background-color:#fafafa;
        width:152px;height:152px;
        .pct{width:152px;height:152px;overflow:hidden;}
      }
      
      // 普通
      .detail{
        width:150px;height:150px;
      }
      
    }
    
    &.with-photo{
      /* 186*2-20-14=338 */
      .box{width:338px;
        .detail{width:185px;border-right:none;height:150px;}
      }
    }
    
    &.with-repost{
      /* 186*2-20-14=338 */
      .box{width:338px;
        .detail{width:167px;height:150px;}
        .repost{width:167px;height:150px;}
      }
    }
    
    &.with-repost.with-photo{
      // 186*3-20-14=524
      .box{width:524px;
        .detail{width:184px;}
        .repost{width:184px;height:150px;}
      }
    }
    
    // 动画效果。。
    .box{
      .ops{opacity:0;}
    }
    
    &.boxhover{
      z-index:4;
      .box{
        margin-top:0px;
        height:192px;
        @include transition(all .3s ease-out .5s);
        .ops{opacity:1;@include transition(all .3s ease-out .5s);}
      }
    }
    
    &.boxleave{
      z-index:4;
      .box{
        @include transition(all .3s ease-out);
        .ops{@include transition(all .3s ease-out);}
      }
    }
    
    &.boxhoverhide{
      z-index:-1;
      .box{
        opacity:0.4;
        @include transition(all .3s ease-out .5s);
      }
    }
    
  }
}