/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
  &.isotope-hidden{
    pointer-events: none;
    z-index: 1;
  }
}

/**** Isotope CSS3 transitions ****/
.isotope{
  @include transition((height 0.8s, width 0.8s));
  .isotope-item{
    @include transition((top 0.8s, left 0.8s, opacity 0.8s));
  }
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.page-web-weibo-overlay{
  position:fixed;top:0;left:0;
  width:100%;
  z-index:3;
  background-color:#eee;
}

.page-web-weibo-toolbar{
  float:left;z-index:4;position:fixed;
  width:65px;margin-top:-4px;
  a{
    display:block;width:50px;height:50px;margin-bottom:10px;
    @include box-shadow(0 1px 5px #666);
    &.home-tl{
      margin-left:15px;
      @include border-radius(3px);
      img{width:50px;height:50px;@include border-radius(3px);}
    }
    
    &.ti{
      @include border-radius(0 3px 3px 0);
      padding-left:15px;
      background-color:rgba(0,0,0,0.6);
      .icon{width:48px;height:48px;left:-6px;top:1px;position:relative;
        @include transition(left .3s);
      }
      @include transition(background-color .3s);
      
      &:hover{background-color:rgba(0,0,0,0.8);
        .icon{left:1px;}
      }
      
      
      
      &.atmes{.icon{@include allimg(-196px, -198px);}}
      &.comment{.icon{@include allimg(-245px, -198px);}}
      &.friends{.icon{@include allimg(-294px, -198px);}}
      &.refresh{margin-top:32px;.icon{@include allimg(-343px, -198px);}}
      &.cart{
        position:relative;
        .icon{@include allimg(-392px, -198px);}
        .count{position:absolute;
          left:56px;top:7px;line-height:20px;height:20px;padding:0 6px;
          font-weight:bold;
          color:white;
          background-color:#34B523;
          @include gradient(lighten(#34B523, 10%), #34B523);
          @include border-radius(5px 5px 5px 0);
          @include transition(opacity .3s);
        }
        &:hover{
          .count{opacity:0.5;}
        }
      }
    }
  }
}

// 收集微博时的动画光标
.page-web-weibo-cart-add-ani{
  position:fixed;z-index:5;
  width:24px;height:24px;line-height:24px;font-weight:bold;font-size:14px;
  color:white;text-align:center;
  @include gradient(lighten(#34B523, 10%), #34B523);
  @include border-radius(5px);
  pointer-events: none;
}

a.page-web-weibo-load-more{
  display:block;
  margin-left:83px;
  border:solid 1px #ccc;float:left;clear:both;overflow:hidden;
  background-color:#666;opacity:0.6;
  @include box-shadow(0 1px 5px #aaa);
  @include transition(all .3s);
  span{
    display:block;
    color:white;text-align:center;padding:0 10px;
    font-size:15px;height:36px;line-height:36px;font-weight:bold;
    float:left;
  }
  .icon{
    display:none;
    float:left;width:53px;height:36px;
    background:url(/images/loading/11.gif) no-repeat 0px 13px;
  }
  &:hover{
    opacity:1;text-decoration:none;
  };
  &.loading{
    opacity:1;cursor:default;
    .icon{display:block;}
  }
}

.page-web-weibo-statuses{
  margin-top:-15px;
  margin-left:73px;
  padding-bottom:30px;
  overflow:hidden;

  .weibo-trends, .weibo-user-info, .status .box{
    @include box-shadow(0 1px 5px #aaa);
  }
  
  .weibo-trends{
    margin:10px;
    width:152px;border:solid 1px #ccc;padding:6px;
    height:338px;overflow:hidden;
    background-color:#fff;
    .t{font-size:14px;font-weight:bold;
      padding:3px 6px;color:#666;
      margin-bottom:5px;height:22px;line-height:22px;
    }
    a.trend{
      display:block;
      line-height:20px;height:20px;
      background-color:#f4f4f4;color:#555;
      margin-bottom:5px;
      padding:3px 6px;
      @include transition(background-color .2s);
      &:hover{
        color:#f4f4f4;
        background-color:#555;
        text-decoration:none;
      };
    }
    // 像素正好填满 good
  }
  
  .weibo-user-info{
    margin:10px;
    width:152px;height:152px;border:solid 1px #ccc;padding:6px;
    background-color:#f7f7f7;
    color:#666;
    
    .name{
      font-size:14px;font-weight:bold;line-height:22px;height:22px;padding:3px 0;
      margin-bottom:8px;
    }
    .counts{
      overflow:hidden;
      .count{
        float:left;padding-right:6px;border-right:solid 1px #ddd;margin-right:6px;
       .n{font-weight:bold;font-size:14px;height:16px;line-height:16px;}
       .t{height:16px;line-height:16px;}
      }
    }
    
    .form{
      background-color:#eee;margin:6px -6px -6px;
      float:left;clear:both;font-size:0px;line-height:0px;
      width:350px;height:88px; //152-64=88
      textarea{
        margin:6px;padding:6px;font-size:12px;
        width:324px;height:62px;
      }
    }
  }
  
  .status{
    // 基本单元 186 x 186
    margin:10px;
    .box{
      width:152px;height:152px;border:solid 1px #ccc;padding:6px;
      background-color:#f7f7f7;
      overflow:hidden;
      cursor:default;
      
      .avatar{
        position:absolute;
        left:-3px;bottom:-3px;
        font-size:0;line-height:0;
        @include border-radius(3px);
        @include box-shadow(0 1px 4px #aaa);
        img{height:32px;width:32px;
          @include border-radius(3px);
        }
      }
      
      .ops{
        clear:both;height:32px;padding-top:7px;
        .name{margin-left:32px;height:32px;line-height:32px;font-size:weight;color:#666;}
        .cart{
          float:right;
          a.minibutton{@include border-radius(3px);height:30px;line-height:30px;}
          .added{height:32px;line-height:32px;}
        }
      }
      
      .detail{
        float:left;
        background-color:#fff;
        .text{
          width:120px;height:108px;overflow:hidden;
          margin:15px;color:#777;
        }
      }
      
      .repost{
        float:left;
        background-color:#eee;
        .text{
          width:120px;height:108px;overflow:hidden;
          margin:15px;color:#555;
        }
        
        .repost-arrow{
          position:relative;
          .icon{
            position:absolute;
            width:16px;height:16px;overflow:hidden;
            @include allimg(-18px, -18px);
            top:22px;
            left:-16px;
            z-index:3;
          }
        }
      }
      
      .photo{
        float:left;
        background-color:#fafafa;
        width:152px;height:152px;overflow:hidden;
      }
      
      // 普通
      .detail{
        width:152px;height:152px;
      }
      
    }
    
    &.with-photo{
      /* 186*2-20-14=338 */
      .box{width:338px;
        .detail{width:186px;}
      }
    }
    
    &.with-repost{
      /* 186*2-20-14=338 */
      .box{width:338px;
        .detail{width:169px;}
        .repost{width:169px;height:152px;}
      }
    }
    
    &.with-repost.with-photo{
      // 186*3-20-14=524
      .box{width:524px;
        .detail{width:186px;}
        .repost{width:186px;}
      }
    }
    
    // 动画效果。。
    .box{
      @include transition((margin .4s, height .4s, opacity .6s));
      .avatar{@include transition(bottom .2s);}
      .ops{opacity:0;@include transition(opacity .4s);}
    }
    
    &.boxhover{
      z-index:4;
      .box{
        margin-top:-5px;
        height:192px;
        .avatar{bottom:8px;}
        .ops{opacity:1;}
      }
    }
    
    &.boxhoverhide{
      .box{opacity:0.3;}
    }
    
  }
}