-#use collection列表页
-#see 顶部导航栏 collections

-user = @user || current_user

-htitle "#{user.name}的收集册"

.mside.grid_6.no-line
  =morender 'mside_module','avatar',:user=>user

.main.grid_18.no-line
  .page-collection-top
    .meta{:style=>'overflow:visible;'}
      %h2="#{@collections.count}个收集册"
      .ops=morender 'new_forms','collection'
    .clearfix

  =prender 'collection','grid',:collections=>@collections

  -if user == current_user && current_user.has_binded_tsina?
    .clearfix
    .page-ogrid.collections-binded
      .collection.tsina
        .headmeta
          %span.t-title=link_to "新浪微博","/collections/tsina"
        .data{:style=>'padding-bottom:0;'}
          .tsina-img