-#use 任务项目页
-#see 顶部导航栏，任务 > 左侧栏，项目

-htitle '我的项目'

.mside.grid_5
  =morender 'sub_menus','tasks'

.main.grid_19.ll
  .page-title-bar.nomb
    .meta
      %h2 项目
      .desc 需要许多步骤才能完成的事情
    .ops
      =#link_to '<span class="icon"></span><span>新建</span>','/tasks/new',:class=>'create'

  .page-olist.tasks