-#use 任务列表页
-#see 顶部导航栏，任务

-htitle '我的任务'

.mside.grid_5
  =morender 'sub_menus','tasks'

.main.grid_19.ll
  .page-title-bar.nomb.ov
    .meta
      %h2 任务
      .desc 你要做的，或者要和其他人一起做的事情
    .ops
      =morender 'new_forms','task'
    .clearfix

  .page-olist.tasks
    -if @tasks.blank?
      =prender 'list_blank',:group_name=>@group_name
    -else
      =prender 'list',:tasks=>@tasks