body{
  background-color:#fff;
  a{color:#2C6FDD;&:hover{color:#4C8FFD;}}
      
  .page-footer{
    height:30px;line-height:30px;
    text-align:center;
    a{color:#222 !important;}
  }
  
  &.gray{background:url(/images/bodybgs/body_bg_gray_1204.jpg) #eee;}
  &.dark{background:url(/images/bodybgs/body_bg_dark.jpg) #343942;
    .page-footer{
      color:#f1f1f1;
      text-shadow:0 0 3px black;
      a{color:#f1f1f1 !important;}
    }
  }
  
  .page-header{
    background-color:rgba(34,34,34,0.9);
    
    height:72px;width:100%;
    position:fixed;top:0;z-index:99;
    
    .container_auto{padding:0 20px;min-width:950px;}
    
    .site-logo{
      float:left;
      height:48px; /*logo 图面的高度是48像素*/
      margin-top:12px;
      .logo{
        width:295px;height:48px;
        display:block;font-size:0px;line-height:22em;overflow:hidden;
        &.mindpin{background:url(/images/alltu.png) -394px -1px;}
        &.account{background:url(/images/alltu.png) -394px -100px;}
        &.daotu  {background:url(/images/alltu.png) -98px  -1px;}
      }
    }
    
    .nav-menu{
      margin-top:28px;
      float:right;
      position:relative;
      /*height is 32px*/
            
      a.ali{
        display:block;float:left;
        font-size:14px;line-height:32px;
        height:32px;padding:0 10px;
        text-shadow:1px 1px 1px rgba(0, 0, 0, 0.8);
        color:#ccc;&:hover{color:#fff;text-decoration:none;}
      }
      
      a.notices, a.setting, a.logout{
        display:block;float:left;
        height:24px;width:24px;margin-top:4px;margin-left:14px;
        @include border-radius(2px);
        font-size:0;line-height:20em;overflow:hidden;
        .icon{width:24px;height:24px;}
      }
      
      a.notices{
        .icon{@include allimg(-394px,-50px);}
        &:hover{.icon{@include allimg(-419px,-50px);}}
      }
      a.setting{
        .icon{@include allimg(-444px,-50px);}
        &:hover{.icon{@include allimg(-469px,-50px);}}
      }
      a.logout{
        .icon{@include allimg(-444px,-75px);}
        &:hover{.icon{@include allimg(-469px,-75px);}}
      }
    }
  }

  .page-content{
    color:#333333;
    padding-top:72px;
    .loud{color:#FB4A00 !important;}
    .quiet,.date{color:#A5A5A5 !important;}
    .main{padding:20px 0 60px;}
    .mside{padding:20px 0 60px;}
    
    &.fullscreen{
      padding:0;margin:0;
    }
  }
}