body{
  background-color:#fff;
  a{color:#2C6FDD;&:hover{color:#4C8FFD;}}
      
  .page-footer{
    .ct{
      height:30px;line-height:30px;
      text-align:center;
    }
  }
  
  &.gray{background:url(/images/bodybgs/body_bg_gray_1204.jpg) #eee;}
  &.dark{background:url(/images/bodybgs/body_bg_dark.jpg) #343942;
    .page-footer{
      .ct{
        color:#f1f1f1;
        text-shadow:0 0 3px black;
      }
    }
  }
  
  .page-header{
    background-color:rgba(51,51,51,0.9);
    @include gradient(rgba(51,51,51,0.9), rgba(17,17,17,0.9));
    
    height:72px;width:100%;
    position:fixed;top:0;z-index:99;
    
    .site-logo{
      float:left;
      height:48px; /*logo 图面的高度是48像素*/
      margin-top:12px;
      .logo{
        width:295px;height:48px;
        display:block;font-size:0px;line-height:22em;overflow:hidden;
        &.mindpin{background:url(/images/alltu.png) -394px -1px;}
        &.account{background:url(/images/alltu.png) -394px -100px;}
        &.daotu  {background:url(/images/alltu.png) -98px  -1px;}
      }
    }
    
    .nav-menu{
      margin-top:28px;
      float:right;
      position:relative;
      /*height is 32px*/
            
      a.ali{
        display:block;float:left;
        font-size:14px;line-height:32px;
        height:32px;padding:0 10px;
        text-shadow:1px 1px 1px rgba(0, 0, 0, 0.8);
        color:#ccc;&:hover{color:#fff;text-decoration:none;}
      }
      
      a.notices, a.setting, a.logout{
        display:block;float:left;
        height:24px;width:24px;margin-top:4px;margin-left:14px;
        @include border-radius(2px);
        font-size:0;line-height:20em;overflow:hidden;
        .icon{width:24px;height:24px;}
      }
      
      a.notices{
        .icon{@include allimg(-394px,-50px);}
        &:hover{.icon{@include allimg(-419px,-50px);}}
      }
      a.setting{
        .icon{@include allimg(-444px,-50px);}
        &:hover{.icon{@include allimg(-469px,-50px);}}
      }
      a.logout{
        .icon{@include allimg(-444px,-75px);}
        &:hover{.icon{@include allimg(-469px,-75px);}}
      }
    }
    
    .mindmap-search-form{
      margin:28px 0 0 30px;
      overflow:hidden;
      float:left;
      height:32px;
      form{ /* height = 24px*/
        .field{
          position:relative;padding:0;margin:0;
          label{
            position:absolute;
            line-height:30px;height:30px;
            color:#a3a7aB;font-size:14px;
            padding:0;margin:0;
            left:9px;
            cursor:text;
          }
        }
        
        input{
          height:30px !important;line-height:30px !important;
          @include border-radius(3px);
          float:left;
          box-shadow:1px 1px 2px rgba(0, 0, 0, 0.5) inset;
          border:solid 1px #777;
          border:solid 1px rgba(204,204,204,0.6);
          padding-left:7px !important;
          width:240px !important;
          background-color:#555;
          &.active{
            background-color:#777;
          }
          color:#f1f1f1;
        }
        .do-search{
          overflow:hidden;
          float:left;
          @include border-radius(3px);
          border-left:none;
          height:24px;width:24px;
          line-height:22em;
          background-color:#999;
          position:absolute;
          top:4px;right:4px;
          @include allimg(-85px,-75px);
        }
      }
    }
  }

  .page-content{
    color:#333333;
    padding-top:72px;
    .loud{color:#FB4A00 !important;}
    .quiet,.date{color:#A5A5A5 !important;}
    .main{padding:20px 0 60px;}
    .mside{padding:20px 0 60px;}
  }
}

input.text, textarea{
  background-color:#fff;
  border:solid 1px #ccc;
  box-shadow:0 0 3px rgba(0, 0, 0, 0.1) inset;
  &.active{background-color:#ffffea;}
}