-content_for :javascript do
  :javascript
    pie.load(function(){
      jQuery('.apply-form a.apply-submit').bind('click',function(){
        var form_elm = jQuery(this).closest('form');
        var can_submit = true;

        //必填字段 凡是有classname包含need的都是必填
        form_elm.find('.field .need').each(function(){
          var elm = jQuery(this);
          if(jQuery.string(elm.val()).blank()){
            can_submit = false;
            pie.inputflashdark(elm);
          }
        });

        if(can_submit){
          form_elm.submit();
        }
      })
    })

-htitle '申请参与测试'

-is_applied = @is_applied

-if logged_in?
  -email = current_user.email
-else
  -email = ''

.main.grid_24.nl
  .page-anonymous-wrapper
    .apply-form
      .logo
      .apply-content
        .title 申请参加α测试
        -if is_applied
          .desc 申请表已经提交，我们会进行人工审核，谢谢你的支持。
          .re
            %a.middlebutton.logingray{:href=>'/'} <span>返回首页</span>
        -else
          .desc
            %span> 友好提示：是否参加社区测试，对思维导图工具的使用没有影响。访问思维导图工具请：
            %a{:href=>'http://tu.mindpin.com'} —&gt;去这里
          .desc
            %span> 请确保邮箱地址正确。
            %br
            %span> 我们会在阅读你的简介后，在数周内发送测试激活码到你填写的邮箱。

          -form_tag '/apply_submit' do
            .field
              %label 邮箱
              =text_field_tag :email, email, :class=>'text need j-tip',:tabindex=>1
            .field
              %label 真实姓名
              =text_field_tag :name,'',:class=>'text need j-tip',:tabindex=>2
            .field
              %label 自我简介，可以写所在行业，兴趣爱好，特长等
              =text_area_tag :description,'',:class=>'text need j-tip',:tabindex=>3
            .field
              %a.apply-submit.middlebutton.loginblue{:href=>"javascript:;"} <span>写好了</span>
              %a.middlebutton.logingray{:href=>'/'} <span>返回首页</span>