-content_for :javascript do
  :javascript
    pie.load(function(){
      jQuery('.apply-form a.apply-submit').bind('click',function(){
        var form_elm = jQuery(this).closest('form');
        var can_submit = true;

        //必填字段 凡是有classname包含need的都是必填
        form_elm.find('.field .need').each(function(){
          var elm = jQuery(this);
          if(jQuery.string(elm.val()).blank()){
            can_submit = false;
            pie.inputflash(elm);
          }
        });

        if(can_submit){
          form_elm.submit();
        }
      })
    })

-htitle '申请参与测试'

-is_applied = @is_applied

.main.grid_24.nl
  .page-anonymous-wrapper
    .apply-form
      .title 申请参与 mindpin主题社区 α测试
      -if is_applied
        .desc 申请表已经提交，我们会进行人工审核，谢谢你的支持。
        .re=minibutton '返回首页','/'
      -else
        .desc
          %span.loud.bold.font12> 注意：进行此α测试的主题社区和在线思维导图工具没有联系，目前也没有任何功能上的整合。
          %span.loud.bold.font12> 不进行此激活，并不影响思维导图工具的使用。只需要使用在线思维导图的朋友，请
          %a.minibutton.font12{:href=>'http://tu.mindpin.com'} <span>去这里</span>
          %br>
          %br>
          %span.font12> 请确保邮箱地址正确。
          %br>
          %span.font12> 我们会在阅读你的简介后，在数周内发送测试激活码到你填写的邮箱。

        -form_tag '/apply_submit' do
          .field
            %label 邮箱
            =text_field_tag :email,'',:class=>'text need'
          .field
            %label 真实姓名
            =text_field_tag :name,'',:class=>'text need'
          .field
            %label 自我简介
            =text_area_tag :description,'',:class=>'text need'
            .d 对自己进行简要介绍，例如职业，所在公司，兴趣爱好，特长。
          .field
            %a.apply-submit.submitbutton{:href=>"javascript:;"} <span>确定</span>