- 'views/users',true

-content_for :title do
  @提到我的主题或评论

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

.grid_18.alpha
  .grid-title
    @其他人在主题/评论里提到我

  .hrr

  .page-atmes
    -@atmes.each do |atme|
      -if !atme.atable.blank?
        -atable = atme.atable
        .atme.btb
          -if atable.class.name == 'Viewpoint'
            观点
          -if atable.class.name == 'Feed'
            主题
          -if atable.class.name == 'ViewpointComment'
            观点评论
          -if atable.class.name == 'FeedComment'
            主题评论

.grid_5.omega.fright
  =render 'feeds/infos/new_button'
  =render :partial=>'index/index_parts/feed_links'