.page-apps-tu{
  width:800px;
  margin:0 auto;
  padding-top:20px;
  .box{
    background:#fafafa;
    border:solid 1px #eee;
    @include border-radius(4px);
    box-shadow:0 0 6px #eee;
    
    .loud1{color:#5C9EF2;}
    .loud2{color:#F95E00;}
    .loud3{color:#444;}
    .logo{
      width:420px;height:75px;
      background:url(/images/tu-tsina-app-logo.png) no-repeat;
      margin-top:20px;
      margin-left:190px;
      margin-bottom:20px;
    }
    .title{
      margin:4px;
      font-size:14px;font-weight:bold;
      background:#f4f4f4;
      text-align:center;
      padding:9px;
      color:#333;
    }
    .desc{
      padding:14px 0;
      .p{
        margin-left:190px;
        font-size:14px;font-weight:bold;
        color:#777;
      }
      .hrr{margin-left:4px;margin-right:4px;}
    }
    .tsina-login-btn{
      width:239px;height:48px;
      background:url(/images/tsina_app_login.png) no-repeat;
      margin-top:28px;margin-bottom:20px;
      margin-left:280px;
      display:block;
    }
  }
  .box1{
    border:solid 1px #ddd;
    @include border-radius(5px);
    box-shadow:0 0 6px #eee;
    margin-bottom:20px;
    background:white;
    .head{
      overflow:hidden;
      padding:10px;
      .avatar{
        padding:3px;
        border:solid 1px #eee;
        float:left;
        margin-right:30px;
      }
      .logo-s{
        width:320px;height:57px;
        background:url(/images/tu-sina-app-logo-s.png) no-repeat;
        float:left;
      }
    }
    .title{
      font-size:16px;
      background:#eee;
      text-align:center;
      padding:10px;
      font-weight:bold;
      color:#333;
      background-color:#eee;
    }
    .new-form{
      padding:20px;
      .new_mindmap{
        overflow:hidden;
        .field{
          float:left;
          overflow:hidden;
          margin:0;
          label{
            font-size:14px;font-weight:bold;float:left;
            line-height:33px;height:33px;padding:0;
            margin-right:20px;
          }
          .mindmap-title{
            width:500px;margin-right:20px;
          }
          .create-submit{
            @include form-a-link-submit;
          }
        }
      }
    }
    .paginate{
      padding:10px;
    }
  }
  .mindmaps{
    width:840px;
    overflow:hidden;
    .mindmap{
      border:solid 1px #ddd;
      @include border-radius(5px);
      box-shadow:0 0 6px #eee;
      margin-bottom:20px;margin-right:20px;
      background:white;
      float:left;
      width:163px;
      padding:10px;
      position:relative;
      .t{
        font-weight:bold;
        margin-bottom:5px;
        a{
          color:#555;
        }
      }
      .del{
        position:absolute;
        top:2px;
        right:8px;
        color:red;
        @include tfont;
        font-weight:bold;
        font-size:18px;
      }
      .img{
        width:120px;height:120px;margin-bottom:5px;
      }
      .post-to{
        a.minibutton{
          float:left;
        }
        a.share{
          float:right;width:98px;height:22px;
          background:url(/images/post-to-tsina.png);
          overflow:hidden;line-height:22em;
          position:relative;top:1px;
        }
      }
    }
  }
}