%div
  %b 图片
  %span -
  %span=link_to 'PNG',"/mindmaps/#{mindmap.id}.png",:target=>'_blank'

%div
  %b MindManager
  %span -
  %span=link_to 'MMAP',"/mindmaps/#{mindmap.id}.mmap"

%div
  %b FreeMind
  %span -
  %span=link_to 'MM',"/mindmaps/#{mindmap.id}.mm?v=9"

%div
  %b Word
  %span -
  %span=link_to 'DOC',"/mindmaps/#{mindmap.id}.doc"