-mindmaps.each do |mindmap|
  :ruby
    id = mindmap.id
    title = truncate_u mindmap.title, 12
    creator = mindmap.user
    thumb_src = mindmap.thumb_image_url('120x120')
    
    css_class = []
    
    is_private = mindmap.private?
    css_class << (is_private ? 'private' : 'public')
    
    open_url = pin_url_for('daotu', "/v6/#{id}")
    is_owner = (creator == current_user)
    
    css_class = css_class * ' '
    
  .mindmap.gi{:'data-id'=>id, :class=>css_class}
    .thumb{:'data-src'=>thumb_src}
    .title=title
    
    %a.open{:href=>open_url} 打开
    .ops
      -if is_owner
        %a.delete{:href=>'javascript:;'} 删除