=link_to '编辑',"/mindmaps/#{mindmap.id}/edit",:target=>'_blank'
=link_to '删除',"/mindmaps/#{mindmap.id}",:method=>:delete,:confirm=>"你确定删除这个导图么？"
=link_to_remote "复制",:url=>"/mindmaps/#{mindmap.id}/clone_form",:method=>:get
=link_to "协同","/cooperate/#{mindmap.id}"

