/*body*/
  /*body背景*/
    $body-bg-color   : #FAFAFA;

/*正文区*/
  /*正文区背景*/
    $content-bg-color     : #FCFCFC;
  /*正文区边线*/
    $content-border-color : #ABABAB;
  /*正文区阴影*/
    $content-shadow-color : #ABABAB;

body{
  background-color:$body-bg-color;
}

.page-content{
  .cell{
    background-color:$content-bg-color;
  }
}