/*页眉*/
  /*页眉背景*/
    $head-bg-color   : #FFFFFF;
    $head-bg-color-1 : #F5F5F5;
  /*页眉文字*/
    $head-text-color : #ffffff;
  /*页眉底边*/
    $head-border-bottom-color : #DFDFDF;

  /*顶端用户导航背景*/
    $head-userbox-bg-color     : #EBF3A7;
    $head-userbox-bg-color-2   : #E4EE6F;
  /*顶端用户导航边线*/
    $head-userbox-border-color : #ABBE2E;
  /*顶端用户导航链接色*/
    $head-userbox-a-color      : #333;
    $head-userbox-a-color-hover: #333;
.ph{
  border-bottom:solid 1px $head-border-bottom-color;
  .page-head{
    border-bottom:solid 1px white;
    @include gradient($head-bg-color,$head-bg-color-1);
    color:$head-text-color;
    .userbox{
      a{
        color:$head-userbox-a-color;
        &:hover{color:$head-userbox-a-color-hover;}
      }
    }
    a{
      color:$head-userbox-a-color;
      &:hover{color:$head-userbox-a-color-hover;}
    }
  }
}