/*页眉*/
  /*页眉背景*/
    $head-bg-color   : #444444;
    $head-bg-color-1 : #444444;
  /*页眉文字*/
    $head-text-color : #eeeeee;
  /*页眉底边*/
    $head-border-bottom-color : #DFDFDF;

  /*顶端用户导航背景*/
    $head-userbox-bg-color     : #EBF3A7;
    $head-userbox-bg-color-2   : #E4EE6F;
  /*顶端用户导航边线*/
    $head-userbox-border-color : #ABBE2E;

/*顶部*/
.page-header{
  .menu{
    background:#444;
    color:$head-text-color;
    overflow:hidden;
    
    a{color:#eee;&:hover{color:#fff;}}

    .topbar{
      margin-right:5px;
      float:right;
      overflow:hidden;
      .sp{
        float:left;
        line-height:30px;
        margin-left:15px;
        &.feeds{a{color:#E2EDFA;}}
        &.mindmaps{a{color:#FBF3CA;}}
      }
    }
  }
  
  .nav{
    background:#f7f7f7;
    border-bottom:solid 1px #ddd;
    overflow:hidden;
    
    .site-logo{
      float:left;
      height:70px;
      .logo{
        position:relative;
        width:260px;height:48px;top:11px;
        display:block;
        overflow:hidden;
        font-size:0px;
        line-height:22em;
        &.mindpin{background:url(/images/alltu.png) -394px -1px;}
        &.mindmaps{background:url(/images/alltu.png) -133px -1px;}
      }
    }
    
    .nav-menu{
      float:right;
      position:relative;top:19px;
      margin-left:60px;
      margin-right:5px;
      a{
        display:inline-block;
        float:left;
        border:solid 1px #ddd;
        font-size:0;line-height:30em;
        height:30px;width:40px;
        background:#fafafa;
        padding:0 5px;
        margin-right:1px;
        &:hover{
          text-decoration:none;
          background:#fff;
        }
        
        &.first{@include border-radius(3px 0 0 3px);}
        &.last{@include border-radius(0 3px 3px 0);}
        &.current{
          background:#eee;
          box-shadow:inset 0 1px 5px #bbb;
          border-color:#aaa;
        }
        &.lock{opacity:0.2}
        
        &.homepage{
          padding:0;
          border:0 none;
          width:32px;height:32px;margin-right:5px;
          .avatar{width:32px;height:32px;img{padding:0;}}
        }
        
        .icon{width:24px;height:24px;position:relative;top:3px;left:8px;}
        &.feeds{.icon{background:url(/images/alltu.png) -394px -50px;}}
        &.contacts{.icon{background:url(/images/alltu.png) -419px -50px;}}
        &.collections{.icon{background:url(/images/alltu.png) -394px -75px;}}
        &.entries{.icon{background:url(/images/alltu.png) -419px -75px;}}
      }
    }
  }
}

@import "main_and_side"