.page-content.top_fixed{
  padding-top:48px;
}

.page-content .cell{
  margin:0 0 60px;
  border-bottom:solid 1px #eee;
  
  &.layout-auto{
    margin:0;border-bottom:none 0;
    overflow:hidden;
    .layout-main{
      overflow:hidden;
      &.ll{border-left:solid 1px #eee};
      .layout-main-inside{
        padding-top:20px;
      }
    }
  }
  
  .main-title{
    font-size:16px;
    font-weight:bold;
    margin:0 0 20px 0;
  }
    
  
  .main{
    padding-top:20px;
    padding-bottom:20px;
    border-right:solid 1px #eee;
    &.nl,&.no-line{
      border:none;
    }
    &.ll{
      border-right:none;
      border-left:solid 1px #eee;
    }
    &.dl{
      border-right:solid 1px #eee;
      border-left:solid 1px #eee;
    }
  }
  .mside{
    &.grid_4{width:149px !important;}
    &.grid_5{width:189px !important;}
    &.grid_6{width:229px !important;}
    &.grid_7{width:269px !important;}
    &.no-line{
      &.grid_4{width:150px !important;}
      &.grid_5{width:190px !important;}
      &.grid_6{width:230px !important;}
      &.grid_7{width:270px !important;}
    }
    
    padding-top:20px;
    .sidepart{
      background-color:#F7F7F7;
      @include border-radius(8px);
      overflow:hidden;
      margin-bottom:10px;
    }
    .hrr{
      margin:0 10px;
      height:0px;line-height:0px;
      font-size:0px;
      border-top:solid 1px red;
      border-bottom:solid 1px red;
    }
    hr.split{
      height:0;font-size:0;line-height:0;
      border-top:solid 1px #DBDDDB;
      border-bottom:solid 1px #FDFFFD;
      margin:0;
      padding:0;
      &.mb10{
        margin-bottom:10px;
      }
    }
  }
}

.mside{
  h5{
    font-size:12px;
    font-weight:normal;
    color:#666;
    margin-bottom:10px;
  }

  .page-side-user-info{
    padding:10px 10px 0;
    margin-bottom:10px;
    overflow:hidden;
    .avatar{
      float:left;
      margin-right:10px;
      img{width:20px;height:20px;}
    }
    .name{
      height:20px;
      line-height:20px;
      float:left;
      font-size:14px;
    }
  }

  .page-smallmenu{
    overflow:hidden;
    margin-bottom:10px;
    margin-top:3px;
    padding:0 10px;
    ul{
      overflow:hidden;
      margin-bottom:10px;
      hr.split{display:none;}
      li{
        padding:0 7px;
        margin:0 3px;
        a{
          display:block;
          font-size:12px;
          padding:2px 0;
          color:#666;
          overflow:hidden;
          &:hover{color:black;}
          span{
            float:left;
            padding-left:20px;
          }
        }
        &.i-am-here{
          position:relative;
          

          a{
            color:white;
            text-decoration:none;
            height:22px;
            line-height:22px;
            background-image:url(/images/sites.png);
            background-position:0px -106px;
            background-repeat:no-repeat;
            span{
              float:left;
              padding-left:29px;
            }
          }
        }


        &.with-count{
          a{
            span{
              margin-right:3px;
            }
            .count{
              float:left;
              @include gradient(#FF3D00,#D3293D);
              color:white;
              font-weight:bold;
              font-family:"Segoe UI","Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans serif;
              @include border-radius(4px);
              padding:0 4px;
              height:15px;
              line-height:15px;

              position:relative;
              top:3px;
            }
          }
        }
      }
    }
  }

  .page-sidepart{
    @include sidepart;
  }
}