@import 'head';
@import 'footer';

body{
  background-color:#ffffff;
  &.gray{
    background:url(/images/bodybgs/body_bg_gray.jpg) #f4f4f4;
  }
  &.dark{
    background:url(/images/bodybgs/body_bg_dark.jpg) #343942;
  }
}

/*一般文字*/
  /*一般文字颜色*/
    $text-color       : #333333;
  /*一般文字强调颜色*/
    $text-loud-color  : #FB4A00;
  /*一般文字弱化颜色*/
    $text-quiet-color : #A5A5A5;

/*链接文字*/
  /*链接文字颜色*/
    $text-a-color : #4984CC;
    $text-a-hover-color : #5193D4;
  /*链接文字强调颜色*/
    $text-a-loud-color : #FB4A00;
    $text-a-loud-hover-color : #FF4E04;

/*排版区域*/
  /*强调区域颜色*/
    $dark-bg-color     : #F6F6F6;
    $dark-bg-color-1   : #F0F0F0;
  /*区域阴影颜色*/
    $box-shadow-color  : #ddd;

.page-content{
  color:$text-color;
  .loud{color:$text-loud-color !important;}
  .quiet{color:$text-quiet-color !important;}
  .date{color:$text-quiet-color !important;}
  a{
    color:$text-a-color;
    &:hover{color:$text-a-hover-color;}
    &.quiet{
      color:$text-quiet-color !important;
      &:hover{color:$text-quiet-color !important;}
    }
    &.loud{
      color:$text-a-loud-color !important;
      &:hover{color:$text-a-loud-hover-color !important;}
    }
    &.reverse{
      background-color:$text-a-color;
      color:white;
      &:hover{background-color:$text-a-hover-color;text-decoration:none;}
    }
  }
}

.cell{
  &.no-line{
    border-bottom:none;
    margin:0;
    padding-bottom:60px;
  }
}

.quotebg{
  border-left:solid 3px #FFE965;
  background-color:#FFFADA;
}

.darkbg{
  background-color:$dark-bg-color;
  .moredarkbg{
    background-color:$dark-bg-color-1;
  }
  .csshov:hover{
    background-color:$dark-bg-color-1;
  }
  &.csshov:hover{
    background-color:$dark-bg-color-1;
  }
}

.csshov:hover{
  background-color:$dark-bg-color;
}

.shadow{
  @include box-shadow(1px 1px 2px $box-shadow-color);
}
.btb{border-bottom:#EDEDED solid 1px;}

.hrr{
  background-color:$dark-bg-color;
  height:3px;
  @include border-radius(3px);
  margin:12px 0;
}


/*表单*/
  /*输入框背景*/
    $input-bg-color          : #FFFFFF;
    $input-bg-active-color   : #FFFFEA;
  /*输入框边线*/
    $input-border-color      : #ccc;

  /*“发送”按钮*/
    $send-button-bg-color    : #889B1F;
    $send-button-bg-color-1  : #566710;
    $send-button-bg-hover-color    : #A8BB3F;
    $send-button-bg-hover-color-1  : #768730;
    $send-button-border-color  : #7F9132;


input.text, textarea{
  background-color:$input-bg-color;
  border:solid 1px $input-border-color;
  box-shadow:0 0 3px rgba(0, 0, 0, 0.1) inset;
  &.active{background-color:$input-bg-active-color;}
}

a.send-button{
  @include gradient($send-button-bg-color,$send-button-bg-color-1);
  border-color:$send-button-border-color;
  &:hover{
    text-decoration:none;
    @include gradient($send-button-bg-hover-color,$send-button-bg-hover-color-1);
  }
  &.mousedown{
    @include gradient($send-button-bg-hover-color-1,$send-button-bg-hover-color);
  }
}

/*浮动弹出层*/
  $popdiv-bd-color : #525566;

.popdiv{
  @include box-shadow(0 0 5px #BBBBBB);
  @include border-radius(3px);
  background-color:#fafafa;
  border:1px solid #AAAAAA;
}