/*2011年第一套配色*/
/*页眉*/
/*页眉背景*/
/*页眉文字*/
/*页眉底边*/
/*顶端用户导航背景*/
/*顶端用户导航阴影*/
/*顶端用户导航边线*/
/*顶端用户导航链接色*/
.page-head {
  background: -moz-linear-gradient(-90deg, #f3f8db, #ebf2a6);
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#f3f8db), to(#ebf2a6));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f3f8db',endColorstr='#ebf2a6');
  border-bottom: solid 1px #dfdfdf;
  color: white; }
  .page-head .userbox {
    background: -moz-linear-gradient(-90deg, #ebf3a7, #e4ee6f);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#ebf3a7), to(#e4ee6f));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ebf3a7',endColorstr='#e4ee6f');
    box-shadow: 0 0 2px #5c6d0c;
    -moz-box-shadow: 0 0 2px #5c6d0c;
    -webkit-box-shadow: 0 0 2px #5c6d0c;
    border: solid 1px #abbe2e; }
    .page-head .userbox a {
      color: #47520e; }
      .page-head .userbox a:hover {
        color: #57621e; }
  .page-head a {
    color: #47520e; }
    .page-head a:hover {
      color: #57621e; }

/*青蓝*/
body {
  background-color: #f3f8db;
  color: #333333; }

.page-content .cell {
  border: 2px solid white;
  background-color: white; }

.page-footer {
  background-color: #284a78; }

.loud {
  color: #FB4A00 !important; }

.loud1 {
  color: black; }

.quiet {
  color: #B5B5B5; }

.date {
  color: #c5c5c5; }

a {
  color: #268DD3; }
  a:hover {
    color: #5193D4; }
  a.loud {
    color: #FBEB96; }
    a.loud:hover {
      text-decoration: none !important;
      color: #FBD300 !important; }

.quote_content {
  background: #F6F6F6;
  border: solid 1px #E5E5E5; }

.darkbg {
  background-color: white; }

.darkbg .btb {
  border-bottom: dashed 1px #f6f6f7; }

.current .darkbg, .darkbg1 {
  background-color: #d7d5c7; }

.darkbg1.csshov:hover {
  background-color: #f6f6f7; }

.lightbg {
  background-color: #f6f6f7; }

.lightbg1 {
  background-color: #fafafb; }

.concave {
  border-bottom: solid 1px #464660;
  border-right: solid 1px #464660;
  border-top: solid 1px #000;
  border-left: solid 1px #000; }

.convex {
  border-left: solid 1px #464660;
  border-top: solid 1px #464660;
  border-bottom: solid 1px #000;
  border-right: solid 1px #000; }
