/*2011年第一套配色*/
/*页眉*/
/*页眉背景*/
/*页眉文字*/
/*页眉底边*/
/*顶端用户导航背景*/
/*顶端用户导航边线*/
/*顶端用户导航链接色*/
.ph {
  border-bottom: solid 1px #dfdfdf; }
  .ph .page-head {
    border-bottom: solid 1px white;
    background: -moz-linear-gradient(-90deg, white, #f5f5f5);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(white), to(#f5f5f5));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='white',endColorstr='#f5f5f5');
    color: white; }
    .ph .page-head .userbox a {
      color: #333333; }
      .ph .page-head .userbox a:hover {
        color: #333333; }
    .ph .page-head a {
      color: #333333; }
      .ph .page-head a:hover {
        color: #333333; }

/*页脚*/
/*页脚背景*/
/*页脚顶边*/
.page-footer {
  background: -moz-linear-gradient(-90deg, #f1f1f1, #f1f1f1);
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#f1f1f1), to(#f1f1f1));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f1f1f1',endColorstr='#f1f1f1'); }
  .page-footer .pf {
    border-top: solid 2px #dddddd; }
  .page-footer a {
    color: #333333; }
    .page-footer a:hover {
      color: #333333; }

/*body*/
/*body背景*/
/*正文区*/
/*正文区背景*/
/*正文区边线*/
/*正文区阴影*/
body {
  background-color: white; }

.page-content .cell {
  background-color: white; }

/*一般文字*/
/*一般文字颜色*/
/*一般文字强调颜色*/
/*一般文字弱化颜色*/
/*链接文字*/
/*链接文字颜色*/
/*链接文字强调颜色*/
/*排版区域*/
/*强调区域颜色*/
/*区域阴影颜色*/
.page-content {
  color: #333333; }
  .page-content .loud {
    color: #fb4a00 !important; }
  .page-content .quiet {
    color: #a5a5a5 !important; }
  .page-content .date {
    color: #a5a5a5 !important; }
  .page-content a {
    color: #4984cc; }
    .page-content a:hover {
      color: #5193d4; }
    .page-content a.quiet {
      color: #a5a5a5 !important; }
      .page-content a.quiet:hover {
        color: #a5a5a5 !important; }
    .page-content a.loud {
      color: #fb4a00 !important; }
      .page-content a.loud:hover {
        color: #ff4e04 !important; }
    .page-content a.reverse {
      background-color: #4984cc;
      color: white; }
      .page-content a.reverse:hover {
        background-color: #5193d4;
        text-decoration: none; }

.quotebg {
  border-left: solid 3px #FFE965;
  background-color: #FFFADA; }

.darkbg {
  background-color: #f6f6f6; }
  .darkbg .moredarkbg {
    background-color: #f0f0f0; }
  .darkbg .csshov:hover {
    background-color: #f0f0f0; }
  .darkbg.csshov:hover {
    background-color: #f0f0f0; }

.csshov:hover {
  background-color: #f6f6f6; }

.shadow {
  box-shadow: 1px 1px 2px #dddddd;
  -moz-box-shadow: 1px 1px 2px #dddddd;
  -webkit-box-shadow: 1px 1px 2px #dddddd; }

.btb {
  border-bottom: dotted 1px #DFDFDF; }

.hrr {
  background-color: #f6f6f6;
  height: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 12px 0; }

/*表单*/
/*输入框背景*/
/*输入框边线*/
/*“发送”按钮*/
input.text, textarea {
  background-color: white;
  border: solid 1px #cccccc;
  box-shadow: 1px 1px 2px #eeeeee;
  -moz-box-shadow: 1px 1px 2px #eeeeee;
  -webkit-box-shadow: 1px 1px 2px #eeeeee; }
  input.text.active, textarea.active {
    background-color: #ffffea; }

a.send-button {
  background: -moz-linear-gradient(-90deg, #889b1f, #566710);
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#889b1f), to(#566710));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#889b1f',endColorstr='#566710');
  border-color: #7f9132; }
  a.send-button:hover {
    text-decoration: none;
    background: -moz-linear-gradient(-90deg, #a8bb3f, #768730);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#a8bb3f), to(#768730));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#a8bb3f',endColorstr='#768730'); }
  a.send-button.mousedown {
    background: -moz-linear-gradient(-90deg, #768730, #a8bb3f);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#768730), to(#a8bb3f));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#768730',endColorstr='#a8bb3f'); }

/*浮动弹出层*/
.popdiv {
  box-shadow: 1px 1px 2px #dddddd;
  -moz-box-shadow: 1px 1px 2px #dddddd;
  -webkit-box-shadow: 1px 1px 2px #dddddd;
  background-color: #f6f6f6;
  border: solid 2px #525566; }
  .popdiv .moredarkbg {
    background-color: #f0f0f0; }
  .popdiv .csshov:hover {
    background-color: #f0f0f0; }
  .popdiv.csshov:hover {
    background-color: #f0f0f0; }
