/*2011年第一套配色*/
/*页眉*/
/*页眉背景*/
/*页眉文字*/
/*页眉底边*/
/*顶端用户导航背景*/
/*顶端用户导航边线*/
/*顶端用户导航链接色*/
/*顶部*/
.ph {
  background: #444;
  color: #eeeeee;
  padding-bottom: 10px;
  border-bottom: solid 3px #666; }
  .ph .page-head {
    overflow: hidden; }
    .ph .page-head .site-logo {
      float: left;
      padding-top: 15px;
      padding-left: 5px; }
      .ph .page-head .site-logo .logo {
        width: 240px;
        height: 40px;
        display: block;
        overflow: hidden;
        font-size: 0px;
        line-height: 22em; }
        .ph .page-head .site-logo .logo.feeds {
          background: url(/images/sites.png) 0px -25px; }
        .ph .page-head .site-logo .logo.mindmaps {
          background: url(/images/sites.png) 0px -66px; }
    .ph .page-head .menu {
      float: left;
      padding-top: 30px; }
      .ph .page-head .menu ul {
        overflow: hidden; }
        .ph .page-head .menu ul li {
          float: left;
          margin-left: 10px; }
          .ph .page-head .menu ul li.first {
            margin-left: 0px; }
          .ph .page-head .menu ul li a {
            font-size: 16px;
            height: 24px;
            line-height: 24px;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            display: block;
            padding: 0 5px;
            font-weight: bold;
            color: #fff;
            overflow: hidden; }
            .ph .page-head .menu ul li a:hover {
              color: #444;
              text-decoration: none;
              background: #e0e7eF; }
            .ph .page-head .menu ul li a span {
              float: left; }
          .ph .page-head .menu ul li.i-am-here a {
            color: #444;
            text-decoration: none;
            background: #e0e7eF; }
          .ph .page-head .menu ul li.with-count a span {
            margin-right: 3px; }
          .ph .page-head .menu ul li.with-count a .count {
            float: left;
            font-size: 14px;
            background: -moz-linear-gradient(-90deg, #ff3d00, #d3293d);
            background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#ff3d00), to(#d3293d));
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff3d00',endColorstr='#d3293d');
            color: white;
            font-weight: bold;
            font-family: "Segoe UI","Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans serif;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            padding: 0px 4px 2px;
            height: 14px;
            line-height: 14px;
            position: relative;
            top: 4px; }
    .ph .page-head .nav {
      float: right;
      padding-right: 5px; }
      .ph .page-head .nav a {
        color: #eeeeee; }
        .ph .page-head .nav a:hover {
          color: white; }
      .ph .page-head .nav .topbar {
        padding-top: 5px;
        overflow: hidden; }
        .ph .page-head .nav .topbar .sp {
          float: left;
          line-height: 20px;
          margin-left: 15px; }
          .ph .page-head .nav .topbar .sp.feeds a {
            color: #E2EDFA; }
          .ph .page-head .nav .topbar .sp.mindmaps a {
            color: #FBF3CA; }
      .ph .page-head .nav .search-form {
        margin: 5px 0 0 0;
        overflow: hidden; }
        .ph .page-head .nav .search-form form {
          float: right; }
          .ph .page-head .nav .search-form form input {
            height: 22px !important;
            line-height: 22px !important;
            border-radius: 4px 0 0 4px;
            -moz-border-radius: 4px 0 0 4px;
            -webkit-border-radius: 4px 0 0 4px;
            float: left;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            border-color: #555;
            border-right: #999 solid 1px;
            padding-left: 7px !important;
            width: 172px !important; }
          .ph .page-head .nav .search-form form .do-search {
            overflow: hidden;
            float: left;
            border-radius: 0 4px 4px 0;
            -moz-border-radius: 0 4px 4px 0;
            -webkit-border-radius: 0 4px 4px 0;
            border: solid 1px #555;
            border-left: none;
            height: 22px;
            width: 22px;
            line-height: 22em;
            text-align: center;
            color: #666;
            font-weight: bold;
            background-image: url(/images/sites.png);
            background-repeat: no-repeat;
            background-position: -50px -1px;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none; }

.page-submenu {
  overflow: hidden;
  margin: 0 0 30px 0;
  width: 120px; }
  .page-submenu h1 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding-left: 10px;
    color: #666666;
    font-family: "Segoe UI","Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans serif;
    border-bottom: solid 1px #e0e0e0; }
  .page-submenu ul {
    overflow: hidden; }
    .page-submenu ul li a {
      border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      -webkit-border-radius: 0 4px 4px 0;
      display: block;
      font-size: 14px;
      height: 24px;
      line-height: 24px;
      padding: 0 4px 0 14px;
      color: #696969;
      overflow: hidden; }
      .page-submenu ul li a:hover {
        color: #696969;
        text-decoration: none;
        background: #f0f0f0;
        padding: 0 4px 0 10px;
        border-left: solid 4px #dfdfdf; }
      .page-submenu ul li a span {
        float: left; }
    .page-submenu ul li.with-count a span {
      margin-right: 3px; }
    .page-submenu ul li.with-count a .count {
      float: left;
      background: -moz-linear-gradient(-90deg, #ff3d00, #d3293d);
      background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#ff3d00), to(#d3293d));
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff3d00',endColorstr='#d3293d');
      color: white;
      font-weight: bold;
      font-family: "Segoe UI","Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",Verdana,"Verdana Ref",sans serif;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      padding: 0 4px;
      height: 15px;
      line-height: 15px;
      position: relative;
      top: 3px; }
    .page-submenu ul li.i-am-here {
      /*border-bottom:solid 3px #787B82;*/ }
      .page-submenu ul li.i-am-here a {
        background: #6CA0DF;
        color: white;
        font-weight: bold;
        padding: 0 4px 0 10px;
        border-left: solid 4px #5F88B9; }
    .page-submenu ul.welcome li.feeds {
      margin: 0 0 5px 0; }
      .page-submenu ul.welcome li.feeds a {
        background: -moz-linear-gradient(-90deg, #5c98e0, #3a93ff);
        background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#5c98e0), to(#3a93ff));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#5c98e0',endColorstr='#3a93ff');
        color: white;
        font-weight: bold;
        padding: 0 4px 0 6px;
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
        border: solid 1px #1E7FF6;
        border-left: solid 4px #1E7FF6; }
        .page-submenu ul.welcome li.feeds a .icon {
          width: 22px;
          height: 22px;
          float: left;
          background: url(/images/sites.png) -1px -1px;
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          position: relative;
          top: 1px;
          margin: 0 8px 0 0; }
    .page-submenu ul.welcome li.mindmaps {
      margin: 0 0 5px 0; }
      .page-submenu ul.welcome li.mindmaps a {
        background: -moz-linear-gradient(-90deg, #e98a4f, #e98a4f);
        background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#e98a4f), to(#e98a4f));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e98a4f',endColorstr='#e98a4f');
        color: white;
        font-weight: bold;
        padding: 0 4px 0 6px;
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
        border: solid 1px #DC7330;
        border-left: solid 4px #DC7330; }
        .page-submenu ul.welcome li.mindmaps a .icon {
          width: 22px;
          height: 22px;
          float: left;
          background: url(/images/sites.png) -26px -1px;
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          position: relative;
          top: 1px;
          margin: 0 8px 0 0; }

.page-content .cell {
  padding: 10px 0 60px;
  margin: 0;
  /*这样正好剩余960px，24个grid*/ }
  .page-content .cell .mside {
    background-color: #F6F6F6;
    background-color: #F4F7FA;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding-top: 5px; }

/*页脚*/
/*页脚背景*/
/*页脚顶边*/
.page-footer {
  background-color: #e6e6e6; }
  .page-footer .pf {
    border-top: solid 2px #dddddd; }
  .page-footer a {
    color: #eeeeee; }
    .page-footer a:hover {
      color: white; }

body {
  background-color: #f1f1f1; }

/*一般文字*/
/*一般文字颜色*/
/*一般文字强调颜色*/
/*一般文字弱化颜色*/
/*链接文字*/
/*链接文字颜色*/
/*链接文字强调颜色*/
/*排版区域*/
/*强调区域颜色*/
/*区域阴影颜色*/
.page-content {
  color: #333333; }
  .page-content .loud {
    color: #fb4a00 !important; }
  .page-content .quiet {
    color: #a5a5a5 !important; }
  .page-content .date {
    color: #a5a5a5 !important; }
  .page-content a {
    color: #4984cc; }
    .page-content a:hover {
      color: #5193d4; }
    .page-content a.quiet {
      color: #a5a5a5 !important; }
      .page-content a.quiet:hover {
        color: #a5a5a5 !important; }
    .page-content a.loud {
      color: #fb4a00 !important; }
      .page-content a.loud:hover {
        color: #ff4e04 !important; }
    .page-content a.reverse {
      background-color: #4984cc;
      color: white; }
      .page-content a.reverse:hover {
        background-color: #5193d4;
        text-decoration: none; }

.quotebg {
  border-left: solid 3px #FFE965;
  background-color: #FFFADA; }

.darkbg {
  background-color: #f6f6f6; }
  .darkbg .moredarkbg {
    background-color: #f0f0f0; }
  .darkbg .csshov:hover {
    background-color: #f0f0f0; }
  .darkbg.csshov:hover {
    background-color: #f0f0f0; }

.csshov:hover {
  background-color: #f6f6f6; }

.shadow {
  box-shadow: 1px 1px 2px #dddddd;
  -moz-box-shadow: 1px 1px 2px #dddddd;
  -webkit-box-shadow: 1px 1px 2px #dddddd; }

.btb {
  border-bottom: #EDEDED solid 1px; }

.hrr {
  background-color: #f6f6f6;
  height: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 12px 0; }

/*表单*/
/*输入框背景*/
/*输入框边线*/
/*“发送”按钮*/
input.text, textarea {
  background-color: white;
  border: solid 1px #cccccc;
  box-shadow: 1px 1px 2px #eeeeee;
  -moz-box-shadow: 1px 1px 2px #eeeeee;
  -webkit-box-shadow: 1px 1px 2px #eeeeee; }
  input.text.active, textarea.active {
    background-color: #ffffea; }

a.send-button {
  background: -moz-linear-gradient(-90deg, #889b1f, #566710);
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#889b1f), to(#566710));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#889b1f',endColorstr='#566710');
  border-color: #7f9132; }
  a.send-button:hover {
    text-decoration: none;
    background: -moz-linear-gradient(-90deg, #a8bb3f, #768730);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#a8bb3f), to(#768730));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#a8bb3f',endColorstr='#768730'); }
  a.send-button.mousedown {
    background: -moz-linear-gradient(-90deg, #768730, #a8bb3f);
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#768730), to(#a8bb3f));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#768730',endColorstr='#a8bb3f'); }

/*浮动弹出层*/
.popdiv {
  box-shadow: 1px 1px 2px #dddddd;
  -moz-box-shadow: 1px 1px 2px #dddddd;
  -webkit-box-shadow: 1px 1px 2px #dddddd;
  background-color: #f6f6f6;
  border: solid 2px #525566; }
  .popdiv .moredarkbg {
    background-color: #f0f0f0; }
  .popdiv .csshov:hover {
    background-color: #f0f0f0; }
  .popdiv.csshov:hover {
    background-color: #f0f0f0; }
