.messages {
  margin: 30px 0 0 0; }
  .messages .message {
    border: solid 1px #111;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 5px;
    margin: 0 0 10px 0;
    overflow: hidden; }
    .messages .message .avatar {
      float: left;
      margin: 0 20px 0 0; }
    .messages .message .cont {
      float: left;
      width: 400px; }
      .messages .message .cont .data {
        font-size: 14px;
        margin: 10px 0; }
