-accordion_bar :bgc=>"#0B6138",:active_bgc=>"#E0542F" do
  -accordion_item '导图数据导出和下载',:bgc=>"#ADC96D",:open=>false do
    .mindmap-export.padding5
      =render :partial=>'mindmaps/edit/export'
  -accordion_item '节点备注编辑器',:bgc=>"#C1D791",:open=>false do
    .note_editor.padding5
      .editor_box
        %textarea#mindmap-note-edit{:style=>''}
  -accordion_item '可能相关的导图..',:bgc=>"#98BC48",:open=>true do
    .padding5
      -if @mindmap.rank.to_i != 0
        .hide
          -@mindmap.major_words.each do |word|
            %span=word
        -@mindmap.relative_mindmaps.each do |m|
          %div=link_to m.title,m,:target=>"_blank"
  -accordion_item '快速聊天',:bgc=>"#98BC48",:open=>true do
    .padding5
      .chat-box
        .chat-list
          .chat-start 对话开始..
        .chat-form
          %form{:onsubmit=>"send_chat();return false;"}
            .field
              %label
                #{current_user.name}说:
              =text_field_tag 'chat-inputer','',:class=>'text'

:javascript
  function send_chat(){
    var text = $('chat-inputer').value;
    $('chat-inputer').value = '';
    new pie.MindmapUser('#{current_user.name}','#{@mindmap.id}').say(text);
  }