- 'views/users',true

-content_for :title do
  历史版本查看

-content_for :javascripts do
  = javascript_include_tag "views/tag_revision"

.clearfix
  .font14.bold.padding5
    =link_to '&gt;&gt; 返回关键词页面',"/tags/#{@tag.full_name}"

.hrr

.page-revisions
  -rev_num = @revisions.count
  -@revisions.each do |rev|
    -prev = rev.prev
    .revision.tag{:'data-id'=>rev.id,:'data-name'=>@tag.full_name}
      .meta
        .num=rev_num
        .misc
          .message=rev.message
          .ops>
            =link_to '查看详情',"/tag_detail_revisions/#{rev.id}"
            -if logged_in? && current_user.is_admin? && rev_num != @revisions.count
              %span -
              =link_to '恢复到此版本','javascript:;',:class=>'rollback'

        -rev_num-=1

        .creator
          -creator = rev.user
          .time.quiet
            创建于 #{created_from(rev)}
          .data
            .avatar
              =avatar creator,:tiny
            .name
              =usersign(creator,true,18)

      -if prev.blank?
        .main
          .details.btb>=rev.detail.gsub(/\n/,'<br/>')
      -else
        .main
          -detail = CGI.escapeHTML rev.detail
          -prev_detail = CGI.escapeHTML prev.detail
          -detail_diff = MindpinDiff.new(prev_detail,detail)
          -if prev_detail != detail
            .details.btb>=detail_diff.html

