-#use 关键词描述的历史版本的详细信息
-#see 关键词页->描述的历史版本->详细信息

- 'views/users',true

-content_for :title do
  查看关键词详细描述历史版本内容详情

.clearfix
  .font14.bold.padding5
    =link_to '&gt;&gt; 返回历史版本列表',"/tags/#{@revision.tag.full_name}/revisions"

.hrr

.grid_18.alpha
  .page-feed-viewpoints
    .viewpoint
      .main
        .content>
          =h @revision.detail
      .footmisc
        .creator
          -creator = @revision.user
          .time.quiet
            编辑于 #{created_from(@revision)}
          .data
            .avatar
              =avatar creator,:tiny
            .name
              =usersign(creator,true,18)