-if logged_in?
  .form
    -form_tag "/mindmaps/#{mindmap.id}/comments",:method=>:post do
      .p=text_area_tag "content"
      %div{:style=>'display:none'}
        =check_box_tag 'create_feed', 'true'
        %span 同时发送一条话题到个人频道
      .p=submit_tag "发送评论"

.mindmap-comment-list
  -if mindmap.comments.count > 0
    -mindmap.comments.each do |comment|
      .comment.btb
        .avatar
          =avatar comment.creator,:mini
        .data
          .name=usersign comment.creator
          .txt=comment.content
  -else
    .no-comment.quiet 目前还没有人评论这个导图