-cooperate_users = mindmap.cooperate_users
-cooperate_channels = mindmap.cooperate_channels

.coop
  %h3 当前的协同编辑者
  -if !cooperate_users.blank?
    .avatars{:"data-m-id"=>mindmap.id}
      =render :partial=>"cooperations/parts/aj_cooperation_avatars",:locals=>{:users=>cooperate_users}
      -if logged_in? && current_user == mindmap.user
        .cooperator-config.darkbg.csshov{:tipr=>'设置协同者'}
          .icon 设置协同者
        =render 'cooperations/parts/mindmap_cooperator_choose_panel'
  -else
    .no-user.quiet
      导图目前没有协同编辑者


