.zhimakaimen{
  .title{
    padding:5px;
    margin: 0 0 5px 0;
    font-weight:bold;
  }
  .majia-users{
    padding:5px;
    overflow:hidden;
    .user{
      overflow:hidden;
      margin:0 10px 10px 0;
      .avatar{
        float:left;
        img{width:16px;height:16px;margin:0 5px 0 0;}
      }
      .name{float:left;width:80px;overflow:hidden;}
    }
  }
}