-htitle "我参与的协作"

.mside.grid_5
  =render 'index/sub_menu'
  =render 'index/parts/weibo'

.main.grid_18.ll
  =render "mindmaps/lists/management",:mindmaps=>@mindmaps

  .page-paginate=will_paginate @mindmaps