-content_for :title do
  我参与的协作

.mside.grid_5
  =show_sub_menu

.main.grid_18.ll
  =render "mindmaps/lists/management",:mindmaps=>@mindmaps

  .mindmap-paginate.padding5
    = will_paginate @mindmaps