-content_for :title do
  导入思维导图

-content_for :javascript do
  =javascript_include_tag '/uploadify/upload_mindmap'

.main.white.grid_18
  .page-upload-mindmap
    %h2.main-title 导入思维导图
    .page-upload-mindmap-result{:style=>'display:none;'}
      .thumb
      .data
        %h3
          上传文件分析结果
        .type
          .l 格式
          .t
        .filename
          .l 文件标题
          .t
        .nodes-count
          .l 有效节点数
          .t
      .close

    #page-mindmap-upload-queue
    .upload
      .btn
        #page-mindmap-import-btn
      .desc
        选择要上传的导图文件，不超过4MB。支持 .mmap, .mm, .xmind, .imm

    -mindpin_form_for(@mindmap,:url=>'/mindmaps/do_import',:html=>{:multipart=>true}) do |f|
      =hidden_field_tag 'upload_temp_id',''
      .field.title
        %label 标题
        = text_field_tag :'mindmap[title]','',:class=>'text disabled',:disabled=>'disabled'
      .field.description
        %label 描述 <span class='quiet font12'>(选填)</span>
        = text_area_tag :'mindmap[description]','',:class=>'text disabled',:disabled=>'disabled'
      .field.private
        = f.check_box :private,:class=>'checkbox disabled',:disabled=>'disabled'
        %span.disabled 这个导图只有我自己能看到
      .field
        =f.submit "好了，确定创建",:class=>'submit disabled',:disabled=>'disabled'
        %span.marginl10=link_to '算了，取消','/'

.mside.grid_6
  .padding10
    %h5 支持以下导图软件格式：
    .import_formats.margint10
      %dl
        %dt MMAP
        %dd MindManager
      %dl
        %dt MM
        %dd FreeMind
      %dl
        %dt XMIND
        %dd XMind
      %dl
        %dt IMM
        %dd Buzan's iMindMap
    %p.margint10
      选择文件并确定上传后，系统需要少许时间进行处理和转换，请耐心等待。
    %p
      我们能够确保基本导图结构的完好。<br/>
      但是由于MindPin导图编辑器仍需进一步完善，一些导图软件中的特定格式，如文字颜色，内嵌图片，导入后会有不同程度的丢失。
