-htitle '我的私有导图'

.mside.grid_5
  =render 'index/sub_menu'
  =render 'index/parts/weibo'

.main.grid_19.ll
  .page-title-bar
    .meta
      %h2 私有的思维导图
      .desc 只有自己可以看见，其他人看不见的导图
  =render 'mindmaps/lists/management',:mindmaps=>@mindmaps

  .page-paginate=will_paginate @mindmaps