-htitle "创建思维导图"

.main.grid_18.no-line
  .page-info-top
    .meta
      %h2 创建新的思维导图

  .page-new-mindmap-form
    =flash_info
    - form_for(@mindmap,:html=>{:multipart=>true}) do |f|
      .field.title
        %label 标题
        = text_field_tag :'mindmap[title]','',:class=>'text'
      .field.description
        %label 描述 <span class='quiet font12'>(选填)</span>
        = text_area_tag :'mindmap[description]','',:class=>'text'
      .field
        = f.check_box :private,:class=>'checkbox'
        %span 这个导图只有我自己能看到
      .field
        =f.submit "好了，确定创建",:class=>'submit'
        %span.marginl10=link_to '算了，取消','/'

.mside.grid_6.no-line
  .page-sidepart
    %p>
      如果您手头有在常用导图软件中绘制的导图，可以使用
      =minibutton '从文件导入导图','/mindmaps/import',:class=>'green'
      功能，把它上传到MINDPIN网站。现在原始文件可以备份了！
