-htitle "浏览公开思维导图"

.mside.grid_5
  =render 'index/sub_menu'
  =render 'index/parts/weibo'

.main.grid_19.ll
  =render 'mindmaps/lists/management',:mindmaps=>@mindmaps

  .page-paginate=will_paginate @mindmaps