-htitle "公共广场"

.mside.grid_6.no-line
  =render 'index/sub_menu'
  =render 'index/parts/weibo'

.main.grid_18.no-line
  =render 'mindmaps/list/list',:mindmaps=>@mindmaps
  .grid_16.alpha
    .page-paginate=will_paginate @mindmaps