-htitle "浏览公开思维导图"

.mside.grid_6.no-line
  =render 'index/sub_menu'
  =render 'index/parts/weibo'

.main.grid_18.no-line
  =render 'mindmaps/list/list',:mindmaps=>@mindmaps
  .page-paginate=will_paginate @mindmaps