-htitle "搜索结果"

.mside.grid_5
  .padding10
    =minibutton '返回首页',"/"

.main.grid_19.ll
  .searched-mindmaps
    %h2.main-title
      关于
      %span.loud>#{@query}
      ，找到 #{@result.total_count} 条结果
    -@result.items.each do |item|
      -mindmap = item.mindmap
      -unless mindmap.blank?
        .search-result
          .meta.darkbg
            .avatar
              =avatar mindmap.user,:tiny
            .c
              -if mindmap && !mindmap.private?
                .title
                  -if mindmap.user.blank?
                    ='[已删除用户]'
                  -else
                    =link_to mindmap.user.name,mindmap.user
                  的
                  =link_to item.title,"/mindmaps/#{mindmap.id}"
                .data
                  =item.content
              -else
                .data
                导图内容不公开，无法显示
          .score.lightbg
            搜索相关度
            %span.loud=item.score
          .time.lightbg
            导图编辑时间
            =jtime(mindmap.updated_at)

  .mindmap-paginate.padding5
    =will_paginate @result