-htitle "搜索结果"

-count = @result.total_count
-items = @result.items

.main.grid_23.nl.push_1.alpha
  .page-mindmaps-searche-result-top
    .title
      关于
      %span.bold=@query
      找到 #{count} 条结果
      %a.minibutton{:href=>'/',:style=>'margin-left:20px;'} 返回首页

  .page-mindmaps-searche-result
    -if items.blank?
      .list-blank 没有搜索到任何结果
    -else
      -items.each do |item|
        -mindmap = item.mindmap
        -mindmap_id = mindmap.id
        -title = h truncate_u(mindmap.title,8)
        -info_url = "/mindmaps/#{mindmap_id}/info"

        .mindmap{:'data-id'=>mindmap_id}
          .thumb
            -link_to info_url do
              =mindmap_image(mindmap,"120x120")
          .title=link_to title, info_url
          .score="相关度 #{item.score}"

  .page-paginate.fleft=will_paginate @result