-require_css 'views/users',true

-content_for :title do
  #{@user.name}的思维导图

=render 'auth/no_auth/welcome_to_signup'

.main.grid_18
  =render 'users/homepage/top_userinfo',:user=>@user

  =render "mindmaps/homepage/mindmaps_others",:mindmaps=>@mindmaps

.mside.grid_6
  =render :partial=>'mindmaps/homepage/flash_chart',:locals=>{:user=>@user}