-if !(@organization.blank? || @organization.id.blank?)
  - id = @organization.id
  %ul
    %li
      =tabs_link_to '团队主页',pin_url_for("pin-user-auth","organizations/#{id}")
    %li
      =tabs_link_to '成员列表',pin_url_for("pin-user-auth","organizations/#{id}/members")
    -if logged_in? && current_user.is_owner_of?(@organization)
      %li
        =tabs_link_to '信息设置',pin_url_for("pin-user-auth","organizations/#{id}/settings")