-require_css 'views/organizations'

.grid_12
  -mindpin_form_for @organization do |f|
    = f.text_field :name
    = f.text_field :email,:desc=>'团队的联系信箱'
    = f.submit "创建团队"

.grid_11
  说明 blah blah