-require_css 'views/organizations'

.grid_12.alpha
  =flash_info
  -mindpin_form_for @organization do |f|
    = f.text_field :name
    = f.text_field :email,:desc=>'团队的联系信箱'
    = f.submit "修改团队信息"

.grid_11.fright.omega
  .delete_organization
    .fleft
      %h3 解散团队
      .danger 团队解散后，所有相关的信息都不能恢复，请谨慎操作。
      .margint10
        =dangerbutton '我要解散这个团队',"/organizations/#{@organization.id}",:method=>'DELETE',:confirm=>'团队解散后，所有相关的信息都不能恢复，确定一定以及肯定要解散吗？'