-content_for :javascripts do
  =javascript_include_tag 'views/member_auto_complete_load'
  :javascript
    pie.load(function(){
      var mac = new pie.MemberAutoComplete('#member_email',{org_id:#{@organization.id}});
      jQuery('.add-member-form .inline-button').bind('click',function(){
        mac.add_member_submit();
      });
    });

.member-block
  .member-list
    -mplist @organization.members,:for=>Member

  .add-member-form.form
    .field
      %span.marginr5 邮箱
      = text_field_tag 'member[email]',"",:size=>25,:maxlength=>255,:class=>'marginr5 inline text'
      = submit_tag "添加",:class=>'inline-button'
    .add-member-failure-info