.clearfix
  .member-logo
    =avatar member.email,:tiny
  .member-email
    %span{:class=>member.kind == 'owner'?'loud':''}
      =member.email
      =member.username.blank? ? '':"(#{member.username})"
  -if current_user.is_owner_of?(@organization)
    .delete
      -if member.kind != 'owner'
        =link_to_remote '',:url=>"/organizations/#{@organization.id}/members/#{member.id}",:method=>'DELETE'