.userpage
  .upavatar
    =avatar(current_user)
  .name
    =current_user.name
    ='-'
    思维导图
  .config
    %form{:action=>"/search",:method=>"get",:id=>"search_form"}
      %input.search-inner.text{:name=>"q",:type=>"text"}
      %input.search-button{:value=>"搜索",:type=>"submit"}