/*页面基础容器*/
body {
  margin: 0; }

.page-container {
  margin: 0; }

.page-content {
  overflow: visible;
  clear: both; }
  .page-content .cell .cellhead {
    position: relative;
    zoom: 1; }
    .page-content .cell .cellhead .avatared .logo {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
      height: 20px;
      width: 20px; }
    .page-content .cell .cellhead .avatared .hello {
      line-height: 36px;
      font-size: 14px; }
      .page-content .cell .cellhead .avatared .hello .tips {
        font-size: 12px;
        margin-left: 20px;
        color: #ababab; }
    .page-content .cell .cellhead .actions {
      position: absolute;
      top: 7px;
      right: 0px; }
    .page-content .cell .cellhead .tabs ul {
      margin-top: 15px;
      padding: 6px 10px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border: solid 1px #464660;
      background-color: #222433;
      position: relative;
      overflow: hidden; }
      .page-content .cell .cellhead .tabs ul li a {
        font-size: 14px;
        float: left;
        line-height: 26px;
        padding: 0 8px;
        margin-right: 10px;
        text-shadow: 1px 1px #555555;
        color: #ddd;
        text-decoration: none; }
        .page-content .cell .cellhead .tabs ul li a:hover {
          background-color: #171826;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px; }
        .page-content .cell .cellhead .tabs ul li a.selected {
          border-style: solid;
          border-width: 1px;
          border-color: #0E0E16 #2E2E3C #2E2E3C #0E0E16;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          background-color: #0E0E1A;
          font-weight: bold; }

.page-content.container_auto .cell {
  margin-top: 0px;
  background: none;
  padding: 15px 0 0 0;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

/*底部*/
.page-footer {
  overflow: hidden; }
  .page-footer .links {
    margin-top: 20px; }
  .page-footer .rights {
    margin: 5px 0; }
  .page-footer .links, .page-footer .rights {
    margin-left: 10px; }
    .page-footer .links span, .page-footer .rights span {
      padding-left: 10px; }
  .page-footer .container_24 {
    overflow: hidden; }

.yours {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 5px #09070e;
  -moz-box-shadow: 0 0 5px #09070e;
  -webkit-box-shadow: 0 0 5px #09070e;
  margin-bottom: 20px; }
  .yours .top-bar {
    background-color: #0E0E1A;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    padding: 10px; }
  .yours .yours-list {
    background-color: #323546;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    padding: 0 0 10px 0; }
    .yours .yours-list li {
      border-bottom: solid 1px #464660;
      padding: 10px 6px 6px 6px; }
    .yours .yours-list .no-item {
      padding: 6px 10px 0; }
