-htitle "#{@user.name}的思维导图"

.mside.grid_3.no-line
  .page-mindmap-user-page-side
    .avatar
      -link_to @user do
        =avatar @user,:medium

.main.grid_20.no-line
  .page-mindmap-user-page-top
    .name=usersign @user
    .sign=h(@user.sign)

  =render 'mindmaps/list/thumb_list',:mindmaps=>@mindmaps
  .page-paginate.fleft=will_paginate @mindmaps