-#use 图片的信息页
-#see 共享资源->图片

%div
  %img{:src=>@photo.image.url}

%h2 被引用的主题
-feeds=@photo.feeds
-if feeds.blank?
  %span 没有被引用过
-else
  %ul
    -feeds.each do |feed|
      %li
        =link_to feed.content,feed


%h2 描述
-description = @photo.description
-if description.blank?
  %span 描述为空
-else
  %span=description
-if logged_in? && current_user == @photo.user
  %span=link_to "增加/修改描述","javascript:jQuery('.description_form').toggle();"
  .description_form{:style=>"display:none;"}
    -form_tag "/photos/#{@photo.id}/add_description",:method=>:put do
      =text_area_tag "description",description
      =submit_tag "增加描述"


%h2 评论
-comments = @photo.comments
-if comments.blank?
  %div 还没有评论
-else
  %ul
    -comments.each do |comment|
      %li
        =link_to comment.user.name,"javascript:void(0);"
        %span=comment.content
-form_tag "/photos/#{@photo.id}/comments",:method=>:post do
  =text_area_tag "content"
  =submit_tag "发表评论"

-if logged_in? && current_user == @photo.user
  %div=link_to "删除这个图片","/photos/#{@photo.id}",:method=>:delete,:confirm=>"你确认删除么？"
  %div=link_to "引用这个图片发送主题","/photos/#{@photo.id}/send_feed"