.box
  .part
    .title 数据下载
    .mindmap-export.padding5
      =render 'v6/editor/module/export'

  .part
    .title 节点备注
    .mindmap-note-sidebar
      .blank-text.quiet 没有备注信息
      .text{:style=>'display:none;'}
      .ops
        =minibutton '编辑备注','javascript:;',:class=>'edit'

  .part
    .title 相关导图
    .padding5
      =render 'v6/editor/module/similar_mindmaps'