#mindmap-main{:class=>mode,:'data-id'=>@mindmap.id}
  #mindmap-sidebar
    =render "#{mode}_sidebar"

  #mindmap-resizer
    =render 'paper_toolbar',:mode=>mode

    #mindmap-scroller
      #mindmap-canvas