-#use 共享资源页左侧导航
-#see 顶部导航->共享资源->左侧导航

.page-submenu.clearfix
  %ul
    =sub_menu_li "全部","/notices",:class=>'all'
    -#sub_menu_li "系统公告","/notices/system",:class=>'system'
    =sub_menu_li "人际关系","/notices/contacts",:class=>'contacts'