-org = activity.at
-ea = EmailActor.new(activity.detail_hash['email'])

.add_org_member
  .title
    %span=link_to operator.name,"/users/#{operator.id}"
    向团队
    %span=link_to activity.at.name,"/organizations/#{org.id}"
    添加了成员
    %span=email_actor_link ea
    ，
    %span>=created_from activity
  .detail
    .avatar
      %img{:src=>'/images/logo/gravatar-orgs.png',:class=>'logo'}
    .message
      每一个团队成员，都可以参与团队思维导图的协同编辑。