-#use 人际关系
-#see 顶部导航->人际关系

-htitle '我的人际关系'

-followings = current_user.followings

.main.grid_24.no-line
  .page-info-top
    .meta{:style=>'overflow:visible;'}
      .item.selected 我的联系人
      .item=link_to '新浪微博联系人','/contacts/tsina'
    .clearfix

  =prender 'contact','grid',:followings=>followings