.page-mindmap-image-editor{:style=>'display:none;'}
  %h3 编辑节点图片
  .ebody
    #page-mindmap-upload-queue
    .headmisc
      .desc.fleft 上传并选择要添加的图片：
      .upload
        .btn#page-upload-mindmap-img


    .image-upload
      %ul.image-list
        -image_attachments.each do |image_attachment|
          -thumb_url = image_attachment.image.url(:thumb)
          -size = image_attachment.image_size(:thumb)
          %li{:'data-id'=>image_attachment.id,:'data-url'=>thumb_url,:'data-width'=>size[:width],:'data-height'=>size[:height]}
            .ic
              .img{:style=>"background:url('#{thumb_url}') no-repeat center center;"}
            .actions
              =minibutton '删除','javascript:;',:class=>'delete'

    .ops
      =minibutton '确定','javascript:;',:class=>'accept blue'
      =minibutton '取消','javascript:;',:class=>'cancel'
      %span.info

