-if @current_channel == 'none'
  -cid = 'none'
-else
  -cid = @current_channel.id

-form_tag "/newsfeed/do_say_temp",:method=>:post,:class=>"channel-feed-form" do
  .ipter
    .ipts
      =text_area_tag "content",'',:class=>"text feed-content"
      =hidden_field_tag "channel_id",cid
  .subm
    =submit_tag '确定'
    =#minibutton '确定','javascript:;',:class=>'subbtn'