.f{:'data-id'=>"#{feed.id}",:class=>'btb'}
  =render :partial=>'index/homepage/feeds/info_parts/info_reply_to_feed',:locals=>{:feed=>feed}
  =render :partial=>'index/homepage/feeds/info_parts/info_current_feed',:locals=>{:feed=>feed}
  =render :partial=>'index/homepage/feeds/info_parts/info_quote_feed',:locals=>{:feed=>feed}
  =render :partial=>'index/homepage/feeds/info_parts/info_time_and_ops',:locals=>{:feed=>feed}