.feed-echo-form{:'data-feed-id'=>feed.id}
  -if logged_in?
    .ipt
      %textarea.echo-inputer
    .send-to.csshov
      .icon
      .name 同时发送一条新话题
    .btns
      %button.editable-submit 发送
      %button.editable-cancel 取消
  -else
    .padding5
      请在
      %span>=link_to '登录后','/login'
      进行评论

  %ul.comments-list
    -comments.each do |c|
      =render :partial=>'index/homepage/feeds/feed_comment_info',:locals=>{:comment=>c}