-ea = EmailActor.new(feed.email)
.avatar
  =avatar ea.email
.c
  .data
    =link_to ea.name,ea.actor
    =feed_content(feed)
  .preview
    =feed_preview(feed)
  .time
    =created_from(feed)