-ea = EmailActor.new(feed.email)
.f.darkbg{:'data-id'=>"#{feed.id}"}
  .avatar
    =avatar ea.email,:mini
  .c
    .data
      =link_to ea.name,ea.actor
      =feed_content(feed)
-html = feed.html
-if !html.nil?
  .html
    =html

-answer_comments = feed.reply_comments_of(@channel.include_users_and_creator)
.answers{:class=>answer_comments.blank? ? 'hide':''}
  -answer_comments.each do |c|
    .answer
      .icon
        答
      .avatar
        =avatar(c.user,:mini)
      .content
        =c.content

.time.lightbg
  =created_from(feed)

-if logged_in?
  .ops
    -if feed.email == current_user.email
      .mindmap.hide
        .icon
        .t 附加导图
      .del
        .icon
        .t 删除
    .fav.hide{:class=>feed.fav_by?(current_user) ? 'on':'off'}
      .icon
      .t.t1 标记
      .t.t2 取消标记
    .transmit.hide
      .icon
      .t 传阅
    .echo{:'data-count'=>feed.comments_count}
      .icon
      .t 回应 #{feed.comments_count}
    
  
