-ea = EmailActor.new(feed.email)
.f.darkbg{:'data-id'=>"#{feed.id}"}
  .avatar
    =avatar ea.email,:mini
  .c
    .data
      =link_to ea.name,ea.actor
      =feed_content(feed)
.time
  =created_from(feed)
.ops
  -if feed.email == current_user.email
    .mindmap.hide
      .icon
      .t 附加导图
    .del
      .icon
      .t 删除
  .fav{:class=>feed.fav_by?(current_user) ? 'on':'off'}
    .icon
    .t.t1 标记
    .t.t2 取消标记
  .transmit.hide
    .icon
    .t 传阅
  .echo
    .icon
    .t 回应
