.feed-form-container.shadow
  -form_tag "/newsfeed/do_say",:method=>:post,:class=>"feed-form feed-home-form" do
    .ipter
      .ipts
        =text_area_tag "content",'',:class=>"text feed-content"
    .subm
      =link_to '发 送','javascript:;',:class=>'subbtn send-button shadow'