-show_detail = (cookies[:feed_form_show_detail] == 'true')

.feed-form-container
  -form_tag "/newsfeed/do_say",:method=>:post,:class=>"feed-form feed-home-form" do
    .ipter
      .ipts
        =text_area_tag "content",'',:class=>"text feed-content"
    .detail-ipter{:style=>show_detail ? '':'display:none;'}
      =text_area_tag "detail",'',:class=>"text feed-detail"
    .subm
      =link_to '发 送','javascript:;',:class=>'subbtn send-feed shadow'
      %a.show-detail-ipt.button{:href=>'javascript:;',:style=>show_detail ? 'display:none;':''}
        .icon
      %a.hide-detail-ipt.button{:href=>'javascript:;',:style=>show_detail ? '':'display:none;'}
        .icon
