-form_tag "/mindmaps",:method=>:post,:class=>"feed-form-mev6",:"data-mode"=>"create_mindmap" do
  .f-desc
  .btns
    .import-mindmap{:tip=>'从文件导入思维导图'}
      .icon
    .import-loading
    .import-loading-tips
      系统正在对上传的导图进行数据处理，请您等待。。

    =text_field_tag "content",'',:class=>"text feed-content",:'data-input-tip'=>'输入导图标题，开始编辑'
    .create-mindmap
      开始编辑

  .import-mindmap-form.darkbg.popdiv{:style=>'display:none;'}
    #file-upload-btn
    .font14
      支持 mmap, mm, xmind 格式
    .close 关闭

  .import-mindmap-image{:style=>'display:none;'}
    .close-import-mindmap-image 关闭
    .image

  .import-error{:style=>'display:none;'}
    导图导入失败，请确认是正确的思维导图文件。
    .close 关闭

