-require_css 'views/organizations'

-content_for :javascripts do
  =javascript_include_tag 'views/member_auto_complete_load'
  :javascript
    pie.load(function(){
      var cac = new pie.ContactAutoComplete('#contact_email');
      jQuery('.add-member-form .inline-button').bind('click',function(){
        cac.add_member_submit();
      });
    });

.grid_11.alpha
  %h3 管理联系人
  .member-block
    .no-member{:class=>@contacts.blank? ? '':'hide'}
      目前您在MindPin上还没有任何联系人
    .member-list
      -mplist @contacts,:for=>Contact

    .add-member-form.form
      .field
        %span.marginr5 邮箱
        = text_field_tag 'contact[email]',"",:size=>25,:maxlength=>255,:class=>'marginr5 inline text'
        = submit_tag "添加",:class=>'inline-button'
      .add-member-info

.grid_11.omega.fright