-require_css 'views/users'

.grid_11.alpha
  =flash_info

  .mail_preview
    .title 邀请信预览：
    .data.darkbg.loud1{:style=>'border:solid 1px #111; padding:10px 10px 30px 10px; margin-bottom:20px; margin-top:10px; '}
      =preview_email('invite')

  -form_tag invitations_path,:method=>:post do
    = text_field_tag 'invitation[contact_email]',"",:size=>25,:maxlength=>255,:class=>'marginr5 inline text'
    = submit_tag "发送邀请",:class=>'inline-button'

.grid_5.omega.fright
  -@user = current_user
  =render :partial=>"contacts/manage/setting_links"

