-require_css 'views/users',true

-content_for :title do
  我收到的邀请

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

.grid_18.alpha
  .grid-title
    我收到的邀请
  .padding5.quiet
    在主题中发表你的观点以响应这些邀请
  .hrr
  .page-user-be-invited
    -@feed_invites.each do |fi|
      -creator = fi.creator
      -feed = fi.feed
      -if !creator.blank? && !feed.blank?
        .invite.btb
          .avatar
            =avatar creator,:mini
          .desc
            =usersign creator,false
            邀请你参与主题
            =link_to truncate_u(feed_content(feed),32),feed
          .footmisc
            .time=jtime fi.created_at

  .paginate.padding5
    = will_paginate @feed_invites

.grid_5.omega.fright
  =show_sub_menu