-require_css 'views/users',true

-content_for :title do
  我的动态

-content_for :javascripts do
  = javascript_include_tag "views/feed_operation"

.grid_18.alpha
  .index-tab-ct.userlogs
    =render 'index/userlog/userlog',:logs=>@userlogs
  .feed-paginate.padding5
    = will_paginate @userlogs

.grid_5.omega.fright
  =show_sub_menu